@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center">
    <div class="container">
        <div class="box">
            <h3>Masonary Categories</h3>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.container -->
</div>
<!-- /.inner-banner -->
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="#">Home</a>
                </li>
                <!-- comment for inline hack
				-->
                <li>
                    <a href="#">Masonary</a>
                </li>
            </ul>
            <!-- /.list-line -->
        </div>
        <!-- /.pull-left -->
        <div class="pull-right">
            <a href="#" class="get-qoute"><i class="fa fa-arrow-circle-right"></i>Make an appointment</a>
        </div>
        <!-- /.pull-right -->
    </div>
    <!-- /.container -->
</div>
<!-- /.breadcumb-wrapper -->

<section class="page sidebar-page sec-pad news-wrapper news-list-sidebar-page">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12  col-xs-12 pull-right">
                <div class="single-sidebar wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="search-widget">
                        <form action="#">
                            <input type="text" placeholder="Enter your keyword" />
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- /.search-widget -->
                </div>
                <!-- /.single-sidebar -->
                <div class="single-sidebar wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="categories-widget">
                        <div class="sec-title-two">
                            <h3><span class="black-color-text"><i class="fa fa-folder-open-o"></i>Categories</span></h3>
                            <span class="decor-line"></span>
                        </div>
                        <!-- /.sec-title-two -->
                        <ul class="links">
                             <li><a href="/IronWork/Index">Iron Work <span></span></a></li>
                            <li><a href="/Landscape/Index">LandScape Design <span></span></a></li>
                            <li><a href="/Masonary/Index">Masonry<span></span></a></li>
                            <li><a href="/Construction/Index">Construction<span></span></a></li>
                            <li><a href="/Home/Kitchens_Fireplaces">Kitchens & Fireplaces <span></span></a></li>
                            <li><a href="/Home/DriveWays">Driveways<span></span></a></li>
                        </ul>
                        @* <a href="#" class="view-all"><i class="fa fa-plus"></i>View All</a>*@
                    </div>
                    <!-- /.categories-widget -->
                </div>
                <!-- /.single-sidebar -->
                <div class="single-sidebar wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="about-widget">
                        <div class="sec-title-two">
                            <h3><span class="black-color-text"><i class="fa fa-hand-o-right"></i>About Us</span></h3>
                            <span class="decor-line"></span>
                        </div>
                        <!-- /.sec-title-two -->
                        <img src="/Theme/img/resources/about-1.jpg" alt="Awesome Image" />
                        <p>Our company has proudly been serving the area for over 25 years. We work closely with our clients to actualize their ideas and ensure that they have a role in the creative process every step of the way.</p>
                        <a href="#" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
                    </div>
                    <!-- /.about-widget -->
                </div>

            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 pull-left">

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Masonary/DRIVEWAYS.jpg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Masonary/Driveways" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            @* <ul class="meta-info list-inline">
                                <li>
                                    <a href="#"></a>
                                </li>
                                <!-- adding this comment for inline hack
                                -->
                                <li>
                                    <a href="#"></a>
                                </li>
                                <!-- adding this comment for inline hack
                                -->
                                <li>
                                    <a href="#"></a>
                                </li>
                                <!-- adding this comment for inline hack
                                -->
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>*@
                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Masonary/Driveways">DRIVEWAYS</a></h3>
                            <p>The first impression is everything, meaning your driveway should be spectacular. Our masonry team is experienced with brick and paver aprons, Stone edges, asphalt preparations, and full stone or paver driveways.</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Masonary/Kitchens.jpg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Masonary/Kitchens" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">

                            <h3><a href="/Masonary/Gradings">OUTDOOR KITCHENS</a></h3>
                            <p>Have a reason to use your yard all year long. An outdoor kitchen can do just that, from summertime living to festivities in the wintertime. You will never have a excuse not to use your yard all year long. </p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Masonary/Pits.jpg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Masonary/Fire-Pits" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">

                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Masonary/Fire-Pits">FIRE PITS</a></h3>
                            <p>S'mores in the summertime and bon fires in the winter. A outdoor fireplace or fire pit is tons of fun to gather as a family and enjoy. Are masonry team can build your dream which ever way you would like. From tall fireplaces with lights and TV's to simple fire pits, anything is obtainable.</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Masonary/Walks.jpg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Masonary/Walks" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">

                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Masonary/Walks">WALKS</a></h3>
                            <p>A great, timeless way to connect spaces in your yard, is with a elegant walkway made out of pavers, stone, or brick. All walks can be wet laid and cemented to a footing. Or dry laid, thus allowing to be removed for later. </p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Masonary/Patios.jpg" style="width: 260px; height: 197px;" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Masonary/Patios" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">

                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Masonary/Patios">PATIOS</a></h3>
                            <p>A nice way to enclose your pool, or enjoy your back yard. Visions Masonry has built patios all sizes, for large gatherings or seclusion, we can do it all.</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Masonary/Veneer.jpg" style="height: 190px; width: 264px;" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Masonary/Veneer" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Masonary/Veneer">VENEER</a></h3>
                            <p>A great way to add value, and attraction to your house is with a stone veneer. Natural stone, bricks, and veneer stone can all be used to create a more elegant exterior to your home. </p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Masonary/Foundations.jpg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Masonary/Foundations" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Masonary/Foundations">FOUNDATIONS</a></h3>
                            <p>Our masonry team is also experienced in laying foundation. We can also repair and seal old foundations.</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Masonary/Fie_Places.jpeg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Masonary/Fire-Place" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Masonary/Fire-Place">Fire Place</a></h3>
                            <p></p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

