@{
    Layout = "/Views/Shared/_LayoutForNew_Jersey.cshtml";
}
<body>
    @*<div class="container-fluid nextpage">
        <div class="">
            <img class="img-responsive" src="/img/banner1.jpg">
        </div>
    </div>*@

            <div class="col-md-8 stabile">
                 <div class="pensyl">  <h3>NEW JERSEY TRAFFIC LAWYER</h3></div>
                <h4>Traffic Lawyer</h4>
                <p>
                    Having a New Jersey driver's license is an important privilege.  
                    Unless you live in an area close to mass transit, the loss of your drivers’ 
                    license can have dramatic affects on your way of life, including loss of your job.  
                    If you received a traffic or speeding ticket in New Jersey or New York, you have
                     come to the right place, New Jersey Traffic Lawyer. The issuance of a traffic
                     ticket by the police doesn’t automatically mean that you are guilty.  What it 
                    means is that you have the right to go to court and make the prosecution prove
                     that you committed the offense prohibited by the law of New Jersey and New York.
                </p>
                <p>
                    The consequences for a conviction resulting from traffic tickets may include fines,
                     court costs, community service, points on your license, surcharges, insurance 
                    points, license suspension, and increased insurance costs. In addition, traffic
                     tickets can sometimes include the very serious consequence of incarceration for
                     periods as long as 180 days or more.  The majority of traffic tickets in New
                     Jersey or New York are simply traffic violations.  These include speeding, 
                    improper passing, failure to stop at traffic control devices, as well as many
                     others.  However, there are several offenses that can be criminal charges, 
                    including possession of controlled dangerous substances.
                </p>
                <p>
                    Many traffic tickets carry the severe consequence that your drivers’ license will
                     be suspended.  However, many motorists don’t realize that they can lose their
                     license for simply not responding to the ticket or showing up at court
                     appearances.  In addition, a warrant can be issued for your arrest for failing
                     to come to court.   You should not ignore the traffic ticket.  It will not go 
                    away and things can only get worse.  You have constitutionally protected rights
                     to confront your accuser and have the state prove your guilt beyond a reasonable
                     doubt.  Call our office to speak to a New Jersey Traffic Attorney
                </p>

                <div class="qustin" >
                  <h5>WHY YOU SHOULD NEVER PAY A TRAFFIC TICKET IN NEW JERSEY!</h5>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Fighting a Traffic Ticket Can Save You Money
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>
                                    If you pay your traffic ticket without going to court, you're admitting guilt and a
           conviction for the charged offense will appear on your driving abstract.  In addition, 
          you will be assessed the motor vehicle and insurance points that accompany a conviction 
          for the offense.  Most importantly, the traffic ticket will be on your driving record and
           your insurance company will know about your conviction.  You should be concerned about your 
          driving record and the cost of your automobile insurance.  You should carefully weigh your 
          options before you choose to just accept the ticket as written by the office.  Our experienced
           lawyers can reduce your overall exposure and in many cases either have your ticket dismissed or
           reduced to a no point violation. By reducing your points, your savings can be sizeable.How to 
          fight a traffic ticket
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Fighting Tickets Can Help You Save On Your Insurance Bill
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>
                                    Your insurance company will use your motor vehicle history to set your insurance premium. 
           If you accumulate points for violations, your insurance rates can be dramatically increased. 
           Insurance companies regularly check their customers' driving records and increase insurance 
          premiums if they find a ticket on your records.  The State of New Jersey now has the highest
           auto insurance rates in the country!  Insurance companies see every single point you receive
           on your New Jersey driving record and raise your insurance rates for three years or up to FIVE
           years!  If your insurance goes up 15 percent for three years because of one ticket, what's the 
          true cost of that ticket? Let's assume you pay $1000 a year in insurance. You would pay an extra
           $450 ($150 per year) in premiums plus the cost of the ticket, and that's just a conservative
           estimate. Our lawyers will help you keep your insurance rates low..How to fight a traffic ticket
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Fighting Tickets Can Save Your License And Reduce Or Eliminate Points
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>
                                    Motor Vehicle Points are the State’s System of keeping track of good and bad drivers. The 
          even the administrative suspension of your driver’s license. In addition, there are a number
           of traffic violations and convictions that cause the mandatory suspension or revocations of
           your license regardless of the number of points on your driving record. A first offense can 
          result in you not being able to drive for an extended period of time. Our lawyers will help 
          you reduce or eliminate the points associated with your traffic ticket and help you maintain 
          your driving privileges! How to fight a traffic ticket.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
            </div>
</body>

@section scripts
{
    <script>
        $(function () {
            localStorage.setItem('NewJerseylastTab', "liJerseyindex");
        });

    </script>
}

