@{
    Layout = "/Views/Shared/_LayoutForNew_Jersey.cshtml";
}

<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>AGGRESSIVE TRAFFIC TICKET DEFENSE</h3>
    </div>
    <h4>WHAT TO DO WHEN YOUR NJ LICENSE IS SUSPENDED?</h4>
    <p>Have you been charged with driving while your NJ license was suspended? 
        The Stabile Law Firm can help you! We have served thousands of clients and won cases by proving the DMV wrong!</p>
    <center><b>Call Us Now For A Free Consultation: 1-877-VIOLATION</b></center>

    <p>Did you know that thousands of vehicles are pulled over in New Jersey and people are surprised to be informed that their license is suspended! 
        The minimum costs for driving while suspended is $1261 in costs, fines, and surcharges.</p>

    <p>The violation of Driving While Suspended is set forth at NJSA 39:3-40. This section states, "no person to whom a driver license has been refused or 
        whose driver's license or reciprocity privilege has been suspended or revoked or who has been prohibited from obtaining a driver's license, shall
         personally operate a motor vehicle during the period of refusal suspension, revocation or prohibition." The statute also prohibits the operation of a 
        motor vehicle whose registration has been revoked.</p>
    <p>If your driving privileges have been suspended, you will need to pay a Restoration Fee of $100. If the judge did not take your license in court, you must surrender it at any Regional Service Center or mail to:</p>
    <p><center><b>Motor Vehicle Commission
Driver Management Bureau <br />
P.O. Box 134
Trenton, New Jersey 08650</b></center></p>
    <ul>
        <li>Do not drive until you restore your license nd receive a written notice of restoration</li>
        <li>If you continue to drive while your license is suspended, you could face up to five years in jail</li>
        <li>For further assistance, call MVC at (609) 292-7500</li>
    </ul>
    <p><b>There are two types of license suspension:</b></p>
    <ol>
        <li> Court imposed suspension</li>
        <li>Administrative / Division of Motor Vehicles suspension</li>
    </ol>
    <p>The most common type is when the driver fails to pay a surcharge or accumulated points has been placed on a suspended list maintained by the New Jersey Division of Motor Vehicles 
        (Division of Motor Vehicles). This makes it illegal for the personal to drive a vehicle for a prescribed period of time in this New Jersey.</p>
    <p>If you have been pulled over and are aware that your NJ license is suspended and tell that to the trooper, it will be much harder to create a defense for such a case. However, more 
        often than not the driver claims that they were unaware of their placement on the suspension list which is why the Stabile Law Firm has such a high success rate of winning driving while suspended cases. We put the burden of proof on the state!</p>
    </div>

