@{
    Layout = "/Views/Shared/_LayoutForNew_Jersey.cshtml";
}

<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>AGGRESSIVE TRAFFIC TICKET DEFENSE</h3>
    </div>
    <h4>New Jersey DUI DWI Attorneys</h4>
    <div class="Footertext">
    <h5><center>5 Reasons You Should Use Our DUI DWI Attorneys At Stabile Law <br />
         Firm To Fight Your DUI/DWI Charge:</center></h5>
    <ol>
       <li> <b>Expertise:</b> The key here is not just experience, but experience in New Jersey DUI/DWI cases like yours. 
           There are over 60 different broad disciplines, each of which has over 100 sub-categories. Because our lawyers 
           concentrate in DUI/DWI and traffic tickets in New Jersey, we have an excellent success rate. In fact, we ONLY 
           accept DUI/DWI and traffic matters.  We won't even consider cases related to other disciplines such as personal 
           injury, divorce, or real estate because our focus and concentration lies in DUI/DWI and traffic tickets, period.

       </li>

        <li><b>Case Load:</b>Too many irons in the fire is a big problem with many firms and their attorneys. Nationally, 
            the number of cases assigned per attorney could be as many as 40 or 50. That leads to slow response time and 
            inattention to detail. Make sure your attorney has no more than 10 to 15 files at any given time. Because we have 
            a team of four (4) criminal defense lawyers all concentrating in New Jersey DUI/DWI and traffic tickets, we are able 
            to ensure you get the attention your case deserves.

        </li>

        <li>
             <b>Fee Policies:</b> Your attorney should help you solve your problem, not be the source of them! Unfortunately, some firms 
            "conceal" certain charges until after it's too late to undo the damage. Many criminal defense attorneys charge between $5000 to $10000 
            to defend you in court for a DUI/DWI case. In addition to these charges, attorneys may add on hundreds, or even thousands of dollars in miscellaneous (hidden) 
            charges including postage, long distance, administrative, fax, consultation, secretarial and many more ridiculous charges. We believe this is unfair, which is why we 
            are fully up front with all our clients. At Stabile Law Firm, we have some of the lowest rates for DUI/DWI in the industry. Our Fees Start At Only $1500!
        </li>
     <center>  <b>Our Fees are as follows for NJ DUI and DWI cases:</b><br />
            $1500 for first offense (plus expert fees if necessary)<br />
            $2500 for 2nd offense (plus expert fees if necessary)<br />
            $3000+ for 3rd offense (plus expert fees if necessary)<br />
            <b>Call Us Now For A Free Consultation: 1-877-VIOLATION</b>
         </center>
        <li><b>Flexible Financing</b>The typical life span of a case is between 3 to 6 months. We understand that many clients are not able to pay our fees up front. This is why we have created
             a very flexible payment plan which allows you to pay in smaller increments.

        </li>
        <li><b>Timely Service: </b>To serve you better we ensure that your questions and calls are answered immediately. Should you call between our business hours of 7am-8pm, a representative 
            will answer all queries immediately or we will return your call within one business hour. We will also book you a FREE CONSULTATION for your quote within one business day.</li>
    </ol>
    <h5><center>At Stabile Law Firm, we have a team of the top criminal defense lawyers concentrating in DUI/DWI and traffic tickets to fight and win your case.</center></h5>
    <p>DWI and DUI's or Refusal To Submit To A Breath Test are serious offenses in New Jersey. We have over 25 years of combined experience in DUI and DWI cases and our lawyers are some of the most 
        experienced DUI and DWI lawyers in the State of New Jersey. In New Jersey, there are two results that can be ascertained when you are charged with a DWI/DUI or Refusal To Submit To A Breath Test as 
        there are NO plea bargains: 1. We Can Fully Dismiss The Charge or 2. A Conviction.</p>
    <p>During an initial consultation with a potential client on a New Jersey DUI or DWI charge our team examines the factual and legal circumstance of the two most important elements of the charge.</p>
    <ul>
        <li><b>Operation</b></li>
        <li><b>Intoxication</b></li>
    </ul>
    <p>The first element operation, is essential for the State to prove beyond a reasonable doubt to move forward on a DUI or DWI charge.
The second element is intoxication. Without proving both elements beyond a reasonable doubt, the State cannot prove a person has committed the 
        offense of DUI or DWI in New Jersey.</p>
    <p>There are many sub issues when evaluating a New Jersey DUI or DWI. For example, what constitutes operation. Did you know having the key in the ignition while 
        sitting in the drivers seat constitutes operation in New Jersey even if the car was not started?  Or is it necessary for the State 
        to have a reading to prove intoxication in a New Jersey DUI or DWI matter? The answer is NO.</p>

    <p>
        In order to handle a New Jersey DUI/DWI matter, upon being retained, our  first step is to enter our appearance and plead the client NOT GUILTY.
         The next thing we do is make extensive motions for discovery. Discovery is any information the State has in its' possession that it intends to 
        use against the client. All the answers and defenses are based on our the facts and the information or lack of information provided in the discovery. 
        Upon receipt and review of the discovery, we scrutinize it, then have our renowned experts review all the materials to advise of any deficiencies in the State's 
        proofs or problems with the testing results or procedures. After review and opinion from our experts we make Constitutional Motions, such as a Motion to Suppress or
         a request for a Probable cause hearing. Finally, we appear at Court and will make a Motion to Dismiss either orally or in writing based on the deficiencies in the State's 
        case. If the case is not dismissed and we have no issues we look to get the minimum penalties based on the offense or we can go to trial and put the State's evidence to its' test.
         Listed below are the penalties for New Jersey DUI/DWI convictions
    </p>
      
    <h5>
       <center> (Driving Under the Influence of Alcohol or Drugs (DUI) Penalties</center>
    </h5>
           
         </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1st Offense
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
        <li>6 months - 1 year driving privilege suspension</li>
        <li>12-48 hours at Intoxicated Driver Resource Center at a charge of $75 a day</li>
        <li>maximum 30 days imprisonment</li>
        <li>an automobile surcharge of $1,000 a year for 3 years</li>
        <li>$100 surcharge to be deposited in a drunk driving fund</li>
        <li>$100 Alcohol Education and Rehabilitation Fund</li>
        <li> $75 Safe Neighborhood Services Fund</li>
        <li>$75 Violent Crimes Compensation Fund</li>
    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2nd Offense
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
        <li>2 years driving privilege suspension</li>
        <li>$500-$1000 fine</li>
        <li> 30 days community service</li>
        <li>12-48 hours at Intoxicated Driver Resource Center</li>
        <li>48-90 days imprisonment</li>
        <li>an automobile surcharge of $1,000 a year for 3 years</li>
        <li>$100 surcharge to be deposited in a drunk driving fund</li>
        <li>$100 Alcohol Education and Rehabilitation Fund</li>
        <li>$75 Safe Neighborhood Services Fund</li>
        <li>75 Violent Crimes Compensation Fund</li>
    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3rd Offense
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul>
        <li>10 years driving privilege suspension</li>
         <li>$1,000 fine</li>
         <li>90 maximum community service</li>
         <li>12-48 hours at the Intoxicated Driver Resource Center</li>
         <li>180 days imprisonment</li>
         <li>an automobile insurance surcharge of $1,500 a year for 3 years</li>
         <li>$100 surcharge to be deposited in a drunk driving fund</li>
        <li>$100 Alcohol Education and Rehabilitation Fund</li>
        <li>$75 Safe Neighborhood Services Fund</li>
        <li>$75 Violent Crimes Compensation Fund</li>

    </ul>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    
   