@{
    ViewBag.Title = "OurServices";
}
@{
    Layout = "/Views/Shared/_LayoutForNew_Jersey.cshtml";
}
<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>OUR SERVICES</h3>
    </div>
    <h4>New Jersey Traffic Ticket Attorneys</h4>
    <p>
        The Stabile Law Firm provides legal services for ALL traffic tickets and criminal cases in New Jersey. Our Traffic Ticket 
        services include all speeding tickets, DUI, DWI, reckless driving, impaired driving, racing, stop sign traffic tickets, 
        insurance tickets, careless driving, improper turns, tailgating, red lights, etc.
    </p>
    <p>Our office concentrates in:</p>
    <div class="Footertext">
        <center><h5>Municipal Court Matters
   New Jersey DUI / DWI
     Criminal Matters</h5></center>
        <p>
            Our Firm has concentrated in Municipal Court matters since 1993 and has resolved over 100,000 matters in traffic/town courts 
        throughout the State of New Jersey. And:
        </p>
        <ul>
            <li>Our firm has handled matters for holders of CDL's.</li>
            <li>We have attorneys throughout the state of New Jersey. Our headquarters is conveniently located in Woodbridge, NJ and is easily 
            accessible from the New Jersey Turnpike and the Garden State Parkway.</li>
            <li>We accept payment plans and major credit cards.</li>
            <li>Our Associates have extensive knowledge and experience in defending traffic violations and criminal cases.</li>
        </ul>
        <p>At Stabile Law Firm, LLC, our attorneys will:</p>
        <ul>
            <li>Aggressively pursue your case </li>
            <li>Return your phone calls promptly</li>
            <li>Speak plainly</li>
            <li>Give you regular reports on your case</li>
            <li>Openly and honestly discuss our ONE time flat fee so there are no surprises</li>
        </ul>
        <center><h5>BEFORE MAKING YOUR CHOICE OF ATTORNEY, YOU SHOULD GIVE THIS MATTER CAREFUL THOUGHT AS THE SELECTION OF AN 
        ATTORNEY<br /> IS AN IMPORTANT DECISION</h5></center>
        <p>PROTECT YOURSELF WITH ADEQUATE LEGAL REPRESENTATION BY:</p>
        <ul>
            <li>Contacting the Municipal Court to inquire if you are eligible for assigned legal counsel.</li>
            <li>Contacting your private attorney.</li>
            <li>Contacting our office immediately for a <b>Free Consultation by filling in the form at the top right of this page.</b></li>
        </ul>
        <p>When you need a New Jersey Traffic lawyer or NJ DUI DWI Lawyer, you need an aggressive advocate on your side.</p>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            localStorage.setItem('NewJerseylastTab', "liJerseyOurServices");
        });

    </script>
}



