@{
    Layout = "/Views/Shared/_LayoutForNew_Jersey.cshtml";
}

<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>New Jersey Point System</h3>
    </div>

    <p>
        There are many different types of traffic tickets in New Jersey. State troopers are giving traffic tickets
         at a record pace, even for 5 mph over the speed limits. All traffic tickets have a section number
           and you should take into consideration how many points a traffic ticket comes with. According to the New Jersey point 
            system, at 6 Points you will be on probation and at 12 points you will lose your license!
             Troopersare now giving multiple traffic tickets in one stopping which may result in losing your license
              if you do not dismiss the tickets or at the very least reduce the points. Our lawyers at the Stabile
               Law Firm are experienced enough to completely dismiss your traffic ticket, or reduce the points.
    </p>
    <p>
        We have represented clients in over 100,000 traffic ticket cases and have over 25 years of combined experience between 
         the six (4) traffic ticket lawyers. Having our law firm fight your traffic ticket
           will keep your insurance rates low, help you keep your license clean, and save you a lot of
            money in the long run!
    </p>
    <p>
        Listed below are the different types of traffic tickets that are issued by New Jersey state troopers:
    </p>
    <table id="tblFloridaPoint" class="tblPoint">
        <tr>
            <td style="font-size: 20px; color: red;background-color:#e09836" colspan="2">UNLAWFUL SPEED</td>
        </tr>
        <tr>
            <td>EXCEEDING 1 - 14 MPH OVER SPEED LIMIT</td>
            <td>2 POINTS</td>
        </tr>
        <tr>
            <td>EXCEEDING 15 - 29 MPH OVER SPEED LIMIT</td>
            <td>4 POINTS</td>
        </tr>
        <tr>
            <td>EXCEEDING MORE THAN 30 MPH OVER SPEED LIMIT</td>
            <td>5 POINTS</td>
        </tr>
    </table>
    </br>
    <table class="tblPoint">
        <tr>
            <td style="font-size: 20px; color: red;background-color:#e09836"  colspan="2">FURTHER VIOLATIONS</td>
        </tr>
        <tr>
            <td>FAILURE TO STOP BEFORE CROSSING SIDEWALK</td>
            <td>2 POINTS</td>
        </tr>
        <tr>
            <td>FAILURE TO KEEP RIGHT</td>
            <td>2 POINTS</td>
        </tr>
        <tr>
            <td>TAILGATING</td>
            <td>5 POINTS</td>
        </tr>

         <tr>
            <td> FAILURE TO YIELD AT INTERSECTION</td>
            <td>2 POINTS</td>
        </tr>
       
        <tr>
            <td>CARELESS DRIVING</td>
            <td>2 POINTS</td>
        </tr>
        <tr>
            <td>DRIVING IN AN UNSAFE MANNER</td>
            <td>4 POINTS</td>
        </tr>
        <tr>
            <td>IMPROPER U-TURN</td>
            <td>3 POINTS</td>
        </tr>

        <tr>
            <td>IMPROPER PASSING OF SCHOOL BUS</td>
            <td>5 POINTS</td>
        </tr>

        <tr>
            <td>LEAVING THE SCENE OF AN ACCIDENT - NO INJURY</td>
            <td>2 POINTS</td>
        </tr>

        <tr>
            <td>LEAVING THE SCENE OF AN ACCIDENT - WITH PERSONAL INJURY</td>
            <td>8 POINTS</td>
        </tr>

        <tr>
            <td>RECKLESS DRIVING</td>
            <td>5 POINTS</td>
        </tr>

        <tr>
            <td>RACING ON HIGHWAY</td>
            <td>5 POINTS</td>
        </tr>

        <tr>
            <td>DRIVING THROUGH SAFETY ZONE</td>
            <td>2 POINTS</td>
        </tr>

        <tr>
            <td>IMPROPER PASSING</td>
            <td>4 POINTS</td>
        </tr>
    </table>
</div>
