@{
    ViewBag.Title = "Traffic Ticket Lawyer in New Jersey | Defense Lawyers in NJ";
    ViewBag.Description = "Stabile Law Firm provides the best defense lawyer against traffic tickets fines in New Jersey and New York. Contact us now for best possible help!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right white_bgs">
    <div class="clear_fix"></div>
    <div class="bottom_tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">ATTORNEYS</a></li>
            <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">Our History</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">About Us</a></li>

        </ul>
        <div class="tab-content bottom_tab_info h1s">
            <div class="tab-pane fade  active in" id="tab_3">
                <h1>Meet Our Attorneys</h1>

                <p>
                    <img alt="New Jersey Traffic Ticket Lawyer" src="~/Content/NJ_Images/steve.jpg"  class="img-responsive" style="height:100px">
                    <b>Steve Stabile</b>    is the owner of the Stabile Law Firm, LLC. Born in Brooklyn, New York he attended Brooklyn College where he graduated with a Bachelor's Degree in History in 1989.
                    He then attended 1 year of law school in the State of Michigan. After his 1st year of law school he transfered to Widener University School of Law in Harrisburg, Pennsylvania.<br />
                    In 1992, he graduated Widener University School of Law with a Juris Doctor degree. He was a member of the first graduating class of the Harrisburg Campus. During law school he was an active member in the law fraternity Phi Alpha Delta. Admitted to the New Jersey Bar in 1993, he began his law practice concentrating in Municipal Court and Criminal Law matters.<br />
                    During his career he has represented thousands of clients in municipal courts throughout the State of New Jersey. Since 1999, he has appeared in both traffic and criminal courts throughout the five Boroughs of New York City as well as the State of New York. He is currently admitted to practice law in the State of New Jersey, New York, Pennsylvania and the District of Columbia.
                </p>
                <div class="clearfix" style="margin-top:30px"></div>
                <p style="margin-top:30px">
                    <img alt="New Jersey Traffic Ticket Lawyer" src="~/Content/NJ_Images/megan.jpg" class="img-responsive" style="height:100px">
                    <b>Ms. Smith</b>   is a graduate of Drew University in Madison, New Jersey where she majored in Political Science. While at Drew she attended the United Nations Semester and the Washington, D.C. Semester where she specialized in election law. She is a graduate of Seton Hall School of Law in Newark, New Jersey. While in college she worked at the Public Defender’s Office in Morristown. During law school she was a law clerk for a private firm in Morristown handling criminal and municipal defense as well as family law matters. From 1986 to 2013 she maintained a private law practice. She was a municipal prosecutor for 15 years handling over 1,000 DWI prosecutions. In addition, she was a municipal public defender for two years representing indigents defendants in municipal court on criminal and traffic cases.
                </p>
                <div class="clearfix" style="margin-top:30px"></div>
                <p>
                    <img src="~/Content/NJ_Images/popbill.jpg" alt="New Jersey Traffic Ticket Lawyer" style="height:100px" />
                    <b>Mr. Bill Popovich</b>  joined The Stabile Law Firm as an Associate.
                </p>
                <div class="clearfix" style="margin-top:30px"></div>
                <p style="margin-top:30px">
                    <img src="~/Content/NJ_Images/popwilliam.jpg" alt="New Jersey Traffic Ticket Lawyer"  style="height:100px" />
                    <b>Mr. William Popovich</b>  joined The Stabile Law Firm as an Associate.
					<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

                </p>
                <div class="clearfix" style="margin-top:30px"></div>
            </div>
            <div class="tab-pane fade" id="tab_1">
                <img alt="New Jersey traffic tickets" src="~/Content/NJ_Images/office_plaza_nine.jpg" class="img-responsive">
                <p>
                    In 1993 our Firm was established in New Jersey in an effort to provide the absolute <a href="/">best traffic ticket lawyers</a> for our clients. Since then, we have expanded to include more attorneys, numerous colleagues, a list of experts and support staff. Since our inception, our Firm has handled in excess of 250,000 traffic violations throughout the State of New Jersey and New York. We continue to provide aggressive zealous representation for our clients in an effort to dismiss all or some of the charges, so that our clients can be assured the protection of their driving privileges.
                </p>
                <p>
                    The key to our success is RESULTS. When a client retains the services of our FIRM, he/she does not receive the benefit, knowledge of only one attorney. In fact, when a client retains the services of the Stabile Law Firm, LLC, he/she receives the benefit of 4 (four) attorneys' knowledge with a combined experience of over 100 years. Furthermore, our Firm primarily concentrates in NJ traffic tickets violations and DWI. The reason for this, is to assure our clients that we are serious about their matter. At our Firm, traffic and criminal law is primarily what we do. When dealing with a motor vehicle related offense, the last thing you need is a Real Estate lawyer trying to preserve your freedom or save your driving privilege while running between closings all day.
				<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>


                </p>
            </div>
            <div class="tab-pane fade" id="tab_2">
                <img alt="New Jersey traffic tickets" src="~/Content/NJ_Images/office_plaza_nine.jpg" class="img-responsive">
                <p>
                    At Stabile Law Firm, we are a full-service law firm with concentration in traffic law and <a href="/NewJersey/Dui-Dwi-Defense-Lawyers">DUI - DWI matters in New Jersey</a>. We pride ourselves on our ability to solve traffic violations for our clients. Our team of lawyers finds innovative solutions to our clients' needs. We truly are vigorous in our representation. We never back away from a fight, but we choose our battles carefully to ensure the best outcome for our clients. We are passionately committed to our clients' needs.
				 <br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
               
			    </p>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $("#AboutUs").addClass("menu-active");
        $(".ntab").removeClass("active");
        $("#TrafficLawyer").addClass("active");
    });

</script>


