@{
    ViewBag.Title = "Careless driving in New Jersey | New Jersey Traffic Tickets";
    ViewBag.Description = "Careless Driving in New Jersey. If you were issued a careless driving traffic ticket, call us at 732-602-7795 for a FREE consultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
    <div class="bottom_tab h1s">
        <h1>Careless Driving in New Jersey</h1>
        <p>
		 
            <img src="~/Content/NJ_Images/careless-driving-in-new jersey.jpg" alt="Help With Traffic Tickets" class="img-responsive img-circle" />  Careless Driving is a less severe offence than Reckless Driving  and it is perhaps the most common traffic violation heard in every New Jersey Municipal Court.  Police generally issue this ticket to a driver deemed at fault following a motor vehicle accident.
        </p>
        <p>
            <b>39:4-97 CARELESS DRIVING -2 POINTS. </b>There are no enhanced penalties for a second or subsequent offense of careless driving in New Jersey. Careless driving is a lesser included offense of reckless driving. This offense is known as a general catch all statute and includes all negligent offenses and states a person who drives carelessly or without due caution and circumspection in a manner so as to endanger or likely to endanger person or property. The fines can range from $78.00 to $200.00, if convicted in Court. You must also be aware that any conviction of a violation for points may result in increase insurance premiums and <a href="/NewJersey/Points-and-Surcharges">NJ State Surcharges</a>.
			<br/>
			 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        </p>


    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $(".ntab").removeClass("active");
        $("#CarelessDriving").addClass("active");

    });

</script>



