
@{
    ViewBag.Title = "Best DUI DWI Defense Lawyer in New Jersey | NJ Attorneys ";
    ViewBag.Description = "Our Best DUI and DWI defense lawyers have years of combined experience winning Driving under the influence and Driving While Intoxicated cases in New Jersey.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Experienced DUI DWI Defense Lawyers for Drunk Driving Offenses in New Jersey</h1>
        <p>
            <img src="~/Content/NJ_Images/dui-dwi-defense-lawyers-in-new-jersey-nj-attorneys.jpg" alt="DWI Lawyer in NJ" class="img-responsive img-circle" />
            In order to handle a New Jersey DUI and DWI matter, upon being retained, our first step is to enter our appearance and plead the client NOT GUILTY. The next thing we do is make extensive motions for discovery.  Discovery is any information the State has in its' possession that it intends to use against the client.  All the answers and defenses are based on the facts and the information or lack of information provided in the discovery.
        </p>
        <p>
            Upon receipt and review of the discovery, we scrutinize it, then have our renowned experts review all the materials to advise us of any deficiencies in the State's proofs or problems with the testing results or procedures.  After review and opinion from our experts we make Constitutional Motions, such as a Motion to Suppress or a request for a Probable cause hearing.
        </p>
        <p>
            Finally, we appear at Court and will make a Motion to Dismiss either orally or in writing based on the deficiencies in the State's case. If the case is not dismissed and we have no issues we look to get the minimum penalties based on the offense or we can go to trial and put the State's evidence to its' test.
        </p>
        <h3>5 Reasons You Should Use DUI DWI attorneys Defense from Stabile Law Firm LLC</h3>
        <p>
            <b>1. Expertise.</b>   The key here is not just experience, but experience in NJ DUI and DWI cases. There are over 60 different broad disciplines, each of which has over 100 sub-categories. Because our defense lawyers concentrate in DUI and DWI and <a href="/NewJersey/Traffic-Tickets">traffic tickets in New Jersey</a>, we have an excellent success rate.  In fact, we ONLY accept DUI and DWI and traffic matters, because our focus and concentration lies in DUI and DWI and traffic tickets.
        </p>
        <p>
            <b>2. Case Load.</b>   Nationally, the number of cases assigned per attorney could be as many as 40 or 50. That leads to slow response time and inattention to detail. Make sure your attorney has no more than 10 files at any given time.  Because we have a team of four (4) criminal defense lawyers all concentrating in New Jersey DUI and DWI and traffic tickets, we are able to ensure you get the attention your case deserves.
        </p>
        <p>
            <b> 3. Fee Policies.</b>  Your attorney should help you solve your problem, not be the source of them! Unfortunately, some firms "conceal" certain charges until after it's too late to undo the damage. Many criminal defense attorneys charge between $5000 to $10000 to defend you in court for a DUI and DWI case. In addition to these charges, attorneys may add on hundreds of dollars in miscellaneous (hidden) charges including postage, phone, administrative, fax, consultation, secretarial and many more ridiculous charges. We believe this is unfair, which is why we are up front with all our clients. At Stabile Law Firm, we have some of the lowest rates for DUI and DWI in the industry. Our Fees Start At Only $1500!
        </p>
        <p><b>4. Flexible Financing.</b>  The typical life span of a case is between 3 to 6 months. We understand that many clients are not able to pay our fees up front. This is why we have created a very flexible payment plan.</p>
        <p><b>5. Timely Service.</b>  To serve you better we ensure that your questions and calls are answered immediately. Should you call between our business hours of 7am-8pm, a representative will answer all queries immediately or we will return your call within one business hour. We will also book you a FREE CONSULTATION over the phone or at our office and give you a quote within one business day.</p>

        <h3>Refusal test are serious offenses</h3>
        <p>DWI and DUI's or Refusal to Submit to a breath test are serious offenses in New Jersey. We have over 50 years of combined experience in DUI and DWI cases and our lawyers are some of the most experienced in the State of New Jersey. In New Jersey, there are two results that can be ascertained when you are charged with a DWI/DUI or Refusal to submit to a breath test as there are NO plea bargains:</p>
        <ol>
            <li class="tab_li">We Can Fully Dismiss the Charge or</li>
            <li class="tab_li">A Conviction.</li>
        </ol>
        <p>
            During an initial consultation with a potential client on a New Jersey DUI or DWI charge our team examines the factual and legal circumstance of the two most important elements of the charge.
        </p>
        <ol>
            <li class="tab_li">Operation</li>
            <li class="tab_li">Intoxication</li>
        </ol>
        <p>
            The first element operation, is essential for the State to prove beyond a reasonable doubt to move forward on a DUI or DWI charge.
        </p>
        <p>
            The second element is intoxication. Without proving both elements beyond a reasonable doubt, the State cannot prove a person has committed the offense of DUI or DWI in New Jersey.
        </p>
        <p>
            There are many sub issues when evaluating a New Jersey DUI or DWI. For example, what constitutes operation. Did you know having the key in the ignition while sitting in the drivers seat constitutes operation in New Jersey even if the car was not started?  Or is it necessary for the State to have a reading to prove intoxication in a New Jersey DUI or DWI matter? The answer is NO.
				<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
       
	    </p>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $(".ntab").removeClass("active");
        $("#Dui").addClass("active");

    });

</script>


