@{
    ViewBag.Title = "Running or Failure to Stop a Red Light";
    ViewBag.Description = "A conviction or guilty plea for running a red light may result in a 15 day jail term, a fine, New Jersey DMV points, and insurance points.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Running a Red Light or Failure to Stop</h1>5 day jail term, a $200 fine, New Jersey DMV points, and car insurance points.</b><br />

        <p>
            <b>A conviction or guilty plea for running a red light may result in a 1

        <p>
            These are serious consequences. If the driver, at the time the traffic ticket was issued or later, has other violations, the multiple offenses can result in even harsher penalties. Our lawyers take every charge against our clients seriously. If you would like to discuss defense of a ticket for running a red light or stop sign, failure to yield, or any other traffic violation with one of our attorneys, please contact our office and arrange a free consultation.
        </p>

        <p>
            Defense of failure to stop for a red light or stop sign<br />

            Was the traffic light defective? Was the stop sign visible behind overgrown foliage? Was the arresting officer in a position to accurately calculate the distance you stopped before the intersection? When crafting a defense of a traffic offense, our lawyers consider all of the facts surrounding the charges against our client. Other unique aspects of the case may come into play, including prior offenses which will affect sentencing, and our client's personal goals. Our attorneys are prepared to handle cases involving a variety of traffic violations:
        </p>

        <div class="ul_info">
            <ul style="list-style-type:disc;margin-left:20px">
                <li class="tab_li">Failure to observe a stop sign</li>
                <li class="tab_li">Failure to observe a traffic signal</li>
                <li class="tab_li">Failure to stop for a police whistle</li>
                <li class="tab_li">Failure to yield at an intersection</li>
                <li class="tab_li">Failure to yield right of way</li>
                <li class="tab_li">Failure to keep to the right</li>
                <li class="tab_li">Failure to pass on the left</li>
            </ul>
        </div>

        <p>
            If you have been charged with running a red light or another traffic violation, you can only make a well-informed decision about how to proceed after discussing your case with an attorney with the appropriate experience. If you would like to speak with a traffic lawyer from our firm, call or e-mail to arrange a free consultation.
        </p>


    </div>
</div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script>
        $(function () {
            $(".menuspan").removeClass("menu-active");
        });

    </script>

