@{
    ViewBag.Title = "Frequently Ask Questions for Suspended License New Jersey";
    ViewBag.Description = "If your driver's license has been suspended due to a traffic ticket,call us at 732-602-7795 for a FREE consultation.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
    <section class="faqs_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 pull-right right_side h2s">
                    <!-- Right Side -->
                    <h1 style="display:none;">Frequently Ask Question</h1>
                    <h2>Frequently Ask Questions</h2>
                    <div class="tab_option">
                        <div class="panel-group tab_option_right Acc_Width" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                            Can a lawyer beat your New Jersey traffic ticket?
                                            <img src="~/Content/images/icon-bg.png" alt="icon" class="active">
                                            <img src="~/Content/images/icon-bg-hover.png" alt="icon" class="hover">
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            Our Firm boasts a 99-percent success rate at reducing or keeping points off our clients' driving records, whether they're guilty or not. The key, is a savvy staff that screens cases and knows where preparation time is best spent. We know the steps required to <a href="/NewJersey/Beat-Your-Traffic-Ticket">beat your NJ traffic ticket</a>!
                                        </p>

                                        <p>
                                            Like most traffic attorneys in NJ, our Firm has no interest whatsoever in whether you're innocent or guilty. For a traffic attorney, it is far more important to know who ticketed you and where. That determines the court in which your case will be called and the result we are capable of ascertaining.
                                        </p>

                                        <p>
                                            In the smaller jurisdictions, most of their officers appear when you set a case for trial and we have to work extra hard to achieve the results we boast. In larger cities, it is much more likely that the case will be dismissed or the officer won't show up.<br />
                                            Each county is different; for some counties, mistakes don't matter to them -- if you've got a ticket, you've got to deal with it.
                                        </p>

                                        <p>
                                            In our Firm, we do not spend a lot of time arguing whether or not our clients are guilty. Instead, if there are not triable issues, our Firm works with the judge and prosecutor in a friendly adversarial manner to determine and ascertain the best results for your <a href="/NewJersey/Traffic-Tickets">traffic ticket</a>.
                                        </p>

                                        <p>
                                            Our New Jersey Traffic lawyers know the players, the economic directives, the ever-changing laws and the processes by which cases get resolved in the local traffic courts. A case may be dismissed outright if the issuing officer doesn't show up as complaining witness. Or it may be bargained into dismissal in exchange for pleas on other nonmoving violations. Or they may be dismissed after an unsupervised probationary period, but you'll have to pay all or part of the fine.
                                        </p>

                                        <p>
                                            The point is, even if you end up paying a fine, your case won't be recorded. This means, no points on your license, and cheaper insurance premiums.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                            What to do when your license is suspended in New Jersey?
                                            <img src="~/Content/images/icon-bg.png" alt="icon" class="active">
                                            <img src="~/Content/images/icon-bg-hover.png" alt="icon" class="hover">
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            If your driving privileges have been suspended, you will need to pay a Restoration Fee of $100. If the judge did not take your license in court, you must surrender it at any Regional Service Center or mail to:<br />

                                            Motor Vehicle Commission<br />
                                            Driver Management Bureau<br />
                                            P.O. Box 134<br />
                                            Trenton, New Jersey 08650
                                        </p>

                                        <div class="ul_info">
                                            <ul style="list-style-type:disc;margin-left:20px">
                                                <li class="tab_li">Do not drive until you restore your license and receive a written notice of restoration</li>
                                                <li class="tab_li">If you continue to drive while your license is suspended, you could face up to five years in jail</li>
                                                <li class="tab_li">For further assistance, call MVC at (609) 292-7500</li>
                                            </ul>
                                        </div>

                                        <p><b>Possible reasons your license can be suspended</b></p>
                                        <div class="ul_info">
                                            <ul style="list-style-type:disc;margin-left:20px">
                                                <li class="tab_li">If you receive 12 or more points on your current driver record</li>
                                                <li class="tab_li">Failure to appear in court or to pay fines</li>
                                                <li class="tab_li">Failure to pay surcharges</li>
                                                <li class="tab_li">Driving with a suspended license</li>
                                                <li class="tab_li">Failure to provide proof of insurance</li>
                                                <li class="tab_li">Physical or mental disqualification</li>
                                                <li class="tab_li">Drug or alcohol use while driving (DUI and DWI)</li>
                                                <li class="tab_li">Reckless driving</li>
                                                <li class="tab_li">Vehicle abandonment on a public highway</li>
                                                <li class="tab_li">Fault in a fatal accident</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                            What to do When Stopped for a Traffic Violation in NJ?
                                            <img src="~/Content/images/icon-bg.png" alt="icon" class="active">
                                            <img src="~/Content/images/icon-bg-hover.png" alt="icon" class="hover">
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            You hear the sirens blaring and see the red lights flashing in your rear-view mirror. You slow down, move to your right and hope that the police is after someone else, but then, with a sinking feeling, you realize that it is you he or she is after.
                                        </p>
                                        <p>
                                            <b>Remain Calm and Courteous, But Do Not Divulge Too Much Information.</b>
                                        </p>
                                        <p>
                                            The best thing to do in the scenario described above is to cautiously and slowly pull over to the side of the road, stay calm, and remain in the vehicle unless told to do otherwise by the police officer. Roll down your window and, if it is dark, turn on the interior dome light, which will let the officer know you have nothing to hide. Keep both hands on the steering wheel, and do not make any sudden or suspicious movements. You should not reach for the glove compartment or under the seat unless directed by the officer to do so.
                                        </p>

                                        <p>
                                            If an officer pulls you over, he or she will generally ask to see your driver's license, the registration of the vehicle and proof that the vehicle is insured. You must comply with these requests. If the officer asks if you know the reason for the stop, while it is important to be polite and honest, it also makes sense to be careful about admitting too much, since any admissions may be used against you in a later proceeding. The officer may also inspect the vehicle for equipment code violations. Any objections to this inspection should be made cautiously or not at all.
                                        </p>
                                        <p>
                                            Although it may be tempting to offer excuses for any alleged violations, it is better not to tell the officer that you are running late for work or an appointment or have kids waiting at home for you, for instance, since these statements could be deemed to support a charge of speeding or aggressive driving. On the other hand, it is important to respond honestly and politely to the officer's questions. Do not give any false information at any time. If, however, you do not know the answer to a particular question, it is permissible to respond, "I don't know," or "I'm not certain." Also, if the officer asks a question that you could answer but prefer not to because it may be used against you, you may not have to answer. In many instances, you have the right to tell the officer that you would rather talk to a lawyer about the situation first, or that you would rather not discuss the matter at this time.
                                        </p>

                                        <p>
                                            If the officer issues a citation and you believe that the ticket was unjustified, you should hold your tongue in the officer's presence and take your protest to court, where you can explain your case to the judge. Receipt of a ticket does not automatically mean that you are guilty, or will be found guilty, or that you will have to pay a fine. You usually have the right to go to court and to have the judge hear your explanation. If you do not agree with the judge's decision, you can appeal your case to a higher court.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                                            Conclusion
                                            <img src="~/Content/images/icon-bg.png" alt="icon" class="active">
                                            <img src="~/Content/images/icon-bg-hover.png" alt="icon" class="hover">
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse8" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Under the stress of a traffic stop, many people divulge too much information, or they become belligerent or argumentative. Either of these approaches can lead to further trouble. The best approach is to remain calm and cooperative, while refraining from offering more details than necessary. If the officer does issue a ticket or citation, contact us and speak to our experienced traffic attorneys at once to get all of your traffic law questions answered.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div> <!-- End tab_option_right -->
                    </div> <!-- End tab_option -->

                </div> <!-- End Right Side -->
             
            </div> <!-- End row -->
        </div> <!-- End container -->
    </section>



    @*<div class="bottom_tab">
        <h3>Frequently Asked Questions for Traffic Tickets</h3>

        <h4>Can a lawyer beat your New Jersey traffic ticket?</h4><br />

        <p>
            Our Firm boasts a 99-percent success rate at reducing or keeping points off our clients' driving records, whether they're guilty or not. The key, is a savvy staff that screens cases and knows where preparation time is best spent. We know the steps required to beat your NJ traffic ticket!
        </p>

        <p>
            Like most traffic attorneys in NJ, our Firm has no interest whatsoever in whether you're innocent or guilty. For a traffic attorney, it is far more important to know who ticketed you and where. That determines the court in which your case will be called and the result we are capable of ascertaining.
        </p>

        <p>
            In the smaller jurisdictions, most of their officers appear when you set a case for trial and we have to work extra hard to achieve the results we boast. In larger cities, it is much more likely that the case will be dismissed or the officer won't show up.<br />
            Each county is different; for some counties, mistakes don't matter to them -- if you've got a ticket, you've got to deal with it.
        </p>

        <p>
            In our Firm, we do not spend a lot of time arguing whether or not our clients are guilty. Instead, if there are not triable issues, our Firm works with the judge and prosecutor in a friendly adversarial manner to determine and ascertain the best results for your traffic ticket.
        </p>

        <p>
            Our New Jersey Traffic lawyers know the players, the economic directives, the ever-changing laws and the processes by which cases get resolved in the local traffic courts. A case may be dismissed outright if the issuing officer doesn't show up as complaining witness. Or it may be bargained into dismissal in exchange for pleas on other nonmoving violations. Or they may be dismissed after an unsupervised probationary period, but you'll have to pay all or part of the fine.
        </p>

        <p>
            The point is, even if you end up paying a fine, your case won't be recorded. This means, no points on your license, and cheaper insurance premiums.
        </p>

        <div class="clearfix"></div>
        <h4>What to do when your license is suspended in New Jersey?</h4>
        <p>
            If your driving privileges have been suspended, you will need to pay a Restoration Fee of $100. If the judge did not take your license in court, you must surrender it at any Regional Service Center or mail to:<br />

            Motor Vehicle Commission<br />
            Driver Management Bureau<br />
            P.O. Box 134<br />
            Trenton, New Jersey 08650
        </p>

        <div class="ul_info">
            <ul style="list-style-type:disc;margin-left:20px">
                <li class="tab_li">Do not drive until you restore your license and receive a written notice of restoration</li>
                <li class="tab_li">If you continue to drive while your license is suspended, you could face up to five years in jail</li>
                <li class="tab_li">For further assistance, call MVC at (609) 292-7500</li>
            </ul>
        </div>

        <p><b>Possible reasons your license can be suspended</b></p>
        <div class="ul_info">
            <ul style="list-style-type:disc;margin-left:20px">
                <li class="tab_li">If you receive 12 or more points on your current driver record</li>
                <li class="tab_li">Failure to appear in court or to pay fines</li>
                <li class="tab_li">Failure to pay surcharges</li>
                <li class="tab_li">Driving with a suspended license</li>
                <li class="tab_li">Failure to provide proof of insurance</li>
                <li class="tab_li">Physical or mental disqualification</li>
                <li class="tab_li">Drug or alcohol use while driving (DUI and DWI)</li>
                <li class="tab_li">Reckless driving</li>
                <li class="tab_li">Vehicle abandonment on a public highway</li>
                <li class="tab_li">Fault in a fatal accident</li>
            </ul>
        </div>
       
         <div class="clearfix"></div>
        
        <h4>What to do When Stopped for a Traffic Violation in NJ?</h4>
        <p>
            You hear the sirens blaring and see the red lights flashing in your rear-view mirror. You slow down, move to your right and hope that the police is after someone else, but then, with a sinking feeling, you realize that it is you he or she is after.
        </p>
        <p>
            <b>Remain Calm and Courteous, But Do Not Divulge Too Much Information.</b>
        </p>
        <p>
            The best thing to do in the scenario described above is to cautiously and slowly pull over to the side of the road, stay calm, and remain in the vehicle unless told to do otherwise by the police officer. Roll down your window and, if it is dark, turn on the interior dome light, which will let the officer know you have nothing to hide. Keep both hands on the steering wheel, and do not make any sudden or suspicious movements. You should not reach for the glove compartment or under the seat unless directed by the officer to do so.
        </p>

        <p>
            If an officer pulls you over, he or she will generally ask to see your driver's license, the registration of the vehicle and proof that the vehicle is insured. You must comply with these requests. If the officer asks if you know the reason for the stop, while it is important to be polite and honest, it also makes sense to be careful about admitting too much, since any admissions may be used against you in a later proceeding. The officer may also inspect the vehicle for equipment code violations. Any objections to this inspection should be made cautiously or not at all.
        </p>
        <p>
            Although it may be tempting to offer excuses for any alleged violations, it is better not to tell the officer that you are running late for work or an appointment or have kids waiting at home for you, for instance, since these statements could be deemed to support a charge of speeding or aggressive driving. On the other hand, it is important to respond honestly and politely to the officer's questions. Do not give any false information at any time. If, however, you do not know the answer to a particular question, it is permissible to respond, "I don't know," or "I'm not certain." Also, if the officer asks a question that you could answer but prefer not to because it may be used against you, you may not have to answer. In many instances, you have the right to tell the officer that you would rather talk to a lawyer about the situation first, or that you would rather not discuss the matter at this time.
        </p>

        <p>
            If the officer issues a citation and you believe that the ticket was unjustified, you should hold your tongue in the officer's presence and take your protest to court, where you can explain your case to the judge. Receipt of a ticket does not automatically mean that you are guilty, or will be found guilty, or that you will have to pay a fine. You usually have the right to go to court and to have the judge hear your explanation. If you do not agree with the judge's decision, you can appeal your case to a higher court.
        </p>
        <div class="clearfix"></div>
        <h4>Conclusion</h4>
        <p>
            Under the stress of a traffic stop, many people divulge too much information, or they become belligerent or argumentative. Either of these approaches can lead to further trouble. The best approach is to remain calm and cooperative, while refraining from offering more details than necessary. If the officer does issue a ticket or citation, contact us and speak to our experienced traffic attorneys at once to get all of your traffic law questions answered.
        </p>
    </div>*@
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $("#FAQ").addClass("menu-active");
    });

</script>

