
@{
    ViewBag.Title = "Improper Passing School Bus in New Jersey";
    ViewBag.Description = "Improper passing and improper passing of a school bus is particularly serious. Call Us Now For A Free Consultation 1-877-VIOLATION";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Improper Passing School Bus</h1>
        <p>
            <b>Many towns have vigilante bus drivers who make it their part time job to file their own complaints against violators.</b>
        </p>

        <p>
            A driver on a highway passing school bus used solely for the transportation of children to and from school, any school activity, or summer day camp must stop not less than 25 feet from the bus when the bus has stopped to receive or discharge any passengers.
        </p>

        <p>
            The driver, in a town like South Brunswick, New Jersey, for instance, may not proceed until all children have entered the bus or have exited and reached the side of the highway, or until the flashing red lights have stopped.
        </p>

        <p>
            For this statute to apply, the bus must be designated as a school bus by a sign on the front and rear of the bus in lettering at least 4 inches high.
        </p>

        <p>
            Drivers on the opposite side from a bus on a roadway divided by a safety island or physical traffic separation do not have to stop for a school bus.
        </p>

        <p>
            Such drivers, however, must reduce the speed of their vehicles to not more than 10 miles an hour, and may not resume normal speed until their vehicles passed the bus and any child who may have exited from the bus.
        </p>

        <p>
            When the bus is parked at the curb to receive children directly from a school, school activity, or day camp, or to discharge children to the school, school activity or day camp, and the bus is parked on the same side of the street where the school or activity is located, drivers need not stop.
        </p>

        <p>
            However, they may not travel at a speed in excess of 10 miles per hour.<br />

            There is an inference that the registered owner of the vehicle involved in the violation of this statute was the same person who committed the act.
        </p>

        <h4>Exposure</h4>
        <p>
            Defendant convicted of this offense is subject to a minimum fine of $100, 15 days in jail or 15 days of community service.
        </p>

        <p>
            For a second or subsequent offense the defendant must pay a fine of at least $250 and be sentenced up to 15 days in jail.
        </p>

        <p>
            If the sentencing Judge finds that the violation was willful defendant may lose his or her license for a period of time left to the discretion of the Judge.
        </p>

        <p>
            Upon conviction of passing school bus offense, defendant is assessed five motor vehicle and five insurance points.
        </p>

        <h4>Strategy</h4>
        <p>New Jersey traffic attorney always attempts to mitigate the collateral consequences of a conviction to passing school bus offense.</p>
        <p>First, an attempt is made to achieve a zero point downgrade to unsafe driving N.J.S.A 39:4-97.2, although it should be noted that unsafe driving carries an approximate fine of $400.</p>
        <p>Additionally, four points are assessed on one's driving record for a third unsafe driving conviction within five years of a second unsafe driving conviction.</p>
        <p>If prosecutor or Judge reject such a downgrade, then the driver charged with this offense may want to consider striking a deal with the prosecutor where he or she will plead guilty to an amended charge of careless driving N.J.S.A. 39:4-97 which is a two point violation.</p>
        <p>Even improper passing N.J.S.A 39:4-85, although a four point offense, is still preferable to a conviction of passing a school bus given its implications of mandatory community service or jail and the enhanced penalties for subsequent violations of this statute.</p>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
        $(function () {
            $(".menuspan").removeClass("menu-active");
        });

</script>

