@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wp1.themexlab.com/html/me-finance/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jul 2016 06:38:35 GMT -->
<head>
    <title>New Jersey Traffic Tickets | Help With Best Lawyers</title>
    <meta name="description" content= "Our New Jersey traffic ticket lawyers can resolves your speeding tickets fines, reckless, careless driving and all other traffic violations near New York and NJ" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/fav-icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/images/fav-icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/fav-icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/fav-icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/fav-icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/fav-icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/fav-icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/fav-icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/fav-icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/images/fav-icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/fav-icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/fav-icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/fav-icon/favicon-16x16.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.css" media="screen">
    <!-- Code For Chat -->
    <!-- End Char -->
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,300,300italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/fonts/font-awesome/css/font-awesome.min.css">
    <!-- Stroke Gap Icon -->
    <link rel="stylesheet" href="~/Content/fonts/stroke-gap/style.css">
    <!-- owl-carousel css -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <!-- owl-carousel css -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/custom/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive/responsive.css">


    <div itemscope itemtype="http://schema.org/Product" style="display:none" >
        <span itemprop="name">New Jersey Traffic Tickets</span>
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            Rated <span itemprop="ratingValue">3.3</span>/5 based on <span itemprop="reviewCount">5</span> reviews
        </div>
    </div>


</head>
<body class="home">
 
    <div class="loadercont">
        <div class="loader">Loading...</div>
    </div>
   

    
    <span itemscope itemtype="http://schema.org/LocalBusiness"><header>
        <div class="bottom_header top-bar-gradient">
            <div class="container clear_fix">
                <div class="float_left logo">
                    <a href="~/">
                        <img itemprop="image" src="~/Content/NJ_Images/logofinal.png" alt="New Jersey traffic tickets" class="logo-height" />
                    </a>
                </div>
                <div class="float_right address address-margin">
                    <div class="top-info">
                        <div class="icon-box">
                            <span class="separator icon icon-Phone2"></span>
                        </div>
                        <div class="content-box">
                            <p>1-732-602-7795 <br><span>request@stabilelawfirm.com</span></p>
                        </div>
                    </div>
                    <div class="top-info">
                        <div class="icon-box">
                            <span class="separator icon icon-Timer"></span>
                        </div>
                        <div class="content-box">
                            <p>Mon - Sat 9.00 AM - 07.00 PM <br><span>Sunday Closed</span></p>
                        </div>
                    </div>
                    <div class="top-info">
                        <div class="icon-box">
                            <span class="separator icon"><img src="~/Content/NJ_Images/languages-icon-128px.png" alt="New Jersey traffic tickets" style="width:30px;height:35px" /></span>
                        </div>
                        <div class="content-box">
                            <p><a href="~/">English</a> - <a href="/es/Índice">Español </a><br><span>Language</span></p>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </div> <!-- end bottom_header -->
    </header>
    
    <section class="mainmenu-area stricky">
        <div class="container">
            <nav class="clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header clearfix">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-th fa-2x"></span>
                    </button>
                </div>
                <div class="nav_main_list custom-scroll-bar pull-left" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="hover_slip">
                        <li><a href="~/"><span class="menuspan menu-active" id="MainPage">Main Page</span> </a></li>
                        <li><a class="contact" href="/NewJersey/About-Us"><span class="menuspan" id="AboutUs">About us</span> </a></li>
                        <li><a class="contact" href="/NewJersey/Why-Us"><span class="menuspan" id="WhyUs">Why us</span> </a></li>
                        <li><a class="contact" href="/NewJersey/Our-Services"><span class="menuspan" id="OurServices">Our services</span> </a></li>
                        <li><a class="contact" href="/NewJersey/Resources"><span class="menuspan" id="Resources">Resources</span></a></li>
                        <li><a class="contact" href="/NewJersey/Frequently-asked-questions"><span class="menuspan" id="FAQ">FAQ</span></a></li>
                        <li><a class="contact" href="/NewJersey/Free-Quote"><span class="menuspan" id="FreeQuote">Free Quote</span> </a></li>
                        <li><a class="contact" href="/Blog/Index"><span class="menuspan" id="Blogs">Blogs</span> </a></li>
                        <li><a class="contact" href="/NewJersey/Contactus"><span class="menuspan" id="Contactus">Contact us</span> </a></li>
                    </ul>
                </div>
            </nav> <!-- End Nav -->
            
        </div> <!-- End Container -->
    </section>
    
    <section class="p0 container-fluid banner about_banner banner_margin">
        <div id="owl-example" class="owl-carousel">
            <div><img src="~/Content/NJ_Images/court.jpg" alt="New Jersey traffic tickets" class="img-responsive" /></div>
            <div><img src="~/Content/NJ_Images/police.jpg" alt="New Jersey traffic tickets" class="img-responsive" /></div>
            <div><img src="~/Content/NJ_Images/traffic.jpg" alt="New Jersey traffic tickets" class="img-responsive" /></div>
        </div>
        @*<div id="dvcontact" class="col-md-3 pull-right col-sm-8  col-xs-12 dvcontact ">
            <h3>Any Query??</h3>
            <input type="text" id="txtName" placeholder="Name" class="form-control " />
            <input type="text" id="txtEmail" placeholder="Email" class="form-control txtcontact" />
            <input type="text" id="txtPhone" placeholder="Phone" class="form-control txtcontact" />
            <textarea id="txtMessage" class="form-control txtcontact" placeholder="Comment"></textarea>
            <img id="m_imgCaptcha" class="txtcontact" />
            <a href="#txtCapcha" id="RefreshImage">Change Text</a>
            <input type="text" placeholder="Type text Display in Image" class="form-control txtcontact" id="txtCapcha">
            <button type="button" id="btnsendQuote" class="read-more2 txtcontact">Send <i class="fa fa-arrow-circle-right"></i></button>
        </div>*@
    </section>

    <section class="welcome_sec">
        <div class="container">
            <div class="row welcome_heading">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <h1 itemprop="name">New Jersey Traffic Tickets</h1>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                    <p>
                        Defense Lawyers for all NJ Traffic Tickets, including <a href="/NewJersey/Dui-Dwi-Defense-Lawyers">DUI DWI</a>,
                        <a href="/NewJersey/Speeding-Tickets">Speeding Tickets</a>, <a href="/NewJersey/Reckless-Driving">Reckless Driving</a>, <a href="/NewJersey/Suspended-License">Driving While Suspended</a>,
                        <a href="/NewJersey/Careless-Driving">Careless Driving</a>, <a href="/NewJersey/No-Car-Insurance">No car insuranse</a>, Racing on highway.<br />

                        Offices in Woodbridge, Hackensack and Jersey City
                    </p>
                </div>
            </div>
            <div class="row welcome welcome_details">
                <div class="col-lg-6 col-md-12">

                    <div class="welcome_item">
                        <a href="/NewJersey/Traffic-Tickets">
                            <img src="~/Content/NJ_Images/traffic-ticket.jpg" alt="Help With Traffic Tickets" class="img-circle" />
                            <div class="welcome_info">
                                <h3>Traffic Tickets</h3>
                                <p>
                                    There are many different types of traffic tickets violations in New Jersey..
                                    <button type="submit" class="read-more2">Read More <i class="fa fa-arrow-circle-right"></i></button>

                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="welcome_item welcome_item_bottom">
                        <a href="/NewJersey/Speeding-Tickets">
                            <img src="~/Content/NJ_Images/speeding-ticket-lawyer.jpg" alt="New Jersey Traffic Ticket Lawyer" class="img-circle" />
                            <div class="welcome_info">
                                <h3>Speeding Tickets</h3>
                                <p>
                                    Speeding Tickets are often issued by state troopers or local police officers who use...
                                    <button type="submit" class="read-more2">Read More <i class="fa fa-arrow-circle-right"></i></button>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 bottom_row">
                    <div class="welcome_item">
                        <a href="/NewJersey/No-Car-Insurance">
                            <img src="~/Content/NJ_Images/policeman-ticket.jpg" alt="New Jersey Traffic Ticket Lawyer" class="img-circle" />
                            <div class="welcome_info">
                                <h3>No Car Insurance</h3>
                                <p>
                                    If you have been charged for driving with no insurance in New Jersey, we can help!..
                                    <button type="submit" class="read-more2">Read More <i class="fa fa-arrow-circle-right"></i></button>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="welcome_item welcome_item_bottom">
                        <a href="/NewJersey/Careless-Driving">
                            <img src="~/Content/NJ_Images/off-careless.jpg" alt="Traffic Ticket Lawyer in NJ" class="img-circle" />
                            <div class="welcome_info">
                                <h3>Careless Driving</h3>
                                <p>
                                    Careless Driving is a less severe offence than Reckless Driving  and it is perhaps the most..
                                    <button type="submit" class="read-more2">Read More <i class="fa fa-arrow-circle-right"></i></button>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- End Row -->
        </div> <!-- End container -->
    </section> <!-- End welcome_sec -->
    
    <section class="we_are">
        <div class="left_side float_left">
            <img src="~/Content/NJ_Images/gavel.jpg" alt="Traffic Ticket Lawyer in NJ" class="img-responsive gavel-book" />
        </div> <!-- End Left_Side -->
        <div class="right_side float_right">
            <div class="we_are_deatails">
                <h2>WARNING!!</h2>
                <p>
                <p>
                    When you hire our Law Firm, you know who we are, where we are and what we do. Be very careful not to hire marketing companies who hold themselves out as law firms when in fact they are violating the Rules of Ethics and the law in so doing. The entities that claim they "win" or guarantee results are not law firms. No attorney can or would guarantee results. As stated before, it is unethical and illegal to make such ludicrous claims.
                    To avoid all of the above click on about us and see our attorneys profiles and pictures.
                </p>
                </p>

            </div>
        </div> <!-- End right_side -->
    </section> <!-- End We Are -->
    
    <section class="testimonial_sec clear_fix">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 testimonial_container">
                    <div class="sec-title">
                        <h2>Common Driving Offenses</h2>
                    </div>
                    <div id="owl">
                    <div>
                        <a href="/NewJersey/What-to-do-suspended-license">
                            <div class="testimonial">
                                <img src="~/Content/NJ_Images/driving-while-suspended.jpg" alt="NJ Speeding Ticket Lawyer" class="img-circle" />
                                <div class="float_right client_info">
                                    <p>Driving while suspended</p>
                                    <ul>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                        <li><span ></span></li>
                                        <li><span ></span></li>
                                        <li><span ></span></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="john_speach">If your driving privileges have been suspended, you will need to pay a Restoration Fee of $100. If the judge did not take your license in court, you must surrender it at any Regional Service Center or mail to:<br />Motor Vehicle Commission<br />Driver Management Bureau<br />P.O. Box 134Trenton, NJ 08650</p>
                        </a>
                        </div>

                        <div>
                            <a href="/NewJersey/Speeding-Tickets">
                                <div class="testimonial">
                                    <img src="~/Content/NJ_Images/traffic-cop.jpg" alt="Best Traffic Ticket Attorneys" class="img-circle" />
                                    <div class="float_right client_info">
                                        <p>Speeding Tickets Offenses</p>
                                        <ul>
                                            <li><span ></span></li>
                                            <li><span ></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span ></span></li>
                                        </ul>
                                    </div>
                                    <p class="john_speach">
                                        Exceeding maximum speed 1-14 mph over limit<br />
                                        Exceeding maximum speed 15-29 mph over limit<br />
                                        Exceeding maximum speed 30 mph or more over limit
                                    </p>

                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="/NewJersey/Failure-to-stop-for-traffic-light">
                                <div class="testimonial">
                                    <img src="~/Content/NJ_Images/Modern_British_LED_Traffic_Light.jpg" alt="New Jersey traffic tickets" class="img-circle" />
                                    <div class="float_right client_info">
                                        <p>Failure to stop for traffic<br />  light</p>
                                        <ul>
                                            <li><span ></span></li>
                                            <li><span ></span></li>
                                            <li><span></span></li>
                                            <li><span ></span></li>
                                            <li><span ></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="john_speach">These are serious consequences. If the driver, at the time the traffic ticket was issued or later, has other violations, the multiple offenses can result in even harsher penalties. Our lawyers take every charge against our clients seriously. If you would like to discuss defense of a ticket for running a red light or stop sign, failure to yield, or any other traffic violation with one of our attorneys, please contact our office and arrange a free consultation.</p>
                            </a>
                        </div>
                        <div>
                            <a href="/NewJersey/Improper-passing-school-bus">
                                <div class="testimonial">
                                    <img src="~/Content/NJ_Images/tb_Redlight_450.jpg" alt="New Jersey traffic tickets" class="img-circle" />
                                    <div class="float_right client_info">
                                        <p>Improper passing of school<br />  bus</p>
                                        <ul>
                                            <li><span ></span></li>
                                            <li><span ></span></li>
                                            <li><span ></span></li>
                                            <li><span ></span></li>
                                            <li><span ></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="john_speach">A driver on a highway passing school bus used solely for the transportation of children to and from school, any school activity, or summer day camp must stop not less than 25 feet from the bus when the bus has stopped to receive or discharge any passengers. </p>
                            </a>
                        </div>
                    </div> <!-- End owl -->
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 company">
                    <h2>New Jersey Traffic Tickets</h2>
                    <div class="company-tab">
                        <ul class="nav nav-pills nav-justified">
                            <li class="active"><a data-toggle="pill" href="#menu1">Driving license</a></li>
                            <li><a data-toggle="pill" href="#menu2">Consequences</a></li>
                            <li><a data-toggle="pill" href="#menu3">Fight a traffic ticket</a></li>

                        </ul>

                        <div class="tab-content">
                            <div id="menu1" class="tab-pane fade in active">
                                <h3>New Jersey driver's license</h3>
                                <p>
                                    Having a New Jersey driver's license is an important privilege.  Unless you live in a metropolitan area close to public transportation, the loss of your driver's license can have dramatic effects on your life, potentially limiting the way you manage yourself.<br />If you have received a traffic ticket in New Jersey, you have come to the right place: The Stabile Law Firm, LLC. The issuance of a speeding ticket, driving while suspended ticket, DUI DWI, careless driving ticket or any other NJ traffic ticket by the police doesn’t automatically mean that you are guilty.  What it means is that you have the right to go to court and make the prosecution prove that your traffic ticket in NJ has merit.
                                </p>

                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h3>Consequences </h3>
                                <p>The consequences for a conviction resulting from traffic tickets in New Jersey may include fines, court costs, points on your license, community service, license suspension, surcharges, insurance points, and increased insurance costs.  In addition, traffic tickets can sometimes include the very serious consequence of incarceration for periods as long as 180 days or more, but the majority of traffic tickets in New Jersey are simple traffic violations.  These include speeding tickets, improper passing tickets, failure to stop at traffic control devices, and many others.  However, there are several traffic offenses that can be criminal charges, including possession of controlled dangerous substances.
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <h3>What is the best way to fight a traffic ticket?</h3>
                                <p>What is the best way to fight a traffic ticket?  Call our office to speak to a New Jersey Traffic Defense Lawyers.  Our experienced New Jersey traffic attorneys find innovative solutions to our clients' needs. We truly are vigorous in our representation.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End row -->
        </div> <!-- End Container -->
    </section> <!-- testimonial -->
    <!-- ======= /Testimonial & Company Values ======= -->
    <!-- ======== Small business ======== -->
    <section class="p0 container-fluid latest_news_sec news_large news_margin" >
        <div class="container">
            <h2>Latest Results</h2>
        </div>
        <div class="news_highlight">
           @{ var i = 0; }
            @foreach (var row in Model)
            {
               
            
                i = i + 1;
                <div class="col-lg-3 col-md-6 news">
                    <div class="news_img_holder">
                        
                        @switch (i)
                        {
                            case 1:
                                <img class="img-responsive" src="~/Content/images/12.jpg" alt="New Jersey traffic tickets">
                                break;
                            case 2:
                            <img class="img-responsive" src="~/Content/images/13.jpg" alt="New Jersey traffic tickets">
                                break;
                            case 3:
                            <img class="img-responsive" src="~/Content/images/14.jpg" alt="New Jersey traffic tickets">
                                break;
                            default:
                            <img class="img-responsive" src="~/Content/images/15.jpg" alt="New Jersey traffic tickets">
                                break;
                        }
                      

                        <div class="news_opacity">
                        </div>
                       
                        <div class="news_details indexnjresult">
                            <a href="/NewJersey/ShowResult?id=@row.tblResultId">
                                <span>@row.Date</span>
                                <h4>@row.Result_Heading_st ...</h4>
                                <p style="white-space: pre-wrap;">@row.Result_Text_st ...</p>
                            </a>

                        </div>
                        
                    </div>
                </div>
            }
          

            @*<div class="col-lg-3 col-md-6 news">
                <div class="news_img_holder">
                    <img class="img-responsive" src="~/Content/images/12.jpg" alt="New Jersey traffic tickets">
                    <div class="news_opacity">
                    </div>
                    <div class="news_details">
                        <a href="#">
                            <span>07.07.2016</span>
                            <h4>Heading of News</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 news news_right">
                <div class="news_img_holder">
                    <img class="img-responsive" src="~/Content/images/13.jpg" alt="New Jersey traffic tickets">
                    <div class="news_opacity">
                    </div>
                    <div class="news_details">
                        <a href="#">
                            <span>07.07.2016</span>
                            <h4>Heading of News</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 news news_bottom">
                <div class="news_img_holder">
                    <img class="img-responsive" src="~/Content/images/14.jpg" alt="New Jersey traffic tickets">
                    <div class="news_opacity">
                    </div>
                    <div class="news_details">
                        <a href="#">
                            <span>07.07.2016</span>
                            <h4>Heading of News</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 news news_right news_bottom">
                <div class="news_img_holder">
                    <img class="img-responsive" src="~/Content/images/15.jpg" alt="New Jersey traffic tickets">
                    <div class="news_opacity">
                    </div>
                    <div class="news_details">
                        <a href="#">
                            <span>07.07.2016</span>
                            <h4>Heading of News</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                        </a>
                    </div>
                </div>
            </div>*@

        </div>
    </section>
        <section class="small_business_sec">
        <div class="business_opacity">
            <div class="container float_right" id="Contact-US">
                <h2>Stabile Law Firm, LLC</h2>
                <p>
<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    
<span itemprop="streetAddress">900 Route 9 North, Suite 214</span><br />
                    <span itemprop="addressLocality">Woodbridge</span>,<span itemprop="addressRegion">NJ</span> <span itemprop="postalCode">07095</span><br />
                    <span itemprop="addressCountry">USA</span></span><br />
                    Phone: <span itemprop="telephone">+1-732-602-7795</span><br />
                    Email: <span itemprop="email">request@stabilelawfirm.com</span><br />
                    Fax: +1-732-602-7796
                </p>
            </div> <!-- End container --> 
        </div>
    </section></span>
    <section class="container-fluid consultation">
        <div class="container text-center">
            <p>If you have any query for related tickets ... We are available</p>
            <a href="/NewJersey/Free-Quote">Contact us <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </section>
    <footer>
        <div class="top_footer container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 part1">
                        <a href="#"></a>
                        <p>Call Us Now For A Free Consultation </p>
                        <p><i class="fa fa-phone"></i>&nbsp;&nbsp;  1-732-602-7795</p>
                        <p>request@stabilelawfirm.com</p>
                        <ul class="p0">
                            <li><a href="https://www.facebook.com/stabilelawfirm/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/traffic_ticket_"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/105631430374039779814/about?gmbpt=true&_ga=1.115186183.1858724218.1472044234"><i class="fa fa-google-plus"></i></a></li>
                            <li class="fb-like"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 part2">
                        <h5>Our Services</h5>
                        <ul class="p0">
                            <li><a href="/NewJersey/Suspended-License"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Suspended license</a></li>
                            <li><a href="/NewJersey/Tailgating"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Tailgating</a></li>
                            <li><a href="/NewJersey/Reckless-Driving"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Reckless driving</a></li>
                            <li><a href="/NewJersey/Careless-Driving"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Careless driving</a></li>
                            <li><a href="/NewJersey/Speeding-Tickets"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Speeding Tickets</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 part2">
                        <h5>Links</h5>
                        <ul class="p0">
                            <li><a href="~/"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Main Page</a></li>
                            <li><a href="/NewJersey/About-Us"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;About us</a></li>
                            <li><a href="/NewJersey/Why-Us"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Why us</a></li>
                            <li><a href="/NewJersey/Our-Services"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Our services</a></li>
                            <li><a href="/NewJersey/Resources"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Resources</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 part1">
                        <h5>Live Chat</h5>
                        <p>
                            Email :<a href="mailto:request@stabilelawfirm.com" class="snd_mail">Click here to send email</a> <br />
                            900 U.S. 9 (North) Suite 214<br />
                            Woodbridge, NJ 07095, USA
                            <img src="~/Content/NJ_Images/timing.jpg" alt="New Jersey traffic tickets" class="img-responsive img-rounded" />
                            @*<img src="~/Content/NJ_Images/livehelp (1).jpg"  />*@
                        </p>
                    </div>

                </div> <!-- End row -->
            </div>
        </div> <!-- End top_footer -->
        <div class="bottom_footer container-fluid">
            <div class="container">
                <p class="float_left">Copyright © NJ NY Traffic Tickets </p>
                <p class="float_right">2013 All right Reserved</p>
            </div>
        </div> <!-- End bottom_footer -->
    </footer>
    <!-- ============= /Footer =============== -->
    <!-- Js File -->
    <!-- j Query -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="~/Content/js/validate.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js"></script>
    <script src="~/Content/js/revolution-slider/jquery.themepunch.tools.min.js"></script> <!-- Revolution Slider Tools -->
    <script src="~/Content/js/revolution-slider/jquery.themepunch.revolution.min.js"></script> <!-- Revolution Slider -->
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.video.min.js"></script>

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js"></script>


    <!-- owl-carousel -->
    <script type="text/javascript" src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/owl-custom.js"></script>
    <!-- Custom & Vendor js -->
    <!-- Code for Slider -->
    <script type="text/javascript" src="~/Content/js/custom.js"></script>
    <link href="~/Content/Slider/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <script src="~/Content/Slider/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/Slider/owl-carousel/owl.carousel.min.js"></script>
    <link href="~/Content/Slider/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/Slider/owl-carousel/owl.transitions.css" rel="stylesheet" />
    

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/57a097e2c0f4ac7924b3bbdc/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
   


    <script type="text/javascript">
 
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47407833-1', 'auto');
  ga('send', 'pageview');



  $(function () {
    
            $("#owl-example").owlCarousel({

                singleItem: true,
                autoPlay: true,
                transitionStyle: "fade"

            });
            loadCaptcha();

            $(".menuspan").removeClass("menu-active");
            $("#MainPage").addClass("menu-active");

        });

        $(window).load(function () {
            $('.loadercont').fadeOut();
        })

        function loadCaptcha() {

            $.ajax({
                type: 'GET',
                url: '/NewJersey/generateCaptcha',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) { $("#m_imgCaptcha").attr('src', data); },
                error: function (data) { alert("Error while loading captcha image") }
            });
        }

        $('#RefreshImage').click(function (evt) {

            loadCaptcha();
            evt.preventDefault();

        });

       

        $('#btnsendQuote').click(function (evt) {
            $('.loadercont').fadeIn();
            var fullname = $('#txtName').val();
            var CellNo = $('#txtPhone').val();
            var Email = $('#txtEmail').val();
            var Message = $('#txtMessage').val();
            var Capcha = $('#txtCapcha').val();

           

            if (fullname == "") {
                $('.loadercont').fadeOut();
                alert('Please Enter Name')

                return
            }
            if (Email == "") {
                $('.loadercont').fadeOut();
                alert('Please Enter Email')

                return
            }
            if (!ValidateEmail(Email)) {

                $('.loadercont').fadeOut();
                alert('Not a valid email');
                return;
            }
            if (Capcha == "") {
                alert('Please verify Capcha')
                $('.loadercont').fadeOut();
                return;
            }

            var data = {
                fullname: fullname, CellNo: CellNo, Email: Email, Message: Message, Capcha: Capcha
            }

            $.ajax({
                type: "POST",
                url: "/NewJersey/Sendquery",
                data: data,
                dataType: "Html",
                success: function (response) {
                    alert(response)
                    $('.loadercont').fadeOut();
                   $('#txtName').val('');
                    $('#txtPhone').val('');
                    $('#txtEmail').val('');
                    $('#txtMessage').val('');
                   $('#txtCapcha').val('');
                    loadCaptcha();
                },
                error: function (response) {
                    $('.loadercont').fadeOut();
                }
            });
        });

        function ValidateEmail(email) {
            // Validate email format
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            return expr.test(email);
        };

        $("#txtPhone").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message

                return false;
            }
        });

       
       
    </script>


    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Organization",
        "name" : "New Jersey Traffic Tickets",
        "url" : "http://www.newjerseytraffictickets.com",
        "sameAs" : [
        "https://www.facebook.com/stabilelawfirm",
        "https://plus.google.com/105631430374039779814/about?gmbpt=true&_ga=1.115186183.1858724218.1472044234",
        "https://twitter.com/traffic_ticket_"
        ]
        }
    </script>

    <script type='application/ld+json'>
        {"@@context":"http:\/\/schema.org","@@type":"WebSite","url":"http:\/\/newjerseytraffictickets.com\/","name":"NEW JERSEY TRAFFIC TICKETS","potentialAction":{"@@type":"SearchAction","target":"http:\/\/newjerseytraffictickets.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}
    </script>


</body>
<!-- Mirrored from wp1.themexlab.com/html/me-finance/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jul 2016 06:38:35 GMT -->
</html>
