@{
    
    ViewBag.Title = "New Jersey Traffic Attorney Services";
    ViewBag.Description = "New Jersey traffic ticket lawyers for speeding tickets, DWI DUI tickets, suspended License, reckless driving and all other traffic violations.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right white_bgs">

    <div class="bottom_tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">ATTORNEYS SERVICES</a></li>
            <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">WE FOCUS IN</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">PROTECT YOURSELF</a></li>

        </ul>

        <div class="tab-content bottom_tab_info h1s">
            <div class="tab-pane fade  active in" id="tab_3">
                @*<h1 style="visibility:hidden">New Jersey Traffic Attorney Services</h1>*@

                <h1>New Jersey Traffic Attorney Services</h1>
                <p>
                    The Stabile Law Firm provides legal services for ALL traffic tickets and criminal related cases in New Jersey and New York. Our Traffic Ticket services include:
                </p>
                <ol>
                    <li class="tab_li"><a href="/NewJersey/What-to-do-suspended-license">Suspended license</a></li>
                    <li class="tab_li"><a href="/NewJersey/Tailgating">Tailgating</a></li>
                    <li class="tab_li"><a href="/NewJersey/Reckless-Driving">Reckless driving</a></li>
                    <li class="tab_li"><a href="/NewJersey/Careless-Driving">Careless driving</a></li>
                    <li class="tab_li"><a href="/NewJersey/Speeding-Tickets">Speeding Tickets</a></li>
                    <li class="tab_li"><a href="/NewJersey/Failure-to-stop-for-traffic-light">Failure to stop for traffic light</a></li>
                    <li class="tab_li">Improper u-turn</li>
                    <li class="tab_li">Improper crossing of bridge</li>
                    <li class="tab_li"><a href="/NewJersey/Improper-passing-school-bus">Improper passing of school bus</a></li>
                    <li class="tab_li">Leaving the scene of an accident</li>
                    <li class="tab_li"><a href="/NewJersey/Dui-Dwi-Defense-Lawyers">New Jersey DWI and DUI (Drunk Driving)</a></li>
                    <li class="tab_li">Criminal cases</li>
                    <li class="tab_li">Impaired driving</li>
                    <li class="tab_li"><a href="/NewJersey/No-Car-Insurance">No insurance</a></li>
                </ol>

            </div>
            <div class="tab-pane fade" id="tab_1">
                <h3>Municipal Court Matters New Jersey DUI / DWI Criminal Matters</h3>
                <p>
                    Our Firm has concentrated in Municipal Court matters since 1993 and has resolved over 100,000 matters in Municipal Court throughout the State of New Jersey and traffic/town courts throughout the New York State. And:
                </p>
                <ul style="list-style-type:disc;margin-left:20px">
                    <li class="tab_li">Our firm has handled matters for holders of CDL's.</li>
                    <li class="tab_li">We have attorneys throughout the state of New Jersey. Our headquarters is conveniently located in Woodbridge, NJ and is easily accessible from the New Jersey Turnpike and the Garden State Parkway.</li>
                    <li class="tab_li">We accept payment plans and major credit cards.</li>
                    <li class="tab_li">Our Associates have extensive knowledge and experience in defending traffic violations and criminal cases.</li>
                </ul>
                <p>
                    <b>BEFORE MAKING YOUR CHOICE OF ATTORNEY, YOU SHOULD GIVE THIS MATTER CAREFUL THOUGHT AS THE SELECTION OF AN ATTORNEY IS AN IMPORTANT DECISION</b>
                </p>
            </div>
            <div class="tab-pane fade" id="tab_2">
                <h3>PROTECT YOURSELF WITH ADEQUATE LEGAL REPRESENTATION BY:</h3>
                <ol>
                    <li class="tab_li">Contacting the Municipal Court to inquire if you are eligible for assigned legal counsel.</li>
                    <li class="tab_li">Contacting your private attorney.</li>
                    <li class="tab_li">Contacting our office immediately for a <b>Free Consultation by filling in the form at the top right of this page.</b>  </li>
                </ol>

                <p>We work throughout the entire State of New Jersey, including</p>
                <ul style="list-style-type:disc;margin-left:41px">
                    <li class="tab_li">Atlantic County, NJ</li>
                    <li class="tab_li">Bergen County, NJ</li>
                    <li class="tab_li">Burlington County, NJ</li>
                    <li class="tab_li">Cape May County, NJ</li>
                    <li class="tab_li">Camden County, NJ</li>
                    <li class="tab_li">Cumberland County, NJ</li>
                    <li class="tab_li">Essex County, NJ</li>
                    <li class="tab_li">Gloucester Count, NJ</li>
                    <li class="tab_li">Hudson County, NJ</li>
                    <li class="tab_li">Hunterdon County, NJ</li>
                    <li class="tab_li">Mercer County, NJ</li>
                    <li class="tab_li">Middlesex County, NJ</li>
                    <li class="tab_li">Monmouth County, NJ</li>
                    <li class="tab_li">Morris County, NJ</li>
                    <li class="tab_li">Ocean County, NJ</li>
                    <li class="tab_li">Passaic County, NJ</li>
                    <li class="tab_li">Salem County, NJ</li>
                    <li class="tab_li">Somerset County, NJ</li>
                    <li class="tab_li">Sussex County, NJ</li>
                    <li class="tab_li">Union County, NJ</li>
                    <li class="tab_li">Warren County, NJ</li>
                </ul>

                <p>When you need a New Jersey Traffic lawyer or NJ DUI DWI Lawyer, you need an aggressive advocate on your side.</p>

            </div>
        </div>
    </div>

</div>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $("#OurServices").addClass("menu-active");

    });

</script>



