@{
    ViewBag.Title = "Traffic Tickets Penalties in New Jersey";
    ViewBag.Description = "If you break traffic laws, MVC will penalize you by adding points to your driving record. To know more about traffic tickets penalties in New Jersey contact us!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .tb_head {
        background-color: #13A0B2;
        color: white;
        text-align: center;
        padding: 5px;
    }

    .tb {
        width: 90%;
        border: 1px solid #CCCCCC;
    }

    .tb_td {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        color: #898989;
        line-height: 26px;
        padding: 5px;
    }

    .tb_head2 {
        padding: 8px;
        text-align: left;
        border: 1px solid white;
    }
</style>
<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Penalties and Fines in New Jersey</h1>
        <p>

            <img src="~/Content/NJ_Images/penalties_and_fines_in_new_jersey.jpg" alt="Best Traffic Ticket Lawyers" class="img-responsive img-circle" />  Driving is a privilege, not a right. If you break New Jersey traffic laws, your driving privileges could be suspended or revoked resulting in fines and even imprisonment. The seriousness of your violations - and resulting penalties - are tracked by MVC using a point system.<br />
            If you are convicted of a moving violation in NJ, MVC will penalize you by adding points to your driving record. You will only get points on your record for moving violations - points are not assessed for parking and other violations. A table is provided for more information on the number of points earned for specific violations.
        </p>
        <div class="clearfix"></div>
        <h4>How do points affect you?</h4>
        <div class="ul_info">
            <ul style="list-style-type:disc;margin-left:20px">
                <li class="tab_li">If you get six or more points within three years on your current driving record, you will be assessed a surcharge</li>
                <li class="tab_li">If you get 12 or more points on your current driving record, your license will be suspended. You will receive a notice of scheduled suspension by mail</li>
                <li class="tab_li">
                    Getting points on your license may also increase your insurance rates. Contact your insurance agent for details
                </li>
            </ul>
        </div>

        <p>
            <b>How can I get rid of points on my record?</b><br />
            Although MVC keeps a permanent record of all the points you've earned, it is possible to earn point deductions by remaining violation and suspension-free for one year or by taking qualified driving courses approved by MVC. <b>Call a New Jersey Traffic Lawyer today for more details.</b>
        </p>
        <p>Note: Your insurance company might not factor these deductions into your insurance rate.</p>


        <div class="table-responsive">
            <table class="tb " style="margin-top:20px;margin-bottom:20px">
                <tr class="tb_head">
                    <td class="tb_head2">Deduction</td>
                    <td class="tb_head2">Points</td>
                    <td class="tb_head2">Restrictions</td>
                </tr>

                <tr>
                    <td class="tb_td">One year with no violations or suspensions</td>
                    <td class="tb_td">-3</td>
                    <td class="tb_td">Year begins on date of violation or most recent restoration</td>
                </tr>
                <tr>
                    <td class="tb_td">Defensive Driving Program</td>
                    <td class="tb_td">-2</td>
                    <td class="tb_td">May be used to subtract points once every five years</td>
                </tr>
                <tr>
                    <td class="tb_td">Driver Improvement Program</td>
                    <td class="tb_td">-3</td>
                    <td class="tb_td">May be used to subtract points once every two years</td>
                </tr>
                <tr>
                    <td class="tb_td">Probationary Driver Program</td>
                    <td class="tb_td">-3</td>
                    <td class="tb_td">-</td>
                </tr>

            </table>
        </div>
        <p>*If you receive three license suspensions within a three-year period may lose your license for up to three years.
				<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
		
		</p>


    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");

    });

</script>

