
@{
    ViewBag.Title = "Reckless driving in New Jersey | NJ NY Traffic Tickets";
    ViewBag.Description = "Reckless Driving in New Jersey is a major traffic violation. If you were issued a reckless driving ticket, call us at 732-602-7795 for a FREE consultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Reckless Driving in New Jersey</h1>
        <p>
            <img src="~/Content/NJ_Images/reckless-driving-in-new jersey.jpg" alt="Speeding Ticket Lawyer" class="img-responsive img-circle" />
            A reckless driving traffic tickets is considered a major offense in NJ. It is important that you win or at least reduce the points on a reckless driving charge because at 6 points you will face probation. Often times a reckless driving traffic ticket is not given alone but given with multiple tickets which will add up easily to over 6 points. Our attorneys will do everything possible to win the case or at the very least reduce the number of points on reckless driving charge. Our competitive fees are the lowest in the market.  Do not take chances with this ticket, since it is a serious violation.  Another thing to consider about a reckless driving conviction is your insurance premium; it will go up $500 per year for up to 5 years!
        </p>
        <p>
            <b>39:4-96 RECKLESS DRIVING - 5 POINTS.</b>  A traffic violations of 39:4-96 Reckless Driving carries 5 points upon conviction. Reckless driving in new jersey is defined as driving a vehicle in a willful or wanton disregard of the rights or safety of others, in a manner so as to endanger, or likely to endanger, a person or property.  A person convicted of reckless driving can be imprisoned in the County Jail up to 60 days or a fine of not less than $50.00 but not more than $200.00 or both. The Judge may also impose a term of driver’s license suspension if he deems the driver a road hazard. The suspension can range from 1 to 90 days.
        </p>
        <p>
            For a second or subsequent offense, upon conviction, the motorist shall be punished by a term of imprisonment in the County Jail not up to 90 days, or by a fine of $100.00 to $500.00, or both.  The Judge may also impose a term of driver’s license suspension if he deems the driver a road hazard. The suspension can range from 1 to 180 days.<br/>
         <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
		</p>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function()
    {
        $(".menuspan").removeClass("menu-active");
        $(".ntab").removeClass("active");
        $("#RecklessDriving").addClass("active");

    });

</script>




