
@{
    ViewBag.Title = "Resources for traffic ticket in New Jersey";
    ViewBag.Description = "Resources for speeding tickets, DWI/DUI matters and other traffic violations in New Jersey. Call now 732-602-7795 for a free consultation. También hablamos español.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div style="margin-top: 74px;padding-left: 26px;">
        <h1>Resources for traffic ticket in New Jersey</h1>
        <ul style="list-style-type:disc;margin-left:20px">
            <li class="tab_li"><a href="/NewJersey/Beat-Your-Traffic-Ticket">Can a lawyer beat your traffic ticket?</a></li>
            <li class="tab_li"><a href="/NewJersey/Points-and-Surcharges">Points and Surcharges</a> </li>
            <li class="tab_li"><a href="/NewJersey/What-to-do-suspended-license">What to do when your license is Suspended</a></li>
            <li class="tab_li"><a href="/NewJersey/Restore-License">Restoring your license</a></li>
            <li class="tab_li"><a href="/NewJersey/Penalties">Penalties and fines</a></li>
            <li class="tab_li"><a href="/NewJersey/What-to-do-when-stoped-by-police">What to Do When Stopped for a Traffic Violation</a></li>
            <li class="tab_li"><a href="/NewJersey/Points-and-Surcharges">Points System</a></li>
            <li class="tab_li"><a href="/NewJersey/Dui-Penalties">Court Imposed Penalties for DUI</a></li>
            <li class="tab_li"><a href="/NewJersey/Why-hire-a-new-jersey-traffic-lawyers">Why hire a new jersey traffic lawyer?</a>
			<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
			
			</li>
        </ul>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function()
    {
        $(".menuspan").removeClass("menu-active");
        $("#Resources").addClass("menu-active");
        $(".ntab").removeClass("active");
        $("#ViewAll").addClass("active");

    });

</script>

