@{
    ViewBag.Title = "Restore your license in New Jersey";
    ViewBag.Description = "Restoring your license in New Jersey for speeding tickets, DWI/DUI matters and other traffic violations in NJ. Call now 732-602-7795 for a free consultation. También hablamos español.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .tb_head {
        background-color: #13A0B2;
        color: white;
        text-align: center;
        padding: 5px;
    }

    .tb {
        width: 90%;
        border: 1px solid #CCCCCC;
    }

    .tb_td {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        color: #898989;
        line-height: 26px;
        padding: 5px;
    }

    .tb_head2 {
        padding: 8px;
        text-align: left;
        border: 1px solid white;
    }
</style>
<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Restoring your license in New Jersey</h1>
        <p>To pay a restoration fee:</p>
        <div class="clearfix"></div>
        <div class="ul_info">
            <ul style="list-style-type:disc;margin-left:20px">
                <li class="tab_li">Pay $100 fee online</li>
                <li class="tab_li">Send a check or money order payable to:</li>
            </ul>
        </div>
        <p>
            New Jersey Motor Vehicle Commission<br />
            P.O. Box 140<br />
            Trenton, NJ 08650-0140
        </p>
        <p>@*<img src="~/Content/NJ_Images/restoring_your_license_in_new_jersey.jpg" class="img-responsive img-circle" />*@Once you have completed your suspension period, you will receive a Notice of Restoration in the mail and need to take the following steps to get a new license:</p>
        <p>
            * Complete the same steps as required for a standard license renewal

            Also the Mandatory Probation Period starts after completion of Probationary Driver Program, Driver Improvement Program, official warning issued by MVC or restoration after points or persistent violator suspension.
        </p>
        <div class="table-responsive">
            <table class="tb" style="margin-top:20px;margin-bottom:20px">
                <tr class="tb_head">
                    <td class="tb_head2">Violation</td>
                    <td class="tb_head2">Suspension</td>
                </tr>
                <tr class="tb_head">
                    <td colspan="2">For the first violation within a year</td>
                </tr>
                <tr>
                    <td class="tb_td">Within 6 months of restoration</td>
                    <td class="tb_td">90 days</td>
                </tr>
                <tr>
                    <td class="tb_td">Within 7–9 months</td>
                    <td class="tb_td">60 days</td>
                </tr>
                <tr>
                    <td class="tb_td">Within 10–12 months</td>
                    <td class="tb_td">45 days</td>
                </tr>
                <tr class="tb_head">
                    <td colspan="2">For second or subsequent violations*</td>
                </tr>
                <tr>
                    <td class="tb_td">Within 6 months of restoration</td>
                    <td class="tb_td">180 days</td>
                </tr>
                <tr>
                    <td class="tb_td">Within 7–9 months</td>
                    <td class="tb_td">	120 days</td>
                </tr>
                <tr>
                    <td class="tb_td">Within 10–12 months</td>
                    <td class="tb_td">	90 days</td>
                </tr>
            </table>
        </div>

        <p>*If you receive three license suspensions within a three-year period may lose your license for up to three years.</p>

        <h3>WHY HIRE A NEW JERSEY TRAFFIC LAWYER?</h3>
        <p>
            <b>Fighting a Traffic Ticket Can Save You Money</b>  <br />
            If you pay your traffic ticket without going to court, you are admitting guilt and a conviction for the charged offense will appear on your driving abstract.  In addition, you will be assessed the motor vehicle points and insurance points that accompany a conviction for the offense.  Most importantly, the traffic ticket will be on your driving record and your insurance company will know about your conviction.  You should be concerned about your driving record and the cost of your automobile insurance.  You should carefully weigh your options before you choose to just accept the ticket as written by the police officer and plead guilty to a traffic ticket. Our <a href="/">experienced NJ traffic attorneys</a> can reduce your overall exposure and in many cases either have your ticket dismissed or reduced to a no point violation. By reducing your points, your savings can be sizeable and you’ll be able to maintain a clean driving record.
        </p>
        <p>
            <b>Fighting Tickets Can Help You Save On Your Insurance Bill</b><br />
            Your insurance company will use your motor vehicle history to set your insurance premium.  If you accumulate points for violations, your insurance rates can be dramatically increased.  Insurance companies regularly check their customers' driving records and increase insurance premiums if they find a ticket on your records.  The State of New Jersey has one of the highest auto insurance rates in the country!  Insurance companies see every single point you receive on your New Jersey driving record and raise your insurance rates for a number of years!  If your insurance goes up 15 percent for three years because of one traffic ticket in NJ, what's the true cost of that ticket? Let's assume you pay $1000 a year in insurance, with a good driving record. You would pay an extra $450 ($150 per year) in premiums plus the cost of the ticket, and that's just a conservative estimate. Our lawyers will help you keep your insurance rates low.
        </p>

        <p>
            <b>Fighting Tickets Can Save Your License And Reduce Or Eliminate Points</b><br />
            New Jersey's Point System, are the State’s System of keeping track of good and bad drivers. The accumulation of points can result in the Motor Vehicle Commission assessing surcharges and even the administrative suspension of your driver’s license. In addition, there are a number of traffic violations and convictions that cause the mandatory suspension or revocations of your license regardless of the number of points on your driving record. A first offense can result in you not being able to drive for an extended period of time. Our experienced NJ traffic attorneys will help you reduce or eliminate the points associated with your traffic ticket and help you maintain your driving privilege!
				 <br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

        </p>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");

    });

</script>

