@{

    ViewBag.Title = "Suspended License in New Jersey – New Jersey Traffic Tickets";
    ViewBag.Description = "Were you driving with a suspended license?  There are multiple reasons that could lead to the suspension of your license in New Jersey.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tb_head {
    background-color:#13A0B2;
    color:white;text-align:center;
    padding:5px    
    }
    .tb{
        width:90%;
        border:1px solid #CCCCCC
    }
    .tb_td {
        font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    color: #898989;
    line-height: 26px;
    padding:5px
    }
    .tb_head2 {
    padding:8px;
    text-align:left;
    border:1px solid white
    
    }
</style>

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s" style="margin-top: 70px;">
    <div class="clear_fix"></div>
    <h1>Suspended License in New Jersey</h1>
    <div class="bottom_tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">What to do?</a></li>
            <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">Penalties</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"> Types of license suspension</a></li>

        </ul>
        <div class="tab-content bottom_tab_info">
            <div class="tab-pane fade  active in" id="tab_3">
                <h3>What to do when stopped by the traffic police?</h3>
                <p>If you are pulled over and are aware of your license being suspended, do not share that information with the trooper or police officer.  In most cases, drivers are unaware of their placement on the suspension list and are surprised to be informed that their license is suspended.  The <a href="/NewJersey/Traffic-Tickets">New Jersey traffic ticket lawyers</a> at the Stabile Law Firm has such a high success rate of winning driving while suspended cases because we put the burden of proof on the State!</p>
                <p>There are multiple reasons that could lead to the suspension of a license to operate a motor vehicle in New Jersey.  </p>
                <ul style="list-style-type:disc;margin-left:41px">
                    <li class="tab_li">If you receive 12 or more points on your current driver record</li>
                    <li class="tab_li">Failure to appear in court or to pay fines</li>
                    <li class="tab_li">Failure to pay surcharges</li>
                    <li class="tab_li">Driving with a suspended license</li>
                    <li class="tab_li">Failure to provide proof of insurance</li>
                    <li class="tab_li">Physical or mental disqualification</li>
                    <li class="tab_li">Drug or alcohol use while driving (DUI and DWI)</li>
                    <li class="tab_li">Reckless driving</li>
                    <li class="tab_li">Vehicle abandonment on a public highway</li>
                    <li class="tab_li">Failure to Pay Child Support</li>
                    <li class="tab_li">ault in a fatal accident</li>
                </ul>
                <h3>Driving While Suspended</h3>
                <p>
                    The violation of Driving While Suspended is set forth at NJSA 39:3-40. This section states, "no person to whom a driver license has been refused or whose driver's license or reciprocity privilege has been suspended or revoked or who has been prohibited from obtaining a driver's license, shall personally operate a motor vehicle during the period of refusal suspension, revocation or prohibition." The statute also prohibits the operation of a motor vehicle whose registration has been revoked.
					<br/>
					 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                </p>

            </div>
            <div class="tab-pane fade" id="tab_1">
                <h3>Penalties For Driving While Suspended (If you are convicted guilty)</h3>
                <table class="tb" style="margin-top:20px">
                    <tr class="tb_head">
                        <td class="tb_head2">Violation</td>
                        <td class="tb_head2">Suspension</td>
                    </tr>
                    <tr class="tb_head">
                        <td colspan="2">For the first violation within a year</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Within 6 months of restoration</td>
                        <td class="tb_td">90 days</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Within 7–9 months</td>
                        <td class="tb_td">60 days</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Within 10–12 months</td>
                        <td class="tb_td">45 days</td>
                    </tr>
                    <tr class="tb_head">
                        <td colspan="2">For second or subsequent violations*</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Within 6 months of restoration</td>
                        <td class="tb_td">180 days</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Within 7–9 months</td>
                        <td class="tb_td">	120 days</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Within 10–12 months</td>
                        <td class="tb_td">	90 days</td>
                    </tr>
                </table>

                <p>*If you receive three license suspensions within a three-year period may lose your license for up to three years.</p>
                <p>First offense is a fine on the amount of $500. In addition to that, the defendant is charged a surcharge of $250/year for 3 years.
				</p>
                <p>Second offence holds a fine of $750 and jail time for up to 5 days.</p>
                <p>Third offence means a $1000 fine plus jail time for 10 days.  If the vehicle was in violation and involved in an accident resulting in personal injury, jail time will be at least 45 days.</p>
                <p>If an individual violates this section while under suspension issued pursuant to 39:4-50, driving under the influence of liquor or drugs (DUI and DWI) and is convicted, they shall be fined $500.00 extra and have their license suspended for an additional period not less than one year or more than two years and may be in the county jail for not more than 90 days.  The defendant will also be surcharged a mandatory $250.00 per year for 3 years.
				 <br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

				
				</p>


            </div>
            <div class="tab-pane fade" id="tab_2">
                <h3>There are two types of license suspension:</h3>
                <ol>
                    <li class="tab_li">Court imposed suspension</li>
                    <li class="tab_li">Administrative / Division of Motor Vehicles suspension</li>

                </ol>
                <p>A suspended license can be the result from failure to appear in a New Jersey Municipal or County Court, failure to pay a fine after pleading or as a result of a Court order.  Also, a suspended license can be the result of New Jersey Motor Vehicle administrative action like an accumulation of too many motor vehicle points or tickets, nonpayment of surcharges or even failure to pay child support.
				 <br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
				</p>

            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $(".ntab").removeClass("active");
        $("#SuspendedLicense").addClass("active");

    });

</script>



