
@{
    ViewBag.Title = "Tailgating in New Jersey – New Jersey Traffic Ticket";
    ViewBag.Description = "A Tailgating Ticket initially seems like a minor traffic ticket, but in New Jersey a tailgating ticket has serious repercussions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>New Jersey Tailgating Offenses: Tailgating Law and Tailgating Consequences</h1>
        <p>
            Although tailgating initially seems like a minor traffic offense, a New Jersey tailgating ticket has serious repercussions. A tailgating traffic citation adds five points to your license and, a penalty equal to that of reckless driving, drag racing, and driving 30 miles per hour over the posted speed limit. In addition, depending on the circumstances of your case, a tailgating offense could result in hundreds of dollars in fines, higher insurance costs, a suspended license, and even jail time.
        </p>

        <p>
            A NJ tailgating charge will have more serious consequences if the offense takes place in a construction zone or safe corridor, if the offense is one of several other violations, or if the offense results in a serious car accident or serious car accident injuries.
        </p>
        <p>
            Why does tailgating carry such serious consequences? Especially on New Jersey toll roads, such as the New Jersey Turnpike and Garden State Parkway, tailgating is the second most common cause of car accidents. When cars often go from high rates of speed to stopping or slowing at toll plazas, serious rear-ending accidents can take place if cars follow each other too closely. According to Sgt. Stephen Jones of the New Jersey State Police, tailgating is the reason for one out of three accidents on NJ toll roads and the most common reason for crashes next to speeding.
        </p>
        <p>
            In the last two years, the New Jersey State Police have cracked down on tailgating drivers, especially along congested stretches of toll roads where car accidents are common. In some of these crackdowns, police are using laser technology to determine whether or not a car is traveling at a safe distance from the vehicle in front of them.
        </p>

        <p>
            This is how the New Jersey tailgating law reads: "The driver of a vehicle shall not follow another vehicle more closely than is reasonable and prudent, having due regard to the speed of the preceding vehicle and the traffic upon, and condition of, the highway." N.J.S.A 39:4-89. While the law does not specify a required distance between two cars, most agree that in ideal highway conditions a car should have one car length between vehicles for every 10 miles per hour the cars are traveling.; For example, that is, a two cars traveling 60 miles per hour should have six car lengths between them.
        </p>

        <p>
            There are a number of different possible tailgating defenses, though these depend on the unique circumstances of your own tailgating case. In some instances, drivers can argue that they were in fact traveling a reasonable and prudent distance from the car in front of them. In other instances, drivers may argue for a careless driving or unsafe driving charge instead of a tailgating charge.
        </p>

        <p>
            While some tailgating tickets may certainly do not require the help of a New Jersey traffic offense attorney, others facing tailgating charges could greatly benefit from the guidance of an experienced moving violation lawyer. If you are in danger of losing your license, facing jail time, or simply want to ensure a just outcome, a lawyer who knows New Jersey law and knows the local traffic courts may be the best choice for you. To speak to a New Jersey traffic offense attorney, contact us today.
        </p>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function()
    {
        $(".menuspan").removeClass("menu-active");
    });

</script>


