
@{
    ViewBag.Title = "Stopped for a Traffic Violation in NJ? – New Jersey Traffic Tickets";
    ViewBag.Description = "What to do when getting pulled over by the police in New Jersey. At the Stabile Law Firm, you will get the best defense for your traffic tickets.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>What to do When Stopped for a Traffic Violation in NJ</h1>
        <p>
            You hear the sirens blaring and see the red lights flashing in your rear-view mirror. You slow down, move to your right and hope that the police is after someone else, but then, with a sinking feeling, you realize that it is you he or she is after.
        </p>
        <div class="clearfix"></div>
        <h4>Remain Calm and Courteous, But Do Not Divulge Too Much Information.</h4>
        <p>
            <img src="~/Content/NJ_Images/stopped_for_a_traffic_violation_in_nj.jpg" class="img-responsive img-circle" alt="Traffic Ticket Lawyer in NJ" />The best thing to do in the scenario described above is to cautiously and slowly pull over to the side of the road, stay calm, and remain in the vehicle unless told to do otherwise by the police officer. Roll down your window and, if it is dark, turn on the interior dome light, which will let the officer know you have nothing to hide. Keep both hands on the steering wheel, and do not make any sudden or suspicious movements. You should not reach for the glove compartment or under the seat unless directed by the officer to do so.
        </p>
        <p>If an officer pulls you over, he or she will generally ask to see your driver's license, the registration of the vehicle and proof that the vehicle is insured. You must comply with these requests. If the officer asks if you know the reason for the stop, while it is important to be polite and honest, it also makes sense to be careful about admitting too much, since any admissions may be used against you in a later proceeding. The officer may also inspect the vehicle for equipment code violations. Any objections to this inspection should be made cautiously or not at all.</p>
        <p>Although it may be tempting to offer excuses for any alleged violations, it is better not to tell the officer that you are running late for work or an appointment or have kids waiting at home for you, for instance, since these statements could be deemed to support a charge of speeding or aggressive driving. On the other hand, it is important to respond honestly and politely to the officer's questions. Do not give any false information at any time. If, however, you do not know the answer to a particular question, it is permissible to respond, "I don't know," or "I'm not certain." Also, if the officer asks a question that you could answer but prefer not to because it may be used against you, you may not have to answer. In many instances, you have the right to tell the officer that you would rather talk to a lawyer about the situation first, or that you would rather not discuss the matter at this time.</p>
        <p>If the officer issues a citation and you believe that the ticket was unjustified, you should hold your tongue in the officer's presence and take your protest to court, where you can explain your case to the judge. Receipt of a ticket does not automatically mean that you are guilty, or will be found guilty, or that you will have to pay a fine. You usually have the right to go to court and to have the judge hear your explanation. If you do not agree with the judge's decision, you can appeal your case to a higher court.</p>
        <h4>Conclusion</h4>
        <p>Under the stress of a traffic stop, many people divulge too much information, or they become belligerent or argumentative. Either of these approaches can lead to further trouble. The best approach is to remain calm and cooperative, while refraining from offering more details than necessary. If the officer does issue a ticket or citation, contact us and speak to our experienced traffic attorneys at once to get all of your traffic law questions answered.</p>
        <p>Reckless Driving? NJ DWI or DUI? <a href="/NewJersey/Speeding-Tickets">Speeding ticket in NJ</a>? Call us TODAY and get the best defense and results from our New Jersey Traffic Lawyers.
	<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
		
		</p>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function()
    {
        $(".menuspan").removeClass("menu-active");
       

    });

</script>

