@{
    ViewBag.Title = "Choose New Jersey Traffic Tickets as your Traffic Lawyers";
    ViewBag.Description = "New Jersey Traffic Ticket Lawyers - has traffic lawyers with over 50 years of combined experience in speeding ticket,suspended license,dui,dwi...";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Choose New Jersey Traffic Tickets as your Traffic Lawyers</h1>
        <p>
            The consequences of being convicted of a traffic offense in New Jersey go beyond the fine and inconvenience.<img src="~/Content/NJ_Images/gavel.jpg" alt="Best Traffic Ticket Lawyers" style="width:200px;height:200px" /> An excessive number of <a href="/NewJersey/Traffic-Tickets">traffic tickets</a> on your license and the associated points can cause a suspension of your license by the Motor Vehicle Commission. In addition, many traffic offenses carry a license suspension that can or must be imposed by the Court. Other offenses can include and/or require jail time. Further, New Jersey insurance rates are profoundly affected by your driving record, and if you have a <a href="/NewJersey/Careless-Driving">careless driving record</a>, it may become extremely expensive or difficult to obtain car insurance.
        </p>

        <p>        In most cases, an experienced traffic lawyer can limit the consequences of the traffic offenses you are charged with.Through careful scrutiny of the evidence, to determine if the State can prove their case against you, and through skillful negotiation of plea bargains, costly collateral consequences, in many cases, can be minimized or totally avoided. If you have committed an offense, and plead guilty or are convicted of an offense that requires jail time, it is possible for an attorney to negotiate alternative ways of serving that jail time rather than incarceration.</p>
        <p> The practice of our office is strictly limited to motor vehicle and criminal matters and because of such focus and our experience, we have a strong track record of limiting consequences of traffic offenses.</p>

        <p>    The key to successful representation on a traffic matter is hiring a lawyer who is totally familiar with practices and procedures in Municipal Court and also with the laws and customs pertaining to the prosecution of these cases.</p>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $("#WhyUs").addClass("menu-active");

    });

</script>