@{
    ViewBag.Title = "Fences";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center">
	<div class="container">
		<div class="box">
			<h3>Fences</h3>
		</div><!-- /.box -->
	</div><!-- /.container -->
</div>


   

<section class="latest-project sec-pad ">
    <div class="container">


             @* <div class="text-center">
            <ul class="post-filter light list-inline">
                <li >
                    <a href="/home/Iron_Works"><span>Iron Work</span></a>
                </li><!-- must add it for inline block hack
                --><li >
                    <a href="/home/Landscape_Design"><span>Landscape Design</span></a>
                </li><!-- must add it for inline block hack
                --><li>
                  <a href="/home/Masonary"><span>Masonary</span></a>
                </li><!-- must add it for inline block hack
                --><li >
                    <a href="/home/under_construction"><span>Construction</span></a>
                   
                </li><!-- must add it for inline block hack
                --><li class="active" >
                 <a href="/home/Kitchens_fireplaces"><span>Kitchens and fireplaces</span></a>
                </li><!-- must add it for inline block hack
                --><li >
                    <a href="/home/Fencess"><span>Fencess</span></a>
                </li>
            </ul><!-- /.gallery-filter -->
        </div>*@
       
       
        <div class="row masonary-layout filter-layout">
            <div class="col-md-3 filter-item video">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/1.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/1.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item planting">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/2.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/2.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item garden snow">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/3.jpg" alt="Awesome Image" style="width: 295px;height: 204px;"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/3.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item lawn">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/4.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/4.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item planting snow">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/5.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/5.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item planting">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/6.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/6.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item lawn snow">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/7.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/7.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 --> 
            <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/8.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/8.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/9.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/9.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->



               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/10.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/10.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/11.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/11.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->

               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/12.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/12.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->




               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/13.jpg" alt="Awesome Image" style=height: 193px;/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/13.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/14.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/14.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


                   <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/15.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/15.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


                   <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/16.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/16.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->

                   <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/17.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/17.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


                   <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/18.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/18.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->




                   <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/19.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/19.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->



                   <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/20.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/20.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


                   <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/21.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/21.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


                   <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/22.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/22.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->



                   <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/23.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/23.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/24.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/24.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/25.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/25.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/26.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/26.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/27.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/27.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/28.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/28.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/29.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/29.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->

               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/30.jpg" style="height: 200px;" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/30.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->

               <div class="col-md-3 filter-item garden">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Images/IronWork/Fences/31.jpg" style="height: 160px;" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Images/IronWork/Fences/32.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Fences</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


            


        </div><!-- /.row -->

    

    </div><!-- /.container -->
</section>
