@{
    ViewBag.Title = "Index";
    
}
<style id='rs-plugin-settings-inline-css' type='text/css'>
    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
    }

        .tp-caption a:hover {
            color: #ffa902;
        }

    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
    }

        .tp-caption a:hover {
            color: #ffa902;
        }

    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
    }

        .tp-caption a:hover {
            color: #ffa902;
        }

    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
    }

        .tp-caption a:hover {
            color: #ffa902;
        }

    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
    }

        .tp-caption a:hover {
            color: #ffa902;
        }

    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
    }

        .tp-caption a:hover {
            color: #ffa902;
        }

    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
    }

        .tp-caption a:hover {
            color: #ffa902;
        }

    .tp-mask-wrap {
        overflow: visible !important;
    }

    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
    }

        .tp-caption a:hover {
            color: #ffa902;
        }
</style>

<div class="bannercontainer">
    <!-- START REVOLUTION SLIDER 4.6.0 fullwidth mode -->

    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; background-color: #E9E9E9; padding: 0px; margin-top: 0px; margin-bottom: 0px; max-height: 635px;">
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display: none; max-height: 635px; height: 635px;">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="slotfade-horizontal" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="/wp-content/uploads/sites/19/2015/04/bg-slide-1.jpg" alt="bg-slide-1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-fade"
                        data-x="-150"
                        data-y="70"
                        data-speed="300"
                        data-start="1000"
                        data-easing="easeOutBack"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 2;">
                        <img src="/wp-content/uploads/sites/19/2015/04/slide-1-image-1.png" alt="">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-fade"
                        data-x="270"
                        data-y="120"
                        data-speed="300"
                        data-start="1400"
                        data-easing="easeOutBack"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 3;">
                        <img src="/wp-content/uploads/sites/19/2015/04/slide-1-image-2.png" alt="">
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-fade"
                        data-x="300"
                        data-y="50"
                        data-speed="300"
                        data-start="1800"
                        data-easing="easeOutBack"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 4;">
                        <img src="/wp-content/uploads/sites/19/2015/04/slide-1-image-3.png" alt="">
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption sfb fadeout"
                        data-x="530"
                        data-y="220"
                        data-speed="300"
                        data-start="2400"
                        data-easing="easeOutBack"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 5;">
                        <img src="/wp-content/uploads/sites/19/2015/04/slide-1-image-4.png" alt="">
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption tp-fade"
                        data-x="650"
                        data-y="340"
                        data-speed="700"
                        data-start="2800"
                        data-easing="easeOutBack"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 6;">
                        <img src="/wp-content/uploads/sites/19/2015/04/slide-1-image-5.png" alt="">
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption title sft fadeout tp-resizeme"
                        data-x="830"
                        data-y="150"
                        data-speed="300"
                        data-start="3200"
                        data-easing="easeOutBack"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                        Clean cut,
                                <br>
                        Innovative Design
	
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption sfr fadeout tp-resizeme"
                        data-x="830"
                        data-y="240"
                        data-speed="300"
                        data-start="3700"
                        data-easing="easeOutBack"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">

                        <em>We believe in utilizing your creative ideas to design your dream
                                    <br>
                            website. Get responsive as well as device specific designs. </em>
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption social-icon sfl tp-fade tp-resizeme"
                        data-x="830"
                        data-y="310"
                        data-speed="300"
                        data-start="4400"
                        data-easing="easeOutBack"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption social-icon sfl tp-fade tp-resizeme"
                        data-x="865"
                        data-y="310"
                        data-speed="300"
                        data-start="4700"
                        data-easing="easeOutBack"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption social-icon sfl tp-fade tp-resizeme"
                        data-x="910"
                        data-y="310"
                        data-speed="300"
                        data-start="5000"
                        data-easing="easeOutBack"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 11; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption black sfb fadeout tp-resizeme"
                        data-x="830"
                        data-y="360"
                        data-speed="300"
                        data-start="5400"
                        data-easing="easeOutBack"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-default" href="#">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="slotfade-horizontal" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="/wp-content/uploads/sites/19/2015/04/bg-slide-2.jpg" alt="bg-slide-2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sft"
                        data-x="540"
                        data-y="125"
                        data-speed="300"
                        data-start="1200"
                        data-easing="easeOutBack"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 2;">
                        @* <img src="/wp-content/uploads/sites/19/2015/04/slide-2-image-1.png" alt="">*@
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption title-white text-center sft tp-resizeme"
                        data-x="245"
                        data-y="285"
                        data-speed="300"
                        data-start="1700"
                        data-easing="easeOutBack"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        A new way to build your
                                <br>
                        business online

	
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sfb tp-resizeme"
                        data-x="450"
                        data-y="450"
                        data-speed="300"
                        data-start="2200"
                        data-easing="easeOutBack"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-default" href="#">Read More<i class="fa fa-arrow-right"></i></a>

                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="slotfade-horizontal" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="/wp-content/uploads/sites/19/2015/04/bg-slide-3.jpg" alt="bg-slide-3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sfl"
                        data-x="0"
                        data-y="75"
                        data-speed="300"
                        data-start="1700"
                        data-easing="easeOutBack"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 2;">
                        <img src="/wp-content/uploads/sites/19/2015/04/slide-3-image-1.png" alt="">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption title sft tp-resizeme"
                        data-x="830"
                        data-y="180"
                        data-speed="300"
                        data-start="2200"
                        data-easing="easeOutBack"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        We offer 
                                <br>
                        100% Quality Assurance

	
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption text-white sfr tp-resizeme"
                        data-x="830"
                        data-y="270"
                        data-speed="300"
                        data-start="2700"
                        data-easing="easeOutBack"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        At Hub Technology, quality comes first.
                                <br>
                        We are committed towards no compromise in quality
                                <br>
                        and always use quality-driven model to offer dynamic, and
                                <br>
                        end-to-end Web solutions. Get higher efficiency at lower costs.
	
                    </div>


                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption sfb tp-resizeme"
                        data-x="830"
                        data-y="390"
                        data-speed="300"
                        data-start="3200"
                        data-easing="easeOutBack"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                        style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-default" href="#">Read More<i class="fa fa-arrow-right"></i></a>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>

        <script type="text/javascript">

            /******************************************
                -	PREPARE PLACEHOLDER FOR SLIDER	-
            ******************************************/


            var setREVStartSize = function () {
                var tpopt = new Object();
                tpopt.startwidth = 1170;
                tpopt.startheight = 635;
                tpopt.container = jQuery('#rev_slider_1_1');
                tpopt.fullScreen = "off";
                tpopt.forceFullWidth = "off";

                tpopt.container.closest(".rev_slider_wrapper").css({ height: tpopt.container.height() }); tpopt.width = parseInt(tpopt.container.width(), 0); tpopt.height = parseInt(tpopt.container.height(), 0); tpopt.bw = tpopt.width / tpopt.startwidth; tpopt.bh = tpopt.height / tpopt.startheight; if (tpopt.bh > tpopt.bw) tpopt.bh = tpopt.bw; if (tpopt.bh < tpopt.bw) tpopt.bw = tpopt.bh; if (tpopt.bw < tpopt.bh) tpopt.bh = tpopt.bw; if (tpopt.bh > 1) { tpopt.bw = 1; tpopt.bh = 1 } if (tpopt.bw > 1) { tpopt.bw = 1; tpopt.bh = 1 } tpopt.height = Math.round(tpopt.startheight * (tpopt.width / tpopt.startwidth)); if (tpopt.height > tpopt.startheight && tpopt.autoHeight != "on") tpopt.height = tpopt.startheight; if (tpopt.fullScreen == "on") { tpopt.height = tpopt.bw * tpopt.startheight; var cow = tpopt.container.parent().width(); var coh = jQuery(window).height(); if (tpopt.fullScreenOffsetContainer != undefined) { try { var offcontainers = tpopt.fullScreenOffsetContainer.split(","); jQuery.each(offcontainers, function (e, t) { coh = coh - jQuery(t).outerHeight(true); if (coh < tpopt.minFullScreenHeight) coh = tpopt.minFullScreenHeight }) } catch (e) { } } tpopt.container.parent().height(coh); tpopt.container.height(coh); tpopt.container.closest(".rev_slider_wrapper").height(coh); tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh); tpopt.container.css({ height: "100%" }); tpopt.height = coh; } else { tpopt.container.height(tpopt.height); tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height); tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height); }
            };

            /* CALL PLACEHOLDER */
            setREVStartSize();


            var tpj = jQuery;
            tpj.noConflict();
            var revapi1;

            tpj(document).ready(function () {

                if (tpj('#rev_slider_1_1').revolution == undefined)
                    revslider_showDoubleJqueryError('#rev_slider_1_1');
                else
                    revapi1 = tpj('#rev_slider_1_1').show().revolution(
                     {
                         dottedOverlay: "none",
                         delay: 9000,
                         startwidth: 1170,
                         startheight: 635,
                         hideThumbs: 200,

                         thumbWidth: 100,
                         thumbHeight: 50,
                         thumbAmount: 3,


                         simplifyAll: "off",

                         navigationType: "bullet",
                         navigationArrows: "solo",
                         navigationStyle: "round",

                         touchenabled: "on",
                         onHoverStop: "on",
                         nextSlideOnWindowFocus: "off",

                         swipe_threshold: 75,
                         swipe_min_touches: 1,
                         drag_block_vertical: false,



                         keyboardNavigation: "off",

                         navigationHAlign: "center",
                         navigationVAlign: "bottom",
                         navigationHOffset: 0,
                         navigationVOffset: 20,

                         soloArrowLeftHalign: "left",
                         soloArrowLeftValign: "center",
                         soloArrowLeftHOffset: 20,
                         soloArrowLeftVOffset: 0,

                         soloArrowRightHalign: "right",
                         soloArrowRightValign: "center",
                         soloArrowRightHOffset: 20,
                         soloArrowRightVOffset: 0,

                         shadow: 0,
                         fullWidth: "on",
                         fullScreen: "off",

                         spinner: "spinner0",

                         stopLoop: "off",
                         stopAfterLoops: -1,
                         stopAtSlide: -1,

                         shuffle: "off",

                         autoHeight: "off",
                         forceFullWidth: "off",


                         hideTimerBar: "on",
                         hideThumbsOnMobile: "off",
                         hideNavDelayOnMobile: 1500,
                         hideBulletsOnMobile: "off",
                         hideArrowsOnMobile: "off",
                         hideThumbsUnderResolution: 0,

                         hideSliderAtLimit: 0,
                         hideCaptionAtLimit: 0,
                         hideAllCaptionAtLilmit: 0,
                         startWithSlide: 0
                     });




            });	/*ready*/

        </script>


    </div>
    <!-- END REVOLUTION SLIDER -->
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="services-boxes style-1 wow fadeInDown">

                        <div class="services-boxes-content">

                            <h5>01</h5>
                            <h2><a href="#">Web development</a></h2>

                            <p>The focus here is to travel with the trend. Hire us for modernistic technologies!</p>

                            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>

                        </div>
                        <!-- services-boxes-content -->

                    </div>
                    <!-- services-boxes -->
                </div>
                <div class="col-sm-3">
                    <div class="services-boxes style-1 wow fadeInDown">

                        <div class="services-boxes-content">

                            <h5>02</h5>
                            <h2><a href="#">E-commerce development</a></h2>

                            <p>Our eCommerce team is well proficient to understand the intricacy an eCommerce project.</p>

                            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>

                        </div>
                        <!-- services-boxes-content -->

                    </div>
                    <!-- services-boxes -->
                </div>
                <div class="col-sm-3">
                    <div class="services-boxes style-1 wow fadeInDown">

                        <div class="services-boxes-content">

                            <h5>03</h5>
                            <h2><a href="#">Networking &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></h2>

                            <p>With precious understanding of the relevant industry, we are one of the best firm providing Networking Services.</p>

                            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>

                        </div>
                        <!-- services-boxes-content -->

                    </div>
                    <!-- services-boxes -->
                </div>
                <div class="col-sm-3">
                    <div class="services-boxes style-1 wow fadeInDown">

                        <div class="services-boxes-content">

                            <h5>04</h5>
                            <h2><a href="#">Online
                                <br />
                                Marketing</a></h2>

                            <p>Generate traffic and always keep the ranking of your website at the top with Hub Technology.</p>

                            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>

                        </div>
                        <!-- services-boxes-content -->

                    </div>
                    <!-- services-boxes -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="info-box parallax" style="background-image: url(wp-content/uploads/sites/19/2015/04/bg-1.jpg);">
                        <h4><strong>Hub Technology</strong></h4>
                        <h1>The project for you</h1>
                        <p>Your one stop solution for software development. Just try and test, you will surely believe.</p>
                        <p>
                            <a href="#" class="btn btn-default">Learn More →</a>
                        </p>
                    </div>
                    <!-- info-box -->

                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
</div>
<div class="ff-section-fullwidth" style="margin-bottom: 50px;">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="info-slider">
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-sm-6">

                                        <div class="headline style-1">
                                            <h4>It's responsive</h4>
                                            <h2>Take a look</h2>
                                        </div>
                                        <!-- headline -->

                                        <p>We have business wide tools to meet the latest trends overcoming the traditional ones. We provide you awesome responsive design for your websites so as to eliminate every one of your difficulty. Along with responsive design we also focus on uniqueness of the design.</p>

                                    </div>
                                    <!-- col -->
                                    <div class="col-sm-6">

                                        <img src="/wp-content/uploads/sites/19/freshizer/0cbfa826af5e5795e64828ffe328863f_image-1-560-325-c.png" alt="">
                                    </div>
                                    <!-- col -->
                                </div>
                                <!-- row -->
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-sm-6">

                                        <div class="headline style-1">
                                            <h4>Fulfil all your needs</h4>
                                            <h2>TRY IT FOR YOUR PRODUCTS</h2>
                                        </div>
                                        <!-- headline -->

                                        <p>To achieve ideal execution, we make responsive activities satisfying the client's needs. Our IT solutions are sound and trusted offering full customer loyalty. Our team is highly devoted, well experienced and passionate which is one of our valuable assets. Enjoy the services!</p>

                                    </div>
                                    <!-- col -->
                                    <div class="col-sm-6">

                                        <img src="/wp-content/uploads/sites/19/freshizer/22.jpg" alt="">
                                    </div>
                                    <!-- col -->
                                </div>
                                <!-- row -->
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-sm-6">

                                        <div class="headline style-1">
                                            <h4>It's multipurpose</h4>
                                            <h2>Easily adaptable</h2>
                                        </div>
                                        <!-- headline -->

                                        <p>Adaptability is the ability to respond to changes. We are fully dedicated to our customers. So, when you buy a service from Hub Technology, there is no need to worry about the adaptability of the products. We use numerous technologies to deal with adaptation of software systems.</p>

                                    </div>
                                    <!-- col -->
                                    <div class="col-sm-6">

                                        <img src="/wp-content/uploads/sites/19/freshizer/228c1858a69ad995560ac6c11f39d77e_image-3-560-325-c.png" alt="">
                                    </div>
                                    <!-- col -->
                                </div>
                                <!-- row -->
                            </li>
                        </ul>
                    </div>
                    <!-- info-slider -->

                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
</div>
<div class="ff-section-fullwidth full-section" style="padding-top: 100px;">
    <div class="section-background-block background-image" style="background-image: url('wp-content/uploads/sites/19/2015/04/bg-2.jpg');"></div>
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="headline style-2">

                        <i class="miu-icon-other_conversation_review_comment_bubble_talk_outline_stroke"></i>
                        <h2>What people say</h2>

                    </div>
                    <!-- headline -->

                    <div class="testimonial-slider">
                        <ul>
                            <li>
                                <div class="testimonial">

                                    <blockquote>
                                        <p>The way they manage clients, the way they include additional efforts in building up the applications and items is thoroughly appraising. They get together every one of your requirement and fulfil it in the best possible way.</p>
                                    </blockquote>

                                    <h5>John Smith, Crazytown inc.</h5>

                                </div>
                                <!-- testimonial -->
                            </li>
                            <li>
                                <div class="testimonial">

                                    <blockquote>
                                        <p>They have really added a great value to all our projects. The programmers at hub technology are very experienced and skilled, project management is equally proficient. The end product is never less than best. Will surely recommend to everyone.</p>
                                    </blockquote>

                                    <h5>Jane Smith, Milobrand</h5>

                                </div>
                                <!-- testimonial -->
                            </li>
                            <li>
                                <div class="testimonial">

                                    <blockquote>
                                        <p>My experience of working with hub technology was stunning. The working procedure was immaculate, exceptionally capable software engineers who gave us the quality we were searching for. Good work guys! I recommend them as a reliable partner.</p>
                                    </blockquote>

                                    <h5>Paul Willson, The Muse</h5>

                                </div>
                                <!-- testimonial -->
                            </li>
                        </ul>

                        <div class="thumb-pager">
                            <a data-slide-index="0" href="#">
                                <img src="/wp-content/uploads/sites/19/freshizer/a85bb7a0527340188aff3de30c2811cf_image-1-64-64-c.jpg" alt=""></a>

                            <a data-slide-index="1" href="#">
                                <img src="/wp-content/uploads/sites/19/freshizer/1cebd0f5bc197cc5b423c4eb982f49ff_image-2-64-64-c.jpg" alt=""></a>

                            <a data-slide-index="2" href="#">
                                <img src="/wp-content/uploads/sites/19/freshizer/91c67ddefe1a72e64fb36fcf349b475c_image-3-64-64-c.jpg" alt=""></a>

                        </div>
                        <!-- thumb-pager -->


                    </div>
                    <!-- testimonial-slider -->

                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="vc_col-sm-4 wpb_column vc_column_container ">
                    <div class="wpb_wrapper">
                        <div class="headline style-1">
                            <h4>SKILLS</h4>
                            <h2>PROGRESS</h2>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" data-width="90"></div>
                        </div>
                        <div class="progress-bar-title">
                            <h5>MARKETING <span style="left: 90%">90%</span></h5>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" data-width="95"></div>
                        </div>
                        <div class="progress-bar-title">
                            <h5>DESIGN <span style="left: 95%">95%</span></h5>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" data-width="85"></div>
                        </div>
                        <div class="progress-bar-title">
                            <h5>TEAM WORK <span style="left: 85%">85%</span></h5>
                        </div>
                    </div>
                </div>

                <div class="vc_col-sm-4 wpb_column vc_column_container ">
                    <div class="wpb_wrapper">
                        <div class="headline style-1">
                            <h4>SOME TEXT</h4>
                            <h2>OUR WORK</h2>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p>We concentrate on your frameworks to enhance the effectiveness furthermore, give the tools you need to take better business decisions. Whether you are big or little organization, our goal is to be your one-stop solution supplier for your whole IT requirements.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="vc_col-sm-4 wpb_column vc_column_container ">
                    <div class="wpb_wrapper">
                        <div class="headline style-1">
                            <h4>CHECKLIST</h4>
                            <h2>THE LIST</h2>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <ul class="check-list">
                                    <li>Responsive designs</li>
                                    <li>Easy Navigation</li>
                                    <li>Adaptable Products</li>
                                    <li>Error free applications</li>
                                    <li>Quality assurance</li>
                                    <li>Timely delivery</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section--portfolio-archive-filterable">

    <div class="ff-section-fullwidth" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="ff-section-boxed">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ff-isotope isotope col-4  clearfix ">
                            <div class="isotope-item ">

                                <div class="portfolio-item">

                                    <div class="portfolio-item-thumbnail">

                                        <img src="/wp-content/uploads/sites/19/freshizer/e5ae9d03981c905ce276fb33c439ef29_image-1-262-238-c.jpg" alt="">

                                        <div class="portfolio-item-hover">

                                            <div class="portfolio-item-description">

                                                <h3><a href="#">Vector Design</a></h3>

                                            </div>
                                            <!-- portfolio-item-description -->

                                            <a class="fancybox-portfolio-gallery zoom-action" href="wp-content/uploads/sites/19/2015/05/image-1.jpg"><i class="fa fa-plus"></i></a>

                                        </div>
                                        <!-- portfolio-item-hover -->

                                    </div>
                                    <!-- portfolio-item-thumbnail -->

                                </div>
                                <!-- portfolio-item -->

                            </div>
                            <!-- isotope-item -->
                            <div class="isotope-item ">

                                <div class="portfolio-item">

                                    <div class="portfolio-item-thumbnail">

                                        <img src="/wp-content/uploads/sites/19/freshizer/5b59fc5572caf4557927f6e0a6f5797b_image-2-262-238-c.jpg" alt="">

                                        <div class="portfolio-item-hover">

                                            <div class="portfolio-item-description">

                                                <h3><a href="#">Bootstrap</a></h3>

                                            </div>
                                            <!-- portfolio-item-description -->

                                            <a class="fancybox-portfolio-gallery zoom-action" href="wp-content/uploads/sites/19/2015/05/image-2.jpg"><i class="fa fa-plus"></i></a>

                                        </div>
                                        <!-- portfolio-item-hover -->

                                    </div>
                                    <!-- portfolio-item-thumbnail -->

                                </div>
                                <!-- portfolio-item -->

                            </div>
                            <!-- isotope-item -->
                            <div class="isotope-item ">

                                <div class="portfolio-item">

                                    <div class="portfolio-item-thumbnail">

                                        <img src="/wp-content/uploads/sites/19/freshizer/e5ade27214158e7dccb58af308f67f59_image-3-262-238-c.jpg" alt="">

                                        <div class="portfolio-item-hover">

                                            <div class="portfolio-item-description">

                                                <h3><a href="#">Development</a></h3>
                                                <h5></h5>

                                            </div>
                                            <!-- portfolio-item-description -->

                                            <a class="fancybox-portfolio-gallery zoom-action" href="/wp-content/uploads/sites/19/2015/05/image-3.jpg"><i class="fa fa-plus"></i></a>

                                        </div>
                                        <!-- portfolio-item-hover -->

                                    </div>
                                    <!-- portfolio-item-thumbnail -->

                                </div>
                                <!-- portfolio-item -->

                            </div>
                            <!-- isotope-item -->
                            <div class="isotope-item ">

                                <div class="portfolio-item">

                                    <div class="portfolio-item-thumbnail">

                                        <img src="/wp-content/uploads/sites/19/freshizer/3740c64bcdda1af676c19e0624daacc4_image-4-262-238-c.jpg" alt="">

                                        <div class="portfolio-item-hover">

                                            <div class="portfolio-item-description">

                                                <h3><a href="#">E-Commerce</a></h3>
                                                <h5></h5>

                                            </div>
                                            <!-- portfolio-item-description -->

                                            <a class="fancybox-portfolio-gallery zoom-action" href="/wp-content/uploads/sites/19/2015/05/image-4.jpg"><i class="fa fa-plus"></i></a>

                                        </div>
                                        <!-- portfolio-item-hover -->

                                    </div>
                                    <!-- portfolio-item-thumbnail -->

                                </div>
                                <!-- portfolio-item -->

                            </div>
                            <!-- isotope-item -->
                        </div>
                        <!-- isotope -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline style-3">
                        <h5>All in one</h5>
                        <h2>Services</h2>
                        <p>At Hub Technology, we are a complete package of all the IT services that you need for growing your business.</p>
                        <p>
                            <a href="#" class="btn btn-default">Join us</a>
                        </p>
                    </div>
                    <!-- headline -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Mobile app development								</a>
                                <small>Easy to access</small>
                            </h3>
                            <p>Hub Technology is the right place to get IN FASHION Mobile apps. Mobile apps delivered by us enable you to connect and interact in more amazing way.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">E-Commerce								</a>
                                <small>Sell more and more</small>
                            </h3>
                            <p>We offer ecommerce solutions according to your small, medium and large business requirements. We are expert at ecommerce solutions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Web Development							</a>
                                <small>At its best!</small>
                            </h3>
                            <p>Hire us today for the Web Development of your enterprise! Our programmers use latest technology to meet the requirements of the modern era.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Digital Marketing								</a>
                                <small>Get required traffic</small>
                            </h3>
                            <p>We understand the need of digital marketing in this starving for traffic field. We have experts in digital marketing with us; Contact now!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">UI/UX development							</a>
                                <small>All you need</small>
                            </h3>
                            <p>Hub Technology is a remarkable UI/UX Design provider. And what makes a fascinating UI/UX designs in a website; get to know more with us.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Networking								</a>
                                <small>Modern and clean</small>
                            </h3>
                            <p>With precious understanding of the relevant industry, we are one of the best firm providing Networking Services. Our services are completely based on client's requirements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="project-slider-tabs">
    <div class="ff-section-fullwidth">
        <div class="ff-section-boxed">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="project-slider-control">
                            <a data-slide-index="0" href="#">Projects</a><a data-slide-index="1" href="#">Design</a><a data-slide-index="2" href="#">Business</a><a data-slide-index="3" href="#">Management</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="project-slider">
    <ul>
        <li>
            <img src="/wp-content/uploads/sites/19/freshizer/cb5966eb7806beb624c13e4b33282a0c_bg-slide-11-1868-765-c.jpg" alt=""><div class="slide-description">
                <h4>ENJOY OUR UNIQUE DESIGN</h4>
                <h1>WE PUT YOU FIRST</h1>
                <br />
                <p>Our customers are our first priority and put more emphasis on customer satisfaction. We analyse, design and develop business application to meet your ever changing needs. We are known for delivering reliable product.</p>
                <br />
                <p>
                    <a href="#" class="btn btn-default">Read More<i class="fa fa-arrow-right"></i> </a>
                </p>
            </div>
        </li>
        <li>
            <img src="/wp-content/uploads/sites/19/freshizer/d71b088e7cefa1bcadd222e40cd715e4_bg-slide-21-1868-765-c.jpg" alt=""><div class="slide-description">
                <h4>NICE AND CLEAN</h4>
                <h1>RESPONSIVE DESIGN</h1>
                <br />
                <p>One design fits all devices; that's all about responsiveness. Along with it, a design should be unique, attractive and easy to understand. Our designers keep all these qualities of a good design in mind, while designing your website.</p>
                <br />
                <p>
                    <a href="#" class="btn btn-default">Read More<i class="fa fa-arrow-right"></i> </a>
                </p>
            </div>
        </li>
        <li>
            <img src="/wp-content/uploads/sites/19/freshizer/e01ca546ccc4f1ed0f772765f839d825_bg-slide-31-1868-765-c.jpg" alt=""><div class="slide-description">
                <h4>WE ARE THE BEST</h4>
                <h1>DIGITAL MARKETERS</h1>
                <br />
                <p>In this era of competition everybody needs to generate traffic and rank their site in top however don't know how? Switch to ABC, our Digital Marketers knows the process of getting your website on the top</p>
                <br />
                <p>
                    <a href="#" class="btn btn-default">Read More<i class="fa fa-arrow-right"></i> </a>
                </p>
            </div>
        </li>
        <li>
            <img src="/wp-content/uploads/sites/19/freshizer/9d2f07c1a13f3148cdf4adcbae2e7131_bg-slide-4-1868-765-c.jpg" alt=""><div class="slide-description">
                <h4>ALL YOU NEED</h4>
                <h1>PROJECT MANAGEMENT</h1>
                <br />
                <p>Without management, even latest technologies fails. At ABC, all our projects are well-manager and we strictly take care of the deadlines. So, no need to worry about our timings.</p>
                <br />
                <p>
                    <a href="#" class="btn btn-default">Read More<i class="fa fa-arrow-right"></i> </a>
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="ff-section-fullwidth">
    <div class="section-background-block background-color" style="background-color: #f1f1f1;"></div>
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row footer-top">
                <div class="col-sm-12">

                    <div class="widget widget-social">

                        <div class="social-media">


                            <a class="facebook"
                                href="http://www.facebook.com/">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a class="twitter"
                                href="http://www.twitter.com/">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a class="google-plus"
                                href="http://plus.google.com/">
                                <i class="fa fa-google-plus"></i>
                            </a>

                            <a class="pinterest"
                                href="http://www.pinterest.com/">
                                <i class="fa fa-pinterest"></i>
                            </a>

                            <a class="linkedin"
                                href="http://www.linkedin.com/">
                                <i class="fa fa-linkedin"></i>
                            </a>

                            <a class="tumblr"
                                href="http://www.tumblr.com/">
                                <i class="fa fa-tumblr"></i>
                            </a>

                            <a class="youtube"
                                href="http://www.youtube.com/">
                                <i class="fa fa-youtube"></i>
                            </a>

                            <a class="dribbble"
                                href="http://www.dribbble.com/">
                                <i class="fa fa-dribbble"></i>
                            </a>

                            <a class="skype"
                                href="http://www.skype.com/">
                                <i class="fa fa-skype"></i>
                            </a>

                            <a class="vine"
                                href="http://www.vine.com/">
                                <i class="fa fa-vine"></i>
                            </a>

                            <a class="behance"
                                href="http://www.behance.com/">
                                <i class="fa fa-behance"></i>
                            </a>
                        </div>
                        <!-- social-media -->

                    </div>
                    <!-- widget-social -->

                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-item-26').addClass('active');
    })
</script>
