@{
    ViewBag.Title = "Services";
}


<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline style-3">
                        <h5>Todo en uno</h5>
                        <h2>Servicios</h2>
                        <p>A Hub Technology, Somos un paquete completo de todos los servicios de TI que necesita para hacer crecer su negocio.</p>
                    </div>
                    <!-- headline -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Mobile app development								</a>
                                <small>Easy to access</small>
                            </h3>
                            <p>Hub Technology is the right place to get IN FASHION Mobile apps. Mobile apps delivered by us enable you to connect and interact in more amazing way.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">E-Commerce								</a>
                                <small>Sell more and more</small>
                            </h3>
                            <p>We offer ecommerce solutions according to your small, medium and large business requirements. We are expert at ecommerce solutions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Web Development							</a>
                                <small>At its best!</small>
                            </h3>
                            <p>Hire us today for the Web Development of your enterprise! Our programmers use latest technologies to meet the requirements of the modern era.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Digital Marketing								</a>
                                <small>Get required traffic</small>
                            </h3>
                            <p>We understand the need of digital marketing in this starving for traffic field. We have experts in digital marketing with us; Contact now!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">UI/UX development							</a>
                                <small>All you need</small>
                            </h3>
                            <p>Hub Technology is a remarkable UI/UX Design provider. And what makes a fascinating UI/UX designs in a website; get to know more with us.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Networking								</a>
                                <small>Modern and clean</small>
                            </h3>
                            <p>With precious understanding of the relevant industry, we are one of the best firm providing Networking Services. Our services are completely based on client's requirements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="ff-section-fullwidth full-section" style="padding-top: 80px; margin-top: 50px;">
    <div class="section-background-block background-image background-fixed" style="background-image: url('../wp-content/uploads/sites/19/2015/05/bg-4.jpg');"></div>
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="process-steps process-6-steps clearfix">

                        <div class="step">

                            <i class="ff-font-miu icon-library12"></i>

                            <div class="step-details">
                                <h5>Land Project</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                        <div class="step">

                            <i class="ff-font-miu icon-file63"></i>

                            <div class="step-details">
                                <h5>Make Plans</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                        <div class="step">

                            <i class="ff-font-miu icon-speaker82"></i>

                            <div class="step-details">
                                <h5>Ideas</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                        <div class="step">

                            <i class="ff-font-miu icon-power98"></i>

                            <div class="step-details">
                                <h5>Work Hard</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                        <div class="step">

                            <i class="ff-font-miu icon-favorites3"></i>

                            <div class="step-details">
                                <h5>See Results</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                        <div class="step">

                            <i class="ff-font-miu icon-cocktail24"></i>

                            <div class="step-details">
                                <h5>Enjoy</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                    </div>
                    <!-- porcess-steps -->

                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-right wow fadeInLeft">
                        <i class="ff-font-miu icon-settings42"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Our Goal</a></h3>
                            <p>Our goal is to provide precise services in the field of Application Development, Online Marketing, Web Designing and every sort of Custom Software Development.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-left wow fadeInRight">
                        <i class="ff-font-miu icon-square159"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Modern Design</a></h3>
                            <p>Your impact on clients is all about your first impression. And there is no better way to put so than an impressive and modern design.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-right wow fadeInLeft">
                        <i class="ff-font-miu icon-dollar153"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Digital Marketing</a></h3>
                            <p>Hire us and take your business to cloud nine. Everyone is running behind traffic, but we know it's all about getting a big idea your business needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-left wow fadeInRight">
                        <i class="ff-font-miu icon-board1"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Video Background</a></h3>
                            <p>A showcase of how your team works is all your clients need to see on your website. We can deliver it for you. Hurry up, contact now!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-right wow fadeInLeft">
                        <i class="ff-font-miu icon-favorites3"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">All in one</a></h3>
                            <p>We are a complete package and one-stop solution for your needs. There is no need to look here and there; you can completely rely upon us for all IT services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-left wow fadeInRight">
                        <i class="ff-font-miu icon-tablet81"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">24H Support</a></h3>
                            <p>For our clients, we are always available. We understand our responsibilities and are keen to help you. Feel free to contact anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-right wow fadeInLeft">
                        <i class="ff-font-miu icon-file63"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Cost-effective</a></h3>
                            <p>All our services are cost-effective. We deliver the best products and that too at pocket-friendly rates. Stay connected and enjoy our administrations!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-left wow fadeInRight">
                        <i class="ff-font-miu icon-chat52"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Our Promise</a></h3>
                            <p>Unmatched and best quality is our promise to our clients. Our dedicated team has an impressive track record of developing high quality technologies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth" style="padding-top: 85px; padding-bottom: 65px; margin-top: 60px;">
    <div class="section-background-block background-color" style="background-color: #f4f4f4;"></div>
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="logos clearfix">
                        <li>
                            <img src="../wp-content/uploads/sites/19/2015/05/image-1.png" alt=""></li>
                        <li>
                            <img src="../wp-content/uploads/sites/19/2015/05/image-2.png" alt=""></li>
                        <li>
                            <img src="../wp-content/uploads/sites/19/2015/05/image-3.png" alt=""></li>
                        <li>
                            <img src="../wp-content/uploads/sites/19/2015/05/image-4.png" alt=""></li>
                        <li>
                            <img src="../wp-content/uploads/sites/19/2015/05/image-5.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="headline style-2">

                        <i class="miu-icon-other_conversation_review_comment_bubble_talk_outline_stroke"></i>
                        <h2>What people say</h2>

                    </div>
                    <!-- headline -->

                    <div class="testimonial-slider-2">
                        <ul>
                            <li>
                                <div class="testimonial">

                                    <blockquote>
                                        <p>The way they manage clients, the way they include additional efforts in building up the applications and items is thoroughly appraising. They get together every one of your requirement and fulfil it in the best possible way.</p>
                                    </blockquote>

                                    <h5>John Smith, Crazytown inc.</h5>

                                </div>
                                <!-- testimonial -->
                            </li>
                            <li>
                                <div class="testimonial">

                                    <blockquote>
                                        <p>They have really added a great value to all our projects. The programmers at hub technology are very experienced and skilled, project management is equally proficient. The end product is never less than best. Will surely recommend to everyone.</p>
                                    </blockquote>

                                    <h5>Jane Smith, MiloBrand</h5>

                                </div>
                                <!-- testimonial -->
                            </li>
                            <li>
                                <div class="testimonial">

                                    <blockquote>
                                        <p>My experience of working with hub technology was stunning. The working procedure was immaculate, exceptionally capable software engineers who gave us the quality we were searching for. Good work guys! I recommend them as a reliable partner.</p>
                                    </blockquote>

                                    <h5>Paul Willson, The Muse</h5>

                                </div>
                                <!-- testimonial -->
                            </li>
                        </ul>

                        <div class="thumb-pager">
                            <a data-slide-index="0" href="#"></a>

                            <a data-slide-index="1" href="#"></a>

                            <a data-slide-index="2" href="#"></a>

                        </div>
                        <!-- thumb-pager -->

                    </div>
                    <!-- testimonial-slider -->

                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
</div>
<div class="ff-section-fullwidth" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="ff-section-boxed">
        <div class="container">
            <h2 class="accordion-section-title">We answer your questions</h2>

            <div class="panel-group" id="accordion_1">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse"
                                data-parent="#accordion_1"
                                href="#collapse_1__1"
                                aria-expanded="false"
                                class="collapsed">How do you work?</a>
                        </h4>
                    </div>
                    <div id="collapse_1__1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>At Hub Technology, we believe unity is strength. And it’s a well-known fact; Brilliant minds working together imparts a WOW factor in every project. With teamwork and collaboration, we achieve goals.</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse"
                                data-parent="#accordion_1"
                                href="#collapse_1__2"
                                aria-expanded="false"
                                class="collapsed">Why choose us?</a>
                        </h4>
                    </div>
                    <div id="collapse_1__2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>We focus on delivering the Amazing and Best-in-class IT services and Business Solutions. And are fully dedicated to our customer’s needs and desires. Hire us, to discover new ends of your business!</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse"
                                data-parent="#accordion_1"
                                href="#collapse_1__3"
                                aria-expanded="false"
                                class="collapsed">How can I help you?</a>
                        </h4>
                    </div>
                    <div id="collapse_1__3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>We can help you to boost up your business by representing you online effectively to your customers. We are experts in converting client’s dreams into reality.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth" style="padding-top: 85px;">
    <div class="section-background-block background-image background-fixed" style="background-image: url('../wp-content/uploads/sites/19/2015/05/bg-3.jpg');"></div>
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline style-3">
                        <p>
                            <a href="#" target="_blank" class="btn btn-default">Contact Us<i class="fa fa-arrow-right"></i> </a>
                        </p>
                    </div>
                    <!-- headline -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-item-220').addClass('active');
    })
</script>
