@{
    ViewBag.Title = "AboutUs";
}
@{
    Layout = "/Views/Shared/_LayoutForNew_York.cshtml";
}

<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>NEW York TRAFFIC LAWYERS</h3>
    </div>
    <p>
        In 1993 our Firm was established in New Jersey in an effort to provide the absolute best defense for our clients. 
        Since then, we have expanded to include more attorneys, numerous colleagues, a list of experts and support staff. 
        Since our inception, our Firm has handled in excess of 100,000 traffic violations throughout the State of New Jersey 
        and New York. We continue to provide aggressive zealous representation for our clients in an effort to dismiss all or 
        some of the charges, so that our clients can be assured the protection of their driving privileges.
    </p>
    <p>
        The key to our success is RESULTS. When a client retains the services of our FIRM, he/she does not receive the benefit,
         knowledge of only one attorney. In fact, when a client retains the services the Stabile Law Firm, LLC, he/she receives
         the benefit of 4 (four) attorneys' knowledge with a combined experience of approximately 50 years. Furthermore, our Firm 
        primarily concentrates in New Jersey traffic violations and DWI. The reason for this, is to assure our clients that we are serious about their matter. At our Firm, traffic and criminal law is primarily what we do. When dealing with a motor vehicle related offense, the last thing you need is a Real Estate lawyer trying to preserve your freedom or save your driving privilege while running between closings all day.
    </p>
    <p>
        At Stabile Law Firm, we are a full-service law firm with concentration in traffic law and DUI / DWI in New Jersey. 
        We pride ourselves on our ability to solve traffic violations for our clients. Our team of lawyers finds innovative 
        solutions to our clients' needs. We truly are vigorous in our representation. We never back away from a fight, but we 
        choose our battles carefully to ensure the best outcome for our clients. We are passionately committed to our clients' 
        needs.
    </p>
      <div class="qustin" >
    <h5>ATTORNEYS</h5>
        </div>

    <div class="col-md-12 col-sm-12">

        <div class="col-md-4 col-sm-4">
            <img src="/img/LawyerImg/steve.jpg" />
            <center><b>Steve Stabile</b></center>
        </div>

       @* <div class="col-md-4 col-sm-4">
            <img src="/img/LawyerImg/Chris.jpg" />
            <center><b> Christopher J. Grace</b></center>

        </div>

        <div class="col-md-4 col-sm-4">
            <img src="/img/LawyerImg/Marianne.jpg" />
            <center><b>Marianne F. Auriemma</b></center>
        </div>*@
    </div>

</div>


@section scripts
{
    <script>
        $(function () {
            localStorage.setItem('NewYorklastTab', "liNewYorkAboutUs");
        });

    </script>
}

