@{
    ViewBag.Title = "ContactUs";
}
@{
    Layout = "/Views/Shared/_LayoutForNew_York.cshtml";
}
<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>AGGRESSIVE TRAFFIC TICKET DEFENSE</h3>
    </div>
    <h4>CALL TOLL FREE TODAY (877) VIOLATION (878-4728)</h4>
    <center><b>
                         Main office: 900 Route 9 North,<br />
                           suite 214,
                            <br />
                            Woodbridge, NJ 07095,
         <br /><br />
         Phone: (732) 602-7795
         <br /><br />
          Email: request@stabilelawfirm.com
        </b>
         </center>
    </div>
    <div class="col-md-8 stabile">
    <img class="img-responsive" src="/img/plaza_nine_entrance.jpg" width="800px" height="500px"  />
</div>
@section scripts
{
    <script>
        $(function () {
            localStorage.setItem('NewYorklastTab', "liNewYorkContactUs");
        });

    </script>
}

