@{
    Layout = "/Views/Shared/_LayoutForNew_York.cshtml";
}

<div class="col-md-8 stabile">
    <div class="pensyl">
                <h3>NEW YORK TRAFFIC LAWYER</h3>
            </div>
                <h4>Traffic Lawyer</h4>
                <p>Were you charged with a traffic ticket in New York? Speeding ticket, reckless driving, DUI, DWI or any other traffic violation in NY? Do not be too concerned! The Stabile Law Firm, LLC is also serving clients in the state of New York. We know that being charged with a New York speeding ticket or traffic violation can be a nightmare, but that does not mean you won't see light at the end of the tunnel. In our firm, you will find the most prepared and experienced New York traffic lawyers of the area. Therefore, be calm and reduce the stress towards your NY traffic ticket. Remember that the issuance of a traffic ticket by the police doesn’t automatically mean that you are guilty.  What it means is that you have the right to go to court and make the prosecution prove that you committed the offense prohibited by the law of New York.</p>
                <p>The consequences for a conviction resulting from traffic tickets may include fines, court costs, community service, points on your license, surcharges, insurance points, license suspension, and increased insurance costs. In addition, traffic tickets can sometimes include the very serious consequence of incarceration for periods as long as 180 days or more.  The majority of traffic tickets in New York are simply traffic violations.  However, there are several offenses that can be criminal charges, including possession of controlled dangerous substances. </p>
                <p>You should not ignore a traffic ticket.  It will not go away and things can only get worse.  You have constitutionally protected rights to confront your accuser and have the state prove your guilt beyond a reasonable doubt. So, what is the best way to fight your New York traffic ticket?  Call our office to speak to a New York Traffic Lawyer! The moment you hire our office, you will not just get the expertise of only one attorney but of four (4) different New York traffic attorneys. Our staff will explain in a very detailed manner the process to be taken for your NY traffic violation. When the time comes for us to represent you in Court, be assured that a New York traffic lawyer will be vigorously defending your interests. We can help you with any traffic law matter and our attorneys are fully committed to give you the best results possible. </p>
                <p>We also specialize in DUI or DWI matters. Contact us for a FREE consultation and receive the best orientation from our New York DUI DWI Lawyers</p>
            <div class="qustin">
                <h5>BY CHOOSING TO FIGHT YOUR TRAFFIC TICKET, YOU WILL BENEFIT FROM THE FOLLOWING:</h5>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Save Money on Your New York Traffic Ticket Fine
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>If you pay your traffic ticket without going to court, you're admitting guilt and a conviction for the charged offense will appear on your driving abstract.  In addition, you will be assessed the motor vehicle and insurance points that accompany a conviction for the offense.  Most importantly, the traffic ticket will be on your driving record and your insurance company will know about your conviction. You should carefully weigh your options before you choose to just accept the ticket as written by the police officer.  Our experienced New York traffic lawyers can get your ticket to a non-moving violation, which means NO POINTS! In tougher cases we may be able to reduce it to something that does not affect your insurance. By reducing your points, your savings can be sizeable</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Save Money on Your Insurance Bill
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>Your insurance company will use your motor vehicle history to set your insurance premium.  If you accumulate points for violations, your insurance rates can be dramatically increased.  Insurance companies regularly check their customers' driving records and increase insurance premiums if they find a ticket on your records.  The State of New York has one of the highest auto insurance rates in the country! Insurance companies see every single point you receive on your New York driving record and raise your insurance rates for three years or up to FIVE years!  If your insurance goes up 15 percent for three years because of one ticket, what's the true cost of that ticket? Let's assume you pay $1000 a year in insurance. You would pay an extra $450 ($150 per year) in premiums plus the cost of the ticket, and that's just a conservative estimate. Our lawyers will help you keep your insurance rates low.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Reduce or Eliminate the Points of Your License
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       <p>Motor Vehicle Points are the State’s System of keeping track of good and bad drivers. The accumulation of points can result in the Motor Vehicle Commission assessing surcharges and even the administrative suspension of your driver’s license. In addition, there are a number of traffic violations and convictions that cause the mandatory suspension or revocations of your license regardless of the number of points on your driving record. A first offense can result in you not being able to drive for an extended period of time. Our New York traffic lawyers will help you reduce your NY license points associated with your traffic violation and help you maintain your driving privilege</p>
      </div>
    </div>
  </div>
                      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingfour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree">
          ONE Flat Fee - No Hidden Fees
        </a>
      </h4>
    </div>
    <div id="collapseThree4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
      <div class="panel-body">
       <p>After speaking with one of the attorneys and once you feel ready to use our services, you will be responsible for a one-time fee. You will pay one flat fee for our representation and we will handle everything. In case you can't pay the full amount, we offer payment plans for your convenience.

Our fees are competitive and more affordable than other firms.</p>
      </div>
    </div>
  </div>
  
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingfive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree">
          FREE Consultation
        </a>
      </h4>
    </div>
    <div id="collapseThree5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
      <div class="panel-body">
       <p>If you are charged with a New York traffic ticket, do not hesitate to call us. Our NY traffic attorneys are always available to assist you and answer all your questions. Our attorneys will offer you valuable information about the steps and processes to be taken for your case. After the consultation, you are free to take our services or not.

Do not wait and give us a call at 877-VIOLATION and speak with one of our New York traffic attorneys</p>
      </div>
    </div>
  </div>
</div>
            </div>
            
            </div>

@section scripts
{
    <script>
        $(function () {
            localStorage.setItem('NewYorklastTab', "liNewYorkHome");
        });

    </script>
}
