@{
   
    Layout = "/Views/Shared/_LayoutForNew_York.cshtml";
}

<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>AGGRESSIVE TRAFFIC TICKET DEFENSE</h3>
    </div>
    <h4>NEW YORK SUSPENDED LICENSE</h4>
    <p>
        Driving While Your License is Suspended or Revoked is a serious offense. Here is where we come into action! The Stabile 
        Law Firm has a team of experienced attorneys that has cleared many New York suspensions. We are always happy to patiently
         explain in detail how your NY can be restored. If your case cannot get dismissed, we will reduce it to a minor charge!
    </p>

    <p>
        If you are caught driving when you know or should know that your license is suspended or revoked (Aggravated Unlicensed), you
         will face a mandatory fine plus possible jail time.  Our experienced NY attorneys are often able to resolve such cases, however,
         without our client getting a criminal record (let alone jail time).
    </p>

    <p>
        If you are charged with Aggravated Unlicensed, you may have to clear the underlying suspension(s) before the Aggravated Unlicensed 
        case will be resolved by the criminal court
    </p>

    <div class="Footertext">
        <h5>
            <center>Aggravated Unlicensed Operation (AUO) Penalties</center>
        </h5>

        <p>Aggravated Unlicensed Operation (AUO) is driving while your license is under suspension or revocation.</p>


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1st Degree
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p>
                            This is a felony punishable by a mandatory fine of $500 - $5000, a mandatory surcharge, mandatory imprisonment up to 4 years or probation, 
                                    and possible seizure and forfeiture of the vehicle driven. A driver may be convicted of AUO-1st degree if driving while suspended or revoked and:
                        </p>
                        <ul>
                            <li>The driver is impaired or intoxicated, with a license or privilege currently under suspension or revocation for an alcohol or drug-related violation or a chemical test refusal;</li>
                            <li>The driver has in effect 10 or more license suspensions, imposed on at least 10 different dates, for failure to respond to tickets.</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2nd Degree
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p>
                            This is a misdemeanor, and if the driver is convicted of driving with a license previously suspended or revoked within the prior 18 months due 
                                    to a conviction of AUO-3rd degree, the penalty is a minimum fine of $500, a mandatory surcharge, and mandatory imprisonment up to 180 days or probation.
                        </p>
                        <p>
                            The mandatory fine is $500 - $1000, a mandatory surcharge, and mandatory imprisonment of 7 - 180 days or probation, if the driver is convicted of 
                                    driving while suspended or revoked and one of the following:
                        </p>
                        <ul>
                            <li>The original suspension or revocation had resulted from either a conviction for an alcohol- or drug-related violation or a chemical test refusal;</li>
                            <li>The original suspension was a mandatory suspension pending prosecution of an alcohol- or drug-related offense;</li>
                            <li>The driver has in effect three or more license suspensions, imposed on at least three different dates, for failure to respond to tickets.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3rd Degree
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                       <p>A driver may be convicted of AUO-3rd degree for driving with a suspended or revoked license or privilege to drive. This is a misdemeanor punishable by a mandatory fine of $200 - $500, a mandatory surcharge and possible imprisonment up to 30 days or probation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
