@{
    Layout = "/Views/Shared/_LayoutForNew_York.cshtml";
}
<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>AGGRESSIVE TRAFFIC TICKET DEFENSE</h3>
    </div>
    <h4>New York DUI DWI Attorneys</h4>
    <p>
        If you were charged a drunk driving charge in New York, you are probably worried about the penalties and the impact it will 
        cause to your life since the time the police officer pulled you over. Some of the consecuences can be these:
    </p>
    <ul>
        <li>Jail or Prison</li>
        <li>Loss of driver's license</li>
        <li>Installation of an interlock device on your vehicle</li>
        <li>Employment and insurance risks</li>
    </ul>
    <p>
        There is nothing wrong of being afraid, knowing that the charge can cause you hardship and affect your future as driver and as a citizen. 
        The New York legal limit is .08% which figure refers to the level of alcoholic content in your blood.  This reading makes it easier for prosecutors 
        to convict someone of DWI.  All they have to do is show that the defendant had such a reading and, as a result, he or she is considered per se drunk.
    </p>
    <div class="Footertext">
        <h5>
            <center>New York DWI DUI Penalties</center>
        </h5>
        <p>
            The punishments for drunk driving in New York are heavy, but if you have a strong advocate from our experienced team of DWI lawyers you will see the difference between 
             being convicted or acquitted, between jail or no incarceration.
        </p>
        <p>
            In addition to jail time, a conviction also carries steep fines, alcohol classes, license revocations or suspensions 
             and other serious consequences that a good lawyer will help you minimize through negotiation or eliminate through 
             litigation. The stakes are so high in a New York drunk driving case that you need the help of a seasoned professional.
        </p>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1st Offense
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul>
                        <li>90 days of driving privilege suspension</li>
                        <li>$300-$500 fine</li>
                        <li>Up to 15 days in Jail</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2nd Offense
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <ul>
                        <li>6 months driving privilege suspension</li>
                        <li>$500-$750 fine</li>
                        <li>Up to 30 days in Jail</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3rd Offense
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <ul>
                        <li>1 year driving privilege suspension</li>
                        <li>$750-$1500 fine</li>
                        <li>Up to 180 days in Jail</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



        <h5><center>Carefully choose an experienced NY DUI DWI Attorney</center></h5>
        <p>Sailing the criminal court process can be daunting in any case, but is especially so in DWI cases. This is because, 
            due to the high volume of charges that the courts and prosecutors must process, and due to the fact that a New York
             drunk driving charge is truly the "every-man's" charge, prosecutors and judges may see your case as "routine" and 
            less than serious unless you have a strong voice in the courtroom pointing out that this event and its outcome will 
            have a lasting impact on your life and the lives of those you care about.</p>

        <h5><center>Remember! Your New York DUI DWI case may not be invincible</center></h5>
        <p>When the officer stopped you, were you tested for drugs or alcohol? A NY DWI chemical test is not foolproof. If you 
            decide to hire our services, we can fully assured you that a good New York DUI attorney will be on top of all of the 
            latest issues that might benefit your case. If you decide not to hire us, or if you choose the wrong lawyer, you may 
            never learn about scandals within police departments, evidence contamination issues, breath machine failures, missing,
             disciplined, injured or retired police officers, and many other things that could literally make the difference
             between your conviction and acquittal or dismissal.</p>




    </div>
</div>
