@{
    Layout = "/Views/Shared/_LayoutForNew_York.cshtml";
}

<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>New York Point System</h3>
    </div>

    <p>
        There are many different types of traffic tickets in New York. State troopers are giving traffic tickets
         at a record pace, even for 5 mph over the speed limits. All traffic tickets have a section number
          and you should take into consideration how many points a traffic ticket comes with. Troopers
           are now giving multiple traffic tickets in one stopping which may result in losing your license
            if you do not dismiss the tickets or at the very least reduce the points. Our lawyers at the Stabile
             Law Firm are experienced enough to completely dismiss your traffic ticket, or reduce the points
    </p>
    <p>
        We have represented clients in over 100,000 traffic ticket cases and have over 25 years of combined experience between 
         the six (4) traffic ticket lawyers. Having our law firm fight your traffic ticket
          will keep your insurance rates low, help you keep your license clean, and save you a lot of
            money in the long run!
    </p>
    <p>
        Listed below are the different types of traffic tickets that are issued by New Jersey state troopers:
    </p>
    <table id="tblFloridaPoint" class="tblPoint">
        <tr>
            <td style="font-size: 20px; color: red; background-color: #e09836" colspan="2">UNLAWFUL SPEED</td>
        </tr>
        <tr>
            <td>EXCEEDING 1 - 10 MPH OVER SPEED LIMIT</td>
            <td>3 POINTS</td>
        </tr>
        <tr>
            <td>EXCEEDING 11 - 20 MPH OVER SPEED LIMIT</td>
            <td>4 POINTS</td>
        </tr>
        <tr>
            <td>EXCEEDING 21 - 30 MPH OVER SPEED LIMIT</td>
            <td>6 POINTS</td>
        </tr>

          <tr>
            <td>EXCEEDING 31 - 40 MPH OVER SPEED LIMIT</td>
            <td>8 POINTS</td>
        </tr>

          <tr>
            <td>MORE THAN 40 MPH OVER SPEED LIMIT (possible suspension)</td>
            <td>11 POINTS</td>
        </tr>
    </table>
    </br>
    <table class="tblPoint">
        <tr>
            <td style="font-size: 20px; color: red; background-color: #e09836" colspan="2">FURTHER VIOLATIONS</td>
        </tr>
        <tr>
            <td>LEAVING THE SCENE OF AN ACCIDENT</td>
            <td>3 POINTS</td>
        </tr>
        <tr>
            <td>IMPROPER LANE CHANGE</td>
            <td>3 POINTS</td>
        </tr>
        <tr>
            <td>FOLLOWING TOO CLOSELY (TAILGAITING)</td>
            <td>4 POINTS</td>
        </tr>

        <tr>
            <td>RECKLESS DRIVING</td>
            <td>5 POINTS</td>
        </tr>

        <tr>
            <td>INADEQUATE BRAKES</td>
            <td>4 POINTS</td>
        </tr>
        <tr>
            <td>UNREASONABLE SPEED</td>
            <td>3 POINTS</td>
        </tr>
        <tr>
            <td>FAILED TO YIELD THE RIGHT-OF-WAY</td>
            <td>3 POINTS</td>
        </tr>

        <tr>
            <td>FAILURE TO KEEP RIGHT</td>
            <td>3 POINTS</td>
        </tr>

        <tr>
            <td>UNSAFE LANE CHANGE</td>
            <td>3 POINTS</td>
        </tr>

        <tr>
            <td>ALL OTHER MOVING VIOLATIONS</td>
            <td>2 POINTS</td>
        </tr>
    </table>
</div>


