@{
    ViewBag.Title = "Resources";
}
@{
    Layout = "/Views/Shared/_LayoutForNew_York.cshtml";
}
<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>AGGRESSIVE TRAFFIC TICKET DEFENSE</h3>
    </div>
    <h4>New York Traffic Ticket Attorneys</h4>
     <div class="qustin" >
    <h5>Speeding tickets</h5>
    <h5>Can your lawyer beat a NY traffic ticket?</h5>
    <h5>New York Point System</h5>
    <h5>What to do when your NY is suspended?</h5>
    <h5>New York DUI and DWI</h5>
         </div>
</div>



@section scripts
{
    <script>
        $(function () {
            localStorage.setItem('NewYorklastTab', "liNewYorkResources");
        });

    </script>
}
