@{
    Layout = "/Views/Shared/_LayoutForNew_York.cshtml";
}

<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>AGGRESSIVE TRAFFIC TICKET DEFENSE</h3>
    </div>
    <h4>New York Speeding Ticket Attorneys</h4>
    <p>
        Speeding Tickets are often issued by state troopers who use radar and many people assume that they must pay the fine 
        because they think they are guilty. The Stabile Law Firm wins radar speeding tickets in NY, even if you know or think 
        you are guilty of speeding and were caught on radar. Our four (4) traffic ticket lawyers have over 25 years of combined 
        experience winning speeding tickets, even if they were issued using radar! Speeding tickets are the most common type of 
        traffic tickets given in New Jersey and New York. However, most of the time, multiple traffic tickets are issued in 
        addition to the speeding ticket. State troopers are known to give speeding tickets even for going 5mph over the speed 
        limit. Generally the faster you speed the more points will be associated to the speeding ticket.
    </p>

    <div class="Footertext">
        <center><h5>New York has five grouped speeding tickets:</h5></center>

        <table id="tblFloridaPoint" class="tblPoint">
            <tr>
                <td style="font-size: 20px; color: red; background-color: #e09836" colspan="2">SPEEDING TICKET DETAILS</td>
            </tr>
            <tr>
                <td>EXCEEDING 1 - 10 MPH OVER SPEED LIMIT</td>
                <td>3 POINTS</td>
            </tr>
            <tr>
                <td>EXCEEDING 11 - 20 MPH OVER SPEED LIMIT</td>
                <td>4 POINTS</td>
            </tr>
            <tr>
                <td>EXCEEDING 21 - 30 MPH OVER SPEED LIMIT</td>
                <td>6 POINTS</td>
            </tr>
            <tr>
                <td>EXCEEDING 31 - 40 MPH OVER SPEED LIMIT</td>
                <td>8 POINTS</td>
            </tr>
            <tr>
                <td>MORE THAN 40 MPH OVER SPEED LIMIT (possible suspension)</td>
                <td>11 POINTS</td>
            </tr>
        </table>
        <h5>
            <center>If you got a speeding ticket, DO NOT WAIT and call our NY Speeding ticket attorneys in Woodbridge for a 
             FREE consultation at 1-877-VIOLATION.</center>
        </h5>


    </div>
</div>


