@{
    ViewBag.Title = "WhyUs";
}
@{
    Layout = "/Views/Shared/_LayoutForNew_York.cshtml";
}

<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>WHY US</h3>
    </div>
    <h4>New York Traffic Attorneys</h4>
    <p>The consequences of being convicted of a traffic offense in New York go beyond the fine and inconvenience. An excessive 
        number of traffic tickets on your license and the associated points can cause a suspension of your license by the Motor 
        Vehicle Commission. In addition, many traffic offenses carry a license suspension that can or must be imposed by the Court. 
        Other offenses can include and/or require jail time. Further, New York insurance rates are profoundly affected by your driving 
        record, and if you have a bad driving record, it may become extremely expensive or difficult to obtain insurance.
    </p>
    
    <p>
        In most cases, an experienced traffic lawyer can limit the consequences of the offenses you are charged with. Through careful 
        scrutiny of the evidence to determine if the State can prove their case against you, and through skillful negotiation of plea bargains, 
        costly collateral consequences, in many cases, can be minimized or totally avoided. Further, if you have committed an offense, and plead 
        guilty or are convicted of an offense that requires jail time, it is possible for an attorney to negotiate alternative ways of serving that 
        jail time rather than incarceration.
    </p>

    <p>
        The key to successful representation on a traffic matter is hiring a lawyer who is totally familiar with practices and procedures in Municipal 
        Court and also with the laws and customs pertaining to the prosecution of these cases.
    </p>

    <p>The practice of our office is strictly limited to motor vehicle and criminal matters and because of such focus and our experience, we have a strong track 
        record of limiting consequences of traffic offenses.
    </p>

     <div class="Footertext" >
        <center><h5>Call us for a FREE CONSULTATION at 1-877-VIOLATION, and beat your NY traffic tickets NOW!</h5></center>
   </div>

    </div>

@section scripts
{
    <script>
        $(function () {
            localStorage.setItem('NewYorklastTab', "liNewYorkWhyUs");
        });

    </script>
}

