@{
    ViewBag.Title = "New Jersey DUI DWI Attorney | Drunk Driving Attorney";
    ViewBag.Description = " Looking for a DUI DWI attorney to represent you in your DUI or DWI case? We have highly experienced lawyers specilized in dealing with DUI/DWI cases. Call now!";
    ViewBag.Keywords = "New Jersey DUI DWI Attorney,Drunk Driving Attorney";
}
<div class="container-fluid banner-2img">
    <img src="/images/banner-2pg.jpg" alt=" New Jersey DUI DWI Attorney">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center dwi-result">
            <h1 class="hdnh1">DWI & DUI Result</h1>
            <h3>DWI & DUI Result</h3>
        </div>
        <div class="col-md-8 result">
            <h3>DWI & DUI Result</h3>
            <p><b>2010:</b> This arrest resulted from a motor vehicle chase though two separate towns. The Police Officer observed the client driving the wrong way on a highway and attempted to stop his car. The client fled leading the officer and was eventually stopped after running several red lights. In the jurisdiction in which the chase began the client was charged with 39:4-50 (Driving while intoxicated), 39:4-50.2 (Refusal of a Breathalyser), 39:4-96 (<a class="anchorcolor" href="http://www.stabilelawfirm.com/Reckless-Driving.aspx">Reckless Driving</a>), 2C:29-1A (a Criminal charge of Eluding a Police Officer), and 39:4-82.1 (Wrong Way on Divided Highway). In the town where the chase ended he was charged with 39:4-82.1 (Wrong Way on Divided Highway), 39:4-96 (Reckless Driving), and three counts of 39:4-81 (Failure to Observe Traffic Signals).</p>
            <p><b>Result:</b> The Client was facing extensive license suspensions of in excess of 2 years and up to six months in jail on the criminal eluding charge. He was charged with 24 points of tickets. In addition, a conviction on the criminal charge would have impacted this law student’s career. The Attorney was successful in negotiating a plea that resulted in no criminal record, no jail, and only a 7 month license suspension. The 24 points were reduced down to 6. In the original town the client pled guilty to 39:4-50 (DWI) which resulted in a 90 day suspension and $616 in fines, 39:4-50.2 (Refusal) with 7 months suspension of driving privileges concurrent and a $541 fine; 39:4-82.1 Wrong Way on Divided Highway (2 points) and $111 fine. The 2C:29-1A Eluding was dismissed along with the 39:4-96 (Reckless Driving). In the town where he was finally stopped guilty pleas were entered to two counts of 39:4-81 (Failure to Observe Traffic Signs) and had a $378 fine. The charges of 39:4-82.1 (Wrong Way on Divided Highway), 39:4-96 (Reckless Driving), and 39:4-81 were dismissed.</p>
        </div>
        <div class="col-md-4 ">
            <div class="resourc-8 result">
                <h3>DUI/DWI Resources</h3>
                <ul class="list-unstyled listpage">
                    <li><a href="/Resources/DUI-in-School-Zone-or-School-Crossing">DUI in School Zone or School Crossing</a></li>
                    <li><a href="/Resources/Refusing-the-Chemical-Test">Refusing the Chemical Test</a></li>
                    <li><a href="/Resources/Refusing-Chemical-Test-in-School-Zone-or-Crossing">Refusing Chemical Test in School Zone or Crossing</a></li>
                    <li><a href="/Resources/Boaters-convicted-of-driving-under-the-influence">Boaters convicted of driving under the influence</a></li>
                    <li><a href="/Resources/Driving-Under-the-Influence-of-Alcohol">Driving Under the Influence of Alcohol</a></li>
                    <li><a href="/Resources/The-legal-age-in-NJ-to-purchase-an-alcoholic-beverage">The legal age in NJ to purchase an alcoholic beverage</a></li>
                    <li><a href="/Resources/Interlock-Device-Requirements">Interlock Device Requirements</a></li>
                    <li><a href="/Resources/Surcharges-Alcohol-Violations">Surcharges - Alcohol Violations</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("#DwiDuiResults").addClass("active");
    });
</script>
