@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1 style="margin-left: 33%;margin-bottom: 46px;margin-top: 30px;">
        OOPS! Page not found
       @* Sorry, an error occurred while processing your request.*@
    </h1>
</body>
</html>