@{
    ViewBag.Title = "DUI in Newjersey | social-network";
}

<div class="container-fluid banner-2img">
    <img src="/images/banner-2pg.jpg" alt="Drunk Driving Lawyer in new jersey">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center dwi-result">
            <h1 class="hdnh1">Social Network</h1>
            <h3>Social Network</h3>
        </div>
        <div class="col-md-8 result">
            <h3>Social Network</h3>
            <ul class="list-unstyled list-inline social-net">
                <li class="fb"><a href="https://www.facebook.com/stabilelawfirm/"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook
                </a></li>
                <li class="twiter"><a href="https://twitter.com/traffic_ticket_"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter
                </a></li>
                <li class="fb-like">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="80" style="border: none; overflow: hidden"></iframe>
                </li>
            </ul>
        </div>
        <div class="col-md-4 ">
            <div class="resourc-8 result">
                <h3>DUI/DWI Resources</h3>
                <ol class="listpage">
                    <li><a href="/Resources/DUI-in-School-Zone-or-School-Crossing">DUI in School Zone or School Crossing</a></li>
                    <li><a href="/Resources/Refusing-the-Chemical-Test">Refusing the Chemical Test</a></li>
                    <li><a href="/Resources/Refusing-Chemical-Test-in-School-Zone-or-Crossing">Refusing Chemical Test in School Zone or Crossing</a></li>
                    <li><a href="/Resources/Boaters-convicted-of-driving-under-the-influence">Boaters convicted of driving under the influence</a></li>
                    <li><a href="/Resources/Driving-Under-the-Influence-of-Alcohol">Driving Under the Influence of Alcohol</a></li>
                    <li><a href="/Resources/The-legal-age-in-NJ-to-purchase-an-alcoholic-beverage">The legal age in NJ to purchase an alcoholic beverage</a></li>
                    <li><a href="/Resources/Interlock-Device-Requirements">Interlock Device Requirements</a></li>
                    <li><a href="/Resources/Surcharges-Alcohol-Violations">Surcharges - Alcohol Violations</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SocialNetwork").addClass("active");
    });
</script>

