@{
    ViewBag.Title = "NJ DUI DWI Attorney | Drunk Driving Lawyer New Jersey";
    ViewBag.Description = "If arrested for drunk driving in New Jersey, don't wait just give us a call. We have experience in winning DUI or DWI cases. We are just a call away!";
    ViewBag.Keywords = "NJ DUI DWI Attorney,Drunk Driving Lawyer";
}

<div class="container-fluid banner-2img">
    <img src="/images/banner-2pg.jpg" alt=" NJ DUI DWI Attorney">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center dwi-result">
            <h1 class="hdnh1"></h1>
            <h3>Terms & Definitions</h3>
        </div>
        <div class="col-md-6 right-side3">
            <p><b>Administrative License Suspension:</b> A law that allows the immediate suspension of the license of a driver who is charged with DWI (Driving While Intoxicated) when the driver has a BAC above the limit, or sometimes if a driver refuses to take a breath test. Thus, the license may be suspended before judgment of the DWI charge.</p>
            <p><b>Absorption Rate:</b> The rate at which consumed alcohol settles down into the blood vessels. While alcohol sits in the stomach, its absorption is delayed. Absorption rate will be influenced by person's biologic differences, what type of beverage was taken and how much was eaten. When drinking continues for many hours both burnoff (metabolizing of alcohol) and absorption will be happening simultaneously.</p>
            <p><b>BAC:</b>  Blood alcohol concentration (BAC) refers to the amount of alcohol in your blood and is measured in percentages. BAC can be measured either by blood, breath or urine testing and is frequently used by law enforcement to find out whether a motorist is legally drunk or not. All states of the USA have adopted BAC laws that make it illegal to drive with a BAC at or above a prescribed amount. Since May of 2007, all the 50 states have fixed 0.08% as the BAC limit.</p>
            <p><b>Blood Test:</b> A lab test that directly measures the percentage of alcohol content of the blood drawn from a DWI suspect.</p>
            <p><b>Breath Test:</b>  A test of blood alcohol level that is measured from the alcohol level of the person’s breath. It relys on the correctness of the machine receiving air from deep in the lungs, and a mathematical formula is used to calculate the blood alcohol level from the lung-air alcohol level.</p>
            <p><b>Burn off Rate:</b>  The rate at which alcohol in the body is metabolized. During burn off, the BA level drops, giving rise to the falling curve (term to describe the graph of the decrease in BA).</p>
            <p><b>Breathalyzer:</b> A machine used by law enforcement to measure the BAC of drunk drivers.</p>
            <p><b>Chemical Test:</b> Chemical Test (as it relates to DUI) is a test of the drug or alcohol concentration in blood. Blood analysis, a Breathalyzer, or urinalysis can be carried out as chemical tests for alcohol. If other drugs are suspected, a blood test or urine test may be used.</p>
            <p><b>Commercial Vehicle:</b>  A vehicle driven for business tasks. In the DUI context, these are the consequences for driving a commercial vehicle while drunk.</p>
            <p><b>Conditional License:</b> A conditional license is a license given on condition of a particular situation, such as alcohol treatment plan or finishing a DUI course. Once that condition has been fulfilled, a standard license is generally reinstated or issued.</p>
            <p><b>Community Service:</b> Depending on the violation, your state may offer community service as an approach to work offjail time or fines, which implies you are inhabiting home and reporting amid the day to sweep buildings, get junk, public oriented organizations or community charitable, or perform different administrations to the community. Community Service may likewise be a compulsory piece of your sentencing.</p>
            <p><b>Diversion:</b> A court program that can suspend the penalties of a criminal DWI charge in exchange for completing some tasks, such as attending a drinking driver program. At the end of the period of successful diversion the charges are dismissed. This is less frequently used in DWI cases these days, but still used in some states.</p>
            <p><b>DUI School: </b>DUI schools are basically drug and alcohol education programs organised to help you realize how infectious drinking and driving is and to hopefully ensure you do not repeat the same offence. Your state will likely have a list of approved schools for you to choose from.</p>
            <p><b>DUI:</b>  Driving Under the Influence. Another way of stating DWI.</p>
            <p><b>DWI: </b>Driving While Intoxicated. Another way of stating DUI.</p>
            <p><b>Driver Responsibility Tax: </b>Some states charge those convicted of a DUI with an extra tax along with court costs and fines. This mainly consists of a figure that is payable to the state for three years after the incident occurred. And failure to pay the yearly charges on time may result in license suspension</p>
            <p><b>Felony: </b>A serious crime such as, rape, murder, for which there is a stricter penalty given than for a misdemeanour. Felonies are usually classifieds by degrees. 1st degree felonies are the most serious class, 2nd degree felonies are somewhat less serious, and so on. If there has been a death because of the DUI, it might be classified as a 1st or 2nd degree felony, depending upon the prosecutor and the condition. A few states raise DWI to crime status even without a harm or passing, if the suspect has a given number of earlier DWI convictions. A felony can bring about a sentence to state jail rather than country imprison.</p>
            <p><b>High BAC:</b>  Threshold blood alcohol concentration for which maximum <a class="anchorcolor" href="http://www.dui-newjersey.com/Resources/Surcharges-Alcohol-Violations">fines and penalties</a> may apply, even on a first offense.</p>
            <p><b>Ignition Interlock Device</b>An ignition interlock device in a car prevents the vehicle from starting if it detects a BAC over a prescribed limit of .02%. The device is placed in the vehicle, near the driver’s seat, and is connected to the ignition system of the engine. Many states require that the device be used by those convicted of DUI.</p>
        </div>
        <div class="col-md-6 right-side3">
            <div class="resourc-8 result">
                <h3>DUI/DWI Resources</h3>
                <ol class="listpage">
                    <li><a href="/Resources/DUI-in-School-Zone-or-School-Crossing">DUI in School Zone or School Crossing</a></li>
                    <li><a href="/Resources/Refusing-the-Chemical-Test">Refusing the Chemical Test</a></li>
                    <li><a href="/Resources/Refusing-Chemical-Test-in-School-Zone-or-Crossing">Refusing Chemical Test in School Zone or Crossing</a></li>
                    <li><a href="/Resources/Boaters-convicted-of-driving-under-the-influence">Boaters convicted of driving under the influence</a></li>
                    <li><a href="/Resources/Driving-Under-the-Influence-of-Alcohol">Driving Under the Influence of Alcohol</a></li>
                    <li><a href="/Resources/The-legal-age-in-NJ-to-purchase-an-alcoholic-beverage">The legal age in NJ to purchase an alcoholic beverage</a></li>
                    <li><a href="/Resources/Interlock-Device-Requirements">Interlock Device Requirements</a></li>
                    <li><a href="/Resources/Surcharges-Alcohol-Violations">Surcharges - Alcohol Violations</a></li>
                </ol>
            </div>
            <p><b>Intoxilyzer </b>A brand name for a blood alcohol breath testing machine.</p>
            <p><b>Implied Consent Laws:</b>  A few states have implied consent laws. On the off chance that you have a driver's license in one of these states, you have, by implication, agreed to have your BAC measured. In many states, you may decline to take the test, however license suspensions and fines might be the outcome. In a few states, an officer may not pull over drivers randomly to test them, but should have reasonable justification to believe the driver is DWI before pulling them over</p>
            <p><b>License Suspension:</b> A license suspension means that you cannot drive for the period of your suspension. Driving privileges are typically observed by a state agency other than the court system. It could be the Department of Motor Vehicles, Secretary of your State, or another company. If your <a href="http://www.stabilelawfirm.com/Suspended-License.aspx" class="anchorcolor">license is suspended</a>, the suspension will probably take effect instantly upon arrest, and not upon conviction. Check your state's laws. You, or your legal counsellor for your behalf, might be able to negotiate a limited suspension, which means you may drive to and from work, yet nowhere else.</p>
            <p><b>License Revocation:</b> A license revocation means your driving license have been cancelled. You will likely need to reapply for a driver's license after a decided time.</p>
            <p><b>Misdemeanour </b>A crime that is less serious than a felony. Misdemeanours are sometimes classified by degrees. 1st degree misdemeanours are the most serious class, 2nd degree misdemeanours are less serious, and so on. Many states consider a first DUI conviction as a misdemeanour.</p>
            <p><b>Miranda Rights:</b> The advisement that you have the right to remain quiet and to have a lawyer present before answering questions, which police must tell prior to questioning someone who is in police custody. From time to time pertinent to DWI cases, on the grounds that the police never arrest anybody until after questioning (Have you been drinking?), after the FSTs, and perhaps after the BA Testing. Obviously, one does have the privilege not to answer questions of the police officer.</p>
            <p><b>Open Container Laws:</b>  In some states, it is illegal to have an open container of alcohol in your motor vehicle. Many states have laws that consider it illegal for drivers to have open containers in the vehicle.</p>
            <p><b>Provisional (or Restricted) License:</b> In a DUI context, a provisional license might be given to someone to drive to and from work only, or to and from the court ordered drinking driver program.</p>
            <p><b>Probation</b> When all or part of the jail time is suspended in exchange for good behaviour of the culprit, as determined by checking in with a probation officer. Jail time may be reinstated if it is found the terms of probation are being not followed. Some grants of probation are unsupervised, but a violation may be found after a new arrest</p>
            <p><b>Rising Curve Defense:</b> A defense to DWI situation based upon the claim that the driver was not under the influence and did not showed .08% blood alcohol when he/she was driving, but it rose to that level after arrest due to the fact that alcohol was being absorbed. As a result, a long delay between being pulled over and having a BA test helps the suspect in many cases.</p>
            <p><b>Regurgitation:</b>  Ejecting some stomach substance up into the throat or mouth. With alcohol in the stomach, this can trick a Breathalyzer into believing that the blood alcohol level is much higher than it is. Officers directing a breath test should watch the suspect to see he doesn't regurgitate or burp preceding the test. A cloud of liquor burped up into the mouth will negate the breath test comes about.</p>
            <p><b>Sobriety Checkpoints:</b> A system where law enforcement organizations select a specific venue for a specific time period and stop vehicles to interrogate drivers for possible DWI. If any evidence of intoxication is noted, a detailed investigation takes place.</p>
            <p><b>Urine Test</b>  A laboratory chemical test of the person’s urine to determine the suspect's BA level. It can be inaccurate because of the mixing of higher alcohol level urine with lower alcohol level urine.</p>
            <p><b>Vehicle Immobilization/Impound:</b> Vehicle impound is an option used by some states when there has been more than one DUI offence. The vehicle may be seized, or an ignition interlock device may be installed on the wheel of the car, requiring the driver to pass a breath test using the device before he or she can start the vehicle and drive.</p>
            <p><b>Zero Tolerance BAC:</b> Allowable BA content for minors. This percentage can be as small as 0% (meaning no alcohol content) or as high as 0.02%.</p>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#TermsDefinition").addClass("active");
    });
</script>
