@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center">
    <div class="container">
        <div class="box">
            <h3>Landscape Categories</h3>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.container -->
</div>
<!-- /.inner-banner -->
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="#">Home</a>
                </li>
                <!-- comment for inline hack
				-->
                <li>
                    <a href="#">Landscape</a>
                </li>
            </ul>
            <!-- /.list-line -->
        </div>
        <!-- /.pull-left -->
        <div class="pull-right">
            <a href="#" class="get-qoute"><i class="fa fa-arrow-circle-right"></i>Make an appointment</a>
        </div>
        <!-- /.pull-right -->
    </div>
    <!-- /.container -->
</div>
<!-- /.breadcumb-wrapper -->

<section class="page sidebar-page sec-pad news-wrapper news-list-sidebar-page">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12  col-xs-12 pull-right">
                <div class="single-sidebar wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="search-widget">
                        <form action="#">
                            <input type="text" placeholder="Enter your keyword" />
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- /.search-widget -->
                </div>
                <!-- /.single-sidebar -->
                <div class="single-sidebar wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="categories-widget">
                        <div class="sec-title-two">
                            <h3><span class="black-color-text"><i class="fa fa-folder-open-o"></i>Categories</span></h3>
                            <span class="decor-line"></span>
                        </div>
                        <!-- /.sec-title-two -->
                        <ul class="links">
                            <li><a href="/IronWork/Index">Iron Work <span></span></a></li>
                            <li><a href="/Landscape/Index">LandScape Design <span></span></a></li>
                            <li><a href="/Masonary/Index">Masonry<span></span></a></li>
                            <li><a href="/Construction/Index">Construction<span></span></a></li>
                            <li><a href="/Home/Kitchens_Fireplaces">Kitchens & Fireplaces <span></span></a></li>
                            <li><a href="/Home/DriveWays">Driveways<span></span></a></li>
                        </ul>
                        @* <a href="#" class="view-all"><i class="fa fa-plus"></i>View All</a>*@
                    </div>
                    <!-- /.categories-widget -->
                </div>
                <!-- /.single-sidebar -->
                <div class="single-sidebar wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="about-widget">
                        <div class="sec-title-two">
                            <h3><span class="black-color-text"><i class="fa fa-hand-o-right"></i>About Us</span></h3>
                            <span class="decor-line"></span>
                        </div>
                        <!-- /.sec-title-two -->
                        <img src="/Theme/img/resources/about-1.jpg" alt="Awesome Image" />
                        <p>Our company has proudly been serving the area for over 25 years. We work closely with our clients to actualize their ideas and ensure that they have a role in the creative process every step of the way.</p>
                        <a href="#" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
                    </div>
                    <!-- /.about-widget -->
                </div>

            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 pull-left">

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Landscape/RockGardens.jpeg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Landscape/Rock-Gardens" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            @* <ul class="meta-info list-inline">
                                <li>
                                    <a href="#"></a>
                                </li>
                                <!-- adding this comment for inline hack
                                -->
                                <li>
                                    <a href="#"></a>
                                </li>
                                <!-- adding this comment for inline hack
                                -->
                                <li>
                                    <a href="#"></a>
                                </li>
                                <!-- adding this comment for inline hack
                                -->
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>*@
                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Landscape/Rock-Gardens">ROCK GARDENS</a></h3>
                            <p>Creating your next beach house landscape, or a xeriscape garden in your yard. Vision Landscape RockGardens are seasoned professionals in dealing with rock gardens.</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Landscape/Grading.jpg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Landscape/Gradings" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">

                            <h3><a href="/Landscape/Gradings">Grading</a></h3>
                            <p>New construction to old, rough to fine grading. Using grading to create new gardens and spaces, Micro-climates, or directing water runoff. Visions Landscape and RockGardens has done it all. </p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Landscape/Drainage.jpg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Landscape/Drainage" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">

                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Landscape/Drainage">Drainage</a></h3>
                            <p>Stormwater Runoff can destroy ones home and garden. So allow a experienced professional come in to solve your problems. Located near the shore area, Vision Landscape and Design is very familiar with the common drainage problems and can fix them quickly.</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Landscape/WaterGardens.jpg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Landscape/Water-Gardens" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">

                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Landscape/Water-Gardens">WATER GARDENS</a></h3>
                            <p>Naturally humans are drawn to the sight of water. A small pond, fountain, or waterfall are all small jobs that allow much enjoyment once built. Vision Landscape RockGardens is also experienced in the RockGardens and constructing of large pond plantings, waterfront RockGardenss and plantings, and pool area plantings </p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Landscape/Maintenance.jpg" style="width: 260px; height: 197px;" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Landscape/Maintenance" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">

                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Landscape/Maintenance">MAINTENANCE</a></h3>
                            <p>All gardens need to be maintained,  a garden like Versailles is maintained multiple times a month. Vision Landscape and RockGardens can maintain your personal gardens using hand cut pruning techniques, small machines, and hand weeding. We only use weed killers when asked by customers. Leaf cleanup, trimming, pruning, and mulching are all done by hand allowing a more detailed maintenace.</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Landscape/Planting.jpg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Landscape/Planting" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Landscape/Planting">PLANTING</a></h3>
                            <p>In order to create a prefect home, a simple garden is needed. While the interior of a house might look great, Vision Landscape and RockGardens will create a elegant exterior space in your home. Using plants that are adapted to the area, and a huge amount of knowledge of plants that can survive all types of enviroments in the local area. Vision Landscape and RockGardens is a recognizable, and trusted landscape RockGardenser. </p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

                <div class="single-news-post wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="/Images/Landscape/Design.jpeg" alt="Awesome Image" />
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/Landscape/Design" class="thm-btn">Read More</a>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <!-- /.meta-info list-inline -->
                            <h3><a href="/Landscape/Design">Design</a></h3>
                            <p></p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.single-news-post -->

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

