<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wp1.themexlab.com/html/me-finance/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jul 2016 06:38:35 GMT -->
<head>
    <title>New Jersey Traffic Ticket</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/fav-icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/images/fav-icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/fav-icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/fav-icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/fav-icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/fav-icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/fav-icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/fav-icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/fav-icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/images/fav-icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/fav-icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/fav-icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/fav-icon/favicon-16x16.png">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.vertical-tabs.css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,300,300italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/fonts/font-awesome/css/font-awesome.min.css">
    <!-- Stroke Gap Icon -->
    <link rel="stylesheet" href="~/Content/fonts/stroke-gap/style.css">
    <!-- owl-carousel css -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">

    <!-- owl-carousel css -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/custom/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive/responsive.css">

</head>
<body class="home">
    @*Code For the pop up*@
    <div class="loadercont">
        <div class="loader">Loading...</div>
    </div>



   
    @*Code Ends Here*@
    <header>
        <div class="bottom_header top-bar-gradient">
            <div class="container clear_fix">
                <div class="float_left logo">
                    <a href="~/">
                        <img src="~/Content/NJ_Images/logofinal.png" alt="New Jersey traffic tickets" class="logo-height" />
                    </a>
                </div>
                <div class="float_right address address-margin">
                    <div class="top-info">
                        <div class="icon-box">
                            <span class="separator icon icon-Phone2"></span>
                        </div>
                        <div class="content-box">
                            <p>1-732-602-7795 <br><span>request@stabilelawfirm.com</span></p>
                        </div>
                    </div>

                    <div class="top-info">
                        <div class="icon-box">
                            <span class="separator icon icon-Timer"></span>
                        </div>
                        <div class="content-box">
                            <p>Mon - Sat 9.00 AM - 07.00 PM <br><span>Sunday Closed</span></p>
                        </div>
                    </div>
                    <div class="top-info">
                        <div class="icon-box">
                            <span class="separator icon"><img src="~/Content/NJ_Images/languages-icon-128px.png" alt="New Jersey traffic tickets" style="width:30px;height:35px" /></span>
                        </div>
                        <div class="content-box">
                            <p><a href="~/">English</a> - <a href="/es/Índice">Español </a><br><span>Language</span></p>
                        </div>
                    </div>
                </div>

            </div> <!-- end container -->
        </div> <!-- end bottom_header -->
    </header>

    <section class="mainmenu-area stricky">
        <div class="container">
            <nav class="clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header clearfix">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-th fa-2x"></span>
                    </button>
                </div>
                <div class="nav_main_list custom-scroll-bar pull-left" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="hover_slip">
                        <li><a href="~/"><span class="menuspan menu-active" id="MainPage">Main Page</span> </a></li>
                        <li><a class="contact" href="/NewJersey/About-Us"><span class="menuspan" id="AboutUs">About us</span> </a></li>
                        <li><a class="contact" href="/NewJersey/Why-Us"><span class="menuspan" id="WhyUs">Why us</span> </a></li>
                        <li><a class="contact" href="/NewJersey/Our-Services"><span class="menuspan" id="OurServices">Our services</span></a></li>
                        <li><a class="contact" href="/NewJersey/Resources"><span class="menuspan" id="Resources">Resources</span></a></li>
                        <li><a class="contact" href="/NewJersey/Frequently-asked-questions"><span class="menuspan" id="FAQ">FAQ</span></a></li>
                        <li><a class="contact" href="/NewJersey/Free-Quote"><span class="menuspan" id="FreeQuote">Free Quote</span> </a></li>
                        <li><a class="contact" href="/Blog/Index"><span class="menuspan" id="Blogs">Blogs</span> </a></li>
                        <li><a class="contact" href="/NewJersey/Contactus"><span class="menuspan" id="Contactus">Contact us</span> </a></li>

                    </ul>
                </div>
            </nav> <!-- End Nav -->
        </div> <!-- End Container -->
    </section>

    <section class="p0 container-fluid banner about_banner banner_marginquote">
        <div><img src="~/Content/NJ_Images/trafficSmall.jpg" alt="New Jersey traffic tickets" class="img-responsive" /></div>
    </section>


    <section class="side_tab">
        <div class="container">
            <div class="row" style="margin-top:40px">
                <div class="col-lg-12" style="padding-left:0px;">
                    @RenderBody()

                    @*<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left left_side_bar">
                        <ul class="nav nav-tabs tabs-left">
                           
                            <li class="ntab" id="Dui"><a href="/admin/AddResult"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Add Result</a></li>
                            <li class="ntab" id="TrafficLawyer"><a href="/admin/Result"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Result List</a></li>
                            <li class="ntab" id="Points"><a href="/Blog/Add_New"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Add Blog</a></li>
                            <li class="ntab" id="ViewAll"><a href="/Blog/List"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Blog List</a></li>
                        </ul>


                    </div>*@
                </div>
            </div> <!-- End row -->
        </div> <!-- End container -->
    </section>


    <section class="small_business_sec">
        <div class="business_opacity">
            <div class="container float_right">
                <h2>Stabile Law Firm, LLC</h2>
                <p>
                    900 Route 9 North, Suite 214<br />
                    Woodbridge,NJ 07095<br />
                    USA<br />
                    Phone: +1-732-602-7795<br />
                    Email: request@stabilelawfirm.com<br />
                    Fax: +1-732-602-7796
                </p>
            </div> <!-- End container -->
        </div>
    </section>
    <section class="container-fluid consultation">
        <div class="container text-center">
            <p>If you have any query for related tickets ... We are available</p>
            <a href="/NewJersey/Free-Quote">Contact us <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </section>
    <footer>
        <div class="top_footer container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 part1">
                        <a href="#"></a>
                        <p>Call Us Now For A Free Consultation </p>
                        <p><i class="fa fa-phone"></i>&nbsp;&nbsp;  1-732-602-7795</p>
                        <p>request@stabilelawfirm.com</p>
                        <ul class="p0">
                            <li><a href="https://www.facebook.com/stabilelawfirm/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/traffic_ticket_"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/105631430374039779814/about?gmbpt=true&_ga=1.115186183.1858724218.1472044234"><i class="fa fa-google-plus"></i></a></li>
                            <li class="fb-like"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 part2">
                        <h5>Our Services</h5>
                        <ul class="p0">
                            <li><a href="/NewJersey/Suspended-License"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Suspended license</a></li>
                            <li><a href="/NewJersey/Tailgating"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Tailgating</a></li>
                            <li><a href="/NewJersey/Reckless-Driving"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Reckless driving</a></li>
                            <li><a href="/NewJersey/Careless-Driving"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Careless driving</a></li>
                            <li><a href="/NewJersey/Speeding-Tickets"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Speeding Tickets</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 part2">
                        <h5>Links</h5>
                        <ul class="p0">
                            <li><a href="~/"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Main Page</a></li>
                            <li><a href="/NewJersey/About_Us"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;About us</a></li>
                            <li><a href="/NewJersey/Why-Us"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Why us</a></li>
                            <li><a href="/NewJersey/Our-Services"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Our services</a></li>
                            <li><a href="/NewJersey/Resources"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Resources</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 part1">
                        <h5>Live Chat</h5>
                        <p>
                            Email :<a href="mailto:request@stabilelawfirm.com" class="snd_mail">Click here to send email</a> <br />
                            900 U.S. 9 (North) Suite 214<br />
                            Woodbridge, NJ 07095, USA
                            <a class="popup-trigger"><img src="~/Content/NJ_Images/timing.jpg" alt="New Jersey traffic tickets" class="img-responsive img-rounded" /></a>
                            @*<img src="~/Content/NJ_Images/livehelp (1).jpg"  />*@
                        </p>
                    </div>

                </div> <!-- End row -->
            </div>
        </div> <!-- End top_footer -->
        <div class="bottom_footer container-fluid">
            <div class="container">
                <p class="float_left">Copyright © NJ NY Traffic Tickets </p>
                <p class="float_right">2013 All right Reserved</p>
            </div>
        </div> <!-- End bottom_footer -->
    </footer>
    <!-- ============= /Footer =============== -->
    <!-- Js File -->
    <!-- j Query -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="~/Content/js/validate.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js"></script>

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js"></script>
    <!-- owl-carousel -->
    <script type="text/javascript" src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/owl-custom.js"></script>
    <!-- Custom & Vendor js -->
    <!-- Code for Slider -->
    <script type="text/javascript" src="~/Content/js/custom.js"></script>
    <!--Start of Tawk.to Script-->
    <!--Start of Tawk.to Script-->
    <!--Start of Tawk.to Script-->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/577decfd0f39adbe7e2e6785/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <script type="text/javascript">

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-15521914-3', 'auto');
        ga('send', 'pageview');

        //$(function () {
        //    new WOW().init();

        //    $("#owl-example").owlCarousel({

        //        singleItem: true,
        //        autoPlay: true,
        //        transitionStyle: "fade"

        //    });
        //});

        $(window).load(function () {
            $('.loadercont').fadeOut();
        })

    </script>

</body>
<!-- Mirrored from wp1.themexlab.com/html/me-finance/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jul 2016 06:38:35 GMT -->
</html>
