@{
    ViewBag.Title = "What to do Suspended License? - New Jersey Traffic Tickets";
    ViewBag.Description = "If your driver's license has been suspended due to a traffic ticket, call us at 732-602-7795 for a FREE consultation.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>What to do when your license suspended in New Jersey</h1>
        <p>
            <img src="~/Content/NJ_Images/what_to_do_suspended_license_nj.jpg" class="img-responsive img-circle" />  If your driving privileges have been suspended, you will need to pay a Restoration Fee of $100. If the judge did not take your license in court, you must surrender it at any Regional Service Center or mail to:<br />
            Motor Vehicle Commission<br />
            Driver Management Bureau<br />
            P.O. Box 134<br />
            Trenton, NJ 08650
        </p>
        <div class="clearfix"></div>
        <div class="ul_info">
            <ul style="list-style-type:disc;margin-left:20px">
                <li class="tab_li">Do not drive until you restore your license and receive a written notice of restoration</li>
                <li class="tab_li">If you continue to drive while your license is suspended, you could face up to five years in jail</li>
                <li class="tab_li">For further assistance, call MVC at (609) 292-7500</li>
            </ul>
        </div>
        <h4>Possible reasons your license can be suspended</h4>
        <div class="ul_info">
            <ul style="list-style-type:disc;margin-left:20px">
                <li class="tab_li">If you receive 12 or more points on your current driver record</li>
                <li class="tab_li">Failure to appear in court or to pay fines</li>
                <li class="tab_li">Failure to pay surcharges</li>
                <li class="tab_li">Driving with a suspended license</li>
                <li class="tab_li">Failure to provide proof of insurance</li>
                <li class="tab_li">Physical or mental disqualification</li>
                <li class="tab_li">Drug or alcohol use while driving (DUI and DWI)</li>
                <li class="tab_li">Reckless driving</li>
                <li class="tab_li">Vehicle abandonment on a public highway</li>
                <li class="tab_li">Fault in a fatal accident
				<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
				
				</li>
            </ul>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");

    });

</script>


