@{
    ViewBag.Title = "Decorative_Accents";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center">
	<div class="container">
		<div class="box">
			<h3>Decorative Accents</h3>
		</div><!-- /.box -->
	</div><!-- /.container -->
</div>


   

<section class="latest-project sec-pad ">
    <div class="container">
        
        
  @*      <div class="text-center">
            <ul class="post-filter light list-inline">
                <li class="active" data-filter=".filter-item">
                    <span>All</span>
                </li><!-- must add it for inline block hack
                --><li data-filter=".lawn">
                    <span>Lawn Care</span>
                </li><!-- must add it for inline block hack
                --><li data-filter=".garden">
                    <span>Garden Care</span>
                </li><!-- must add it for inline block hack
                --><li data-filter=".snow">
                    <span>Snow Removal</span>
                </li><!-- must add it for inline block hack
                --><li data-filter=".planting">
                    <span>Planting</span>
                </li><!-- must add it for inline block hack
                --><li data-filter=".video">
                    <span>Video Gallery</span>
                </li>
            </ul><!-- /.gallery-filter -->
        </div><!-- /.text-center -->*@

        <div class="row masonary-layout filter-layout">
            <div class="col-md-3 filter-item video">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/accent1.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/accent1.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Decorative Accents</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item planting">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/accent2.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/accent2.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Decorative Accents</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item garden snow">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/accent3.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/accent3.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Decorative Accents</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item lawn">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/accent4.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/accent4.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Decorative Accents</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
        
        </div><!-- /.row -->

    

    </div><!-- /.container -->
</section>
