@{
    Layout = "";
}

<meta charset="UTF-8" />
<title>VISION- LandScape & Design</title>
<link rel="icon" type="image/png" sizes="32x32" href="/Theme/img/fav-icon.png">
<!-- mobile responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/Theme/css/style.css">
<link rel="stylesheet" href="/Theme/css/responsive.css">

<!-- customizer plate css -->
<link rel="stylesheet" href="/Theme/customizer/css/style.css" />
<!-- Color css -->
<link rel="stylesheet" id="jssDefault" href="/Theme/css/skin/color1.css">
<style>
    .active {
        color: #A8C41B;
    }
</style>

<header class="header header-2 site-header">
    <div class="header-top">
        <div class="container">
            <div class="pull-left contact-info right-info">
                <ul class="list-inline contact-info-list">
                    <li>
                        <div class="inner-box">
                            <i class="fa fa-phone"></i><span>732-796-9880</span>
                        </div>
                        <!-- /.inner-box -->
                    </li>
                    <!-- adding comment for inline hack 
					-->
                    <li>
                        <div class="inner-box">
                            <i class="fa fa-envelope-o"></i><span>info@vision-landscapes.com</span> &nbsp; &nbsp;
                            <i class="fa fa-envelope-o"></i><span>ilan@vision-landscapes.com</span>
                        </div>
                        <!-- /.inner-box -->
                    </li>
                </ul>
            </div>
            <!-- /.pull-right -->
            <div class="pull-right contact-info right-info">
                Fax: 732-796-9890
            </div>
            <!-- /.pull-right -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-top -->
    <nav class="navbar navbar-default header-navigation stricky">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-bar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand light-logo" href="#">
                    <img src="/Theme/img/logo-vision.png" alt="Awesome Image" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav-bar">


                <ul class="nav navbar-nav navigation-box">
                    <li class="tabs" id="tabhome">
                        <a href="." class="tabs">Home</a>
                    </li>
                    <li id="tababoutus" class="tabs">
                        <a href="/home/aboutus">About Us</a>
                    </li>
                    <li id="tabservices" class="tabs">
                        <a href="/home/services">Services</a>
                    </li>
                    <li id="tabtestimonials">
                        <a href="/home/Testimonials">Testimonials</a>
                    <li>
                    <li id="tabcontact" class="tabs"><a href="/home/Contact_Us">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right right-box">
                    <li>
                        <a href="/Home/Freequote" class="thm-btn">Get a Quote</a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>
<!-- /.header -->


<section class="rev_slider_wrapper">
    <div class="rev_slider slider1" id="slider1" data-version="5.0" data-height="810">
        <ul>
            <li data-transition="random">
                <img src="/Theme/img/resources/slider-2-1.jpg" alt="" width="1920" height="720" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption tp-resizeme text-center"
                    data-x="center" data-hoffset="0"
                    data-y="top" data-voffset="300"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="banner-caption-h3"><span class="decor-3-line increase-left"></span>We are Certified & Insured <span class="decor-3-line increase-right"></span></div>
                </div>
                <div class="tp-caption tp-resizeme text-center"
                    data-x="center" data-hoffset="0"
                    data-y="top" data-voffset="350"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="banner-caption-h1">Iron work</div>
                </div>
                <div class="tp-caption tp-resizeme text-center"
                    data-x="center" data-hoffset="0"
                    data-y="top" data-voffset="455"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="banner-caption-p normal-font">
                        We also provide the design and installation of many landscape construction projects
                        <br />
                        including walkways, steps, retaining walls, patios, veneer stone, etc
                    </div>
                </div>
                <div class="tp-caption tp-resizeme text-center"
                    data-x="center" data-hoffset="0"
                    data-y="top" data-voffset="545"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="1400">
                    <a href="/home/aboutus" class="thm-btn">About us</a>&emsp;&emsp;<a href="/home/Contact_Us" class="thm-btn borderd inverse">Contact Us</a>
                </div>


            </li>
            <li data-transition="random">
                <img src="/Theme/img/resources/slider-2-2.jpg" alt="" width="1920" height="720" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption tp-resizeme text-center"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="300"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="banner-caption-h3">Let Your Party Gardern <span class="decor-3-line increase-right"></span></div>
                </div>
                <div class="tp-caption tp-resizeme text-center"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="375"
                    data-start="500">
                    <div class="banner-caption-h1 has-leaf-decor">Masonry</div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="460"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="banner-caption-p normal-font">
                        We also provide the design and installation of many landscape construction projects
                        <br />
                        including walkways, steps, retaining walls, patios, veneer stone, etc
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="555"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="1400">
                    <a href="/home/aboutus" class="thm-btn">About us</a>&emsp;&emsp;<a href="/home/Contact_Us" class="thm-btn borderd inverse">Contact Us</a>
                </div>


            </li>
            <li data-transition="random">
                <img src="/Theme/img/resources/slider-2-3.jpg" alt="" width="1920" height="720" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption tp-resizeme text-center"
                    data-x="right" data-hoffset="190"
                    data-y="top" data-voffset="300"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="banner-caption-h3">Have More Care about <span class="decor-3-line increase-right"></span></div>
                </div>
                <div class="tp-caption tp-resizeme text-center"
                    data-x="right" data-hoffset="57"
                    data-y="top" data-voffset="370"
                    data-start="500">
                    <div class="banner-caption-h1 has-leaf-decor half-line-height">Landscape-Design</div>
                </div>
                <div class="tp-caption tp-resizeme "
                    data-x="right" data-hoffset="0"
                    data-y="top" data-voffset="455"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="banner-caption-p">
                        Contrary to popular belief, Lorem Ipsum is not simply random it has roots
                        <br />
                        classical Latin literature from 45 BC, making it over 2000.
                    </div>
                </div>
                <div class="tp-caption tp-resizeme "
                    data-x="right" data-hoffset="215"
                    data-y="top" data-voffset="550"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="1400">
                    <a href="/home/aboutus" class="thm-btn">About us</a>&emsp;&emsp;<a href="/home/Contact_Us" class="thm-btn borderd inverse">Contact Us</a>
                </div>

            </li>



            <li data-transition="random">
                <img src="/Theme/img/resources/construction-2.jpg" alt="" width="1920" height="720" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption tp-resizeme text-center"
                    data-x="right" data-hoffset="190"
                    data-y="top" data-voffset="300"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="banner-caption-h3">Have More Care about <span class="decor-3-line increase-right"></span></div>
                </div>
                <div class="tp-caption tp-resizeme text-center"
                    data-x="right" data-hoffset="57"
                    data-y="top" data-voffset="370"
                    data-start="500">
                    <div class="banner-caption-h1 has-leaf-decor half-line-height">Construction</div>
                </div>
                <div class="tp-caption tp-resizeme "
                    data-x="right" data-hoffset="0"
                    data-y="top" data-voffset="455"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="banner-caption-p">
                        Contrary to popular belief, Lorem Ipsum is not simply random it has roots
                        <br />
                        classical Latin literature from 45 BC, making it over 2000.
                    </div>
                </div>
                <div class="tp-caption tp-resizeme "
                    data-x="right" data-hoffset="215"
                    data-y="top" data-voffset="550"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="1400">
                    <a href="/home/aboutus" class="thm-btn">About us</a>&emsp;&emsp;<a href="/home/Contact_Us" class="thm-btn borderd inverse">Contact Us</a>
                </div>

            </li>
        </ul>
    </div>
</section>


<section class="sec-pad service-box-three" style="padding: 15px 0">
    <div class="container">
        <div class="row" style="padding: 15px 0">
            <div class="text-center" style="color: #394902">
                <h1>Vision Enterprise LLC</h1>
            </div>
            <div class="col-md-12">
                <p class="text-justify text-info">
                    We specialize in all aspects of landscape design from structural to grading and planting. Vision landscape design was established in 1988. The designs are created by our owner Alain Belilty and our Landscape Archiect. Our crews are skilled and a pleasure to have around.
We are endeavored to provide our customers with quality service and reliability, in fact we will guarentee your satisfaction - after all we always walk away with a smile, a hand shake and a relationship for years to come.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-service-box-three">
                    <a href="/Subcategory/Index?id=1">
                        <div class="img-box">
                            <img src="/Images/vision-logopics/iron.jpg" alt="Awesome Image" class="images" />
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <div class="content-inner">
                                            @*<h3>Vision Iron Works</h3>*@
                                            <h3>
                                                <img src="~/Images/logo1/vision.png" />
                                                @* <img src="/Images/Site-logos/Logo-iron.png" /></h3>*@
                                                <span class="decor-line"></span>
                                            <p>Excellent design and craftsmanship are prominant for providing this unique service of gates, fencing and other numerous construction features.</p>
                                        </div>
                                        <!-- /.content-inner -->
                                    </div>
                                    <!-- /.content -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.overlay -->
                        </div>
                    </a>
                </div>
                <!-- /.single-service-box-three -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="single-service-box-three">
                    <a href="/Subcategory/Index?id=2">
                        <div class="img-box">
                            <img src="/Images/vision-logopics/Landscape.jpg" alt="Awesome Image" class="images" />
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <div class="content-inner">
                                            @* <h3>Vision Landscape Design</h3>*@
                                            <h3>
                                                <img src="/Images/Site-logos/Logo-landscape.png" /></h3>
                                            <span class="decor-line"></span>
                                            <p>We have a range of water fountain specialists can design the better solution for you.</p>
                                        </div>
                                        <!-- /.content-inner -->
                                    </div>
                                    <!-- /.content -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.overlay -->
                        </div>
                    </a>
                </div>
                <!-- /.single-service-box-three -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="single-service-box-three">
                    <a href="/Subcategory/Index?id=3">
                        <div class="img-box">
                            <img src="/Images/vision-logopics/Masonry.jpg" alt="Awesome Image" class="images">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <div class="content-inner">
                                            @*   <h3>Vision Masonry</h3>*@
                                            <h3>
                                                <img src="~/Images/Site-logos/Logo-masonry.png" /></h3>
                                            <span class="decor-line"></span>
                                            <p>we have a team of professional estimators that will create efficient and competitive quotation's for your commercial.</p>
                                            <!-- /.content -->
                                        </div>
                                        <!-- /-divinner.content -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.overlay -->
                        </div>
                    </a>
                </div>
                <!-- /.single-service-box-three -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="single-service-box-three">
                    <a href="/Subcategory/Index?id=4">
                        <div class="img-box">
                            <img src="/Images/vision-logopics/Construction.jpg" alt="Awesome Image" class="images" />
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <div class="content-inner">
                                            @*   <h3>Vision Construction</h3>*@
                                            <h3>
                                                <img src="/Images/Site-logos/Logo-construction.png" /></h3>
                                            <span class="decor-line"></span>
                                            <p>Under Construction: You can see our work in progress in all aspectsof landscape construction.</p>
                                        </div>
                                        <!-- /.content-inner -->
                                    </div>
                                    <!-- /.content -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.overlay -->
                        </div>
                    </a>
                </div>
                <!-- /.single-service-box-three -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="single-service-box-three">
                    <a href="/Subcategory/Index?id=5">
                        <div class="img-box">
                            <img src="/Images/vision-logopics/Kitchen.jpg" alt="Awesome Image" class="images" />
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <div class="content-inner">
                                            @* <h3>Vision Kitchens & Fireplaces:</h3>*@
                                            <h3>
                                                <img src="~/Images/Site-logos/Logo-fireplace.png" /></h3>
                                            <span class="decor-line"></span>
                                            <p>There are endless options for custom building fireplaces and kitchens for perfect outdoor living spaces.</p>
                                        </div>
                                        <!-- /.content-inner -->
                                    </div>
                                    <!-- /.content -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.overlay -->
                        </div>
                    </a>
                </div>
                <!-- /.single-service-box-three -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="single-service-box-three">
                    <a href="/Subcategory/Index?id=6">
                        <div class="img-box">
                            <img src="/Images/vision-logopics/drivway.jpg" alt="Awesome Image" class="images" />
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <div class="content-inner">
                                            @*<h3>Vision Driveways</h3>*@
                                            <h3>
                                                <img src="/Images/Site-logos/Logo-drivway.png" /></h3>
                                            <span class="decor-line"></span>
                                            <p>Over the years Vision has designed and installed many driveways.</p>
                                        </div>
                                        <!-- /.content-inner -->
                                    </div>
                                    <!-- /.content -->
                                </div>
                                <!-- /.overlay -->
                            </div>
                            <!-- /.img-box -->
                        </div>
                    </a>
                </div>
                <!-- /.content -->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<div class="google-map-wrapper gray-color-bg">
    <div class="request-qoute-box in-map">
        <div class="container">
            <div class="col-md-6 pull-left">
                <div class="text-center wow slideInLeft estimate" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="/Theme/img/resources/estimate.png" alt="Awesome Image" />
                </div>
                <!-- /.text-center -->
            </div>
            <!-- /.col-md-6 pull-left -->
            <div class="col-md-6 pull-right sec-pad" id="Vision">
                <div class="over-map wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="sec-title outer-stroke">
                        <div class="inner">

                            <h2>Request An Estimate</h2>
                            <span class="decor-line"></span>
                        </div>
                        <!-- /.inner-->
                    </div>
                    <!-- /.sec-title-->
                    <div class="inner-box" id="">
                        <form action="#" class="contact-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-grp">
                                        <div class="select-box">
                                            <select class="selectpicker">
                                                <option value="">Select Your Service</option>
                                                <option value="0">Pools & Spas</option>
                                                <option value="1">Driveways</option>
                                                <option value="2">Kitchens & Fireplaces</option>
                                                <option value="3">Gates</option>
                                                <option value="4">Decorative Accents</option>
                                                <option value="5">Landscape Designs </option>
                                                <option value="6">Under Constructions </option>
                                                <option value="6">Iron Works </option>

                                            </select>
                                        </div>
                                        <!-- /.select-box -->
                                    </div>
                                    <!-- /.form-grp -->
                                </div>
                                <!-- /.col-md-12 -->
                                <div class="col-md-6">
                                    <div class="form-grp">
                                        <input type="text" id="txtName" name="Name" placeholder="Your Name *" />
                                    </div>
                                    <!-- /.form-grp -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="form-grp">
                                        <input type="text" id="txtEmail" name="Email" placeholder="Your Mail *" />
                                    </div>
                                    <!-- /.form-grp -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="form-grp">
                                        <input type="text" id="txtPhnumber" name="Phone" placeholder="Phone Number *" />
                                    </div>
                                    <!-- /.form-grp -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="form-grp">
                                        <button type="submit" id="btnsendemail" class="thm-btn">Submit</button>
                                    </div>
                                    <!-- /.form-grp -->
                                </div>
                                <!-- /.col-md-6 -->
                            </div>
                            <!-- /.orw -->
                        </form>
                        <p>
                            <label>For Business :</label>
                            For Business inquiry fill our short feedback form or you can also send us an <span class="highlight">- info@vision-landscapes.com</span> and we’ll get in touch shortly, or Troll Free Number <span class="highlight">- + 732-796 9880</span>
                        </p>
                        <p>
                            <label>Office Hours :</label>
                            09:00 and 19:00 Mon to Sat, Sun - Holiday
                        </p>
                    </div>
                    <!-- /.inner-box -->
                </div>
                <!-- /.over-map -->
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.request-qoute-box -->

</div>
<!-- /.google-map-wrapper -->


<section class="home-cta-box has-base-color-overlay sec-pad text-center">
    <div class="container">
        <h3>We invested our hard work for people just like you that
            <br />
            insist on a great user experience.</h3>
    </div>
    <!-- /.container -->
</section>
<!-- /.home-cta-box -->


<footer class="footer has-black-color-overlay has-dark-texture">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-widget about-widget">
                    <a href="#">
                        <img src="/Theme/img/logo-vision.png" alt="" /></a>
                    <p>Our company has proudly been serving the area for over 25 years.  We work closely with our clients to actualize their ideas and ensure that they have a role in the creative process every step of the way.Our mason crew over the years has created some impressive foot prints. Their work consists of walks, patios, columns, waterworks; as well as stone work such as fire places, outdoor kitchens, and retaining walls. We've also veneered many homes. </p>
                </div>
                <!-- /.footer-widget about-widget -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="footer-widget link-widget">
                    <div class="sec-title-two">
                        <h3><span class="white-color-text">Our Services</span></h3>
                        <span class="decor-line"></span>
                    </div>
                    <!-- /.sec-title-two -->
                    <ul class="links">
                        <li>Pools & Spas
                        </li>
                        <li>Driveways</li>
                        <li>Kitchens & Fireplaces</li>
                        <li>Gates</li>
                        <li>Decorative Accents</li>
                        <li>Landscape Designs</li>
                        <li>Under Constructions</li>
                        <li>Iron Works</li>
                    </ul>
                    <!-- /.links -->
                </div>
                <!-- /.footer-widget link-widget -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="footer-widget subscribe-widget">
                    <div class="sec-title-two">
                        <h3><span class="white-color-text">Testimonials</span></h3>
                        <span class="decor-line"></span>
                    </div>
                    <!-- /.sec-title-two -->
                    <p class="text-justify">Alain and his team at Vision Landscape transformed my Rumson property. The project exceeded my expectations. After my first meeting with Alain, he quickly grasped my vision for the property and put together a project plan and budget to turn my dream into a reality. I couldn't be happier with the results. Through the planning and execution of the project, he was very engaged and the quality of the work was outstanding</p>
                </div>
                <!-- /.footer-widget link-widget -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="footer-widget contact-widget">
                    <div class="sec-title-two">
                        <h3><span class="white-color-text">Contact Details</span></h3>
                        <span class="decor-line"></span>
                    </div>
                    <!-- /.sec-title-two -->
                    <div class="footer-contact-info-carousel owl-theme owl-carousel">
                        <div class="item">
                            <ul class="contact-infos">
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-signs"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>
                                            PO Box 656,<br />
                                            Rumson N.J 07760.
                                        </p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-technology"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Call us: +732-796 9880</p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-technology"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Fax: +732-796-9890</p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-note"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Mail us :  info@vision-landscapes.com </p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-note"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Mail us :  ilan@vision-landscapes.com </p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <!-- /.contact-infos -->
                        </div>
                        <!-- /.item -->
                        <div class="item">
                            <ul class="contact-infos">
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-signs"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>
                                            PO Box 656,<br />
                                            Rumson N.J 07760.
                                        </p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-technology"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Call us: +732-796 9880</p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-technology"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Fax: +732-796-9890</p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-note"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Mail us :  info@vision-landscapes.com </p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>x
                                    <div class="icon-box">
                                        <i class="lsp-icon-note"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Mail us :  ilan@vision-landscapes.com </p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <!-- /.contact-infos -->
                        </div>
                        <div class="item">
                            <ul class="contact-infos">
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-signs"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>
                                            PO Box 656,<br />
                                            Rumson N.J 07760.
                                        </p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-technology"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Call us: +732-796 9880</p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-technology"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Fax: +732-796-9890</p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-note"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Mail us :  info@vision-landscapes.com </p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <li>
                                    <div class="icon-box">
                                        <i class="lsp-icon-note"></i>
                                    </div>
                                    <!-- /.icon-box -->
                                    <div class="text-box">
                                        <p>Mail us :  ilan@vision-landscapes.com </p>
                                    </div>
                                    <!-- /.text-box -->
                                </li>
                                <!-- /.contact-infos -->
                        </div>
                        <!-- /.item -->
                    </div>
                    <!-- /.contact-info-carousel owl-theme owl-carousel -->

                </div>
                <!-- /.footer-widget link-widget -->
            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>



<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
<script src="/Theme/assets/jquery-1.12.4.min.js"></script>
<script src="/Theme/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/Theme/assets/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<!-- revolution slider js -->
<script src="/Theme/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/Theme/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/Theme/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/Theme/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/Theme/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/Theme/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/Theme/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/Theme/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/Theme/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/Theme/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/Theme/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>







<script src="/Theme/assets/jquery-validation/dist/jquery.validate.min.js"></script>

<script src="/Theme/assets/owl.carousel-2/owl.carousel.min.js"></script>

<script src="/Theme/assets/nouislider/nouislider.js"></script>
<script src="/Theme/assets/bootstrap-touch-spin/jquery.bootstrap-touchspin.js"></script>

<script src="/Theme/assets/isotope.js"></script>

<script src="/Theme/assets/masterslider/masterslider.min.js"></script>

<script src="/Theme/assets/bxslider/dist/jquery.bxslider.min.js"></script>

<script src="/Theme/assets/chartjs/dist/Chart.min.js"></script>

<script src="/Theme/assets/jquery-circle-progress-1.1.2/dist/circle-progress.js"></script>
<script src="/Theme/assets/morris.js-master/morris.min.js"></script>
<script src="/Theme/assets/raphael-master/raphael.min.js"></script>

<script src="/Theme/assets/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>

<script src="/Theme/assets/waypoints.min.js"></script>
<script src="/Theme/assets/jquery.counterup.min.js"></script>

<script src="/Theme/assets/wow.min.js"></script>


<script src="/Theme/assets/jquery.backstretch.min.js"></script>


<script src="/Theme/assets/Polyglot-Language-Switcher-master/js/jquery.polyglot.language.switcher.js"></script>

<script src="/Theme/js/custom.js"></script>

<script>
    $(function () {
        ActiveTab();
    });
    $("#btnsendemail").click(function () {
        var Service = $(".selectpicker option:selected").text();
        var Name = $("#txtName").val();
        var Email = $("#txtEmail").val();
        var PhoneNumber = $("#txtPhnumber").val();
        if (Name == "" || Email == "" || PhoneNumber == "" || $(".selectpicker").val() == "") {
            alert("All Fields are required")
            return;
        }
        if (!ValidateEmail(Email)) {
            alert('Not a valid email');
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Home/SendEmailforEstimate",
            data: JSON.stringify({ Name: Name, Email: Email, PhoneNumber: PhoneNumber, Service: Service }),
            dataType: "Json",
            success: function (response) {
                alert(response);
            },
            error: function (response) {
                alert("Email not Sent.");
            }
        });
    });
    function ValidateEmail(email) {
        // Validate email format
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);
    };
    $("#txtPhnumber").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
    function ActiveTab() {
        $(".tabs").removeClass("current");
        $("#tabhome").addClass("current");
    }
</script>
