@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<div class="inner-banner has-base-color-overlay text-center">
	<div class="container">
		<div class="box">
			<h3>Services</h3>
		</div><!-- /.box -->
	</div><!-- /.container -->
</div><!-- /.inner-banner -->


<div class="breadcumb-wrapper">
	<div class="container">
		<div class="pull-left">
			<ul class="list-inline link-list">
				<li>
					<a href="/">Home</a>
				</li><!-- comment for inline hack
				 --><li>
					<span>Services</span>
				</li>
			</ul><!-- /.list-line -->
		</div><!-- /.pull-left -->
		<div class="pull-right">
			<a href="/" class="get-qoute"><i class="fa fa-arrow-circle-right"></i> Make an appointment</a>
		</div><!-- /.pull-right -->
	</div><!-- /.container -->
</div><!-- /.breadcumb-wrapper -->


<section class="service-box-one-wrapper service-page sec-pad">
    <div class="container">
        <div class="single-service-box-wrapper">
	        <div class="row">
	            <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/service-v1-1.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                         <h3>Landscape Design</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->
	            <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Perennial-Gardens.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                        <h3>Perennial Gardens</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->
	            <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Formal-Gardens.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                        <h3>Formal Gardens</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->
	        </div><!-- /.row -->
        </div><!-- /.single-service-box-wrapper -->
        <div class="single-service-box-wrapper">
	        <div class="row">
	            <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Woodland-Planting.jpeg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                       <h3>Woodland Planting</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->
	            <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Natural-Stone-Walls,-Patios-and-Pool-Decks.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                        <h3>Natural Stone Walls</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->
	            <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Masonry-Brick,-Stone-Columns-and-Walls.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                        <h3>Masonry Brick</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->


                    <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Pavers-and-Prefab-Retaining-Walls.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                         <h3>Pavers and Prefab Retaining Walls</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Garden-Decorative-Accents.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                        <h3>Garden Decorative Accents</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Iron-Gates,-Fences.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                        <h3>Iron Gates</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Gazebos.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                        <h3>Gazebos</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->



                          <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Pergolas.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                        <h3>Pergolas</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->


                          <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Belgian-Block.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                        <h3>Belgian Blocks</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->


                          <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Outdoor-Lighting.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                         <h3>Outdoor Lighting</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->

                          <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Irrigation-Systems.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                        <h3>Irrigation Systems</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->

                  <div class="col-md-4">
	                <div class="single-service-box-one">
	                    <div class="img-box">
	                        <img src="/Theme/img/services/Ponds-and-Water-Falls.jpg" alt="Awesome Image"/>
	                        <div class="overlay">
	                            <div class="box">
	                            </div><!-- /.box -->
	                        </div><!-- /.overlay -->
	                    </div><!-- /.img-box -->
                        <h3>Ponds and Water Falls</h3>
	                </div><!-- /.single-service-box-one -->
	            </div><!-- /.col-md-4 -->
	        </div><!-- /.row -->
        </div><!-- /.single-service-box-wrapper -->
    </div><!-- /.container -->
</section><!-- /.service-box-one-wrapper -->
<script src="/Theme/assets/jquery-1.12.4.min.js"></script>
<script>
    $(function () {
        ActiveTab();
    });
    function ActiveTab() {
        $(".tabs").removeClass("current");
        $("#tabservices").addClass("current");
    }
</script>