@{
    ViewBag.Title = "Testimonials";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<div class="inner-banner has-base-color-overlay text-center">
	<div class="container">
		<div class="box">
			<h3>Testimonials</h3>
		</div><!-- /.box -->
	</div><!-- /.container -->
</div><!-- /.inner-banner -->


<div class="breadcumb-wrapper">
	<div class="container">
		<div class="pull-left">
			<ul class="list-inline link-list">
				<li>
					<a href="/">Home</a>
				</li><!-- comment for inline hack
				 --><li>
					<span>Testimonials</span>
				</li>
			</ul><!-- /.list-line -->
		</div><!-- /.pull-left -->
		<div class="pull-right">
			<a href="/" class="get-qoute"><i class="fa fa-arrow-circle-right"></i> Make an appointment</a>
		</div><!-- /.pull-right -->
	</div><!-- /.container -->
</div><!-- /.breadcumb-wrapper -->


<section class="testimonial-style-two sec-pad">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-testimonial-two">
                    <div class="text-box">
                        <p>Earlier, I was tensed about decorating my yard. Then my neighbours recommended VISION Landscape & Design. And today, I am truly impressed with the knowledge, professionalism and dedication of the team. 
.</p>
                    </div><!-- /.text-box -->
                    <div class="name-box">
                        <div class="icon-box">
                            <img src="/Theme/img/resources/testi-2-1.jpg" alt="Awesome Image" />
                        </div><!-- /.icon-box -->
                        <div class="title-box">
                            <h3 class="secondary-font">Eloisa Tarro</h3>
                            <span class="secondary-font">- Villo Gardens</span>
                        </div><!-- /.title-box -->
                    </div><!-- /.name-box -->
                </div><!-- /.single-testimonial-two -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="single-testimonial-two">
                    <div class="text-box">
                        <p>VISION Landscape & Design is a leader in transforming barren land into fascinating one! Thanks a lot to them for the landscape design which is not less than a fantasy for me. The quality of work they provide is remarkable.</p>
                    </div><!-- /.text-box -->
                    <div class="name-box">
                        <div class="icon-box">
                            <img src="/Theme/img/resources/testi-2-2.jpg" alt="Awesome Image"/>
                        </div><!-- /.icon-box -->
                        <div class="title-box">
                            <h3 class="secondary-font">Juliann Goepel</h3>
                            <span class="secondary-font">- Villo Gardens</span>
                        </div><!-- /.title-box -->
                    </div><!-- /.name-box -->
                </div><!-- /.single-testimonial-two -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="single-testimonial-two">
                    <div class="text-box">
                        <p>We had been recmmended VISION Landscape and Design by our relatives and we are not at all disappointed. The team is a responsible one; they cleaned up every night and this is the thing that I liked the most about them.</p>
                    </div><!-- /.text-box -->
                    <div class="name-box">
                        <div class="icon-box">
                            <img src="/Theme/img/resources/testi-2-3.jpg" alt="Awesome Image"/>
                        </div><!-- /.icon-box -->
                        <div class="title-box">
                            <h3 class="secondary-font">Kaye Stallsworth</h3>
                            <span class="secondary-font">- Villo Gardens</span>
                        </div><!-- /.title-box -->
                    </div><!-- /.name-box -->
                </div><!-- /.single-testimonial-two -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="single-testimonial-two">
                    <div class="text-box">
                        <p>The design and construction service provided by VISION Landscape & Design is very impressive. I find VISION Landscape & Design to be a very professional organization and would not hesitate to recommend them to my near and dear ones!.</p>
                    </div><!-- /.text-box -->
                    <div class="name-box">
                        <div class="icon-box">
                            <img src="/Theme/img/resources/testi-2-4.jpg" alt="Awesome Image" class="img-circle"/>
                        </div><!-- /.icon-box -->
                        <div class="title-box">
                            <h3 class="secondary-font">Joslyn Winkelpleck</h3>
                            <span class="secondary-font">- Villo Gardens</span>
                        </div><!-- /.title-box -->
                    </div><!-- /.name-box -->
                </div><!-- /.single-testimonial-two -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="single-testimonial-two">
                    <div class="text-box">
                        <p>Working with the right people and that too at reasonable rates is the most satisfying experience. And I got the same while working with the VISION Landscape & Design team. They made my yard look healthy and attractive. Thanks a ton to the whole team!.</p>
                    </div><!-- /.text-box -->
                    <div class="name-box">
                        <div class="icon-box">
                            <img src="/Theme/img/resources/testi-2-5.jpg" alt="Awesome Image"/>
                        </div><!-- /.icon-box -->
                        <div class="title-box">
                            <h3 class="secondary-font">Ricardo Andrae</h3>
                            <span class="secondary-font">- Villo Gardens</span>
                        </div><!-- /.title-box -->
                    </div><!-- /.name-box -->
                </div><!-- /.single-testimonial-two -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="single-testimonial-two">
                    <div class="text-box">
                        <p>Thanks a lot VISION Landscape & Design team for helping me with my project. The railings are beautiful and sturdy — just what my mother wanted. I was not there but she told me that the whole team was very polite and talented.These guys are good!. Thank you again!.</p>
                    </div><!-- /.text-box -->
                    <div class="name-box">
                        <div class="icon-box">
                            <img src="/Theme/img/resources/testi-2-6.jpg" alt="Awesome Image"/>
                        </div><!-- /.icon-box -->
                        <div class="title-box">
                            <h3 class="secondary-font">Denna Egbe</h3>
                            <span class="secondary-font">- Villo Gardens</span>
                        </div><!-- /.title-box -->
                    </div><!-- /.name-box -->
                </div><!-- /.single-testimonial-two -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.testimonial-style-two -->

<section class="client-testimonials sec-pad has-gray-texture2">
    <div class="container">
        <div class="sec-title semi text-center">        
            <h2><span class="black-color-text">Client</span> <span class="base-color-text">Testimonials</span></h2>
        </div><!-- /.sec-title-->
        <div class="client-testimonial-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="single-testimonial-home">
                    <div class="icon-box">
                        <img src="/Theme/img/resources/testi-2-5.jpg" alt="Awesome Image" class="img-circle"/>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <p>Working with the right people and that too at reasonable rates is the most satisfying experience. And I got the same while working with the VISION Landscape & Design team. They made my yard look healthy and attractive. Thanks a ton to the whole team!.</p>
                        <h3>Ricardo Andrae <span>- Villo Gardens</span></h3>
                    </div><!-- /.text-box -->
                </div><!-- /.single-testimonial-home -->
            </div><!-- /.item -->
            <div class="item">
                <div class="single-testimonial-home">
                    <div class="icon-box">
                        <img src="/Theme/img/resources/testi-2-1.jpg" alt="Awesome Image" class="img-circle"/>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <p>Earlier, I was tensed about decorating my yard. Then my neighbours recommended VISION Landscape & Design. And today, I am truly impressed with the knowledge, professionalism and dedication of the team.</p>
                        <h3>Eloisa Tarro <span>- Villo Gardens</span></h3>
                    </div><!-- /.text-box -->
                </div><!-- /.single-testimonial-home -->
            </div><!-- /.item -->
            <div class="item">
                <div class="single-testimonial-home">
                    <div class="icon-box">
                        <img src="/Theme/img/resources/testi-2-2.jpg" alt="Awesome Image" class="img-circle"/>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <p>VISION Landscape & Design is a leader in transforming barren land into fascinating one! Thanks a lot to them for the landscape design which is not less than a fantasy for me. The quality of work they provide is remarkable.</p>
                        <h3>Juliann Goepel <span>- Villo Gardens</span></h3>
                    </div><!-- /.text-box -->
                </div><!-- /.single-testimonial-home -->
            </div><!-- /.item -->
            <div class="item">
                <div class="single-testimonial-home">
                    <div class="icon-box">
                        <img src="/Theme/img/resources/testi-2-3.jpg" alt="Awesome Image" class="img-circle"/>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <p>We had been recmmended VISION Landscape and Design by our relatives and we are not at all disappointed. The team is a responsible one; they cleaned up every night and this is the thing that I liked the most about them.</p>
                        <h3>Kaye Stallsworth <span>- Villo Gardens</span></h3>
                    </div><!-- /.text-box -->
                </div><!-- /.single-testimonial-home -->
            </div><!-- /.item -->
            <div class="item">
                <div class="single-testimonial-home">
                    <div class="icon-box">
                        <img src="/Theme/img/resources/testi-2-4.jpg" alt="Awesome Image" class="img-circle"/>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <p>The design and construction service provided by VISION Landscape & Design is very impressive. I find VISION Landscape & Design to be a very professional organization and would not hesitate to recommend them to my near and dear ones!.</p>
                        <h3>Joslyn Winkelpleck<span>- Villo Gardens</span></h3>
                    </div><!-- /.text-box -->
                </div><!-- /.single-testimonial-home -->
            </div><!-- /.item -->
            <div class="item">
                <div class="single-testimonial-home">
                    <div class="icon-box">
                        <img src="/Theme/img/resources/testi-2-6.jpg" alt="Awesome Image" class="img-circle"/>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <p>Thanks a lot VISION Landscape & Design team for helping me with my project. The railings are beautiful and sturdy — just what my mother wanted. I was not there but she told me that the whole team was very polite and talented.These guys are good!. Thank you again!.</p>
                        <h3>Denna Egbe <span>- Villo Gardens</span></h3>
                    </div><!-- /.text-box -->
                </div><!-- /.single-testimonial-home -->
            </div><!-- /.item -->
        </div><!-- /.client-testimonial-carousel -->
    </div><!-- /.container -->
</section><!-- /.client-testimonials -->
<script src="/Theme/assets/jquery-1.12.4.min.js"></script>
<script>
    $(function () {
        ActiveTab();
    });
    function ActiveTab() {
        $(".tabs").removeClass("current");
        $("#tabtestimonials").addClass("current");
    }
</script>
