@{
    ViewBag.Title = "Under_Construction";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center">
	<div class="container">
		<div class="box">
			<h3>Construction</h3>
		</div><!-- /.box -->
	</div><!-- /.container -->
</div>


   

<section class="latest-project sec-pad ">
    <div class="container">

              <div class="text-center">
            <ul class="post-filter light list-inline">
                <li >
                    <a href="/home/Iron_Works"><span>Iron Work</span></a>
                </li><!-- must add it for inline block hack
                --><li >
                    <a href="/home/Landscape_Design"><span>Landscape Design</span></a>
                </li><!-- must add it for inline block hack
                --><li >
                  <a href="/home/Masonary"><span>Masonary</span></a>
                </li><!-- must add it for inline block hack
                --><li class="active">
                    <a href="/home/under_construction"><span>Construction</span></a>
                   
                </li><!-- must add it for inline block hack
                --><li >
                 <a href="/home/Kitchens_fireplaces"><span>Kitchens and fireplaces</span></a>
                </li><!-- must add it for inline block hack
                --><li >
                    <a href="/home/Driveways"><span>Driveways</span></a>
                </li>
            </ul><!-- /.gallery-filter -->
        </div><!-- /.text-center -->
        
        

        <div class="row masonary-layout filter-layout">
            <div class="col-md-3 filter-item video">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/Construction1.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/Construction1.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Under Construction</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item planting">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/Construction2.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/Construction2.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Under Construction</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item garden snow">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/Construction5.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/Construction5.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Under Construction</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 filter-item lawn">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/Construction6.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/Construction6.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Under Construction</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


               <div class="col-md-3 filter-item lawn">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/Construction3.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/Construction3.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Under Construction</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


             <div class="col-md-3 filter-item lawn">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/Construction4.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/Construction4.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Under Construction</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


             <div class="col-md-3 filter-item lawn">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/Construction7.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/Construction7.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Under Construction</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->


             <div class="col-md-3 filter-item lawn">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="/Theme/img/gallery/Construction8.jpg" alt="Awesome Image"/>
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <div class="top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </li>
                                            <li>
                                                <a data-group="1" href="/Theme/img/gallery/Construction8.jpg" class="img-popup"><i class="fa fa-search-plus"></i></a>
                                            </li>                                            
                                        </ul><!-- /.list-inline -->
                                    </div><!-- /.top -->
                                    <div class="bottom clearfix">
                                        <div class="title">
                                            <h3>Under Construction</h3>
                                        </div><!-- /.title -->
                                    </div><!-- /.bottom -->
                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-item -->
            </div><!-- /.col-md-3 -->





        
        </div><!-- /.row -->

    

    </div><!-- /.container -->
</section>
