@{
    ViewBag.Title = "NotActiveAdmin";
}
<h2>MESSAGE</h2>

Your account is currently Inactive<br />
Please contact to Admin
@section scripts
{
<script>
    $(function () {
        $('.loadercont').fadeOut();
    });


</script>
    }
