
@{
    ViewBag.Title = "Conoce a nuestros abogados";
    ViewBag.Description = "Multas de Tráfico ó Transito en NJ y NY ¡Nuestros abogados te ayudarán a salir librado de los puntos asociados a tu multa de tránsito y a preservar tus privilegios para conducir.";
    Layout = "/Views/Shared/_Layoutes.cshtml";
}


<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right white_bgs">
    <div class="clear_fix"></div>
    <div class="bottom_tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">ABOGADOS</a></li>
            <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">Nuestra historia</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Nosotros</a></li>

        </ul>
        <div class="tab-content bottom_tab_info h1s">
            <div class="tab-pane fade  active in" id="tab_3">
                <h1>Conoce a nuestros abogados</h1>

                <p>
                    <img alt="" src="~/Content/NJ_Images/steve.jpg" class="img-responsive" style="height:100px">
                    <b>Steve Stabile</b> es el propietario de Stabile Law Firm, LLC. Nacido en Brooklyn, New York, asistió a la Universidad de Brooklyn, donde se graduó con una licenciatura en Historia en 1989.
                    Luego asistió a un año de la escuela de leyes en el Estado de Michigan. después de su 1er año de la escuela de derecho fue remitido a Widener University School of Law en Harrisburg, Pennsylvania.<br />
                    En 1992, se graduó en la Universidad de Widener Facultad de Derecho con un doctorado en Derecho. Fue miembro de la primera clase de graduados de Harrisburg. Admitido en New Jersey Bar en 1993, comenzó su práctica legal concentrarse en la Corte Municipal y asuntos de Derecho Penal. Durante la escuela de derecho era un miembro activo de la fraternidad Phi Alpha Delta.<br />
                    Durante su carrera ha representado a miles de clientes en los tribunales municipales en todo el Estado de New Jersey. Desde 1999 ha trabajando en multas de tráfico en los tribunales penales en el los barrios 5 de la ciudad de New York, así como el Estado de New York. En la actualidad es admitido para ejercer la abogacía en el Estado de New Jersey, New York, Pennsylvania y el Distrito de Columbia.
                </p>
                <div class="clearfix" style="margin-top:30px"></div>
                <p style="margin-top:30px">
                    <img alt="" src="~/Content/NJ_Images/megan.jpg" class="img-responsive" style="height:100px">
                    <b> Sra. Smith</b> es un graduado de la Universidad de Drew en Madison, Nueva Jersey, donde se graduó en Ciencias Políticas. Mientras que en dibujó asistió el semestre de las Naciones Unidas y el Washington, DC semestre donde se especializó en la ley electoral. Ella es graduada de Seton Hall Facultad de Derecho en Newark, Nueva Jersey. Mientras que en la universidad, trabajó en la Oficina del Defensor Público en Morristown. Durante la escuela de derecho que era asistente legal de una empresa privada en Morristown manejo de defensa criminal y municipal, así como cuestiones de derecho de familia. Desde 1986 hasta 2013 se mantuvo una práctica privada del derecho. Ella era un fiscal municipal para el manejo de 15 a más de 1.000 procesamientos DWI años. Además, era un defensor público municipal de dos años representando a indigentes acusados en el tribunal municipal de materias penales y de tráfico.
                </p>
                <div class="clearfix" style="margin-top:30px"></div>
                <p>
                    <img src="~/Content/NJ_Images/popbill.jpg" style="height:100px" />
                    <b>Mr. Bill Popovivh</b>  unido a la firma de abogados Stabile como Asociado.
                </p>
                <div class="clearfix" style="margin-top:30px"></div>
                <p style="margin-top:30px">
                    <img src="~/Content/NJ_Images/popwilliam.jpg" style="height:100px" />
                    <b>Mr. William Popovivh</b>  unido a la firma de abogados Stabile como Asociado.
					<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

                </p>
                <div class="clearfix" style="margin-top:30px"></div>
            </div>
            <div class="tab-pane fade" id="tab_1">
                <img alt="" src="~/Content/NJ_Images/office_plaza_nine.jpg" class="img-responsive">
                <p>
                    En 1993 nuestra firma se estableció en New Jersey en un esfuerzo por proveer de la mejor defensa a nuestros clientes. Desde entonces, hemos expandido para incluir a más abogados, numerosos colegas, una lista de expertos y personal de apoyo. Desde nuestros inicios, nuestra firma ha manejado más de 100.000 violaciónes de tráfico en todo el Estado de New Jersey y New York. Seguimos ofreciendo una representación entusiasta y agresiva para defender a nuestros clientes en un esfuerzo para eliminar todos o algunos de los cargos, para que nuestros clientes se sientan seguros y protegidos conservando sus privilegios para conducir.
                </p>
                <p>
                    La clave de nuestro éxito son los resultados. Cuando un cliente contrata los servicios de Stabile Law Firm, LLC, recibe el beneficio del conocimiento 4 (cuatro) de los abogados con una experiencia combinada de aproximadamente 50 años. Además, nuestra empresa se centra principalmente en las violaciónes de tráfico de New Jersey y DWI. La razón de esto, es asegurar a nuestros clientes que nos tomamos en serio el tema. En nuestra firma, el tráfico y el derecho penal es principalmente lo que hacemos. Cuando se trata de un delito relacionado con el vehículo de motor, lo último que necesita es un abogado de Real Estate tratando de preservar su libertad o guardar su privilegio de conducir mientras se ejecuta entre el cierre de todo el día.
				 <br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>


                </p>
            </div>
            <div class="tab-pane fade" id="tab_2">
                <img alt="" src="~/Content/NJ_Images/office_plaza_nine.jpg" class="img-responsive">
                <p>
                    Somos un bufete de abogados de servicio completo con la concentración en las leyes de tránsito y DUI - DWI asuntos en New Jersey. Nos enorgullecemos de nuestra capacidad para resolver violaciónes de tráfico para nuestros clientes. Nuestro equipo de abogados encuentra soluciones innovadoras a las necesidades de nuestros clientes. Realmente son vigorosos en nuestra representación. Nunca alejarse de una pelea, pero elegimos nuestras batallas cuidadosamente para asegurar el mejor resultado para nuestros clientes. Estamos apasionadamente comprometidos con las necesidades de nuestros clientes.
					<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                
				</p>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $("#AboutUs").addClass("menu-active");
        $(".ntab").removeClass("active");
        $("#TrafficLawyer").addClass("active");
    });

</script>



