
@{
    ViewBag.Title = "Careless_Driving";
    Layout = "/Views/Shared/_Layoutes.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Conducción descuidada en New Jersey</h1>
        <p>

            <img src="~/Content/NJ_Images/careless-driving-in-new jersey.jpg" class="img-responsive img-circle" /> Conducción descuidada es un delito menos grave que la conducción temeraria y es quizás la violación de tráfico que más se escucha en todos los Nueva Jersey Corte Municipal. General, la policía emitir este boleto a un conductor considerado culpable tras un accidente de vehículo de motor.
        </p>
        <p>
            39: 4-97 conducción descuidada -2 puntos. No hay sanciones mejoradas para una segunda o subsiguiente delito de conducción descuidada en Nueva Jersey. conducción descuidada es un delito menor incluido de manejo imprudente. Este delito se conoce como una captura general, todos los estatutos e incluye todos los actos de negligencia y afirma que una persona que maneje descuidadamente o sin la debida precaución y circunspección de una manera que ponga en peligro o pueda poner en peligro la persona o propiedad. Las multas pueden variar desde $ 78.00 to $ 200.00 si es declarado culpable en la Corte. También debe ser consciente de que cualquier convicción de una violación de puntos puede resultar en aumento de las primas de seguro y sobrecargos Estado NJ.

        </p>


    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $(".ntab").removeClass("active");
        //$("#CarelessDriving").addClass("active");

    });

</script>


