@{
    ViewBag.Title = "Consulta libre para multas de tráfico NJ NY";
    ViewBag.Description = "Cotizacion gratis para obtener el servicio de un abogado de transito o trafico en New Jersey";
    Layout = "~/Views/Shared/_LayoutesForQuotes.cshtml";

}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>


<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right ">
    <section id="checkout-content">
        <div class="container fontstyle">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 left-checkout quoteform" style="padding-left:0px;">
                    <div class="Row Quote_title h1s">
                        <h1 style="display:none;">INFORMACION DEL CLIENTE</h1>
                        INFORMACION DEL CLIENTE
                    </div>
                    <div class="row">

                        <div class="col-lg-4" style="padding-left:0px;">
                            <label>Nombres y apellidos</label>
                        </div>
                        <div class="col-lg-3 left_position_fix" style="padding-left:0px;">
                            <input type="text" placeholder="Nombres y apellidos" id="txtfullname">
                        </div>
                        <div class="col-lg-2" style="padding-left:0px;">
                            <label>Email<span>*</span></label>
                        </div>
                        <div class="col-lg-3 left_position_fix" style="padding-left:0px;">
                            <input type="text" placeholder="Email" id="txtEmail">
                        </div>

                        <div class="row">
                            <div class="col-lg-4" style="padding-left:0px;">
                                <label>Teléfono</label>
                            </div>
                            <div class="col-lg-3 left_position_fix" style="padding-left:0px;">
                                <input type="text" placeholder="Teléfono" id="txtPhoneCell">
                            </div>
                        </div>
                        <div class="Row Quote_title">
                            OFENSA/TICKET DE INFORMACION
                        </div>
                        <div class="row">
                            <div class="col-lg-4" style="padding-left:0px;">
                                <label>Tipo de violación de tráfico 1:</label>
                            </div>
                            <div class="col-lg-3 left_position_fix" style="padding-left:0px;">
                                <select class="dropdown-toggle" id="ddloffences1">
                                    <option value="	0" selected="selected">	seleccione uno...	</option>
                                    <option value="	27:23-29 Moving against traffic 2 points points	">	27:23-29 Moving against traffic 2 points points	</option>
                                    <option value="	27:23-29 Improper passing 4 points	">	27:23-29 Improper passing 4 points	</option>
                                    <option value="	27:23-29 Unlawful use of median strip 2 points	">	27:23-29 Unlawful use of median strip 2 points	</option>
                                    <option value="	39:3-20 Operating constructor vehicle in excess of 45 mph 3 points	">	39:3-20 Operating constructor vehicle in excess of 45 mph 3 points	</option>
                                    <option value="	39:4-14.3 Operating motorized bicycle on a restricted highway 2 points	">	39:4-14.3 Operating motorized bicycle on a restricted highway 2 points	</option>
                                    <option value="	39:4-14.3d More than one person on a motorized bicycle 2 points	">	39:4-14.3d More than one person on a motorized bicycle 2 points	</option>
                                    <option value="	39:4-35 Failure to yield to pedestrian in crosswalk 2 points	">	39:4-35 Failure to yield to pedestrian in crosswalk 2 points	</option>
                                    <option value="	39:4-36 Passing a vehicle yielding to pedestrian in crosswalk 2 points	">	39:4-36 Passing a vehicle yielding to pedestrian in crosswalk 2 points	</option>
                                    <option value="	39:4-41 Driving through safety zone 2 points	">	39:4-41 Driving through safety zone 2 points	</option>
                                    <option value="	39:4-52 Racing on highway 5 points	">	39:4-52 Racing on highway 5 points	</option>
                                    <option value="	39:4-55 Improper action or omission on grades and curves 2 points	">	39:4-55 Improper action or omission on grades and curves 2 points	</option>
                                    <option value="	39:4-57 Failure to observe direction of officer 2 points	">	39:4-57 Failure to observe direction of officer 2 points	</option>
                                    <option value="	39:4-66 Failure to stop vehicle before crossing sidewalk 2 points	">	39:4-66 Failure to stop vehicle before crossing sidewalk 2 points	</option>
                                    <option value="	39:4-66.1 Failure to yield to pedestrians or vehicles while entering or leaving highway 2 points	">	39:4-66.1 Failure to yield to pedestrians or vehicles while entering or leaving highway 2 points	</option>
                                    <option value="	39:4-66.2 Driving on public or private property to avoid a traffic sign or signal 2 points	">	39:4-66.2 Driving on public or private property to avoid a traffic sign or signal 2 points	</option>
                                    <option value="	39:4-71 Operating a motor vehicle on a sidewalk 2 points	">	39:4-71 Operating a motor vehicle on a sidewalk 2 points	</option>
                                    <option value="	39:4-80 Failure to obey direction of officer 2 points	">	39:4-80 Failure to obey direction of officer 2 points	</option>
                                    <option value="	39:4-81 Failure to observe traffic signals 2 points	">	39:4-81 Failure to observe traffic signals 2 points	</option>
                                    <option value="	39:4-82 Failure to keep right 2 points	">	39:4-82 Failure to keep right 2 points	</option>
                                    <option value="	39:4-82.1 Improper operating of vehicle on divided highway or divider 2 points	">	39:4-82.1 Improper operating of vehicle on divided highway or divider 2 points	</option>
                                    <option value="	39:4-83 Failure to keep right at intersection 2 points	">	39:4-83 Failure to keep right at intersection 2 points	</option>
                                    <option value="	39:4-84 Failure to pass to right of vehicle proceeding in opposite direction 5 points	">	39:4-84 Failure to pass to right of vehicle proceeding in opposite direction 5 points	</option>
                                    <option value="	39:4-85 Improper passing on right or off roadway 4 points	">	39:4-85 Improper passing on right or off roadway 4 points	</option>
                                    <option value="	39:4-85.1 Wrong way on a one-way street 2 points	">	39:4-85.1 Wrong way on a one-way street 2 points	</option>
                                    <option value="	39:4-86 Improper passing in no passing zone 4 points	">	39:4-86 Improper passing in no passing zone 4 points	</option>
                                    <option value="	39:4-87 Failure to yield to overtaking vehicle 2 points	">	39:4-87 Failure to yield to overtaking vehicle 2 points	</option>
                                    <option value="	39:4-88 Failure to observe traffic lanes 2 points	">	39:4-88 Failure to observe traffic lanes 2 points	</option>
                                    <option value="	39:4-89 Tailgating 5 points	">	39:4-89 Tailgating 5 points	</option>
                                    <option value="	39:4-90 Failure to yield at intersection 2 points	">	39:4-90 Failure to yield at intersection 2 points	</option>
                                    <option value="	39:4-90.1 Failure to use proper entrances to limited access highways 2 points	">	39:4-90.1 Failure to use proper entrances to limited access highways 2 points	</option>
                                    <option value="	39:4-91-92 Failure to yield to emergency vehicles 2 points	">	39:4-91-92 Failure to yield to emergency vehicles 2 points	</option>
                                    <option value="	39:4-96 Reckless driving 5 points	">	39:4-96 Reckless driving 5 points	</option>
                                    <option value="	39:4-97 Careless driving 2 points	">	39:4-97 Careless driving 2 points	</option>
                                    <option value="	39:4-97a Destruction of agricultural or recreational property 2 points	">	39:4-97a Destruction of agricultural or recreational property 2 points	</option>
                                    <option value="	39:4-97.1 Slow speed blocking traffic 2 points	">	39:4-97.1 Slow speed blocking traffic 2 points	</option>
                                    <option value="	39:4-97.2 Driving in an unsafe manner 4 points	">	39:4-97.2 Driving in an unsafe manner 4 points	</option>
                                    <option value="	39:4-98 Exceeding maximum speed 1-14 mph over limit 2 points	">	39:4-98 Exceeding maximum speed 1-14 mph over limit 2 points	</option>
                                    <option value="	39:4-98-99 Speeding Exceeding maximum speed 15-29 mph over limit 4 points	">	39:4-98-99 Speeding Exceeding maximum speed 15-29 mph over limit 4 points	</option>
                                    <option value="	39:4-99 Speeding Exceeding maximum speed 30 mph or more over limit 5 points	">	39:4-99 Speeding Exceeding maximum speed 30 mph or more over limit 5 points	</option>
                                    <option value="	39:4-105 Failure to stop for traffic light 2 points	">	39:4-105 Failure to stop for traffic light 2 points	</option>
                                    <option value="	39:4-115 Improper turn at traffic light 3 points	">	39:4-115 Improper turn at traffic light 3 points	</option>
                                    <option value="	39:4-119 Failure to stop at flashing red signal 2 points	">	39:4-119 Failure to stop at flashing red signal 2 points	</option>
                                    <option value="	39:4-122 Failure to stop for police whistle 2 points	">	39:4-122 Failure to stop for police whistle 2 points	</option>
                                    <option value="	39:4-123 Improper right or left turn 3 points	">	39:4-123 Improper right or left turn 3 points	</option>
                                    <option value="	39:4-124 Improper turn from approved turning course 3 points	">	39:4-124 Improper turn from approved turning course 3 points	</option>
                                    <option value="	39:4-125 Improper U-turn 3 points	">	39:4-125 Improper U-turn 3 points	</option>
                                    <option value="	39:4-126 Failure to give proper signal 2 points	">	39:4-126 Failure to give proper signal 2 points	</option>
                                    <option value="	39:4-127 Improper backing or turning in street 2 points	">	39:4-127 Improper backing or turning in street 2 points	</option>
                                    <option value="	39:4-127.1 Improper crossing of railroad grade crossing 2 points	">	39:4-127.1 Improper crossing of railroad grade crossing 2 points	</option>
                                    <option value="	39:4-127.2 Improper crossing of bridge 2 points	">	39:4-127.2 Improper crossing of bridge 2 points	</option>
                                    <option value="	39:4-128 Improper crossing of railroad grade crossing by certain vehicles 2 points	">	39:4-128 Improper crossing of railroad grade crossing by certain vehicles 2 points	</option>
                                    <option value="	39:4-128.1 Improper passing of school bus 5 points	">	39:4-128.1 Improper passing of school bus 5 points	</option>
                                    <option value="	39:4-128.4 Improper passing of frozen dessert truck 4 points	">	39:4-128.4 Improper passing of frozen dessert truck 4 points	</option>
                                    <option value="	39:4-129 Leaving the scene of an accident - No personal injury 2 points	">	39:4-129 Leaving the scene of an accident - No personal injury 2 points	</option>
                                    <option value="	39:4-129 Leaving the scene of an accident - Personal injury 8 points	">	39:4-129 Leaving the scene of an accident - Personal injury 8 points	</option>
                                    <option value="	39:4-144 Failure to observe stop or yield signs 2 points	">	39:4-144 Failure to observe stop or yield signs 2 points	</option>
                                    <option value="	39:5C-1 Racing on highway 5 points	">	39:5C-1 Racing on highway 5 points	</option>
                                    <option value="	39:5D-4 Moving violation out of state 2 points	">	39:5D-4 Moving violation out of state 2 points	</option>
                                    <option value="	39:3-40 Driving with a suspended or revoked license	">	39:3-40 Driving with a suspended or revoked license	</option>
                                    <option value="	39:4-50  Drunk driving	">	39:4-50  Drunk driving	</option>
                                    <option value="	39:4-50.2 or -50.4a Breath test refusal	">	39:4-50.2 or -50.4a Breath test refusal	</option>
                                </select>
                            </div>
                            <div class="col-lg-3" style="padding-left:0px;">
                                <label>DWI o DUI  </label>
                            </div>
                            <div class="col-lg-2 left_position_fix right_pos_control" style="padding-left:0px;">
                                <select class="dropdown-toggle" id="ddldwi">
                                    <option value="Select">seleccione uno...</option>
                                    <option value="Yes">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4" style="padding-left:0px;">
                                <label>Tipo de violación de tráfico 2:</label>
                            </div>
                            <div class="col-lg-3 left_position_fix" style="padding-left:0px;">
                                <select class="dropdown-toggle" id="ddloffences2">
                                    <option value="	0" selected="selected">	seleccione uno...	</option>
                                    <option value="	27:23-29 Moving against traffic 2 points points	">	27:23-29 Moving against traffic 2 points points	</option>
                                    <option value="	27:23-29 Improper passing 4 points	">	27:23-29 Improper passing 4 points	</option>
                                    <option value="	27:23-29 Unlawful use of median strip 2 points	">	27:23-29 Unlawful use of median strip 2 points	</option>
                                    <option value="	39:3-20 Operating constructor vehicle in excess of 45 mph 3 points	">	39:3-20 Operating constructor vehicle in excess of 45 mph 3 points	</option>
                                    <option value="	39:4-14.3 Operating motorized bicycle on a restricted highway 2 points	">	39:4-14.3 Operating motorized bicycle on a restricted highway 2 points	</option>
                                    <option value="	39:4-14.3d More than one person on a motorized bicycle 2 points	">	39:4-14.3d More than one person on a motorized bicycle 2 points	</option>
                                    <option value="	39:4-35 Failure to yield to pedestrian in crosswalk 2 points	">	39:4-35 Failure to yield to pedestrian in crosswalk 2 points	</option>
                                    <option value="	39:4-36 Passing a vehicle yielding to pedestrian in crosswalk 2 points	">	39:4-36 Passing a vehicle yielding to pedestrian in crosswalk 2 points	</option>
                                    <option value="	39:4-41 Driving through safety zone 2 points	">	39:4-41 Driving through safety zone 2 points	</option>
                                    <option value="	39:4-52 Racing on highway 5 points	">	39:4-52 Racing on highway 5 points	</option>
                                    <option value="	39:4-55 Improper action or omission on grades and curves 2 points	">	39:4-55 Improper action or omission on grades and curves 2 points	</option>
                                    <option value="	39:4-57 Failure to observe direction of officer 2 points	">	39:4-57 Failure to observe direction of officer 2 points	</option>
                                    <option value="	39:4-66 Failure to stop vehicle before crossing sidewalk 2 points	">	39:4-66 Failure to stop vehicle before crossing sidewalk 2 points	</option>
                                    <option value="	39:4-66.1 Failure to yield to pedestrians or vehicles while entering or leaving highway 2 points	">	39:4-66.1 Failure to yield to pedestrians or vehicles while entering or leaving highway 2 points	</option>
                                    <option value="	39:4-66.2 Driving on public or private property to avoid a traffic sign or signal 2 points	">	39:4-66.2 Driving on public or private property to avoid a traffic sign or signal 2 points	</option>
                                    <option value="	39:4-71 Operating a motor vehicle on a sidewalk 2 points	">	39:4-71 Operating a motor vehicle on a sidewalk 2 points	</option>
                                    <option value="	39:4-80 Failure to obey direction of officer 2 points	">	39:4-80 Failure to obey direction of officer 2 points	</option>
                                    <option value="	39:4-81 Failure to observe traffic signals 2 points	">	39:4-81 Failure to observe traffic signals 2 points	</option>
                                    <option value="	39:4-82 Failure to keep right 2 points	">	39:4-82 Failure to keep right 2 points	</option>
                                    <option value="	39:4-82.1 Improper operating of vehicle on divided highway or divider 2 points	">	39:4-82.1 Improper operating of vehicle on divided highway or divider 2 points	</option>
                                    <option value="	39:4-83 Failure to keep right at intersection 2 points	">	39:4-83 Failure to keep right at intersection 2 points	</option>
                                    <option value="	39:4-84 Failure to pass to right of vehicle proceeding in opposite direction 5 points	">	39:4-84 Failure to pass to right of vehicle proceeding in opposite direction 5 points	</option>
                                    <option value="	39:4-85 Improper passing on right or off roadway 4 points	">	39:4-85 Improper passing on right or off roadway 4 points	</option>
                                    <option value="	39:4-85.1 Wrong way on a one-way street 2 points	">	39:4-85.1 Wrong way on a one-way street 2 points	</option>
                                    <option value="	39:4-86 Improper passing in no passing zone 4 points	">	39:4-86 Improper passing in no passing zone 4 points	</option>
                                    <option value="	39:4-87 Failure to yield to overtaking vehicle 2 points	">	39:4-87 Failure to yield to overtaking vehicle 2 points	</option>
                                    <option value="	39:4-88 Failure to observe traffic lanes 2 points	">	39:4-88 Failure to observe traffic lanes 2 points	</option>
                                    <option value="	39:4-89 Tailgating 5 points	">	39:4-89 Tailgating 5 points	</option>
                                    <option value="	39:4-90 Failure to yield at intersection 2 points	">	39:4-90 Failure to yield at intersection 2 points	</option>
                                    <option value="	39:4-90.1 Failure to use proper entrances to limited access highways 2 points	">	39:4-90.1 Failure to use proper entrances to limited access highways 2 points	</option>
                                    <option value="	39:4-91-92 Failure to yield to emergency vehicles 2 points	">	39:4-91-92 Failure to yield to emergency vehicles 2 points	</option>
                                    <option value="	39:4-96 Reckless driving 5 points	">	39:4-96 Reckless driving 5 points	</option>
                                    <option value="	39:4-97 Careless driving 2 points	">	39:4-97 Careless driving 2 points	</option>
                                    <option value="	39:4-97a Destruction of agricultural or recreational property 2 points	">	39:4-97a Destruction of agricultural or recreational property 2 points	</option>
                                    <option value="	39:4-97.1 Slow speed blocking traffic 2 points	">	39:4-97.1 Slow speed blocking traffic 2 points	</option>
                                    <option value="	39:4-97.2 Driving in an unsafe manner 4 points	">	39:4-97.2 Driving in an unsafe manner 4 points	</option>
                                    <option value="	39:4-98 Exceeding maximum speed 1-14 mph over limit 2 points	">	39:4-98 Exceeding maximum speed 1-14 mph over limit 2 points	</option>
                                    <option value="	39:4-98-99 Speeding Exceeding maximum speed 15-29 mph over limit 4 points	">	39:4-98-99 Speeding Exceeding maximum speed 15-29 mph over limit 4 points	</option>
                                    <option value="	39:4-99 Speeding Exceeding maximum speed 30 mph or more over limit 5 points	">	39:4-99 Speeding Exceeding maximum speed 30 mph or more over limit 5 points	</option>
                                    <option value="	39:4-105 Failure to stop for traffic light 2 points	">	39:4-105 Failure to stop for traffic light 2 points	</option>
                                    <option value="	39:4-115 Improper turn at traffic light 3 points	">	39:4-115 Improper turn at traffic light 3 points	</option>
                                    <option value="	39:4-119 Failure to stop at flashing red signal 2 points	">	39:4-119 Failure to stop at flashing red signal 2 points	</option>
                                    <option value="	39:4-122 Failure to stop for police whistle 2 points	">	39:4-122 Failure to stop for police whistle 2 points	</option>
                                    <option value="	39:4-123 Improper right or left turn 3 points	">	39:4-123 Improper right or left turn 3 points	</option>
                                    <option value="	39:4-124 Improper turn from approved turning course 3 points	">	39:4-124 Improper turn from approved turning course 3 points	</option>
                                    <option value="	39:4-125 Improper U-turn 3 points	">	39:4-125 Improper U-turn 3 points	</option>
                                    <option value="	39:4-126 Failure to give proper signal 2 points	">	39:4-126 Failure to give proper signal 2 points	</option>
                                    <option value="	39:4-127 Improper backing or turning in street 2 points	">	39:4-127 Improper backing or turning in street 2 points	</option>
                                    <option value="	39:4-127.1 Improper crossing of railroad grade crossing 2 points	">	39:4-127.1 Improper crossing of railroad grade crossing 2 points	</option>
                                    <option value="	39:4-127.2 Improper crossing of bridge 2 points	">	39:4-127.2 Improper crossing of bridge 2 points	</option>
                                    <option value="	39:4-128 Improper crossing of railroad grade crossing by certain vehicles 2 points	">	39:4-128 Improper crossing of railroad grade crossing by certain vehicles 2 points	</option>
                                    <option value="	39:4-128.1 Improper passing of school bus 5 points	">	39:4-128.1 Improper passing of school bus 5 points	</option>
                                    <option value="	39:4-128.4 Improper passing of frozen dessert truck 4 points	">	39:4-128.4 Improper passing of frozen dessert truck 4 points	</option>
                                    <option value="	39:4-129 Leaving the scene of an accident - No personal injury 2 points	">	39:4-129 Leaving the scene of an accident - No personal injury 2 points	</option>
                                    <option value="	39:4-129 Leaving the scene of an accident - Personal injury 8 points	">	39:4-129 Leaving the scene of an accident - Personal injury 8 points	</option>
                                    <option value="	39:4-144 Failure to observe stop or yield signs 2 points	">	39:4-144 Failure to observe stop or yield signs 2 points	</option>
                                    <option value="	39:5C-1 Racing on highway 5 points	">	39:5C-1 Racing on highway 5 points	</option>
                                    <option value="	39:5D-4 Moving violation out of state 2 points	">	39:5D-4 Moving violation out of state 2 points	</option>
                                    <option value="	39:3-40 Driving with a suspended or revoked license	">	39:3-40 Driving with a suspended or revoked license	</option>
                                    <option value="	39:4-50  Drunk driving	">	39:4-50  Drunk driving	</option>
                                    <option value="	39:4-50.2 or -50.4a Breath test refusal	">	39:4-50.2 or -50.4a Breath test refusal	</option>

                                </select>
                            </div>
                            <div class="col-lg-3" style="padding-left:0px;">
                                <label>Numero de Ticket:</label>
                            </div>
                            <div class="col-lg-2 left_position_fix right_pos_control" style="padding-left:0px;">
                                <input type="text" placeholder="Numero de ticket" id="txtticketnumber">
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-4" style="padding-left:0px;">
                                <label>Tipo de violación de tráfico 3:</label>
                            </div>
                            <div class="col-lg-3 left_position_fix" style="padding-left:0px;">
                                <select class="dropdown-toggle" id="ddloffences3">
                                    <option value="	0" selected="selected">	seleccione uno...	</option>
                                    <option value="	27:23-29 Moving against traffic 2 points points	">	27:23-29 Moving against traffic 2 points points	</option>
                                    <option value="	27:23-29 Improper passing 4 points	">	27:23-29 Improper passing 4 points	</option>
                                    <option value="	27:23-29 Unlawful use of median strip 2 points	">	27:23-29 Unlawful use of median strip 2 points	</option>
                                    <option value="	39:3-20 Operating constructor vehicle in excess of 45 mph 3 points	">	39:3-20 Operating constructor vehicle in excess of 45 mph 3 points	</option>
                                    <option value="	39:4-14.3 Operating motorized bicycle on a restricted highway 2 points	">	39:4-14.3 Operating motorized bicycle on a restricted highway 2 points	</option>
                                    <option value="	39:4-14.3d More than one person on a motorized bicycle 2 points	">	39:4-14.3d More than one person on a motorized bicycle 2 points	</option>
                                    <option value="	39:4-35 Failure to yield to pedestrian in crosswalk 2 points	">	39:4-35 Failure to yield to pedestrian in crosswalk 2 points	</option>
                                    <option value="	39:4-36 Passing a vehicle yielding to pedestrian in crosswalk 2 points	">	39:4-36 Passing a vehicle yielding to pedestrian in crosswalk 2 points	</option>
                                    <option value="	39:4-41 Driving through safety zone 2 points	">	39:4-41 Driving through safety zone 2 points	</option>
                                    <option value="	39:4-52 Racing on highway 5 points	">	39:4-52 Racing on highway 5 points	</option>
                                    <option value="	39:4-55 Improper action or omission on grades and curves 2 points	">	39:4-55 Improper action or omission on grades and curves 2 points	</option>
                                    <option value="	39:4-57 Failure to observe direction of officer 2 points	">	39:4-57 Failure to observe direction of officer 2 points	</option>
                                    <option value="	39:4-66 Failure to stop vehicle before crossing sidewalk 2 points	">	39:4-66 Failure to stop vehicle before crossing sidewalk 2 points	</option>
                                    <option value="	39:4-66.1 Failure to yield to pedestrians or vehicles while entering or leaving highway 2 points	">	39:4-66.1 Failure to yield to pedestrians or vehicles while entering or leaving highway 2 points	</option>
                                    <option value="	39:4-66.2 Driving on public or private property to avoid a traffic sign or signal 2 points	">	39:4-66.2 Driving on public or private property to avoid a traffic sign or signal 2 points	</option>
                                    <option value="	39:4-71 Operating a motor vehicle on a sidewalk 2 points	">	39:4-71 Operating a motor vehicle on a sidewalk 2 points	</option>
                                    <option value="	39:4-80 Failure to obey direction of officer 2 points	">	39:4-80 Failure to obey direction of officer 2 points	</option>
                                    <option value="	39:4-81 Failure to observe traffic signals 2 points	">	39:4-81 Failure to observe traffic signals 2 points	</option>
                                    <option value="	39:4-82 Failure to keep right 2 points	">	39:4-82 Failure to keep right 2 points	</option>
                                    <option value="	39:4-82.1 Improper operating of vehicle on divided highway or divider 2 points	">	39:4-82.1 Improper operating of vehicle on divided highway or divider 2 points	</option>
                                    <option value="	39:4-83 Failure to keep right at intersection 2 points	">	39:4-83 Failure to keep right at intersection 2 points	</option>
                                    <option value="	39:4-84 Failure to pass to right of vehicle proceeding in opposite direction 5 points	">	39:4-84 Failure to pass to right of vehicle proceeding in opposite direction 5 points	</option>
                                    <option value="	39:4-85 Improper passing on right or off roadway 4 points	">	39:4-85 Improper passing on right or off roadway 4 points	</option>
                                    <option value="	39:4-85.1 Wrong way on a one-way street 2 points	">	39:4-85.1 Wrong way on a one-way street 2 points	</option>
                                    <option value="	39:4-86 Improper passing in no passing zone 4 points	">	39:4-86 Improper passing in no passing zone 4 points	</option>
                                    <option value="	39:4-87 Failure to yield to overtaking vehicle 2 points	">	39:4-87 Failure to yield to overtaking vehicle 2 points	</option>
                                    <option value="	39:4-88 Failure to observe traffic lanes 2 points	">	39:4-88 Failure to observe traffic lanes 2 points	</option>
                                    <option value="	39:4-89 Tailgating 5 points	">	39:4-89 Tailgating 5 points	</option>
                                    <option value="	39:4-90 Failure to yield at intersection 2 points	">	39:4-90 Failure to yield at intersection 2 points	</option>
                                    <option value="	39:4-90.1 Failure to use proper entrances to limited access highways 2 points	">	39:4-90.1 Failure to use proper entrances to limited access highways 2 points	</option>
                                    <option value="	39:4-91-92 Failure to yield to emergency vehicles 2 points	">	39:4-91-92 Failure to yield to emergency vehicles 2 points	</option>
                                    <option value="	39:4-96 Reckless driving 5 points	">	39:4-96 Reckless driving 5 points	</option>
                                    <option value="	39:4-97 Careless driving 2 points	">	39:4-97 Careless driving 2 points	</option>
                                    <option value="	39:4-97a Destruction of agricultural or recreational property 2 points	">	39:4-97a Destruction of agricultural or recreational property 2 points	</option>
                                    <option value="	39:4-97.1 Slow speed blocking traffic 2 points	">	39:4-97.1 Slow speed blocking traffic 2 points	</option>
                                    <option value="	39:4-97.2 Driving in an unsafe manner 4 points	">	39:4-97.2 Driving in an unsafe manner 4 points	</option>
                                    <option value="	39:4-98 Exceeding maximum speed 1-14 mph over limit 2 points	">	39:4-98 Exceeding maximum speed 1-14 mph over limit 2 points	</option>
                                    <option value="	39:4-98-99 Speeding Exceeding maximum speed 15-29 mph over limit 4 points	">	39:4-98-99 Speeding Exceeding maximum speed 15-29 mph over limit 4 points	</option>
                                    <option value="	39:4-99 Speeding Exceeding maximum speed 30 mph or more over limit 5 points	">	39:4-99 Speeding Exceeding maximum speed 30 mph or more over limit 5 points	</option>
                                    <option value="	39:4-105 Failure to stop for traffic light 2 points	">	39:4-105 Failure to stop for traffic light 2 points	</option>
                                    <option value="	39:4-115 Improper turn at traffic light 3 points	">	39:4-115 Improper turn at traffic light 3 points	</option>
                                    <option value="	39:4-119 Failure to stop at flashing red signal 2 points	">	39:4-119 Failure to stop at flashing red signal 2 points	</option>
                                    <option value="	39:4-122 Failure to stop for police whistle 2 points	">	39:4-122 Failure to stop for police whistle 2 points	</option>
                                    <option value="	39:4-123 Improper right or left turn 3 points	">	39:4-123 Improper right or left turn 3 points	</option>
                                    <option value="	39:4-124 Improper turn from approved turning course 3 points	">	39:4-124 Improper turn from approved turning course 3 points	</option>
                                    <option value="	39:4-125 Improper U-turn 3 points	">	39:4-125 Improper U-turn 3 points	</option>
                                    <option value="	39:4-126 Failure to give proper signal 2 points	">	39:4-126 Failure to give proper signal 2 points	</option>
                                    <option value="	39:4-127 Improper backing or turning in street 2 points	">	39:4-127 Improper backing or turning in street 2 points	</option>
                                    <option value="	39:4-127.1 Improper crossing of railroad grade crossing 2 points	">	39:4-127.1 Improper crossing of railroad grade crossing 2 points	</option>
                                    <option value="	39:4-127.2 Improper crossing of bridge 2 points	">	39:4-127.2 Improper crossing of bridge 2 points	</option>
                                    <option value="	39:4-128 Improper crossing of railroad grade crossing by certain vehicles 2 points	">	39:4-128 Improper crossing of railroad grade crossing by certain vehicles 2 points	</option>
                                    <option value="	39:4-128.1 Improper passing of school bus 5 points	">	39:4-128.1 Improper passing of school bus 5 points	</option>
                                    <option value="	39:4-128.4 Improper passing of frozen dessert truck 4 points	">	39:4-128.4 Improper passing of frozen dessert truck 4 points	</option>
                                    <option value="	39:4-129 Leaving the scene of an accident - No personal injury 2 points	">	39:4-129 Leaving the scene of an accident - No personal injury 2 points	</option>
                                    <option value="	39:4-129 Leaving the scene of an accident - Personal injury 8 points	">	39:4-129 Leaving the scene of an accident - Personal injury 8 points	</option>
                                    <option value="	39:4-144 Failure to observe stop or yield signs 2 points	">	39:4-144 Failure to observe stop or yield signs 2 points	</option>
                                    <option value="	39:5C-1 Racing on highway 5 points	">	39:5C-1 Racing on highway 5 points	</option>
                                    <option value="	39:5D-4 Moving violation out of state 2 points	">	39:5D-4 Moving violation out of state 2 points	</option>
                                    <option value="	39:3-40 Driving with a suspended or revoked license	">	39:3-40 Driving with a suspended or revoked license	</option>
                                    <option value="	39:4-50  Drunk driving	">	39:4-50  Drunk driving	</option>
                                    <option value="	39:4-50.2 or -50.4a Breath test refusal	">	39:4-50.2 or -50.4a Breath test refusal	</option>
                                </select>
                            </div>
                            <div class="col-lg-3" style="padding-left:0px;">
                                <label>Fecha de su ticket:</label>
                            </div>
                            <div class="col-lg-2 left_position_fix right_pos_control" style="padding-left:0px;">
                                <input type="text" placeholder="Fecha de su ticket" id="txtdateissue">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4" style="padding-left:0px;">
                                <label>Tambien puede ingresar el tipo de violación:</label>
                            </div>
                            <div class="col-lg-3 left_position_fix" style="padding-left:0px;">
                                <input type="text" placeholder="violación" id="txtviolation">
                            </div>
                            <div class="col-lg-3" style="padding-left:0px;">
                                <label>Corte asignada:</label>
                            </div>
                            <div class="col-lg-2 left_position_fix right_pos_control" style="padding-left:0px;">
                                <input type="text" placeholder="Corte asignada" id="txtlocation">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4" style="padding-left:0px;">
                                <label>Puntos actuales de su licensia:</label>
                            </div>
                            <div class="col-lg-3 left_position_fix" style="padding-left:0px;">
                                <input type="text" placeholder="Puntos actuales de su licensia" id="txtpointno">
                            </div>
                            <div class="col-lg-3" style="padding-left:0px;">
                                <label>Estado de su Licencia</label>
                            </div>
                            <div class="col-lg-2 left_position_fix right_pos_control" style="padding-left:0px;">
                                <select class="dropdown-toggle" id="ddlstate">
                                    <option value="" selected="selected">seleccione uno..</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4" style="padding-left:0px;">
                                <label>¿Usted ha utilizado ningún acuerdos con el fiscal en los últimos 5 años?</label>
                            </div>
                            <div class="col-lg-8 left_position_fix" style="padding-left:0px;">
                                <select class="dropdown-toggle" id="ddlfive">
                                    <option>seleccione uno</option>
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4" style="padding-left:0px;">
                                <label>Fue la multa por un accidente</label>
                            </div>
                            <div class="col-lg-8 left_position_fix" style="padding-left:0px;">
                                <select class="dropdown-toggle" id="ddlAccident">
                                    <option>seleccione uno</option>
                                    <option>Si</option>
                                    <option>No</option>
                                </select>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-4" style="padding-left:0px;">
                                <label>Si su multa es DUI y DWI: ¿Ha tenido otros delitos?</label>
                            </div>
                            <div class="col-lg-8 left_position_fix" style="padding-left:0px;">
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4" style="padding-left:0px;">
                                <label>Comentarios:</label>
                            </div>
                            <div class="col-lg-8 left_position_fix" style="padding-left:0px;">
                                <textarea></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4" style="padding-left:0px;">
                                <label>Verify Capcha</label>
                            </div>

                            <div class="col-lg-4 left_position_fix" style="padding-left:0px;">
                                <img id="m_imgCaptcha" />
                                <a href="#txtCapcha" id="RefreshImage">Change Text</a>
                                <input type="text" placeholder="Type text Display in Image" id="txtCapcha">
                                <label style="color:red">Letters are case sensitve</label>

                                @*<div class="g-recaptcha"
                     data-sitekey="6LcvlyYTAAAAAPlWxU4uDOfTXwp_Kl4KG7TO5rEJ">
                </div>*@
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-lg-12" style="padding-left:0px;">
                                <a href="#" class="read-more2">Enviar formulario<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </section>
</div>

@*<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script>


    //$(function () {
    $('#txtdateissue').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "-116:+0",
    });
    $(".menuspan").removeClass("menu-active");
    $("#FreeQuote").addClass("menu-active");

    //});

    $(document).ready(function () {
       
        loadCaptcha();
    });

    function loadCaptcha() {
     
        $.ajax({
            type: 'GET',
            url: '/NewJersey/generateCaptcha',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) { $("#m_imgCaptcha").attr('src', data); },
            error: function (data) { alert("Error while loading captcha image") }
        });
    }
   
    $('#RefreshImage').click(function (evt) {
       
        loadCaptcha();
        evt.preventDefault();
      
    });

    




  
</script>



