
@{
    ViewBag.Title = "Pasando inadecuada autobús escolar";
    ViewBag.Description = "Muchos pueblos tienen los conductores de autobús vigilante que hacen su trabajo de medio tiempo para presentar sus propias quejas contra los infractores.";
    Layout = "/Views/Shared/_Layoutes.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Pasando inadecuada autobús escolar</h1>
        <p>
            <b>Muchos pueblos tienen los conductores de autobús vigilante que hacen su trabajo de medio tiempo para presentar sus propias quejas contra los infractores.</b>
        </p>

        <p>
            Un conductor de un autobús escolar carretera que pasa utilizado exclusivamente para el transporte de los niños a la escuela, cualquier actividad de la escuela o campamento de verano debe dejar de no menos de 25 pies del autobús cuando el autobús ha dejado de recibir o despedir a los pasajeros.
        </p>

        <p>
            El conductor, en una ciudad como South Brunswick, Nueva Jersey, por ejemplo, no podrá proceder hasta que todos los niños han entrado en el autobús o han salido y llegado a un lado de la carretera, o hasta que las luces rojas se han detenido.
        </p>

        <p>
            Por esta ley a aplicar, el bus debe ser designado como un autobús escolar por un cartel en la parte delantera y trasera del autobús en caracteres de al menos 4 pulgadas de alto.
        </p>

        <p>
            Los conductores en el lado opuesto de un autobús en una carretera dividida por una isla de seguridad o de separación del tráfico físico no tienen que detenerse por un autobús escolar.
        </p>

        <p>
            Tales conductores, sin embargo, deben reducir la velocidad de sus vehículos a no más de 10 millas por hora, y no pueden volver a la velocidad normal hasta que sus vehículos pasaron el autobús y cualquier niño que pueda haber salido del autobús.
        </p>

        <p>
            Cuando el autobús está estacionado junto a la acera para recibir directamente a los niños de una escuela, la actividad de la escuela o campamento de día, o para cumplir los niños a la escuela, la actividad de la escuela o campamento de día, y el autobús está estacionado en el mismo lado de la calle donde la escuela o actividad se encuentra, los conductores no tienen que parar.
        </p>

        <p>
            Sin embargo, no pueden viajar a una velocidad de más de 10 millas por hora.<br />

            Hay una inferencia de que el propietario registrado del vehículo involucrado en la violación de este estatuto era la misma persona que cometió el acto.
        </p>

        <h4>Exposición</h4>
        <p>
            Acusado condenado por este delito está sujeto a una multa mínima de $ 100, 15 días de cárcel o 15 días de servicio comunitario.
        </p>

        <p>
            Para una segunda ofensa o posterior a la parte demandada debe pagar una multa de al menos $ 250 y ser condenado hasta 15 días de cárcel.
        </p>

        <p>
            Si el juez de sentencia considera que la violación fue intencional demandado puede perder su licencia por un período de tiempo que queda a la discreción del juez.
        </p>

        <p>
            Tras la condena por un delito autobús escolar que pasa, el acusado se evalúa cinco vehículos de motor y cinco puntos seguros.
        </p>

        <h4>Estrategia</h4>
        <p>abogado de tráfico de Nueva Jersey siempre intenta mitigar las consecuencias colaterales de una condena de ofensiva aérea autobús escolar.</p>
        <p>En primer lugar, se hace un intento de lograr una rebaja del punto cero a N.J.S.A conducción insegura 39: 4-97,2, aunque hay que señalar que la conducción insegura lleva una fina aproximado de $ 400.</p>
        <p>Además, cuatro puntos se evalúan de un registro de conducción para una tercera convicción de conducción insegura dentro de los cinco años de una segunda condena conducción insegura.</p>
        <p>Si fiscal o el juez rechaza una rebaja de este tipo, entonces el conductor acusado de este delito puede desear considerar el llegar a un acuerdo con el fiscal, donde él o ella se declarará culpable de un cargo modificada de N.J.S.A. conducción descuidada 39: 4-97, que es una violación de dos puntos.</p>
        <p>Incluso indebida pasando N.J.S.A 39: 4-85, a pesar de un delito de cuatro puntos, sigue siendo preferible a una convicción de que pasa un autobús escolar debido a sus implicaciones de servicio comunitario obligatorio o la cárcel y las penas más severas para violaciónes posteriores de este estatuto.</p>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
    });

</script>



