@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wp1.themexlab.com/html/me-finance/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jul 2016 06:38:35 GMT -->
<head>
    <title>Abogado para Multas de Tráfico,DUI,DWI - New Jersey New York</title>
<meta name="description" content="Multas de Tr&aacute;fico in NJ y exceso de velocidad en NJ ¡Nuestros abogados te ayudarán a salir librado de los puntos asociados a tu multa de tránsito y a preservar tus privilegios para conducir.">
	<meta name="viewport" content="width=device-width, initial-scale=1" />    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/fav-icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/images/fav-icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/fav-icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/fav-icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/fav-icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/fav-icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/fav-icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/fav-icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/fav-icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/images/fav-icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/fav-icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/fav-icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/fav-icon/favicon-16x16.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.css" media="screen">
    <!-- Code For Chat -->
    <!-- End Char -->
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,300,300italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/fonts/font-awesome/css/font-awesome.min.css">
    <!-- Stroke Gap Icon -->
    <link rel="stylesheet" href="~/Content/fonts/stroke-gap/style.css">
    <!-- owl-carousel css -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <!-- owl-carousel css -->
    <link  rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/custom/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive/responsive.css">


    <div itemscope itemtype="http://schema.org/Product" style="display:none">
        <span itemprop="name">MULTAS DE TRÁFICO NEW JERSEY</span>
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            Rated <span itemprop="ratingValue">3.3</span>/5 based on <span itemprop="reviewCount">5</span> reviews
        </div>
    </div>
</head>
<body class="home">

    <div class="loadercont">
        <div class="loader">Loading...</div>
    </div>

    <span itemscope itemtype="http://schema.org/LocalBusiness"><header>
        <div class="bottom_header top-bar-gradient">
            <div class="container clear_fix">
                <div class="float_left logo">
                    <a href="~/">
                        <img itemprop="image" src="~/Content/NJ_Images/logofinal.png" alt="NewJerseyLogo" class="logo-height" />
                    </a>
                </div>
                <div class="float_right address address-margin">
                    <div class="top-info">
                        <div class="icon-box">
                            <span class="separator icon icon-Phone2"></span>
                        </div>
                        <div class="content-box">
                            <p>1-732-602-7795 <br><span>request@stabilelawfirm.com</span></p>
                        </div>
                    </div>
                    <div class="top-info">
                        <div class="icon-box">
                            <span class="separator icon icon-Timer"></span>
                        </div>
                        <div class="content-box">
                            <p>Mon - Sat 9.00 AM - 07.00 PM <br><span>domingo cerrado</span></p>
                        </div>
                    </div>
                    <div class="top-info">
                        <div class="icon-box">
                            <span class="separator icon"><img src="~/Content/NJ_Images/languages-icon-128px.png" alt="NewJerseyLanguage" style="width:30px;height:35px" /></span>
                        </div>
                        <div class="content-box">
                            <p><a href="~/">English</a> - <a href="/es/Índice">Español </a> <br><span>Language</span></p>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </div> <!-- end bottom_header -->
    </header>

    <section class="mainmenu-area stricky">
        <div class="container">
            <nav class="clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header clearfix">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-th fa-2x"></span>
                    </button>
                </div>
                <div class="nav_main_list custom-scroll-bar pull-left" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="hover_slip">
                        <li><a href="/es/Índice"><span class="menuspan menu-active" id="MainPage">Inicio</span> </a></li>
                        <li><a class="contact" href="/es/Sobre-nosotros"><span class="menuspan" id="AboutUs">Nosotros</span> </a></li>
                        <li><a class="contact" href="/es/Porque-nosotros"><span class="menuspan" id="WhyUs">Porqué nosotros</span> </a></li>
                        <li><a class="contact" href="/es/Nuestros-servicios"><span class="menuspan" id="OurServices">Nuestros servicios</span> </a></li>
                        <li><a class="contact" href="/es/recursoss"><span class="menuspan" id="Resources">Recursos</span></a></li>
                        @*<li><a class="contact" href="/NewJersey/Frequently_asked_questions"><span class="menuspan" id="FAQ">FAQ</span></a></li>*@
                        <li><a class="contact" href="/es/Cuota-gratis"><span class="menuspan" id="FreeQuote">Cotización Gratuita</span> </a></li>
                    </ul>
                </div>
            </nav> <!-- End Nav -->
        </div> <!-- End Container -->
    </section>

    <section class="p0 container-fluid banner about_banner banner_margin">
        <div id="owl-example" class="owl-carousel">
            <div><img src="~/Content/NJ_Images/court.jpg" alt="NewjerseyTrafficTicketCourt" class="img-responsive" /></div>
            <div><img src="~/Content/NJ_Images/police.jpg" alt="NewjerseyTrafficTicketpolice" class="img-responsive" /></div>
            <div><img src="~/Content/NJ_Images/traffic.jpg" alt="NewjerseyTrafficTicketTraffic" class="img-responsive" /></div>
        </div>
    </section>

    <section class="welcome_sec">
        <div class="container">
            <div class="row welcome_heading">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <h1 itemprop="name">Multas de tráfico NEW JERSEY</h1>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                    <p>
                        Abogados en New Jersey para Infracciones de tráfico (traffic tickets),
                        DUI y DWI (Drunk Driving), Conducir con suspensión (Driving while suspended),
                        Conducción temeraria (Reckless driving), No tener seguro(No Car Insurance),
                        y todas las violaciónes tráfico.<br /> Oficinas en Woodbridge, Hackensack y La ciudad de Jersey



                        @*Defense Lawyers for all NJ Traffic Tickets, including DUI DWI,
                            Speeding, Reckless Driving, Driving While Suspended,
                            Careless Driving, No car insuranse, Racing on highway.<br />

                            Offices in Woodbridge, Hackensack and Jersey City*@
                    </p>
                </div>
            </div>
            <div class="row welcome welcome_details">
                <div class="col-lg-6 col-md-12">

                    <div class="welcome_item">
                        <a href="/es/multas-de-tráfico">
                            <img src="~/Content/NJ_Images/traffic-ticket.jpg" alt="images" class="img-circle" />
                            <div class="welcome_info">
                                <h3>Multas de Tráfico</h3>
                                <p>
                                    Hay diversos tipos de multas del tráfico ó transito en New Jersey....
                                    <button class="read-more2">Lee mas   <i class="fa fa-arrow-circle-right"></i></button>

                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="welcome_item welcome_item_bottom">
                        <a href="/es/e-infracciones">
                            <img src="~/Content/NJ_Images/speeding-ticket-lawyer.jpg" alt="images" class="img-circle" />
                            <div class="welcome_info">
                                <h3>Exceso de velocidad</h3>
                                <p>
                                    Las infracciones por exceso de velocidad (Speeding Tickets) se han emitido por policías..
                                    <button type="submit" class="read-more2">Lee mas  <i class="fa fa-arrow-circle-right"></i></button>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 bottom_row">
                    <div class="welcome_item">
                        <a href="/es/Sin-seguro-de-coche">
                            <img src="~/Content/NJ_Images/policeman-ticket.jpg" alt="NewJerseyTrafficTicketPoliceTicket" class="img-circle" />
                            <div class="welcome_info">
                                <h3>Vehículo Sin Seguro</h3>
                                <p>
                                    Si usted ha sido acusado por conducir sin seguro en New Jersey, nosotros ...
                                    <button type="submit" class="read-more2">Lee mas  <i class="fa fa-arrow-circle-right"></i></button>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="welcome_item welcome_item_bottom">
                        <a href="/es/conducción-descuidada">
                            <img src="~/Content/NJ_Images/off-careless.jpg" alt="NewJerseyCareless" class="img-circle" />
                            <div class="welcome_info">
                                <h3>Conducción descuidada</h3>
                                <p>
                                    Conducción descuidada es un delito menos grave que la conducción. temeraria y es qu...
                                 
                                    <button type="submit" class="read-more2">Lee mas  <i class="fa fa-arrow-circle-right"></i></button>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- End Row -->
        </div> <!-- End container -->
    </section> <!-- End welcome_sec -->

    <section class="we_are">
        <div class="left_side float_left">
            <img src="~/Content/NJ_Images/gavel.jpg" alt="NewJerseyTrafficTicketgavel" class="img-responsive gavel-book" />
        </div> <!-- End Left_Side -->
        <div class="right_side float_right">
            <div class="we_are_deatails">
                <h2>AVISO!!!</h2>
                <p>
                <p>
                    Cuando usted contrata a nuestra firma de abogados, ya sabes quiénes somos, dónde estamos y lo que hacemos. Tenga mucho cuidado de no contratar a empresas de marketing que se presentan como bufetes de abogados, cuando en realidad están violando el Reglamento de Ética y la ley al hacerlo.
                </p>
                <p>
                    Las entidades que dicen que "ganan" o garantizan resultados, no son los bufetes de abogados. Ningún abogado puede garantizar los resultados. Como se dijo antes, es poco ético e ilegal para hacer tales afirmaciones ridículas.
                </p>
                </p>

            </div>
        </div> <!-- End right_side -->
    </section> <!-- End We Are -->

    <section class="testimonial_sec clear_fix">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 testimonial_container">
                    <div class="sec-title">
                        <h2>Común infracciones de tráfico</h2>
                    </div>
                    <div id="owl">
                        <div>
                            <a href="/es/Lo-a-hacer-con-suspensión-de-licencia">
                                <div class="testimonial">
                                    <img src="~/Content/NJ_Images/driving-while-suspended.jpg" alt="NewJersySuspended" class="img-circle" />
                                    <div class="float_right client_info">
                                        <p>Conducir en estado <br />suspendido</p>
                                        <ul>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span ></span></li>
                                            <li><span ></span></li>
                                            <li><span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="john_speach">
                                    Si se han suspendido sus privilegios de conducir, tendrá que pagar una cuota de restauración de $ 100. Si el juez no tomó su licencia en corte, tiene que renunciar a ella en cualquier Centro de Servicio Regional o por correo a:<br />
                                    Comisión de Vehículos Motorizados<br />
                                    Conductor Oficina de Gestión<br />
                                    CORREOS. Box 134Trenton, NJ 08650
                                </p>
                            </a>
                        </div>

                        <div>
                            <a href="/es/e-infracciones">
                                <div class="testimonial">
                                    <img src="~/Content/NJ_Images/traffic-cop.jpg" alt="NewJerseyTrafficTicketCop" class="img-circle" />
                                    <div class="float_right client_info">
                                        <p>Delitos e infracciones</p>
                                        <ul>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                        </ul>
                                    </div>
                                    <p class="john_speach">
                                        Superior a la máxima velocidad 1-14 mph por encima del límite<br />
                                        Superior a la velocidad máxima de 15-29 mph por encima del límite<br />
                                        Exceda el máximo de velocidad de 30 mph o más por encima del límite<br />
                                    </p>

                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="/es/Si-no-se-detiene-para-semáforo">
                                <div class="testimonial">
                                    <img src="~/Content/NJ_Images/Modern_British_LED_Traffic_Light.jpg" alt="NewJerseyLedTrafficLight" class="img-circle" />
                                    <div class="float_right client_info">
                                        <p>Si no se detiene para<br />  semáforo</p>
                                        <ul>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="john_speach">Estas son las consecuencias graves. Si el conductor, en el momento de la infracción de tránsito se emitió o temprano, tiene otras violaciónes, los múltiples delitos pueden dar lugar a sanciones aún más duras. Nuestros abogados tienen todos los cargos en contra de nuestros clientes en serio. Si le gustaría hablar de la defensa de un boleto por pasarse una luz roja o señal de stop, no ceder el paso, o cualquier otra violación de tráfico con uno de nuestros abogados...</p>
                            </a>
                        </div>
                        <div>
                            <a href="/es/autobús-escolar-que-pasa-inadecuada">
                                <div class="testimonial">
                                    <img src="~/Content/NJ_Images/tb_Redlight_450.jpg" alt="NewJerseyTrafficRedLight" class="img-circle" />
                                    <div class="float_right client_info">
                                        <p>Improper passing of school<br />  bus</p>
                                        <ul>
                                            <li><span ></span></li>
                                            <li><span ></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span ></span></li>
                                        </ul>
                                    </div>
                                </div>
                                @*<p class="john_speach">A driver on a highway passing school bus used solely for the transportation of children to and from school, any school activity, or summer day camp must stop not less than 25 feet from the bus when the bus has stopped to receive or discharge any passengers. </p>*@
                                <p class="john_speach">Un conductor de un autobús escolar carretera que pasa utilizado exclusivamente para el transporte de los niños a la escuela, cualquier actividad de la escuela o campamento de verano debe dejar de no menos de 25 pies del autobús cuando el autobús ha dejado de recibir o despedir a los pasajeros.</p>
                            </a>
                        </div>
                    </div> <!-- End owl -->
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 company">
                    <h2>Entradas New Jersey Tráfico</h2>
                    <div class="company-tab">
                        <ul class="nav nav-pills nav-justified">
                            <li class="active"><a data-toggle="pill" href="#menu1">Licencia de conducir</a></li>
                            <li><a data-toggle="pill" href="#menu2">consecuencias</a></li>
                            <li><a data-toggle="pill" href="#menu3">Entradas a luchar</a></li>

                        </ul>

                        <div class="tab-content">
                            <div id="menu1" class="tab-pane fade in active">
                                <h3>una licencia de conducir de New Jersey</h3>
                                <p>
                                    Tener una licencia de conducir de New Jersey es un privilegio importante. A menos que usted viva en una zona metropolitana donde exista transporte público, la pérdida de su licencia de conducir puede tener efectos dramáticos, lo que podría limitar el desarrollo de su vida diaria.Si usted ha recibido una multa de tráfico (traffic tickets) en New Jersey, usted ha venido al lugar correcto: La Firma Stabile Law, LLC. La emisión de una multa de exceso de velocidad, en estado suspendido, multa de conducir negligentemente o cualquier otro multa en NJ , no significa automáticamente que usted es culpable. Lo que significa es que usted tiene el derecho a acudir a los tribunales y probar que no debio recibir una multa de tráfico (traffic tickets) en New Jersey.
                                </p>

                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h3>Consequences </h3>
                                <p>Las consecuencias de una condena como resultado de multas de tráfico (traffic tickets) en New Jersey pueden incluir multas, costos judiciales, servicio a la comunidad, los puntos en su licencia, recargos, suspensión de la licencia, y el aumento de los costos del seguro. Además, las multas de tráfico (traffic tickets) a veces pueden incluir la consecuencia muy grave de encarcelamiento por períodos de hasta 180 días o más, pero la mayoría de las multas de tráfico en New Jersey son simples violaciónes de tráfico (traffic violation). Sin embargo, hay varios delitos de tráfico que puede haber cargos penales, incluyendo la posesión de sustancias declaradas peligrosas.
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <h3>¿Cuál es la mejor manera de luchar contra una multa de tráfico?</h3>
                                <p>¿Cuál es la mejor manera de luchar contra una multa de tráfico? Llame a nuestra oficina para hablar con un tráfico de New Jersey Abogados de Defensa. Nuestros experimentados abogados de tráfico de Nueva Jersey a encontrar soluciones innovadoras a las necesidades de nuestros clientes. Verdaderamente somos vigorosa en nuestra representación.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End row -->
        </div> <!-- End Container -->
    </section> <!-- testimonial -->
    <!-- ======= /Testimonial & Company Values ======= -->
    <!-- ======== Small business ======== -->
    <section class="p0 container-fluid latest_news_sec news_large news_margin">
        <div class="container">
            <h2>resultados más recientes</h2>
        </div>
        <div class="news_highlight">
            <div class="col-lg-3 col-md-6 news">
                <div class="news_img_holder">
                    <img class="img-responsive" src="~/Content/images/12.jpg" alt="image">
                    <div class="news_opacity">
                    </div>
                    <div class="news_details">
                        <a href="#">
                            <span>07.07.2016</span>
                            <h4>La partida de Noticias</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 news news_right">
                <div class="news_img_holder">
                    <img class="img-responsive" src="~/Content/images/13.jpg" alt="image">
                    <div class="news_opacity">
                    </div>
                    <div class="news_details">
                        <a href="#">
                            <span>07.07.2016</span>
                            <h4>La partida de Noticias</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 news news_bottom">
                <div class="news_img_holder">
                    <img class="img-responsive" src="~/Content/images/14.jpg" alt="image">
                    <div class="news_opacity">
                    </div>
                    <div class="news_details">
                        <a href="#">
                            <span>07.07.2016</span>
                            <h4>La partida de Noticias</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 news news_right news_bottom">
                <div class="news_img_holder">
                    <img class="img-responsive" src="~/Content/images/15.jpg" alt="image">
                    <div class="news_opacity">
                    </div>
                    <div class="news_details">
                        <a href="#">
                            <span>07.07.2016</span>
                            <h4>La partida de Noticias</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="small_business_sec">
        <div class="business_opacity">
            <div class="container float_right" id="Contact-US">
                <h2>Stabile Law Firm, LLC</h2>
                <p>
                    Abogados de Multas de<br />
                    Tráfico en New Jersey<br />
<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">900 Route 9 North, Suite 214</span><br />
                    <span itemprop="addressLocality">Woodbridge</span>,<span itemprop="addressRegion">NJ</span> <span itemprop="postalCode">07095</span> <span itemprop="addressCountry">USA</span></span><br />
                    Phone: <span itemprop="telephone">+1-732-602-7795</span><br />
                    Email: <span itemprop="email">request@stabilelawfirm.com</span><br />
                    Fax: +1-732-602-7796
                </p>
            </div> <!-- End container -->
        </div>
    </section></span>
    <section class="container-fluid consultation">
        <div class="container text-center">
            <p>Si tiene cualquier consulta de entradas relacionadas ...</p>
            <a href="/es/Cuota-gratis">Contáctenos <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </section>
    <footer>
        <div class="top_footer container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 part1">
                        <a href="#"></a>
                        <p>Llámanos ahora para una consulta gratis</p>
                        <p><i class="fa fa-phone"></i>&nbsp;&nbsp;  1-732-602-7795</p>
                        <p>request@stabilelawfirm.com</p>
                        <ul class="p0">
                            <li><a href="https://www.facebook.com/stabilelawfirm/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/traffic_ticket_"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/105631430374039779814/about?gmbpt=true&_ga=1.115186183.1858724218.1472044234"><i class="fa fa-google-plus"></i></a></li>
                            <li class="fb-like"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 part2">
                        <h5>Nuestros servicios</h5>
                        <ul class="p0">
                            <li><a href="/es/Con-suspensión-de-licencia"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; licencia suspendida</a></li>
                            <li><a href="/es/chupar-rueda"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;chupar rueda</a></li>
                            <li><a href="/es/Conducción-temeraria"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Conducción temeraria</a></li>
                            <li><a href="/es/conducción-descuidada"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Conducción descuidada</a></li>
                            <li><a href="/es/e-infracciones"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;e infracciones</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 part2">
                        <h5>Enlazar</h5>
                        <ul class="p0">
                            <li><a href="~/"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;INICIO</a></li>
                            <li><a href="/es/Sobre-nosotros"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;NOSOTROS</a></li>
                            <li><a href="/es/Porque-nosotros"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;PORQUÉ NOSOTROS</a></li>
                            <li><a href="/es/Nuestros-servicios"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;NUESTROS SERVICIOS</a></li>
                            <li><a href="/es/recursoss"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;RECURSOS</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 part1">
                        <h5>Chat en vivo</h5>
                        <p>
                            Email :<a href="mailto:request@stabilelawfirm.com" class="snd_mail">haga clic aquí</a> <br />
                            900 U.S. 9 (North) Suite 214<br />
                            Woodbridge, NJ 07095, USA
                            <img src="~/Content/NJ_Images/timing.jpg" alt="NewJerseyTrafficTicket" class="img-responsive img-rounded" />
                            @*<img src="~/Content/NJ_Images/livehelp (1).jpg"  />*@
                        </p>
                    </div>

                </div> <!-- End row -->
            </div>
        </div> <!-- End top_footer -->
        <div class="bottom_footer container-fluid">
            <div class="container">
                <p class="float_left">Copyright © NJ NY Traffic Tickets </p>
                <p class="float_right">2013 All right Reserved</p>
            </div>
        </div> <!-- End bottom_footer -->
    </footer>
    <!-- ============= /Footer =============== -->
    <!-- Js File -->
    <!-- j Query -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="~/Content/js/validate.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js"></script>
    <script src="~/Content/js/revolution-slider/jquery.themepunch.tools.min.js"></script> <!-- Revolution Slider Tools -->
    <script src="~/Content/js/revolution-slider/jquery.themepunch.revolution.min.js"></script> <!-- Revolution Slider -->
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Content/js/revolution-slider/extensions/revolution.extension.video.min.js"></script>

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js"></script>


    <!-- owl-carousel -->
    <script type="text/javascript" src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/owl-custom.js"></script>
    <!-- Custom & Vendor js -->
    <!-- Code for Slider -->
    <script type="text/javascript" src="~/Content/js/custom.js"></script>
    <link href="~/Content/Slider/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <script src="~/Content/Slider/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/Slider/owl-carousel/owl.carousel.min.js"></script>
    <link href="~/Content/Slider/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/Slider/owl-carousel/owl.transitions.css" rel="stylesheet" />
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/577decfd0f39adbe7e2e6785/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->



    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-15521914-3', 'auto');
        ga('send', 'pageview');

        $(function () {
            $("#owl-example").owlCarousel({

                singleItem: true,
                autoPlay: true,
                transitionStyle: "fade"

            });

            $(".menuspan").removeClass("menu-active");
            $("#MainPage").addClass("menu-active");

        });

        $(window).load(function () {
            $('.loadercont').fadeOut();
        })

        
   




    </script>

 <script type="application/ld+json">
        {
            "@@context" : "http://schema.org",
            "@@type" : "Organization",
            "name" : "New Jersey Traffic Tickets",
            "url" : "http://www.newjerseytraffictickets.com",
            "sameAs" : [
            "https://www.facebook.com/stabilelawfirm",
            "https://plus.google.com/105631430374039779814/about?gmbpt=true&_ga=1.115186183.1858724218.1472044234",
            "https://twitter.com/traffic_ticket_"
            ]
        }
    </script>

    <script type='application/ld+json'>
        {"@@context":"http:\/\/schema.org","@@type":"WebSite","url":"http:\/\/newjerseytraffictickets.com\/es\/Índice","name":"MULTAS DE TRÁFICO NEW JERSEY","potentialAction":{"@@type":"SearchAction","target":"http:\/\/newjerseytraffictickets.com\/es\/Índice?s={search_term_string}","query-input":"required name=search_term_string"}}
    </script>

</body>
<!-- Mirrored from wp1.themexlab.com/html/me-finance/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jul 2016 06:38:35 GMT -->
</html>
