
@{
    ViewBag.Title = "Vehículo sin seguro en New Jersey";
ViewBag.Description = "¡Si te han cargado para conducir sin seguro, podemos ayudar! Nuestro objetivo es siempre ganar tu caso o por lo menos reducir el cargo a una violación de menor importancia.";
    Layout = "/Views/Shared/_Layoutes.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Vehículo sin seguro en New Jersey (No Car Insurance in NJ)</h1>

        <p>
            <img src="~/Content/NJ_Images/no-car-insurance-in-new-jersey.jpg" class="img-responsive img-circle" />   Si usted ha sido acusado por conducir sin seguro en New Jersey, nosotros podemos ayudar! <b>39:6 motorista sin seguro B-2 (Uninsured driver) es una acusación grave y sancionado con penas graves.</b> Nuestro objetivo siempre es ganar su caso o al menos reducir el cargo a una violación menor.
        </p>

        <p>           El estado de New Jersey requiere que todos los conductores a tener un seguro. Por la primera infracción, el conductor tendrá que pagar más multa de $ 1000 y hacer servicio comunitario.</p>

        <p>            Todos los vehículos que están registrados <b>en New Jersey están obligados a tener seguro de responsabilidad civil (liability insurance)</b>. La responsabilidad de asegurar un vehículo cae en el propietario del vehículo, o la persona que posea la titularidad del vehículo. La cantidad mínima de seguro que un conductor debe tener la responsabilidad, que es de $ 15,000 por la lesión o muerte de una persona, $ 30,000 por la muerte o lesiones de más de una persona, y $ 5,000 por daños a la propiedad. Nota: Se trata de cantidades mínimas y le recomendamos que asegure la mayor cantidad cuando sea posible.</p>

        <p>           Un conductor se enfrenta a la escalada de sanciones en caso de una Violación NO Seguros.(Uninsured motorist) En otras palabras, si el conductor ha sido condenado por conducir sin seguro (Driving without insurance) varias veces, aumentan las penas y las tasas del seguro. Si un conductor ha sido condenado por conducir sin seguro por primera vez, tendrá que pagar una multa cuya cantidad es de no menos de $ 301, y no más de $ 1.002. Además, el conductor también debe realizar servicio comunitario por un período de tiempo determinado. En algunos tribunales municipales, el juez suele suspender el servicio de la comunidad para un delincuente por primera vez. Sin embargo, algunos extrictos jueces de la corte municipal imponen muchas horas de servicio comunitario a los acusados si conducen sin seguro de responsabilidad civil.</p>

        <p>           Para una segunda ofensa o cualquier condena posterior, las sanciones consisten en multa de $ 502, más $ 30 los costos judiciales. Hay una sentencia de cárcel obligatoria de 14 días. Asimismo, el tribunal debe condenar al conductor a 30 días de servicio comunitario. En New Jersey, un día de servicio a la comunidad se considera que será de 6 horas, por lo que la sentencia de servicio a la comunidad es realmente 180 horas. Además, en un segundo de conducir sin seguro, la licencia de conducir del acusado debe ser suspendido por dos años. El conductor que haya sido condenado por segunda vez por conducir sin seguro de responsabilidad civil (liability insurance) no se obtienen automáticamente su licencia. El director del DMV tiene la autoridad bajo NJSA 39:6 B-2 de rechazar para siempre para dar al conductor de nuevo su licencia, a menos que el conductor pueda ofrecer garantías específicas de que él o ella nunca volverá a operar su vehículo sin seguro.</p>
        <p>            <b>Conducir sin seguro (Driving without insurance)</b> de responsabilidad civil en New Jersey también tiene muchas consecuencias colaterales. Un conductor debe pagar un recargo de $ 250 al año al DMV durante tres años. Por otra parte, un conductor se evaluará 9 puntos de elegibilidad de seguro.<b> Estos puntos perdidos hará muy caro para cualquier conductor el obtener un seguro</b> de vehículos de motor.
		<br/>
			<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
		</p>

        <p>           <center>Llamenos gratuitamente a 1-877-VIOLATION 1-877-878-4728 <br />Phone: 732 602 7795 Fax: 732 602 7796
				
		
		</center></p>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $(".ntab").removeClass("active");
        $("#NoInsurance").addClass("active");

    });

</script>


