
@{
    ViewBag.Title = "Abogado para Penas y Multas - NJ NY Multas de transito o trafico";
    ViewBag.Description = "Conducir es un privilegio, no una derecho. Si rompes las leyes del tráfico, tus privilegios se podrían suspender o revocar dando por resultado multas y hasta carcel";
    Layout = "/Views/Shared/_Layoutes.cshtml";
}

<style>
    .tb_head {
        background-color: #13A0B2;
        color: white;
        text-align: center;
        padding: 5px;
    }

    .tb {
        width: 90%;
        border: 1px solid #CCCCCC;
    }

    .tb_td {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        color: #898989;
        line-height: 26px;
        padding: 5px;
    }

    .tb_head2 {
        padding: 8px;
        text-align: left;
        border: 1px solid white;
    }
</style>
<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Penas y Multas de Tráfico</h1>
        <p>

            <img src="~/Content/NJ_Images/penalties_and_fines_in_new_jersey.jpg" class="img-responsive img-circle" />   El conducir es un privilegio, no una derecho. Si rompes las leyes del tráfico, tus privilegios para conducir se podrían suspender o revocar dando por resultado multas e incluso el encarcelamiento. La seriedad de tus violaciones - y las penas que resultan - se sigue por MVC con un sistema del puntos.<br />
            Si te condenan por una violación móvil, MVC te penalizará agregando puntos a tu expediente. Conseguirás solamente puntos en tu expediente para las violaciones móviles - los puntos no se determinan para el estacionamiento y otras violaciones. Una tabla se proporciona para más información en el número de los puntos ganados para las violaciones específicas.

        </p>
        <div class="clearfix"></div>
        <h4>¿Cómo afectan los puntos ? </h4>
        <div class="ul_info">
            <ul style="list-style-type:disc;margin-left:20px">
                <li class="tab_li">Si consigues seis o más puntos en el plazo de tres años en tu expediente que conduce actual, te determinarán una sobrecarga</li>
                <li class="tab_li">Si consigues 12 o más puntos en tu expediente, tu licencia será suspendida. Recibirás un aviso de la suspensión por correo.</li>
                <li class="tab_li">
                    Aumentar puntos en tu licencia puede también aumentar tus tarifas del seguro. Entrar en contacto con tu agente de seguro para los detalles
                </li>
            </ul>
        </div>

        <p>
            <b>¿Cómo me puedo librar de los puntos en mi expediente?</b><br />
            Aunque sustentes a MVC un expediente de todos los puntos que has ganado, es posible ganar reduccion de punto por la "remaining violation" y "suspension-free" por un año o tomando curso de conducción aprobado por MVC. Llame a un abogado de multas de tráfico de Nueva Jersey para más detalles.</b>
        </p>
        <p>Nota: Tu compañía de seguros puede no pudo en cuenta estas deducciones en tu tarifa del seguro.</p>


        <div class="table-responsive">
            <table class="tb " style="margin-top:20px;margin-bottom:20px">
                <tr class="tb_head">
                    <td class="tb_head2">Deducción</td>
                    <td class="tb_head2">Puntos</td>
                    <td class="tb_head2">Restricciones</td>
                </tr>

                <tr>
                    <td class="tb_td">Un año sin violaciones o suspensiones</td>
                    <td class="tb_td">-3</td>
                    <td class="tb_td">El año comienza el la fecha de la violación o de la mayoría de la restauración reciente</td>

                </tr>
                <tr>
                    <td class="tb_td">Programa que conduce defensivo</td>
                    <td class="tb_td">-2</td>
                    <td class="tb_td">Puede ser utilizado restar puntos una vez cada cinco años</td>
                </tr>
                <tr>
                    <td class="tb_td">Programa de mejora del conductor</td>
                    <td class="tb_td">-3</td>
                    <td class="tb_td">Puede ser utilizado restar puntos una vez cada dos años</td>
                </tr>
                <tr>
                    <td class="tb_td">Programa probatorio del conductor</td>
                    <td class="tb_td">-3</td>
                    <td class="tb_td">-</td>
					
                </tr>

            </table>
			
			<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");

    });

</script>


