
@{
    ViewBag.Title = "Puntos y Sobrecargas - NJ NY Multas de transito o trafico";
    ViewBag.Description = "Multas de Transito in NJ y exceso de velocidad en NJ.  ¡Nuestros abogados te ayudarán a salir librado de los puntos asociados a tu multa de tránsito y a preservar tus privilegios para conducir.";
    Layout = "/Views/Shared/_Layoutes.cshtml";
}

<style>
    .tb_head {
        background-color: #13A0B2;
        color: white;
        text-align: center;
        padding: 5px;
    }

    .tb {
        width: 90%;
        border: 1px solid #CCCCCC;
    }

    .tb_td {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        color: #898989;
        line-height: 26px;
        padding: 5px;
    }

    .tb_head2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        color: #898989;
        line-height: 26px;
        padding: 5px;
        width: 30%;
    }

    .tb_head4 {
        padding: 8px;
        text-align: left;
        border: 1px solid white;
    }

    tr {
        border-bottom: 1px solid #CCCCCC;
    }
</style>

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s" style="margin-top: 50px;">
    <div class="clear_fix"></div>
    <h1 style="margin-left: 30px !important">Puntos y Sobrecargas </h1>
    <div class="bottom_tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">ESCALA DE PUNTO DE NJSA</a></li>
            <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">Sobrecargas</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Sobrecargas adicionales</a></li>

        </ul>
        <div class="tab-content bottom_tab_info">
            <div class="tab-pane fade  active in" id="tab_3">
                <div class="table-responsive">
                    <table class="tb" style="margin-top:20px">
                        <tr class="tb_head">
                            <td colspan="3">ESCALA DE PUNTO DE NJSA</td>
                        </tr>
                        <tr class="tb_head">
                            <td colspan="3">New Jersey Turnpike, Parkway del estado del jardín y autopista de Atlantic City</td>
                        </tr>
                        <tr class="tb_head">
                            <td class="tb_head4">Sección de NJSA</td>
                            <td class="tb_head4">Ofensa</td>
                            <td class="tb_head4">Puntos</td>
                        </tr>

                        <tr>
                            <td class="tb_head2">27:23-29</td>
                            <td class="tb_head2">Mudanza contra tráfico</td>
                            <td class="tb_head2">2</td>
                        </tr>

                        <tr>
                            <td class="tb_head2">27:23-29</td>
                            <td class="tb_head2">El pasar incorrecto</td>
                            <td class="tb_head2">4</td>
                        </tr>

                        <tr>
                            <td class="tb_head2">27:23-29</td>
                            <td class="tb_head2">Uso ilegal de la tira mediana</td>
                            <td class="tb_head2">2</td>
                        </tr>

                        <tr class="tb_head">
                            <td colspan="3">Todos los caminos y carreteras</td>
                        </tr>
                        <tr class="tb_head">
                            <td class="tb_head4">Sección de NJSA</td>
                            <td class="tb_head4">Ofensa</td>
                            <td class="tb_head4">Puntos</td>
                        </tr>
                        <tr><td class="tb_head2">39:3-20</td>	<td class="tb_head2">Vehículo de funcionamiento del constructor superior a 45 mph</td>	<td class="tb_head2">3</td></tr>
                        <tr><td class="tb_head2">39:4-14.3</td>	<td class="tb_head2">Bicicleta motorizada de funcionamiento en una carretera restricta</td>	<td class="tb_head2">2</td></tr>
                        <tr><td class="tb_head2">39:4-14.3d</td><td class="tb_head2">Más de una persona en una bicicleta motorizada</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-35</td><td class="tb_head2">Falta de rendir al peatón en crosswalk</td><td class="tb_head2">	2</td></tr>
                        <tr>
                            <td class="tb_head2">39:4-36</td>
                            <td class="tb_head2">
                                Falta de rendir al peatón en crosswalk;
                                pasar un vehículo que rinde al peatón en crosswalk
                            </td>
                            <td class="tb_head2">	2</td>
                        </tr>
                        <tr><td class="tb_head2">39:4- 41</td><td class="tb_head2">	El conducir con zona de seguridad</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-52</td><td class="tb_head2"> 	El competir con en la carretera</td><td class="tb_head2">	5</td></tr>
                        <tr><td class="tb_head2">39:4-55 </td><td class="tb_head2">	Acción u omisión incorrecta en grados y curvas</td><td class="tb_head2">	2</td></tr>

                        <tr><td class="tb_head2">39:4-57</td>	<td class="tb_head2">Falta de observar la dirección del oficial</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-66</td><td class="tb_head2">	Falta de parar el vehículo antes de acera de la travesía</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-66.1</td><td class="tb_head2">Falta de rendir a los peatones o a los vehículos mientras que entrando en o dejando la carretera</td><td class="tb_head2">2</td></tr>
                        <tr><td class="tb_head2">39:4-66.2</td>	<td class="tb_head2">El conducir en característica pública o privada para evitar una señal o una señal de tráfico</td><td class="tb_head2">2</td></tr>
                        <tr><td class="tb_head2">39:4-71</td>	<td class="tb_head2">Funcionamiento de un vehículo de motor en una acera	</td><td class="tb_head2">2</td></tr>
                        <tr><td class="tb_head2">39:4-80</td><td class="tb_head2">	Falta de obedecer la dirección del oficial</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-81</td><td class="tb_head2">	Falta de observar señales de tráfico</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-82</td><td class="tb_head2">	Falta de guardar a la derecha</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-82.1</td><td class="tb_head2">	Funcionamiento incorrecto del vehículo en la carretera dividida o el divisor</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-83</td><td class="tb_head2">	Falta de guardar a la derecha en la intersección</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-84</td><td class="tb_head2">	Falta de pasar a la derecha del vehículo que procede en la dirección opuesta</td><td class="tb_head2">	5</td></tr>
                        <tr><td class="tb_head2">39:4-85</td> <td class="tb_head2">El pasar incorrecto en la derecha o del camino</td>	<td class="tb_head2">4</td></tr>
                        <tr><td class="tb_head2">39:4-85.1</td>	<td class="tb_head2">Manera incorrecta en una calle unidireccional</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-86</td><td class="tb_head2">	El pasar incorrecto en ninguna zona que pasa</td><td class="tb_head2">	4</td></tr>
                        <tr><td class="tb_head2">39:4-87</td><td class="tb_head2">	Falta de rendir a alcanzar el vehículo</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-88</td><td class="tb_head2">	Falta de observar carriles del tráfico</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-89</td><td class="tb_head2">	Tailgating</td><td class="tb_head2">5</td></tr>
                        <tr><td class="tb_head2">39:4-90 </td><td class="tb_head2">	 	Falta de rendir en la intersección</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-90.1</td><td class="tb_head2">	Falta de utilizar las entradas apropiadas a las carreteras limitadas del acceso</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-91-92</td><td class="tb_head2">	 	Falta de rendir a los vehículos de la emergencia</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-96</td><td class="tb_head2">	El conducir imprudente	</td><td class="tb_head2">5</td></tr>
                        <tr><td class="tb_head2">39:4-97</td><td class="tb_head2">	El conducir descuidado</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-97a</td><td class="tb_head2">Destrucción de la característica agrícola o recreacional</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-97.1</td><td class="tb_head2">	Velocidad reducida que bloquea tráfico</td><td class="tb_head2">	2</td></tr>
                        <tr>
                            <td class="tb_head2">39:4-97.2</td>
                            <td class="tb_head2">
                                El conducir de una manera insegura (puntos determinados solamente para
                                terceras o subsecuentes violaciones dentro de un período de cinco años.)
                            </td>
                            <td class="tb_head2">	4</td>
                        </tr>
                        <tr><td class="tb_head2">39:4-98</td><td class="tb_head2">	Excediendo velocidad máxima 1-14 mph sobre límite</td><td class="tb_head2">	2</td></tr>
                        <tr>
                            <td class="tb_head2">39:4-99</td>
                            <td class="tb_head2">
                                Excediendo velocidad máxima 15-29 mph sobre límite
                                Excediendo velocidad máxima 30 mph o más límite del excedente
                            </td>
                            <td class="tb_head2">
                                4
                            </td>
                        </tr>
                        <tr><td class="tb_head2">39:4-105</td><td class="tb_head2">	Falta de parar para el semáforo</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-115</td><td class="tb_head2">Vuelta incorrecta en el semáforo</td><td class="tb_head2">	3</td></tr>
                        <tr><td class="tb_head2">39:4-119</td><td class="tb_head2">	Falta de parar en la señal roja que destella</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-122</td><td class="tb_head2">	La falta de parar para el policía silba</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-123</td><td class="tb_head2">	Curva derecha o de la izquierda incorrecta</td><td class="tb_head2">	3</td></tr>
                        <tr><td class="tb_head2">39:4-124</td><td class="tb_head2">	Vuelta incorrecta del curso que da vuelta aprobado	</td><td class="tb_head2">3</td></tr>
                        <tr><td class="tb_head2">39:4-125</td><td class="tb_head2">	Incorrecto U-dar vuelta</td><td class="tb_head2">	3</td></tr>
                        <tr><td class="tb_head2">39:4-126</td><td class="tb_head2">	La falta da la señal apropiada</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-127</td><td class="tb_head2">	Forro incorrecto o el dar vuelta en calle</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-127.1</td><td class="tb_head2"> 	Travesía incorrecta de la travesía del grado del ferrocarril</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-127.2</td><td class="tb_head2"> 	Travesía incorrecta del puente</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-128</td><td class="tb_head2">	Travesía incorrecta de la travesía del grado del ferrocarril en ciertos vehículos</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:4-128.1</td><td class="tb_head2">	El pasar incorrecto del autobús de la escuela</td><td class="tb_head2">	5</td></tr>
                        <tr><td class="tb_head2">39:4-128.4</td><td class="tb_head2">	El pasar incorrecto del carro del postre congelado</td><td class="tb_head2">	4</td></tr>
                        <tr>
                            <td class="tb_head2">39:4-129</td>
                            <td class="tb_head2">Dejando la escena de un accidente - ningunos daños corporales Daños corporales</td>
                            <td class="tb_head2">2 </td>
                        </tr>
                        <tr><td class="tb_head2">39:4-144</td><td class="tb_head2">	 Falta de observar muestras de la parada o de producción</td><td class="tb_head2">	2</td></tr>
                        <tr><td class="tb_head2">39:5C-1</td><td class="tb_head2">	El competir con en la carretera</td><td class="tb_head2">	5</td></tr>
                        <tr><td class="tb_head2">39:5D-4</td><td class="tb_head2">	Violación móvil fuera del estado	 </td><td class="tb_head2"></td></tr>
                    </table>
                    <p>Se reproduce abajo una lista de los puntos determinados por la división de los vehículos de motor para las ofensas del vehículo de motor en New Jersey. También, reproducido, es un horario de sobrecargas que se aplica a las ofensas en New Jersey. Aunque intentamos guardar la corriente de la lista, una lista actual se puede encontrar en el Web site de New Jersey de motor de la Comisión de vehículo en: <a href="http://www.nj.gov/mvc/">http://www.nj.gov/mvc/</a>
					<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
					
					</p>
                </div>
            </div>
            <div class="tab-pane fade" id="tab_1">
                <h3>Sobrecargas</h3>
                <p>Si te asignan puntos en tu licencia de conductor, tendrás que pagar sobrecargas del punto (véase abajo) además de cualesquiera multas y pena corte-impuestas.</p>
                <ul style="list-style-type:disc;margin-left:41px">
                    <li class="tab_li">Las sobrecargas siguen siendo operacionales mientras un motorista haga seis o más puntos en expediente resultando de violaciones fijar en los tres años que preceden. </li>
                    <li class="tab_li">El total del punto se basa en la fecha que las violaciones se fijan a tu expediente, no la fecha en que ocurrieron las violaciones.</li>
                    <li class="tab_li">Si la sobrecarga no es pagada, MVC suspenderá todos los privilegios que conducen indefinidamente y tomará la acción del juicio archivada en la corte superior del estado, que puede incluir asegurar un embargo preventivo contra cualquier característica verdadera que tú poseer, un embargo de tus salarios, u otras acciones similares. </li>
                </ul>
                <h3>Sobrecargas del punto:</h3>
                <ul style="list-style-type:disc;margin-left:41px">
                    <li class="tab_li">$150 para seis puntos, y (1 de julio de 2004 eficaz)</li>
                    <li class="tab_li">$25 para cada punto adicional
					<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
					
					</li>
                </ul>

            </div>
            <div class="tab-pane fade" id="tab_2">
                <h3>Sobrecargas adicionales: </h3>
                <ul style="list-style-type:disc;margin-left:41px">
                    <li class="tab_li">$100 para conducir mientras que unlicensed</li>
                    <li class="tab_li">$250 para conducir mientras que está suspendido </li>
                    <li class="tab_li">$100 para que el no poder asegure un CICLOMOTOR </li>
                    <li class="tab_li">$250 para funcionar un vehículo sin seguro </li>
                    <li class="tab_li">$250 para abogar por culpable a conducir inseguro (sobrecarga corte-impuesta)</li>
                    <li class="tab_li">$1000 por año por tres años para que el conducir mientras que está intoxicado o rechazo tome el breathalizer (primero y segundas ofensas). </li>
                    <li class="tab_li">$1500 por año por tres años para que el conducir mientras que está intoxicado o rechazo tome el breathalizer (tercera ofensa).
					<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
					
					</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $(".ntab").removeClass("active");
        $("#Points").addClass("active");

    });

</script>





