
@{
    ViewBag.Title = "Conducir imprudente o temerariamente";
    ViewBag.Description = "¡Si te han multado por conducir imprudentemente, te podemos ayudar! Nuestro objetivo es siempre ganar tu caso o por lo menos reducir el cargo a una violación de menor importancia.";
    Layout = "/Views/Shared/_Layoutes.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Conducir imprudente o temerariamente (Reckless driving in NJ)</h1>
        <h4>Las penas por conducir imprudente van desde multa, suspensión de licencia y cárcel</h4>
        <p>
            <img src="~/Content/NJ_Images/reckless-driving-in-new jersey.jpg" class="img-responsive img-circle" />
            Una multa por conducir imprudente o en forma temeraria se considera un delito mayor. Es importante que usted pueda ganar o al menos reducir los puntos en un cargo de conducción temeraria, porque a los 6 puntos que se enfrentará a la libertad condicional. Muchas veces una multa de conducción temeraria no se da solo, pero se administra con entradas múltiples, que se suman fácilmente a más de 6 puntos. Nuestros abogados harán todo lo posible para ganar el caso, o al menos reducir el número de puntos a cargo de conducción imprudente. Nuestros precios competitivos son los más bajos en el mercado. No se arriesgue con su multa, ya que es una violación grave. Otra cosa a considerar sobre la convicción de la conducción temeraria es la prima del seguro, sino que irá hasta $ 500 por año durante un máximo de 5 años!
        </p>
        <p>
            39:4-96 conducción temeraria - 5 puntos. Una violación de tráfico de 39:4-96 Conducir de manera imprudente lleva 5 puntos en caso de condena. Conducir de manera imprudente se define como la conducción de un vehículo sin sentido, en forma intencional o desconociendo de los derechos o la seguridad de los demás, de manera que ponga en peligro o pueda poner en peligro a una persona o la propiedad. Una persona condenada por conducción temeraria puede ir a parar en la cárcel del condado de hasta 60 días o una multa no menor de $ 50.00, pero no más de $ 200.00 o ambos. El juez también podrá imponer una pena de suspensión de la licencia de conducir si lo estima el controlador de un peligro en la carretera. La suspensión puede variar desde 1 a 90 días.
        </p>
        <p>
            Para una segunda ofensa o posterior, en caso de condena, el conductor será sancionado con una pena de prisión en la Cárcel del Condado no hasta 90 días, o con una multa de $ 100.00 a $ 500.00, o ambos. El juez también podrá imponer una pena de suspensión de la licencia de conducir si lo estima el controlador de un peligro en la carretera. La suspensión puede ser de 1 a 180 días.
       <br/>
			<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
	    </p>
        <h4>
            <center>
                Llamenos gratuitamente a 1-877-VIOLATION 1-877-878-4728<br />
                Phone: 732 602 7795 Fax: 732 602 7796
				

            </center>
        </h4>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $(".ntab").removeClass("active");
        $("#RecklessDriving").addClass("active");

    });

</script>








