
@{
    ViewBag.Title = "DUI DWI Points Suspension - NJ NY Multas de transito o trafico";
    ViewBag.Description = "Todos los recursos para New Jersey y New York de Multas de trafico o transito: Puntos, Licencia suspendida,  Multas, Violaciónes, dui, dwi etc";
    Layout = "/Views/Shared/_Layoutes.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div style="margin-top: 74px;padding-left: 26px;">
        <h1>Recursos</h1>
        <ul style="list-style-type:disc;margin-left:20px">
            <li class="tab_li"><a href="/es/Batir-su-tráfico-de-entradas">¿Puede un abogado vencer su multa de tránsito?</a></li>
            <li class="tab_li"><a href="/es/Puntos-y-sobrecargos">Puntos y Sobrecargas</a> </li>
            <li class="tab_li"><a href="/es/Lo-a-hacer-con-suspensión-de-licencia">Qué hacer cuando su licencia es suspendida</a></li>
            <li class="tab_li"><a href="/es/Restore-Licencia">Restaurando su licencia</a></li>
            <li class="tab_li"><a href="/es/sanciones">Penas y Multas</a></li>
            <li class="tab_li"><a href="/es/¿Qué-hacer-cuando-se-detuvo-por-la-policíae">Qué hacer cuando te detienen por una violación de tráfico</a></li>
            <li class="tab_li"><a href="/es/Puntos-y-sobrecargos">Sistema de Puntos</a>
			<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
			
			</li>
            @*<li class="tab_li"><a href="/es/Dui_Penalties">Court Imposed Penalties for DUI</a></li>
                <li class="tab_li"><a href="/es/Why_hire_a_new_jersey_traffic_lawyers">Why hire a new jersey traffic lawyer?</a></li>*@
        </ul>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $("#Resources").addClass("menu-active");
        $(".ntab").removeClass("active");
        $("#ViewAll").addClass("active");

    });

</script>



