
@{
    ViewBag.Title = "Restaurando su licencia - NJ NY Multas de transito o trafico";
    ViewBag.Description = "Restauramos su licencia suspendida por multas de tráfico o transito en New Jersey, New York, En stabile Law Firm tenemos 50 años de experiencia combinada para solucionar su multa de tráfico.";
    Layout = "/Views/Shared/_Layoutes.cshtml";
}


<style>
    .tb_head {
        background-color: #13A0B2;
        color: white;
        text-align: center;
        padding: 5px;
    }

    .tb {
        width: 90%;
        border: 1px solid #CCCCCC;
    }

    .tb_td {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        color: #898989;
        line-height: 26px;
        padding: 5px;
    }

    .tb_head2 {
        padding: 8px;
        text-align: left;
        border: 1px solid white;
    }
</style>
<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Restaurando su licencia</h1>
        <p>Para pagar un honorario de la restauración:</p>
        <div class="clearfix"></div>
        <div class="ul_info">
            <ul style="list-style-type:disc;margin-left:20px">
                <li class="tab_li">Pagar impuesto de $100 online</li>
                <li class="tab_li">Enviar una orden del cheque o de dinero pagable a:</li>
            </ul>
        </div>
        <p>
            New Jersey Motor Vehicle Commission<br />
            P.O. Box 140<br />
            Trenton, NJ 08650-0140
        </p>
        <p>@*<img src="~/Content/NJ_Images/restoring_your_license_in_new_jersey.jpg" class="img-responsive img-circle" />*@Una vez que hayas terminado tu período de la suspensión, recibirás un aviso de restauración mediante correo y necesitarás tomar las medidas siguientes para conseguir una licencia nueva:</p>
        <p>
            * Terminar los mismos pasos como sea necesario para una renovación estándar de la licencia

            También el período obligatorio de la libertad condicional comienza después de la terminación del programa probatorio del conductor, del programa de mejora del conductor, de la advertencia oficial publicada por MVC o de la restauración después de puntos o de la suspensión persistente del violador.
        </p>
        <div class="table-responsive">
            <table class="tb" style="margin-top:20px;margin-bottom:20px">
                <tr class="tb_head">
                    <td class="tb_head2">Violación</td>
                    <td class="tb_head2">Suspensión</td>
                </tr>
                <tr class="tb_head">
                    <td colspan="2">Para la primera violación dentro de un año</td>
                </tr>
                <tr>
                    <td class="tb_td">En el plazo de 6 meses de restauración</td>
                    <td class="tb_td"> 90 días</td>
                </tr>
                <tr>
                    <td class="tb_td">En el plazo de 7-9 meses</td>
                    <td class="tb_td">60 días</td>
                </tr>
                <tr>
                    <td class="tb_td">En el plazo de 10-12 meses</td>
                    <td class="tb_td">45 días</td>
                </tr>
                <tr class="tb_head">
                    <td colspan="2">Para la segunda o subsiguientes violaciones*</td>
                </tr>
                <tr>
                    <td class="tb_td">En el plazo de 6 meses de restauración</td>
                    <td class="tb_td">180 días</td>
                </tr>
                <tr>
                    <td class="tb_td">En el plazo de 7-9 meses</td>
                    <td class="tb_td">	120 días</td>
                </tr>
                <tr>
                    <td class="tb_td">En el plazo de 10-12 meses</td>
                    <td class="tb_td">	90 días</td>
                </tr>
            </table>
        </div>

        <p>* Si usted recibe tres suspensiones de licencia dentro de 3 años de periodo usted puede preder su licencia hasta tres años.
		<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
		
		</p>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");

    });

</script>



