
@{
    ViewBag.Title = "Licencia Suspendida una en New Jersey";
    ViewBag.Description = "¿Te han cargado con conducir mientras que tu licencia fue suspendida? ¡Hemos servido a millares de clientes y ganado casos probando el DMV mal!";
    Layout = "/Views/Shared/_Layoutes.cshtml";
}

<style>
    .tb_head {
        background-color: #13A0B2;
        color: white;
        text-align: center;
        padding: 5px;
    }

    .tb {
        width: 90%;
        border: 1px solid #CCCCCC;
    }

    .tb_td {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        color: #898989;
        line-height: 26px;
        padding: 5px;
    }

    .tb_head2 {
        padding: 8px;
        text-align: left;
        border: 1px solid white;
    }
</style>

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s" style="margin-top: 50px;">
    <div class="clear_fix"></div>
    <h1>Licencia Suspendida una en New Jersey (Suspended License in NJ)</h1>
    <div class="bottom_tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">¿qué hacer?</a></li>
            <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">sanciones</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"> Tipos de suspensión de la licencia</a></li>

        </ul>
        <div class="tab-content bottom_tab_info">
            <div class="tab-pane fade  active in" id="tab_3">
                <h3>¿Te han detenido por conducir con tu licencia suspendida?</h3>
                <p>Si usted es detenido y son conscientes de su licencia está suspendida (Suspended License), no comparta esa información con el oficial de policía. En la mayoría de los casos, los conductores no son conscientes de su colocación en la lista de suspensión y se sorprenden al ser informados de que su licencia ha sido suspendida. Stabile Law Firm tiene un alto índice de éxito por ganar los casos de conducir con licencia suspendida (Suspended License)</p>
                <p>Hay múltiples razones que podrían llevar a la suspensión de una licencia para operar un vehículo de motorizado en New Jersey.   </p>
                <ul style="list-style-type:disc;margin-left:41px">
                    <li class="tab_li"> Si recibe 12 o más puntos en su registro de conducir vigente</li>
                    <li class="tab_li">El no comparecer ante el tribunal o para pagar las multas</li>
                    <li class="tab_li">La falta de pago de recargos</li>
                    <li class="tab_li"> Conducir con una licencia suspendida</li>
                    <li class="tab_li">El no proporcionar prueba de seguro</li>
                    <li class="tab_li">Inhabilitación física o mental</li>
                    <li class="tab_li">Drogas o el consumo de alcohol durante la conducción (DUI y DWI))</li>
                    <li class="tab_li">Conducir de manera imprudente</li>
                    <li class="tab_li">Vehículo abandono en la vía pública</li>
                    <li class="tab_li">Falta de Pago de Manutención de Niños</li>
                    <li class="tab_li">Fallo en un accidente mortal</li>
                </ul>
                <p>Si has sido acusado de conducir con licencia suspendida, la Firma Stabile Law puede ayudarle! Hemos servido a miles de clientes y ganado muchos casos </p>
                <h3>Conducir con suspensión de licencia</h3>
                <p>
                    La violación de conducir en suspensión se establece en NJSA 39:3-40. Este artículo dice, "ninguna persona a quien una licencia de conducir ha sido denegada o cuya licencia de conducir o la reciprocidad privilegio ha sido suspendida o revocada, o que ha sido prohibida la obtención de una licencia de conducir, personalmente operar un vehículo de motor durante el período de suspensión de la negativa , la revocación o la prohibición. "La ley también prohíbe la operación de un vehículo de motor cuyo registro haya sido revocado.
					<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

                </p>

            </div>
            <div class="tab-pane fade" id="tab_1">
                <h3>Las sanciones por conducir en estado suspendido (Si se le declara culpable culpable)</h3>
                <table class="tb" style="margin-top:20px">
                    <tr class="tb_head">
                        <td class="tb_head2">Violación</td>
                        <td class="tb_head2">Suspensión</td>
                    </tr>
                    <tr class="tb_head">
                        <td colspan="2">Por la primera violación dentro de un año</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Dentro de 6 meses de restauración</td>
                        <td class="tb_td">90 días</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Dentro de 7-9 meses</td>
                        <td class="tb_td">60 días</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Dentro 10–12 meses</td>
                        <td class="tb_td">45 días</td>
                    </tr>
                    <tr class="tb_head">
                        <td colspan="2">Para violaciónes segunda o posteriores *</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Dentro 6 meses de restauración</td>
                        <td class="tb_td">180 días</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Dentro 7–9 meses</td>
                        <td class="tb_td">	120 días</td>
                    </tr>
                    <tr>
                        <td class="tb_td">Dentro 10–12 meses</td>
                        <td class="tb_td">	90 días</td>
                    </tr>
                </table>

                <p>* Si usted recibe tres suspensiones de la licencia dentro de un período de tres años pueden perder su licencia hasta por tres años. </p>
                <p>Primera infracción es una multa a la suma de $ 500. Además de eso, el acusado se cobrará un recargo de $ 250/año por 3 años. </p>
                <p>La segunda ofensa tiene una multa de 750 dólares y penas de cárcel de hasta 5 días.</p>
                <p>Tercera ofensa: una multa de $ 1000 más tiempo en la cárcel durante 10 días. Si el vehículo estaba en violación e involucrados en un accidente que resulte en lesiones personales, la prisión será por lo menos 45 días.</p>
                <p>Si una persona viola esta sección, mientras que en régimen de suspensión realizada en virtud del 39:4-50, la conducción bajo la influencia de bebidas alcohólicas o drogas (DUI y DWI) y es condenado, se impondrá una multa de $ 500.00 extra y tener su licencia suspendida por un período adicional no menos de un año o más de dos años y puede estar en la cárcel del condado por no más de 90 días. El acusado también se recargo de $ 250.00 por año obligatorio de 3 años.
				<br/>
				 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
				
				</p>


            </div>
            <div class="tab-pane fade" id="tab_2">
                <h3>Hay dos tipos de suspensión de la licencia:</h3>
                <ol>
                    <li class="tab_li"> Impuesta por el tribunal la suspensión</li>
                    <li class="tab_li">Administrativo / División de Vehículos Motorizados de la suspensión</li>

                </ol>
                <p>Una licencia suspendida puede ser el resultado de la falta de comparecencia en un Municipal de Nueva Jersey o la Corte del Condado, la falta de pago de una multa tras declararse o como resultado de una orden judicial. Además, una licencia suspendida puede ser el resultado de la acción de Nueva Jersey de Vehículos de Motor administrativa como una acumulación de puntos de vehículo de motor o demasiados billetes, falta de pago de recargos o incluso falta de pago de manutención de niños.
				<br/>
			<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
				</p>
                <h4>
                    <center>
                        Llamenos gratuitamente a 1-877-VIOLATION 1-877-878-4728<br />
                        Phone: 732 602 7795 Fax: 732 602 7796
				 

                    </center>
                </h4>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");
        $(".ntab").removeClass("active");
        $("#SuspendedLicense").addClass("active");

    });

</script>




