
@{
    ViewBag.Title = "Qué hacer cuando te detienen? - NJ NY Multas de transito";
    ViewBag.Description = "Seguir siendo tranquilo y cortes pero no entregar demasiada información, es la mejor forma de enfrentar la situación - New Jersey, New York Multas de transito o trafico.";
    Layout = "/Views/Shared/_Layoutes.cshtml";
}

<div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right h1s">
    <div class="bottom_tab">
        <h1>Qué hacer cuando te detienen por una violación de tráfico</h1>
        <p>
            Escuchas las sirenas sonando y las luces intermitentes de la policia en su espejo retrovisor. Reduces la velocidad y, estacionas a la derecha a la espera de la policía , después llega otro policia, pero luego, te das cuenta de que usted es a quien está buscando.
        </p>
        <div class="clearfix"></div>
        <h4>Mantenga la calma y sea cortés, Pero sin divulgar demasiada información.</h4>
        <p>
            <img src="~/Content/NJ_Images/stopped_for_a_traffic_violation_in_nj.jpg" class="img-responsive img-circle" />Lo mejor que puedes hacer en el escenario descrito lineas arriba es, parar con cuidado y estacionarte lentamente el lado de la carretera, mantener la calma y permanecer en el vehículo a menos que se indique lo contrario el agente de policía. Baje la ventana y, si está oscuro, enciende la luz del interior del auto, lo que permitirá que el agente sepa que no tienen nada que ocultar. Mantenga ambas manos en el volante, y no hacer movimientos bruscos o sospechosos. Usted no debe abrir la guantera o asomarse debajo del asiento a menos que el oficial diga que lo haga.
        </p>
        <p>Si un policía lo detiene, generalmente le pedirá que muestre su licencia de conducir, el registro del vehículo y la prueba de que el vehículo está asegurado. Usted debe cumplir con estas peticiones. Si el oficial le pregunta si conoce el motivo de la parada, si bien es importante ser amable y honesta, también tiene sentido tener cuidado acerca de lo que se dice, ya que cualquier palabra puede ser usado en su contra en un procedimiento posterior. El oficial también puede inspeccionar el vehículo para violaciónes código de equipo. Cualquier objeción a esta inspección debe hacerse con mucho cuidado o no objetar.</p>
        <p>Aunque puede ser tentador ofrecer excusas por cualquier supuesta violación, es mejor no decirle al oficial que está llegando tarde al trabajo, una cita importante, o tener hijos esperando en casa, ya que estas declaraciones podrían ser considerados apoyo a un cargo de exceso de velocidad o la conducción agresiva. Por otro lado, es importante responder con honestidad y amabilidad a las preguntas del oficial. No dar información falsa en cualquier momento. Sin embargo, si usted no sabe la respuesta a una pregunta en particular, se permite dar respuesta, "no sé" o "no estoy seguro." Además, si el funcionario hace una pregunta que podría contestar, pero prefiere no hacerlo porque puede ser usado en su contra, puede que no tenga que responder. En muchos casos, usted tiene el derecho de decirle al oficial que usted prefiere hablar con un abogado sobre la situación en primer lugar, o que prefiere no discutir el asunto en este momento.</p>
        <p>Si el funcionario emite una citación y cree que la multa no estaba justificada, debe llevar su protesta a la corte, donde se puede explicar su caso al juez. La recepción de una multa no significa automáticamente que usted es culpable, o ser declarado culpable, o que usted tendrá que pagar una multa. Por lo general, tienen derecho a acudir a los tribunales y que el juez escuche su explicación. Si no está de acuerdo con la decisión del juez, puede apelar su caso ante un tribunal superior.</p>
        <h4>Conclusión</h4>
        <p>Under the stress of a traffic stop, many people divulge too much information, or they become belligerent or argumentative. Either of these approaches can lead to further trouble. The best approach is to remain calm and cooperative, while refraining from offering more details than necessary. If the officer does issue a ticket or citation, contact us and speak to our experienced traffic attorneys at once to get all of your traffic law questions answered.</p>
        <p>Reckless Driving? NJ DWI or DUI? Speeding ticket in NJ? Call us TODAY and get the best defense and results from our New Jersey Traffic Lawyers.
		<br/>
			<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fstabilelawfirm%2F&width=300&layout=button&action=like&size=small&show_faces=true&share=false&height=80&appId" width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
		</p>
        <p><center>Call Us Now For A Free Consultation: Phone Local Tel: 1-732-602-7795 Toll Free 1-877-VIOLATION
		
		</center></p>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $(".menuspan").removeClass("menu-active");


    });

</script>





