@{
    ViewBag.Title = "Aboutus";
}


@*<div class="container-fluid nextpage">
  <div class="">
    <img class="img-responsive" src="/img/nxtpage.jpg">
  </div>
</div>*@


<div class="container">
  <div class="row">
    <div class="col-md-12 text-center about-us">
      <h3>About us</h3>
    </div>
   @* <div class="col-md-8 mark-solo">
      <h4>MARK S. SOLOMON</h4>
      <p>Graduated New York Institute of Technology in 1976 with a Bachelor of Science Degree in Political Science.<br>

          Attended Nova University School of Law and graduated in 1979 with a Juris Doctorate Degree.

          A member of the Florida Bar since 1979. 
          Practicing law in Florida State and United States District Courts. 
          Concentrating in Criminal and Traffic Law over 30 years.<br>

          Our Law Firm prides itself on obtaining the best possible outcome for <br>our clients.

          Hours: 7 Days - 24 Hours</p>
             <ol class="state">
             <li>State & Federal Court Member Florida Bar Since 1979 - All Felonies & Misdemeanors</li>
           
             <li> DUI / Implied Consent Hearings - Driving On Suspended License</li>
              <li>Restoration Of Your Driving Privileges - Sealing Or Expungement Of Records</li>
              <li>Pre-Trail Intervention - Rico / White Collar Crimes - Criminal Traffic Matters</li>
              <li>Domestic Violence - Personal Injury - Immigration - Bond Hearings - Sex Crimes</li>
              <li>Drugs Possession & Sale - Sentencing - Probation & CC Crimes - Robbery - Burglary</li>
              <li>Early Termination Of Probation & Community Control - Theft - Shoplifting</li>
              <li>Murder, Manslaughter - Assault & Battery - Juvenile - Worker's Compensation</li>
            </ol>
              <p>"Here To Watch Over Your Rights"
- Call For Your Free Initial Consultation - 24 Hour Cell (954) 240-8611
- Statewide Coverage Available 
- Ask About Payment Plans</p>
    </div>*@
    <div class="col-md-4">
      <img class="img-responsive" src="/img/tic1.jpg">
    </div>
  </div>
</div>

@section scripts
{
<script>
    $(function () {
        localStorage.setItem('lastTab', "liAboutus");
     });
</script>
    }
