@{
    ViewBag.Title = "FAQ";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center about-us abo">
            <h3>FAQ</h3>
        </div>
        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Can I really get a free consultation with an attorney at no obligation?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                                Absolutely! When you submit your information to 1-877-Violation, we analyze your ticket, and send the 
            traffic ticket attorney a detailed snapshot of your situation. This process eliminates much of the time it 
            takes for the attorney to gather information, leaving him or her free to spend that time answering your 
            questions and advising you on how to proceed.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Why shouldn't I just pay the fine?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>
                                In most states, paying the fine means the ticket will be on your record for the next THREE YEARS 
            (SEVEN YEARS in Florida). Insurance companies regularly check their customers driving records and 
            can increase insurance premiums if they find a ticket. Additionally, Texas' new "Drivers Responsibility 
            Program" means each traffic violation conviction results in points against your driver's license. Accumulating
             points results in additional fines and even suspension of your license. Traffic law violations in most 
            states are also criminal convictions, that's right, CRIMINAL CONVICTIONS! (except in Florida, unless specified)
             They show up on background checks done by prospective employers and can even be used as evidence against you
             if you are sued as a result of an automobile collision.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What about Drivers Safety Courses?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>
                                Driver's Safety Courses mean additional court fees, course fees and up to 8 hours of your time! The fact 
           you took defensive driving remains on your record for an entire year, removing it as a possible solution for 
           a future, more expensive, ticket. As a matter of fact, in some states such as Florida, traffic school can remain
            on a person's record for at least SEVEN YEARS. Also, in many cases, drivers forget to take the course or run out
            of time, resulting in a conviction on their record. Your attorney's knowledge of the law can keep that ticket off
            of your record without all of the hassle of a driver's safety course.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingfour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree">Why do I pay the fine if my lawyer is going to fight my ticket?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                        <div class="panel-body">
                            <p>
                                When your lawyer appears on your behalf, he or she will bargain with the assistant district attorney or 
           officer of the court to keep that ticket off of your record. In most cases, traffic courts are more interested 
           in your money than a conviction and will defer or even dismiss charges if the fine is paid (except in Florida).
            1-877-Violation does not charge you a fee. You pay the attorney fees once you make a decision to use an attorney.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingfive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree">Does my case go to trial?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                        <div class="panel-body">
                            <p>
                                In most situations, your attorney will dispose of your ticket at the arraignment (except in Florida, 
           where pleas are done by mail). The date you are ordered to appear on your ticket is called the arraignment 
           date and the purpose of the arraignment is to enter a plea of guilty, not guilty or no contest. If your 
           attorney is not able to negotiate a favorable outcome for you, he or she will contact you to see if you want 
           to go to trial. For private driver's license holders, going to trial will require an additional fee.
                            </p>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree6" aria-expanded="false" aria-controls="collapseThree">Is this process private?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            <p>
                                1-877-Violation is committed to safeguarding your privacy online.
                            </p>
                        </div>
                    </div>
                </div>




            </div>








        </div>





    </div>
</div>



@section scripts
{
    <script>
        $(function () {
            localStorage.setItem('lastTab', "liFAQ");


        });


    </script>
}
