@{
    ViewBag.Title = "Boaters convicted of driving under the influence NJ";
    Layout = "/Views/Shared/_LayoutResources.cshtml";
    ViewBag.Keywords = "Refusing Chemical Test, Refusing Chemical Test in School Zone, Refusing Chemical Test in Crossing, DUI New Jersey";
    ViewBag.Description = "BUI can have severe consequences as it is the criminal offence in NJ. If you have been arrested for BUI, you can contact us for the best legal advice. Call now!";
}
<div class="tab-content dui-tab-content" id="myTabContent">
    <div class="tab-pane fade in active" role="tabpanel" id="Boaters-convicted-of-driving-under-the-influence" aria-labelledby="profile-tab">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="resourse-left-side">
                <h1 class="hdnh1">Boaters convicted of driving under the influence</h1>
                <h3>Boaters convicted of driving under the influence</h3>
                <p>
                    Boaters who found to be driving under the influence (DUI) on New Jersey’s waterways will be suspended from both boating and all driving privileges. Violators under 17 will have their MOPED and vehicle driving privileges postponed for a term equal to the suspension period.
                </p>
            </div>
            <div class="resource-right-side">
                <img src="/images/dui-resource4.jpg" alt="Boaters convicted of driving under the influence">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#liBoaters-convicted-of-driving-under-the-influence").addClass("active");
        $("#DuiResources").addClass("active");
    });
</script>

