@{
    ViewBag.Title = "DUI in School Zone or School Crossing | DUI New Jersey";
    Layout = "/Views/Shared/_LayoutResources.cshtml";
    ViewBag.Description = " DUI penalties get harsh when the DUI violation occurs while driving through a school crossing. Contact our lawyers to have the best possible help!";
    ViewBag.Keywords = " DUI in School Zone, DUI in School Crossing, DUI New Jersey";
}
<div class="tab-content dui-tab-content" id="myTabContent">

    <div class="tab-pane fade in active" role="tabpanel" id="DUI-in-School-Zone-or-School-Crossing" aria-labelledby="home-tab">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="resourse-left-side">
                <h1 class="hdnh1">DUI in School Zone or School Crossing</h1>
                <h3>DUI in School Zone or School Crossing</h3>
                <h4>First Offense in NJ</h4>
                <ul>
                    <li>$500-$800 fine</li>
                    <li>12-24 months driving license suspension</li>
                    <li>60 days imprisonment</li>
                </ul>
            </div>

            <div class="resourse-left-side">
                <h4 class="sec">Second Offense in NJ</h4>
                <ul>
                    <li>$1,000-$2,000 fine</li>
                    <li>96 hours-180 days imprisonment*</li>
                    <li>60 days community service</li>
                    <li>48 months minimum driving privilege suspension</li>
                </ul>
            </div>
            <div class="resourse-left-side">
                <h4 class="sec">Third Offense in NJ</h4>
                <ul>
                    <li>$2,000 fine</li>
                    <li>180 days imprisonment</li>
                    <li>20 years driving license suspension</li>
                </ul>
            </div>
            <div class="resource-right-side">
                <img src="/images/dui-resource1.jpg" alt="DUI in School Zone or School Crossing">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#liDUI-in-School-Zone-or-School-Crossing").addClass("active");
        $("#DuiResources").addClass("active");
    });
</script>
