@{
    ViewBag.Title = " Refusing the Chemical Test in New Jersey | DUI New Jersey";
    Layout = "/Views/Shared/_LayoutResources.cshtml";
    ViewBag.Description = " Refusing a Chemical test in NJ results in harsh penalties. We defend clients from various traffic offenses including Chemical test refusal. Contact now!";
    ViewBag.Keywords = "Refusing the Chemical Test, Refusing the Chemical Test in New Jersey, DUI Penalties, DUI Penalties in New Jersey, DUI New Jersey";
}

<div class="tab-content dui-tab-content" id="myTabContent">
    <div class="tab-pane fade in active" role="tabpanel" id="Refusing-the-Chemical-Test" aria-labelledby="profile-tab">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="resourse-left-side">
                <h1 class="hdnh1">Refusing the Chemical Test</h1>
                <h3>Refusing the Chemical Test</h3>
                <h4>First Offense in NJ</h4>
                <ul>
                    <li>$300-$500 fine</li>
                    <li>7 months to 1 year driving license suspension</li>
                    <li>12 hours minimum IDRC</li>
                </ul>
            </div>

            <div class="resourse-left-side">
                <h4 class="sec">Second Offense in NJ</h4>
                <ul>
                    <li>$500-$1,000 fine</li>
                    <li>2 years driving license suspension</li>
                    <li>12 hours minimum IDRC Refusing the Chemical Test, Cont’d</li>

                </ul>
            </div>
            <div class="resourse-left-side">
                <h4 class="sec">Third and Subsequent Offenses in NJ</h4>
                <ul>
                    <li>$1,000 fine</li>
                    <li>12 hours minimum IDRC</li>
                    <li>10 years driving privilege suspension</li>
                </ul>
            </div>
            <div class="resource-right-side">
                <img src="/images/dui-resource2.jpg" alt="Refusing the Chemical Test">
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#liRefusing-the-Chemical-Test").addClass("active");
        $("#DuiResources").addClass("active");
    });
</script>
