@{
    ViewBag.Title = "Refusing Chemical Test in School Zone or Crossing NJ";
    Layout = "/Views/Shared/_LayoutResources.cshtml";
    ViewBag.Keywords = "Refusing Chemical Test, Refusing Chemical Test in School Zone, Refusing Chemical Test in Crossing, DUI New Jersey";
    ViewBag.Description = "A school zone is an area near the school or within 1,000 feet of same. Contact our legal advisers if you got caught while DUI in any such area.";
}

<div class="tab-content dui-tab-content" id="myTabContent">
    <div class="tab-pane fade in active" role="tabpanel" id="Refusing-Chemical-Test-in-School-Zone-or-Crossing" aria-labelledby="profile-tab">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="resourse-left-side">
                <h1 class="hdnh1">Refusing Chemical Test in School Zone or Crossing</h1>
                <h3>Refusing Chemical Test in School Zone or Crossing</h3>
                <h4>First Offense in NJ</h4>
                <ul>
                    <li>$600-$1,000 fine</li>
                    <li>1 to 2 years driving privilege suspension</li>
                    <li>12 hours minimum IDRC</li>
                </ul>
            </div>

            <div class="resourse-left-side">
                <h4 class="sec">Second Offense in NJ</h4>
                <ul>
                    <li>$1,000-$2,000 fine</li>
                    <li>4 years driving privilege suspension</li>
                    <li>12 hours minimum IDRC</li>

                </ul>
            </div>
            <div class="resourse-left-side">
                <h4 class="sec">Third and Subsequent Offenses in NJ</h4>
                <ul>
                    <li>$2,000 fine</li>
                    <li>20 years driving privilege suspension</li>
                    <li>12 hours minimum IDRC</li>
                </ul>
            </div>
            <div class="resource-right-side">
                <img src="/images/dui-resource3.jpg" alt="Refusing Chemical Test in School Zone or Crossing">
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#liRefusing-Chemical-Test-in-School-Zone-or-Crossing").addClass("active");
        $("#DuiResources").addClass("active");
    });
</script>

