@{
    ViewBag.Keywords = "Surcharges - Alcohol Violations, Surcharges - Alcohol Violations in New Jersey, Alcohol Violations, Alcohol Violations in New Jersey, DUI New Jersey";
    ViewBag.Description = "If you got caught for DUI and refused for Breathalyzer test, you may have to pay fines and penalties. To minimize your alcohol violations surcharges, Contact us!";
    ViewBag.Title = "Alcohol Violations Surcharges | DUI DWI Fines and Penalties";
    Layout = "/Views/Shared/_LayoutResources.cshtml";
}

<div class="tab-content dui-tab-content" id="myTabContent">
    <div class="tab-pane fade in active" role="tabpanel" id="Surcharges-Alcohol-Violations" aria-labelledby="profile-tab">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="resourse-left-side">
                <h1 class="hdnh1">Surcharges - Alcohol Violations</h1>
                <h3>Surcharges - Alcohol Violations
                </h3>
                <p>
                    Along with court assigned fines and penalties, anyone guilty of DUI or <a class="anchorcolor" href="http://www.dui-newjersey.com/Resources/Refusing-Chemical-Test-in-School-Zone-or-Crossing">chemical test refusal </a> is subject to:
                                       <br>
                    • An insurance surcharge of $1,000 per year for three years for the first and second conviction within a 3 year period.<br>
                    • An insurance surcharge of $1,500 per year for three years for a third offense within a 3 year period.<br>
                    • A DUI enforcement surcharge of $100  must be paid to the court with the required fine upon conviction. The surcharges will be imposed on a New Jersey or an out of state conviction. Failure to pay the surcharge will bring about the suspension of 
                            all driving privileges and the filing of a judgment against any personal property.
                </p>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#liSurcharges-Alcohol-Violations").addClass("active");
        $("#DuiResources").addClass("active");
    });
</script>

