@{
    ViewBag.Keywords = "The legal age in NJ to purchase an alcoholic beverage, The legal age to purchase an alcoholic beverage, DUI New Jersey";
    ViewBag.Description = "Are you an underage convicted of DUI or DWI? Contact or visit Stabile Law Firm! We have successfully defended many underage clients";
    ViewBag.Title = "The legal age in NJ to Purchase an Alcoholic Beverage";
    Layout = "/Views/Shared/_LayoutResources.cshtml";
}

<div class="tab-content dui-tab-content" id="myTabContent">
    <div class="tab-pane fade in active" role="tabpanel" id="The-legal-age-in-NJ-to-purchase-an-alcoholic-beverage" aria-labelledby="profile-tab">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="resourse-left-side">
                  <h1 class="hdnh1">The legal age in NJ to purchase an alcoholic beverage</h1>
                <h3>The legal age in NJ to purchase an alcoholic beverage</h3>
                <p>
                    For individuals who are under 21 (the legal age in NJ to purchase an alcoholic beverage) and consumes an alcoholic beverage, then drive when their BAC is 0.01% or more, but less than 0.08%, the penalties are:
                </p>
                <h4>Minimum</h4>
                <ul>
                    <li>30-90 day restriction from becoming a licensed driver at age</li>
                    <li>30-90 day driving license suspension if currently licensed</li>
                    <li>17 years; and,</li>
                </ul>
            </div>

            <div class="resourse-left-side">
                <h4 class="sec">Second Offense in NJ</h4>
                <ul>
                    <li>$1,000-$2,000 fine</li>
                    <li>4 years driving privilege suspension</li>
                    <li>12 hours minimum IDRC</li>
                </ul>
            </div>
            <div class="resourse-left-side">
                <h4 class="sec">Third and Subsequent Offenses in NJ</h4>
                <ul>
                    <li>$2,000 fine</li>
                    <li>20 years driving privilege suspension</li>
                    <li>12 hours minimum IDRC</li>
                </ul>
            </div>
            <div>
                <div class="resource-right-side">
                    <img src="/images/dui-resource3.jpg" alt="The legal age in NJ to purchase an alcoholic beverage">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#liThe-legal-age-in-NJ-to-purchase-an-alcoholic-beverage").addClass("active");
        $("#DuiResources").addClass("active");
    });
</script>


