@{
    Layout = "/Views/Shared/_LayoutES.cshtml";
}

<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline style-3">
                        <h5>HUB TECHNOLOGY</h5>
                        <h2>Acerca de nuestro trabajo</h2>
                        <p>Nuestros servicios son increíbles; Así que los dejamos hablar en nuestro nombre. Echar un vistazo!</p>
                    </div>
                    <!-- headline -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="vc_col-sm-12 wpb_column vc_column_container ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element wow pulse vc_align_left">
                            <div class="wpb_wrapper">

                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img class="vc_single_image-img " src="../wp-content/uploads/sites/19/2015/05/image-13.jpg" width="1140" height="282" alt="image-1" title="image-1" />
                                </div>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 5px"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="vc_col-sm-6 wpb_column vc_column_container ">
                    <div class="wpb_wrapper">

                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h3>SOMOS LA PERFECTA COMBINACIÓN DE TECNICAS Y TECNOLOGIA</h3>
                                <p>
                                    En Hub Tehcnology nos preocupamos por conectar y poner a su servicio las tecnologías de vanguardia brindando soluciones innovadoras y con 
                                </p>
                                <p>
                                    alto valor agregado alineado a las directrices y estrategias de su organización.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="vc_col-sm-6 wpb_column vc_column_container ">
                    <div class="wpb_wrapper">
                        <div class="vertical-tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab-244743b9-b979-9" data-toggle="tab">Acerca de</a></li>
                                <li><a href="#tab-94d6a82b-2d6c-2" data-toggle="tab">Porque elegir</a></li>
                                <li><a href="#tab-1432291963289-2-3" data-toggle="tab">Caracteristicas</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade" id="tab-244743b9-b979-9">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p class="text-uppercase"><strong>Sus necesidades, nuestros valores!</strong></p>
                                            <p>
                                                En Hub Tehcnology nos preocupamos por conectar y poner a su servicio las tecnologías de vanguardia brindando soluciones innovadoras y con alto valor agregado alineado a las directrices y estrategias de su organización.
                                            </p>
                                            <p>
                                                <img class="alignnone size-full wp-image-276" src="/wp-content/uploads/sites/19/freshizer/5b59fc5572caf4557927f6e0a6f5797b_image-2-262-238-c.jpg" alt="image-1" width="310" height="175" />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-94d6a82b-2d6c-2">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p class="text-uppercase"><strong>Lo que es bueno en nosotros?</strong></p>
                                            <p>Nos enfocamos en ofrecer las mejores soluciones y servicios de tecnología</p>
                                            <p>
                                                <img class="alignnone size-full wp-image-277" src="/wp-content/uploads/sites/19/freshizer/22.jpg" alt="image-2" width="310" height="175" />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-1432291963289-2-3">
                                    <div class="wpb_text_column wpb_content_element">
                                        <div class="wpb_wrapper">
                                            <p class="text-uppercase"><strong>Su éxito es nuestra valoración.</strong></p>
                                            <p>Nuestro equipo trabaja duro para transformar rápidamente sus ideas en nuevos productos y aplicaciones. Trabaja con nosotros y conoce más!</p>
                                            <p>
                                                <img class="alignnone size-full wp-image-278" src="/wp-content/uploads/sites/19/freshizer/0cbfa826af5e5795e64828ffe328863f_image-1-560-325-c.png" alt="image-3" width="310" height="175" />
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline style-3">
                        <h5>Hub Technology</h5>
                        <h2>Conozca a nuestro equipo</h2>
                        <p>Nuestros ingenieros son nuestro orgullo, Bien entrenados y Genius Personalidades</p>
                    </div>
                    <!-- headline -->
                </div>
            </div>
        </div>
    </div>
</div>*@
@*<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">

                    <div class="about-me wow fadeInLeft">
                        <div class="about-me-thumbnail">
                            <img src="../wp-content/uploads/sites/19/freshizer/0ae66e9979f2e57b231b78e9d8252a8d_image-12-360-425-c.jpg" alt="">
                            <div class="social-media">
                                <a class="facebook" href="http://www.facebook.com/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="facebook" href="http://www.twitter.com/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="facebook" href="http://plus.google.com/">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a class="facebook" href="http://www.linkedin.com/">
                                    <i class="fa fa-linkedin"></i>
                                </a>

                            </div>
                            <!-- social-media -->

                        </div>
                        <!-- about-me-thumbnail -->

                        <div class="about-me-details">

                            <h4>John Snow</h4>
                            <h5>Project Manager</h5>

                        </div>
                        <!-- about-me-details -->

                    </div>
                    <!-- about-me -->

                </div>
                <!-- col -->
                <div class="col-sm-4">

                    <div class="about-me wow fadeInLeft">

                        <div class="about-me-thumbnail">

                            <img src="../wp-content/uploads/sites/19/freshizer/d1409172ff5e688f664e60b32aa14b3b_image-22-360-425-c.jpg" alt="">

                            <div class="social-media">
                                <a class="facebook" href="http://www.facebook.com/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="facebook" href="http://www.twitter.com/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="facebook" href="http://plus.google.com/">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a class="facebook" href="http://www.linkedin.com/">
                                    <i class="fa fa-linkedin"></i>
                                </a>

                            </div>
                            <!-- social-media -->

                        </div>
                        <!-- about-me-thumbnail -->

                        <div class="about-me-details">

                            <h4>Daenerys Targaryen</h4>
                            <h5>Art Director</h5>

                        </div>
                        <!-- about-me-details -->

                    </div>
                    <!-- about-me -->

                </div>
                <!-- col -->
                <div class="col-sm-4">

                    <div class="about-me wow fadeInLeft">

                        <div class="about-me-thumbnail">

                            <img src="../wp-content/uploads/sites/19/freshizer/e4251efd412c85bd658a99c4c86a9eea_image-32-360-425-c.jpg" alt="">

                            <div class="social-media">
                                <a class="facebook" href="http://www.facebook.com/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="facebook" href="http://www.twitter.com/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="facebook" href="http://plus.google.com/">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a class="facebook" href="http://www.linkedin.com/">
                                    <i class="fa fa-linkedin"></i>
                                </a>

                            </div>
                            <!-- social-media -->

                        </div>
                        <!-- about-me-thumbnail -->

                        <div class="about-me-details">

                            <h4>Jaime Lannister</h4>
                            <h5>Web Designer</h5>

                        </div>
                        <!-- about-me-details -->

                    </div>
                    <!-- about-me -->

                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
</div>*@
@*<div class="ff-section-fullwidth full-section" style="padding-top: 120px; padding-bottom: 90px; margin-top: 60px;">
    <div class="section-background-block background-image background-fixed" style="background-image: url('../wp-content/uploads/sites/19/2015/05/bg-7.jpg');"></div>
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <div class="counter">

                        <i class="ff-font-miu icon-chat56"></i>

                        <div class="counter-value" data-value="139"></div>

                        <div class="counter-details">
                            <p>Clientes satisfechos</p>
                        </div>
                        <!-- counter-details -->

                    </div>
                    <!-- counter -->

                </div>
                <!-- col -->
                <div class="col-sm-3">

                    <div class="counter">

                        <i class="ff-font-miu icon-circular223"></i>

                        <div class="counter-value" data-value="24"></div>

                        <div class="counter-details">
                            <p>Horas al día</p>
                        </div>
                        <!-- counter-details -->

                    </div>
                    <!-- counter -->

                </div>
                <!-- col -->
                <div class="col-sm-3">

                    <div class="counter">

                        <i class="ff-font-miu icon-cogwheel23"></i>

                        <div class="counter-value" data-value="1127"></div>

                        <div class="counter-details">
                            <p>Proyectos en obra</p>
                        </div>
                        <!-- counter-details -->

                    </div>
                    <!-- counter -->

                </div>
                <!-- col -->
                <div class="col-sm-3">

                    <div class="counter">

                        <i class="ff-font-miu icon-documents18"></i>

                        <div class="counter-value" data-value="253"></div>

                        <div class="counter-details">
                            <p>Empleados</p>
                        </div>
                        <!-- counter-details -->

                    </div>
                    <!-- counter -->

                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
</div>*@
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="margin-top: -117px;">
                    <div class="headline style-3">
                        <h5>FORTALEZAS DE HUB TECHNOLGY</h5>
                        <h2>Nuestra misión &amp; visión</h2>
                    </div>
                    <!-- headline -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="timeline">
                        <div class="timeline-item wow fadeInDown">
                            <h2><a href="#">Establecer metas</a></h2>
                            <h4>Antes de implementar, siempre planeamos dónde queremos llegar exactamente
                            </h4>

                        </div>
                        <!-- timeline-item -->
                        <div class="timeline-item wow fadeInDown">


                            <h2><a href="#">Encuentre la técnica correcta</a></h2>

                            <h4>Te encuentras con éxito en la forma que elijas. Hacemos énfasis en la planificación.
                            </h4>

                        </div>
                        <!-- timeline-item -->
                        <div class="timeline-item wow fadeInDown">


                            <h2><a href="#">Implementar con prudencia</a></h2>

                            <h4>Nuestro equipo ejecuta las ideas planificadas con celo y entusiasmo. 
                            </h4>

                        </div>

                        <!-- timeline-item -->
                        <!-- timeline-item -->
                        <div class="timeline-item wow fadeInDown">

                            <h2><a href="#">Entregar con Amor</a></h2>

                            <h4>Damos tiempo para que nuestros clientes entiendan los servicios completamente. Y siempre están listos para mantenimiento y soporte. 
                            </h4>

                        </div>
                        <!-- timeline-item -->

                    </div>
                    <!-- timeline -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
</div>
<div class="ff-section-fullwidth" style="padding-top: 85px; margin-top: 50px;">
    <div class="section-background-block background-image background-fixed" style="background-image: url('../wp-content/uploads/sites/19/2015/05/bg-3.jpg');"></div>
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline style-3">
                        <p>
                            <a href="#" class="btn btn-default">Contáctenos<i class="fa fa-arrow-right"></i> </a>
                        </p>
                    </div>
                    <!-- headline -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type='text/javascript' src='../wp-content/themes/t-milo/assets/js/counter/jQuerySimpleCounter0015.js?ver=4.3.6'></script>

<script>
    $(document).ready(function () {
        $('#menu-item-262').addClass('active');
    })
</script>
