@{
    ViewBag.Title = "Portafolio";
      Layout = "/Views/Shared/_LayoutES.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="portfolio-item classic">

                <div class="row">
                    <div class="col-sm-6">

                        <div class="portfolio-item-thumbnail">

                            <img src="/wp-content/uploads/sites/19/freshizer/0cbfa826af5e5795e64828ffe328863f_image-1-560-325-c.png" alt="">

                            <div class="portfolio-item-hover">
                                <a class="fancybox-portfolio-gallery zoom-action" href="/wp-content/uploads/sites/19/freshizer/0cbfa826af5e5795e64828ffe328863f_image-1-560-325-c.png">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <!-- portfolio-item-hover -->
                        </div>
                        <!-- portfolio-item-thumbnail -->

                    </div>
                    <!-- col -->
                    <div class="col-sm-6">

                        <div class="portfolio-item-description">

                            <h6>27 April 2015</h6>
                            <h3><a href="#">Conceptual Industrial Design</a></h3>
                            <h5>Packaging design</h5>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur enim ad minim elit, sed do eiusmod tempor omis unde ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.                                           
                            </p>

                            <a class="btn btn-default" href="#">Continuar</a>

                        </div>
                        <!-- portfolio-item-description -->

                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- portfolio-item -->
        </div>
        <!-- col -->
    </div>
    <!-- row -->
</div>
<!-- container -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="portfolio-item classic">

                <div class="row">
                    <div class="col-sm-6">

                        <div class="portfolio-item-thumbnail">

                            <img src="/wp-content/uploads/sites/19/freshizer/228c1858a69ad995560ac6c11f39d77e_image-3-560-325-c.png" alt="">
                            <div class="portfolio-item-hover">
                                <a class="fancybox-portfolio-gallery zoom-action" href="/wp-content/uploads/sites/19/freshizer/228c1858a69ad995560ac6c11f39d77e_image-3-560-325-c.png">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <!-- portfolio-item-hover -->
                        </div>
                        <!-- portfolio-item-thumbnail -->

                    </div>
                    <!-- col -->
                    <div class="col-sm-6">

                        <div class="portfolio-item-description">

                            <h6>26 April 2015</h6>
                            <h3><a href="#">Interior Design</a></h3>
                            <h5>Presentation</h5>

                            <p>
                                Donec consectetur lobortis nisi, quis volutpat lectus vestibulum non. Sed ullamcorper turpis a ante mattis pellentesque vitae et massa. Vestibulum neque diam, vulputate vel ante sit.                                           
                            </p>

                            <a class="btn btn-default" href="#">Continuar</a>

                        </div>
                        <!-- portfolio-item-description -->

                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- portfolio-item -->
        </div>
        <!-- col -->
    </div>
    <!-- row -->
</div>
<!-- container -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="portfolio-item classic">

                <div class="row">
                    <div class="col-sm-6">

                        <div class="portfolio-item-thumbnail">

                            <img src="/wp-content/uploads/sites/19/freshizer/22.jpg" alt="">

                            <div class="portfolio-item-hover">
                                <a class="fancybox-portfolio-gallery zoom-action" href="/wp-content/uploads/sites/19/freshizer/22.jpg">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <!-- portfolio-item-hover -->
                        </div>
                        <!-- portfolio-item-thumbnail -->

                    </div>
                    <!-- col -->
                    <div class="col-sm-6">

                        <div class="portfolio-item-description">

                            <h6>25 April 2015</h6>
                            <h3><a href="#">Design for chocolate bar</a></h3>
                            <h5>Industrial design</h5>
                            <p>
                                Vivamus ac interdum massa, ullamcorper eleifend elit. Donec ullamcorper volutpat nisi, et consequat tellus hendrerit mollis eros at risus facilisis, at interdum turpis pulvinar.                                           
                            </p>
                            <a class="btn btn-default" href="#">Continuar</a>

                        </div>
                        <!-- portfolio-item-description -->

                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- portfolio-item -->
        </div>
        <!-- col -->
    </div>
    <!-- row -->
</div>
<!-- container -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-item-142').addClass('active');
    })
</script>
