@{
    Layout = "/Views/Shared/_LayoutES.cshtml";
}

<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline style-3">
                        <h5>TODO EN UNO</h5>
                        <h2>Servicios</h2>
                        <p>A Hub Technology, Somos un paquete completo de todos los servicios de TI que necesita para hacer crecer su negocio.</p>
                    </div>
                    <!-- headline -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Desarrollo móvil							</a>
                                <small>Fácil de acceder</small>
                            </h3>
                            <p>Hub Technology Es el lugar adecuado para obtener IN FASHION aplicaciones móviles.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Comercio electrónico								</a>
                                <small>Venda más y más</small>
                            </h3>
                            <p>Ofrecemos soluciones de comercio electrónico de acuerdo a sus necesidades de pequeñas, medianas y grandes empresas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Desarrollo web							</a>
                                <small>¡En su mejor momento!</small>
                            </h3>
                            <p>Contrátenos hoy para el Desarrollo Web de su empresa! Nuestros programadores utilizan la última tecnología para cumplir con los requisitos de la era moderna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Publicidad digital								</a>
                                <small>Obtenga el tráfico requerido</small>
                            </h3>
                            <p>Entendemos la necesidad de la comercialización digital en esta hambre para el campo de tráfico. Tenemos expertos en marketing digital con nosotros; ¡Contacta ahora!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">UI/UX desarrollo							</a>
                                <small>Todo lo que necesita</small>
                            </h3>
                            <p>Hub Technology es un extraordinario proveedor de UI / UX Design. Y lo que hace que una fascinante UI / UX diseña en un sitio web; Llegar a conocer más con nosotros.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services-boxes style-2 wow fadeInDown">
                        <div class="services-boxes-content">
                            <h3>
                                <a href="#">Redes								</a>
                                <small>Moderno y limpio</small>
                            </h3>
                            <p>Con la comprensión preciosa de la industria relevante, somos uno de la mejor firma que proporciona los servicios de establecimiento de una red..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="ff-section-fullwidth full-section" style="padding-top: 80px; margin-top: 50px;">
    <div class="section-background-block background-image background-fixed" style="background-image: url('../wp-content/uploads/sites/19/2015/05/bg-4.jpg');"></div>
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="process-steps process-6-steps clearfix">

                        <div class="step">

                            <i class="ff-font-miu icon-library12"></i>

                            <div class="step-details">
                                <h5>Proyecto de Terreno</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                        <div class="step">

                            <i class="ff-font-miu icon-file63"></i>

                            <div class="step-details">
                                <h5>Hacer planes</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                        <div class="step">

                            <i class="ff-font-miu icon-speaker82"></i>

                            <div class="step-details">
                                <h5>Ideas</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                        <div class="step">

                            <i class="ff-font-miu icon-power98"></i>

                            <div class="step-details">
                                <h5>Trabaja duro</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                        <div class="step">

                            <i class="ff-font-miu icon-favorites3"></i>

                            <div class="step-details">
                                <h5>Ver Resultados</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                        <div class="step">

                            <i class="ff-font-miu icon-cocktail24"></i>

                            <div class="step-details">
                                <h5>Disfruta</h5>
                            </div>
                            <!-- step-details -->

                        </div>
                        <!-- step -->
                    </div>
                    <!-- porcess-steps -->

                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-right wow fadeInLeft">
                        <i class="ff-font-miu icon-settings42"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Nuestra meta</a></h3>
                            <p>Nuestro objetivo es proporcionar servicios precisos en el campo de desarrollo de aplicaciones, marketing en línea, diseño web y todo tipo de desarrollo de software personalizado.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-left wow fadeInRight">
                        <i class="ff-font-miu icon-square159"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Diseño moderno</a></h3>
                            <p>Su impacto en los clientes es todo acerca de su primera impresión. Y no hay mejor manera de poner que un diseño impresionante y moderno.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-right wow fadeInLeft">
                        <i class="ff-font-miu icon-dollar153"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Publicidad digital</a></h3>
                            <p>Contrate y lleve su negocio a la nube nueve. Todo el mundo corre detrás del tráfico, pero sabemos que se trata de conseguir una gran idea de lo que su empresa necesita.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-left wow fadeInRight">
                        <i class="ff-font-miu icon-board1"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Fondo de vídeo</a></h3>
                            <p>Un escaparate de cómo funciona su equipo es todo lo que sus clientes necesitan ver en su sitio web. Podemos entregarlo para usted. Date prisa, póngase en contacto ahora!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-right wow fadeInLeft">
                        <i class="ff-font-miu icon-favorites3"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Todo en uno</a></h3>
                            <p>Somos un paquete completo y una solución única para sus necesidades. No hay necesidad de mirar aquí y allá; Usted puede depender completamente de nosotros para todos los servicios de IT.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-left wow fadeInRight">
                        <i class="ff-font-miu icon-tablet81"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">24H Apoyo</a></h3>
                            <p>Para nuestros clientes, siempre estamos disponibles. Entendemos nuestras responsabilidades y estamos dispuestos a ayudarle. No dude en contactar en cualquier momento!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-right wow fadeInLeft">
                        <i class="ff-font-miu icon-file63"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Económico</a></h3>
                            <p>Todos nuestros servicios son rentables. Entregamos los mejores productos y que también en las tasas de bolsillo. Manténgase conectado y disfrute de nuestras administraciones!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="services-boxes style-3 icon-left wow fadeInRight">
                        <i class="ff-font-miu icon-chat52"></i>
                        <div class="services-boxes-content">
                            <h3><a href="#">Nuestra promesa</a></h3>
                            <p>Unmatched y la mejor calidad es nuestra promesa a nuestros clientes. Nuestro equipo dedicado cuenta con un impresionante historial de desarrollo de tecnologías de alta calidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ff-section-fullwidth" style="padding-top: 85px; padding-bottom: 65px; margin-top: 60px;">
    <div class="section-background-block background-color" style="background-color: #f4f4f4;"></div>
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="logos clearfix">
                        <li>
                            <img src="../wp-content/uploads/sites/19/2015/05/image-1.png" alt=""></li>
                        <li>
                            <img src="../wp-content/uploads/sites/19/2015/05/image-2.png" alt=""></li>
                        <li>
                            <img src="../wp-content/uploads/sites/19/2015/05/image-3.png" alt=""></li>
                        <li>
                            <img src="../wp-content/uploads/sites/19/2015/05/image-4.png" alt=""></li>
                        <li>
                            <img src="../wp-content/uploads/sites/19/2015/05/image-5.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="headline style-2">

                        <i class="miu-icon-other_conversation_review_comment_bubble_talk_outline_stroke"></i>
                        <h2>Qué dice la gente</h2>

                    </div>
                    <!-- headline -->

                    <div class="testimonial-slider-2">
                        <ul>
                            <li>
                                <div class="testimonial">

                                    <blockquote>
                                        <p>La forma en que administran a los clientes, la forma en que incluyen esfuerzos adicionales en la construcción de las aplicaciones y los elementos es una evaluación minuciosa. Reúnen cada uno de sus requisitos y cumplirlo de la mejor manera posible.</p>
                                    </blockquote>

                                    <h5>John Smith, Crazytown inc.</h5>

                                </div>
                                <!-- testimonial -->
                            </li>
                            <li>
                                <div class="testimonial">

                                    <blockquote>
                                        <p>Realmente han añadido un gran valor a todos nuestros proyectos. Los programadores en la tecnología de concentrador son muy experimentados y calificados, la gestión de proyectos es igualmente competente. El producto final es nunca menos que mejor. Sin duda lo recomiendo a todo el mundo.</p>
                                    </blockquote>

                                    <h5>Jane Smith, MiloBrand</h5>

                                </div>
                                <!-- testimonial -->
                            </li>
                            <li>
                                <div class="testimonial">

                                    <blockquote>
                                        <p>Mi experiencia de trabajar con la tecnología hub fue impresionante. El procedimiento de trabajo era inmaculado, ingenieros de software excepcionalmente capaces que nos dieron la calidad que estábamos buscando. Buen trabajo chicos! Los recomiendo como un socio fiable.</p>
                                    </blockquote>

                                    <h5>Paul Willson, The Muse</h5>

                                </div>
                                <!-- testimonial -->
                            </li>
                        </ul>

                        <div class="thumb-pager">
                            <a data-slide-index="0" href="#"></a>

                            <a data-slide-index="1" href="#"></a>

                            <a data-slide-index="2" href="#"></a>

                        </div>
                        <!-- thumb-pager -->

                    </div>
                    <!-- testimonial-slider -->

                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </div>
</div>
<div class="ff-section-fullwidth" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="ff-section-boxed">
        <div class="container">
            <h2 class="accordion-section-title">Respondemos a tus preguntas</h2>

            <div class="panel-group" id="accordion_1">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse"
                                data-parent="#accordion_1"
                                href="#collapse_1__1"
                                aria-expanded="false"
                                class="collapsed">¿Como trabajas?</a>
                        </h4>
                    </div>
                    <div id="collapse_1__1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>En Hub Technology, creemos que la unidad es la fuerza. Y es un hecho bien conocido; Mentes brillantes trabajando juntos imparte un factor WOW en cada proyecto. Con el trabajo en equipo y la colaboración, alcanzamos los objetivos.</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse"
                                data-parent="#accordion_1"
                                href="#collapse_1__2"
                                aria-expanded="false"
                                class="collapsed">¿Por qué elegirnos?</a>
                        </h4>
                    </div>
                    <div id="collapse_1__2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Nos enfocamos en brindar los Servicios de TI y las Soluciones de Negocios Amazing y Best-in-class. Y están totalmente dedicados a las necesidades y deseos de nuestros clientes. Contrátenos, para descubrir nuevos fines de su negocio!</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse"
                                data-parent="#accordion_1"
                                href="#collapse_1__3"
                                aria-expanded="false"
                                class="collapsed">¿Cómo puedo ayudarte?</a>
                        </h4>
                    </div>
                    <div id="collapse_1__3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Podemos ayudarle a impulsar su negocio mediante la representación en línea de manera efectiva a sus clientes. Somos expertos en convertir los sueños de los clientes en realidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ff-section-fullwidth" style="padding-top: 85px;">
    <div class="section-background-block background-image background-fixed" style="background-image: url('../wp-content/uploads/sites/19/2015/05/bg-3.jpg');"></div>
    <div class="ff-section-boxed">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline style-3">
                        <p>
                            <a href="#" target="_blank" class="btn btn-default">Contáctenos<i class="fa fa-arrow-right"></i> </a>
                        </p>
                    </div>
                    <!-- headline -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-item-220').addClass('active');
    })
</script>


