@{
    ViewBag.Title = "NotActiveUser";
}
<h2>MESSAGE</h2>

You do not have an active account<br />
Pre-registration was successful, we expect payment to activate your account. <br />
Your password will be send by email.
@section scripts
{
<script>
    $(function () {
        $('.loadercont').fadeOut();
    });


</script>
    }
