<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <table class="contact" >
        <tr class="name" style="width:50%; float:left;">
            <td><h3><b>Name</b> <span class="name12"> Dharmander</span></h3></td>
         <td><h3><b>Address</b> <span class="name12"> Dharmander</span></h3></td>   
         <td>   <h3><b>City State Zip</b> <span class="name12"> Dharmander</span></h3><td>
        </tr>
         <tr class="name" style="width:50%; float:left;">
           <td><h3><b>DL#</b> <span class="name12"> Dharmander</span></h3></td> 
           <td> <h3><b>Course Completion Date</b> <span class="name12"> Dharmander</span></h3><td>
            
        </tr>
    </table>
</body>
</html>