@{
    Layout = "/Views/Shared/_LayoutForFlorida.cshtml";
}

<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>Mark s. Solomon</h3>
    </div>
    <p>
        Graduated New York Institute of Technology in 1976 with a Bachelor of Science Degree in Political Science.<br />

        Attended Nova University School of Law and graduated in 1979 with a Juris Doctorate Degree.<br />

        A member of the Florida Bar since 1979.<br />
        Practicing law in Florida State and United States District Courts.<br />
        Concentrating in Criminal and Traffic Law over 30 years.<br />
        Our Law Firm prides itself on obtaining the best possible outcome for our clients.<br />
        Hours: 7 Days - 24 Hours
    </p>
    <ul>
        <li>State & Federal Court Member Florida Bar Since 1979 - All Felonies & Misdemeanors</li>
        <li>DUI / Implied Consent Hearings - Driving On Suspended License</li>
        <li>Restoration Of Your Driving Privileges - Sealing Or Expungement Of Records</li>
        <li>Pre-Trail Intervention - Rico / White Collar Crimes - Criminal Traffic Matters</li>
        <li>Domestic Violence - Personal Injury - Immigration - Bond Hearings - Sex Crimes</li>
        <li>Drugs Possession & Sale - Sentencing - Probation & CC Crimes - Robbery - Burglary</li>
        <li>Early Termination Of Probation & Community Control - Theft - Shoplifting</li>
        <li>Murder, Manslaughter - Assault & Battery - Juvenile - Worker's Compensation</li>
    </ul>

</div>

@section scripts
{
    <script>
        $(function () {
            localStorage.setItem('FloridalastTab', "liFloridaAboutUs");
        });


    </script>
}
