@{
    Layout = "/Views/Shared/_LayoutForFlorida.cshtml";
}
<body>

    <div class="col-md-8  stabile">
        <div class="pensyl">
            <h3>AGGRESSIVE TRAFFIC TICKET DEFENSE</h3>
            <h4>CALL TOLL FREE TODAY (877) VIOLATION (846-5284)</h4>
        </div>
    </div>
    <div class="col-md-8 col-sm-3 contact">
       <center> <b><h3>Contact us</h3>
        <p>
            Main Office – Fort Lauderdale  
            <br>
            Mark S. Solomon, PA<br>
            901 South Federal Highway<br>
            Suite 300<br>
            Fort Lauderdale, FL 33316
        </p>
        <br />
       
            Email:
            webrequest@stabilelawfirm.com
       
      <br />
         phone:
            1-877-VIOLATION</b></center>
    </div>
    <div class="col-md-12 col-sm-2 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d457864.57971591555!2d-80.50839537517409!3d26.291926980585608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9005be1f521cb%3A0xf6f0b5cb52d2451!2sMark+Solomon%2C+P.A.+-+Criminal+Defense+Attorney!5e0!3m2!1sen!2sin!4v1466164032090" width="1200" height="430" frameborder="0" style="border: 0" allowfullscreen></iframe>
    </div>
</body>



@section scripts
{
    <script>
        $(function () {

            localStorage.setItem('FloridalastTab', "liFloridaContactUs");
        });


    </script>
}
