@{
    ViewBag.Title = "Criminal_Violation";
    Layout = "/Views/Shared/_LayoutforFloridaCriminalViolation.cshtml";
}


<div class="col-md-8 stabile">
    <div id="myTabContent" class="tab-content left-side">
        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
            <div class="pensyl">
                <h3>Driving While Suspended</h3>
            </div>

            <p>
                When charged with DWLS in Florida, you are exposed to two different violations. oneThere are two types of 
                DWLS, with knowledge and without knowledge. If you are charged with DWLS having received a notice about your
                 license suspension, it is considered a criminal traffic violation. If you are charged with DWLS without 
                knowledge it is a civil traffic violation. Since Driving on a Suspended License with knowledge is a criminal 
                infraction, you are REQUIRED to appear in court. Florida Statute 322.34 (2) provides, a person commits a 
                misdemeanor of the second degree when they are convicted of driving while license suspended on the first 
                offense. Your driving record will still be affected with a DWLS charge even if adjudication is withheld. 
                The DHSMV will still count the offense as a major moving violation for purposes of Habitulalization.
            </p>
            <p>
                Driving While License Suspended without knowing is a civil infraction. Florida statute 322.34 (1) states 
                that someone driving their vehicle without knowing that their license is suspended is guilty of a moving
                 violation. Aside from being adjudicated guilty and having three points assessed on your license, a DWLS 
                without knowledge citation can considerably affect the status of your license if you have at least two other 
                major violations on your driving record.
            </p>
            <p>
                It may be the case for you that the notice of your suspension never reached you home. Most of our clients never
                 received it from the Department of Highway Safety and Motor Vehicles. Usually this happens because the 
                letter was sent to the last known address on file and there is no confirmation that you received the letter.
            </p>
        </div>



        <!-- ------------------------------------Driving Under the Influence------------------------------------------- -->
        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
            <div class="pensyl">
                <h3>Driving Under the Influence</h3>
            </div>

            <p>
                If you are charged with Driving Under the Influence you have to be prepared in how to enhance your defense.
                 Many people charged with this crime have never been involved in the court system and are unfamiliar with the
                 long lasting effects of a DUI conviction. Therefore, speak with a lawyer from our team immediately as soon 
                as possible in order to ensure that each variable is scrutinized and defended carefully. Just one flaw can 
                make a huge difference in the outcome of your case. Our duty is to evaluate the facts of your particular case
                 and determine the very best defense strategy for your case. The moment we find the Achilles' heel of the 
                states' case, we will use our skills to win.
            </p>
            <p><b>Under Florida Law, a person is guilty of the offense of Driving Under the Influence if the person is:</b></p>
            <ul>
                <li>Under the influence of any alcoholic beverage or chemical substances when affected to the extent their normal
                     faculties are impaired</li>
                <li>The person has a breath alcohol content over .08. “Chemical substances” may include illegal substances such as 
                    marijuana, prescription medication or cocaine. Evidence of impairment of a person’s normal faculties include a 
                    slower reaction time, speeding, weaving, driving too slow, slurred speech, glassy eyes and difficulty with balance.
                </li>
            </ul>
            <p>
                Sentence guidelines for DUI charges are not high in The State of Florida. Possible sanctions include: jail time 
                (depending on the facts), driver’s license suspension, community service, DUI school, victim impact panel, 
                fines, community service, vehicle impound and installation of an ignition interlock device in your vehicle.
                 We will work tirelessly on your behalf to minimize these sanctions and get your case reduced to a lesser 
                charge so some.
            </p>
            <p>
                A common result of your DUI charge is your licenses being suspended by the DHSMV. This happens if you refused to
                 provide a breath, urine, or blood sample or if you provided a breath sample with a result of a .08 or higher. 
                Our attorneys will not only fight your criminal charge but also fight your license suspension by the Department 
                of Highway Safety and Motor Vehicles. Remember that only 10 days are given to you after your arrest to have the 
                hearing set to fight your suspension.
            </p>
        </div>

        <!-- ------------------------------------ Refusal to Submit to a Breath Test------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile3" aria-labelledby="profile-tab2">
            <div class="pensyl">
                <h3>Refusal to Submit to a Breath Test</h3>
            </div>

            <p>
                Failing to Submit to a Breath Test means that a person has refused to take a chemical test of his or her 
                breath, blood, or urine and that his or her driving privilege was previously suspended for a prior refusal 
                to submit to a lawful test of his or her breath, urine, or blood. This charge, known as Florida Statute 
                316.1939, is often used by the State Attorney’s office as leverage in a pending DUI case. It is less complex
                 for the prosecution to provide evidence because under Florida law the DHSMV’s records showing that a person’s
                 license has been previously suspended for a prior refusal to submit to a lawful test of his or her breath, 
                urine, or blood shall be admissible and shall create a rebuttable presumption of the previous suspension.
            </p>
            <p>
                When you are charged with this offense, you may be face up to a year in the county jail, and/or 12 months of 
                probation, and a possible fine of up to $1000, plus court costs and prosecutor fees assessed by the Court.
            </p>
            <div class="Footertext">
                <h5>
                    <center>If you were charged with this offense, contact our office immediately and have one of our attorneys represent you.</center>
                </h5>
            </div>
        </div>

        <!-- ------------------------------------ Reckless Driving------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile4" aria-labelledby="profile-tab3">
            <div class="pensyl">
                <h3>Reckless Driving</h3>
            </div>

            <p>
                If you are charge with a Reckless Driving ticket, it basically means that you were driving in an unsafe manner, posing a danger to people 
                or property. If you are convicted of this crime, 4 points will be assessed to your driving record. A person 
                charged for the first time The Florida Statute 316.192 could face up to 60 days in the county jail and/or a 
                fine up to $500 upon conviction. If this is a second or subsequent offense a person could be facing up to 6 
                months in the county jail and/or a fine up to $1000. If the reckless driving offense involved damage to any 
                person or property, the penalties may be enhanced. For example, a serious bodily injury to another as a result
                 of the reckless driving the person could be charged with a third degree felony. A third degree felony is
                 punishable by up to 5 years in Florida State Prison. Furthermore, if the court has reasonable cause to 
                believe that alcohol, chemical substances, or controlled substances are a factor a person may be facing 
                additional sanctions. Under the law, and based up the facts and your criminal history, the prosecutor can 
                exercise discretion and offer a withhold of adjudication. That means that you will not be formally convicted 
                of the offense and the DHSMV will not put points on your license.
            </p>
            <p>
                In some cases, DUI offenses are reduced to a reckless driving, a reduced charge in the State of Florida. 
                Florida statute 316.192(5) allows the Court to accept a plea and sentence someone to a penalty if the Court 
                determines that alcohol was a significant factor then the Court will order the driver to complete a DUI
                 school and can place the motorist on probation for up to 12 months.
            </p>
            <div class="Footertext">
                <h5>
                    <center>Contact our office at 877-VIOLATION and prevent a potential criminal history on your driving record.</center>
                </h5>
            </div>
        </div>

        <!-- ------------------------------------  Habitual Traffic Offender------------------------------------------ -->



        <div role="tabpanel" class="tab-pane fade" id="profile5" aria-labelledby="profile-tab4">
            <div class="pensyl">
                <h3>Habitual Traffic Offender</h3>
            </div>

            <p>
                There are two types of a Habitual Traffic Offender (HTO) charge: a first degree misdemeanor or a third degree 
                felony under Florida law. When charged with a first degree misdemeanor the person may face up to 11 months 
                and 29 days in the county jail. A third degre felony is punishable by up to 5 years in Florida State Prison. 
                The State Attorney is able to prosecute this charge even if the driver was not aware that he/she was 
                classified as a Habitual Traffic Offender. Therefore, even if a driver paid all their remaining citations 
                they can still be prosecuted. If you are a Habitual Traffic Offender, do not wait and contact our team 
                immediately to evaluate your driving record and provide with the best results for this charge. We do 
                everything possible to get your license back as well as working out the charge with the State Attorney.
            </p>
        </div>


        <!-- ------------------------------------ Leaving the Scene of an Accident------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile6" aria-labelledby="profile-tab5">
            <div class="pensyl">
                <h3>Leaving the Scene of an Accident</h3>
            </div>

            <p>
                Leaving the Scene of an Accident charges are separated into two categories. The first category is a second
                 degree misdemeanor offense that is punishable by up to 60 days in the county jail, $500 fine, and/or 6
                 months of probation. Depending on the severity of the accident you could be charged with a misdemeanor or
                 felony leaving the scene. Florida Statute 316.061 states that the driver of any vehicle involved in a crash
                 resulting only in damage to a vehicle or other property which is driven or attended by any person shall
                 immediately stop such vehicle at the scene of such crash or as close as possible, and shall forthwith return
                 to, and in every event shall reamin at, the scene of the crash until he or she has fulfilled the requirements
                 of Florida Statute 316.062.
            </p>
            <p>
                If you are facing this charge, It is imperative that you contact our office immediately at 877-VIOLATION. There usually is
                 evidence, such as 911 calls, that is only available for a limited amount of time. In addition to the criminal sanctions,
                 if you get convicted for leaving the scene of an accident the DHSMV will assess 6 points on your driving record. However,
                 based on the facts of the case and your criminal history the Prosecutor may exercise discretion and offer a withhold of 
                adjudication, meaning that you are not formally convicted of the offense and will not have points assessed on your driving
                 record.
            </p>
        </div>


        <!-- ------------------------------------ Violation of Business Purposes------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile7" aria-labelledby="profile-tab6">
            <div class="pensyl">
                <h3>Violation of Business Purposes</h3>
            </div>

            <p>
                After your license has been suspended or revoked, it may be possible to obtain a hardship license. 
                Depending on the type of hardship license, your driving will be restricted in scope. After you attend a 
                hearing at the DHSMV and a restriction is placed on your license, it is important you apply these
                 restrictions when driving, otherwise, you can be charged with a criminal violation. You may be arrested
                 and forced to spend the night in jail. Some of the restrictions may include business purposes only, 
                employment only, ignition interlock, or eyeglasses. If you are on probation, that will subject you to a
                 violation of probation warrant being signed for your arrest. Aside from any penalty that the court will 
                impose on your criminal case, if you get convicted of violating your restricted license you will lose your
                 restriction.
            </p>
            <p>
                In some cases, a business purposes only license is given as a result of a habitual traffic offender revocation. 
                When you get convicted, you lose your restriction and are forced to wait one year before you can reapply. In Florida, 
                not having a license is a brutal consequence of not paying off tickets in time or accumulating a habitual revocation. 
                HOWEVER, if the Court and the state attorney is willing to withhold adjudication, then your restriction will not be lost
                 and you will be able to cotinue to drive.
            </p>
            <p>
                Contact our office immediately to speak with one of our attorneys and determine if there are legal defenses to the charge. 
                Depending on what your driver’s license restriction is, the State Attorney’s Office will often seek substantial jail time.
                 We are committed to achieve the best outcome for you.
            </p>
        </div>


        <!-- ------------------------------------  No Valid Drivers License------------------------------------------ -->

        <div role="tabpanel" class="tab-pane fade" id="profile8" aria-labelledby="profile-tab7">
            <div class="pensyl">
                <h3>No Valid Drivers License</h3>
            </div>

            <p>
                One of the most common criminal offense is operating a motor vehicle without a valid driver's license. Drivers 
                charged with this offense are punished with up to 60 days in the county jail. According to the Florida Statute
                 322.03, when you drive a motor vehicle in the State of Florida you must possess a valid driver’s license.
            </p>
            <p>
                Same rule gows for Commercial drivers in the State of Florida: they can’t operate a commercial motor vehicle
                 without a valid commercial driver’s license. Three different classes of commerical licenses exist: A, B, and
                 C. Each of these classes allows for different driving limits, usually with regard to the weight of the
                 vehicle. Driving a commercial vehicle outside of the weight restriction is a criminal violation which 
                could result in fines, court costs, probation or up to 1 year in the county jail. You must be a resident 
                of the State of Florida to possess a Florida commercial driver’s license.
            </p>
            <div class="Footertext">
                <h5>
                    <center>If you are charged with this offenses, contact our office at 877-VIOLATION and speak with one of our attorneys.</center>
                </h5>
            </div>
        </div>


        <!-- ------------------------------------  Expired Driver's License------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile9" aria-labelledby="profile-tab8">
            <div class="pensyl">
                <h3>Expired Driver's License</h3>
            </div>

            <p>
                If you are driving with an expired driver's license for more than 4 months, then you could be facing a Florida
                 statute 322.03(5) charge. This is another common offense considered a criminal violation punishable up to 60
                 days in the county jail, and/or a $500 Fine, and/or 6 months of probation.
            </p>

            <p>
                If you have been charged with the criminal offense of expired driver’s license more than 4 months call 
                877-VIOLATION to assist you with your charge and give you the best results.
            </p>
        </div>

        <!-- ------------------------------------  Racing on a Highway------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile10" aria-labelledby="profile-tab9">
            <div class="pensyl">
                <h3>Racing on a Highway</h3>
            </div>

            <p>
                Racing on a Highway is a criminal traffic violation charged as a first-degree misdemeanor, 
                causing the suspension of your license for at least 1 year. Some counties in the State of Florida do not 
                recognize this charge as constitutional. For that reason, it is important that you contact 877-VIOLATION 
                immediately to ensure that your rights are being protected.
            </p>
            <p><b>Under Florida law, the Statute 316.191(2)(a) provides that a person may not:</b></p>
            <ul>
                <li>Drive any motor vehicle, including any motorcycle, in any race, speed competition or contest, 
                    drag race or acceleration contest, test of physical endurance, or exhibition of speed or acceleration
                     or for the purpose of making a speed record on any highway, roadway, or parking lot;
                </li>
                <li>In any manner participate in, coordinate, facilitate, or collect moneys at any location for any such race,
                     competition, contest, test, or exhibition;</li>
                <li>Knowingly ride as a passenger in any such race, competition, contest, test, or exhibition; or</li>
                <li>Purposefully cause the movement of traffic to slow or stop for any such race, competition, contest, test, or exhibition.</li>
            </ul>
        </div>

        <!-- ------------------------------------ Attaching Tag Not Assigned------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile11" aria-labelledby="profile-tab10">
            <div class="pensyl">
                <h3>Attaching Tag Not Assigned</h3>
            </div>

            <p>
                According to Florida Statute 320.261 it is unlawful for any person to knowingly attach to any motor vehicle any
                 registration license plate or attach a validation sticker in which the plate or sticker was not issued, 
                assigned, or lawfully transferred to such vehicle. If you are charged with this offense, you may face up to 
                60 days in the county jail. This is a common criminal traffic violation categorized as a second degree 
                misdemeanor. Jail may be unlikley on a first time charge for attaching tag not assigned, but there is a 
                possiblity of a 6 month probation and up to a $500 fine.
            </p>
            <p>
                If you have questions regarding fines, probation or even jail associated with this offense, contact our office 
                right away to speak with one of our attorneys about your options. Call 877-VIOLATION.
            </p>
        </div>


        <!-- ------------------------------------ Expired Vehicle Registration------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile12" aria-labelledby="profile-tab11">
            <div class="pensyl">
                <h3>Expired Vehicle Registration</h3>
            </div>

            <p>
                Driving with an expired registration is considered a second degree misdemeanor, punishable up to 60 days in the
                 county jail. Florida Statute 320.07 states your registration expires at midnight on the last day of 
                registration or extended registration period. A vehicle may not be operated unless the registration is 
                renewed. If your registration is expired less than 6 months it is a noncriminal moving violation. If your
                 registration is expired more than 6 months and it is your first offense it is a noncriminal moving violation.
                 However, if your registration is expired more than 6 months and it is not the first time, you will be 
                charged with this offense.
            </p>
            <div class="Footertext">
                <h5>
                    <center>Call our office at 877-VIOLATION to discuss what your options are and to receive the best defense possible.</center>
                </h5>
            </div>
        </div>


        <!-- ------------------------------------ No Valid Registration------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile13" aria-labelledby="profile-tab12">
            <div class="pensyl">
                <h3>No Valid Registration</h3>
            </div>

            <p>
                Not holding a proper vehicle registration is a criminal traffic violation punishable up to 60 days in the
                 county jail. Under Florida Statute 320.02, every owner or person in charge of a motor vehicle that is 
                operated or driven on the roads of the State of Florida must register the vehicle in Florida. At the time 
                of registration the owner must provide proof of financial responsibility and insurance.
            </p>
            <p>
                When charged with this offense, be sure to contact our office immediately. If you get a valid registration for 
                your vehicle and act quickly we can contact the Prosecutor and have all charges dismissed.
            </p>
        </div>

        <!-- ------------------------------------ Unlawful Use of an Identification Card------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile14" aria-labelledby="profile-tab13">
            <div class="pensyl">
                <h3>Unlawful Use of an Identification Card</h3>
            </div>

            <p>
                Unlawful Use of an identification card is common in cities and counties with major universitites including the
                 University of Florida, Florida State University, University of South Florida, University of Central Florida 
                and the University of Miami. Under Florida Law, this charge is considered a second degree misdemeanor and is
                 punishable by up to a $500 fine and/or 6 months of probation and/or up to 60 days in the county jail.
                 Florida Statute 322.051(6)a requires that the State Attorney prove beyong a reasonable doubt that you did 
                display, cause or permit to be displayed, or have in your possession any fictitous, fraudently altered, or 
                fraudulently obtained identification in violation of Florida Statute 322.051(6)a.
            </p>
            <div class="Footertext">
                <h5>
                    <center>
            If you are facing unlawful use of identification card call 877-VIOLATION immediately. Our lawyers are ready to
                 answer your questions.</center>
                </h5>
            </div>
        </div>

        <!-- ------------------------------------  Unlawful Display of a License------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile15" aria-labelledby="profile-tab14">
            <div class="pensyl">
                <h3>Unlawful Display of a License</h3>
            </div>

            <p><b>It is unlawful to perform any of following actions with a driver's license:</b></p>
            <ul>
                <li>Display or represent any driver’s license not issued to you.</li>
                <li>Display a driver’s license that has been canceled, revoked, suspended, or disqualified.</li>
                <li>Allow someone else to unlawfully use a license issued to you</li>
                <li>Have in your possession two driver’s licenses.</li>
            </ul>
            <p>
                All of these offenses are criminal infractions punishable up to 60 days in the county jail, a fine of up to 
                $500, and/or up to 6 months of probation. We have represented numerous individuals over the years who 
                changed their address with the DMV, received a new license but didn’t destroy their old one. Keep in mind 
                that the law allows you to only possess one valid Florida license at a time.
            </p>
        </div>

        <!-- ------------------------------------ Permitting Unauthorized Person to Drive------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile16" aria-labelledby="profile-tab15">
            <div class="pensyl">
                <h3>Permitting Unauthorized Person to Drive</h3>
            </div>

            <p>
                <b>This charge is broken into two types of offenses: allowing an unauthorized minor to drive or permitting an 
                unauthorized operator to drive.</b>
            </p>
            <ul>
                <li>Florida Statute 322.35 provides, no person shall cause or knowingly permit his or her child or ward under 
                    the age of 18 years to drive a motor vehicle upon any highway when such minor is not authorized.</li>
                <li>Florida Statute 322.36 provides, a person may not authorize or knowingly permit a motor vehicle owned by
                     him or her or under his or her dominion or control to be operated upon any highway or public street 
                    except by a person who is duly authorized to operate a motor vehicle under this chapter. For example, 
                    if you allow a friend to operate your vehicle knowing that his/her license is suspended.</li>
            </ul>
            <p>
                Both of these charges are criminal traffic violations charged as a second-degree misdemeanor. If an accident is 
                involved, then the Court may suspend your license for 1 year in addition and you could be facing jail for up to 
                60 days, fines of up to $500 and court costs, and probation for up to 6 months.
            </p>
            <div class="Footertext">

                <h5>
                    <center>If you were cited with this offense call 877-VIOLATION to speak with one of our attorneys so we can give you the best solution.</center>
                </h5>
            </div>
        </div>




    </div>
</div>














