@{
    Layout = "/Views/Shared/_LayoutForFlorida.cshtml";
}
<body>
    <div class="col-md-8 stabile">
        <div class="pensyl">
            <h3 style="margin-left: 42px;">AGGRESSIVE TRAFFIC TICKET DEFENSE</h3>
            <h4 style="margin-left: 42px;">Florida Traffic Ticket Attorneys</h4>
        </div>


        <div class="col-md-4 col-sm-4 orange">
            <ul>
                <li><a href="/Florida/Counties/Alachua">Alachua</a></li>
                <li><a href="/Florida/Counties/Baker">Baker</a></li>
                <li><a href="/Florida/Counties/Bay">Bay</a></li>
                <li><a href="/Florida/Counties/Bradford">Bradford</a></li>
                <li><a href="/Florida/Counties/Brevard">Brevard</a></li>
                <li><a href="/Florida/Counties/Broward">Broward</a></li>
                <li>Calhoun</li>
                @* <li><a href="#">Calhoun</a></li>*@
                <li><a href="/Florida/Counties/Charlotte">Charlotte</a></li>
                <li><a href="/Florida/Counties/Citrus">Citrus</a></li>
                <li><a href="/Florida/Counties/Clay">Clay</a></li>
                <li><a href="/Florida/Counties/Collier">Collier</a></li>
                <li><a href="/Florida/Counties/Columbia">Columbia</a></li>
                <li><a href="/Florida/Counties/Desoto">Desoto</a></li>
                <li><a href="/Florida/Counties/Dixie">Dixie</a></li>
                <li><a href="/Florida/Counties/Duval">Duval</a></li>
                <li><a href="/Florida/Counties/Escambia">Escambia</a></li>
                <li><a href="/Florida/Counties/Flagler">Flagler</a></li>
                <li><a href="/Florida/Counties/Franklin">Franklin</a></li>
                <li><a href="/Florida/Counties/Gadsden">Gadsden</a></li>
                <li><a href="/Florida/Counties/Gilchrist">Gilchrist</a></li>
                <li><a href="/Florida/Counties/Glades">Glades</a></li>
                <li><a href="/Florida/Counties/Gulf">Gulf</a></li>
                <li><a href="/Florida/Counties/Hamilton">Hamilton</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 orange">
            <ul>
                <li><a href="/Florida/Counties/Hardee">Hardee</a></li>
                <li><a href="/Florida/Counties/Hendry">Hendry</a></li>
                <li><a href="/Florida/Counties/Hernando">Hernando</a></li>
                <li><a href="/Florida/Counties/Highlands">Highlands</a></li>
                <li><a href="/Florida/Counties/Hillsborough">Hillsborough</a></li>
                <li><a href="/Florida/Counties/Holmes">Holmes</a></li>
                <li><a href="/Florida/Counties/IndianRiver">Indian River</a></li>
                <li><a href="/Florida/Counties/Jackson">Jackson</a></li>
                <li><a href="/Florida/Counties/Jefferson">Jefferson</a></li>
                <li><a href="/Florida/Counties/Lafayette">Lafayette</a></li>
                <li><a href="/Florida/Counties/Lake">Lake</a></li>
                <li><a href="/Florida/Counties/Lee">Lee</a></li>
                <li>Leon</li>
                <li><a href="/Florida/Counties/Levy">Levy</a></li>
                <li>Liberty</li>
                <li>Madison</li>
                <li><a href="/Florida/Counties/Manatee">Manatee</a></li>
                <li><a href="/Florida/Counties/Marion">Marion</a></li>
                <li><a href="/Florida/Counties/Martin">Martin</a></li>
                <li><a href="/Florida/Counties/MiamiDad">Miami-Dade</a></li>
                <li><a href="/Florida/Counties/Monroe">Monroe</a></li>
                <li><a href="/Florida/Counties/Nassua">Nassau</a></li>
                <li>Okaloosa</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 orange">
            <ul>
                <li><a href="/Florida/Counties/Okeechobee">Okeechobee</a></li>
                <li><a href="/Florida/Counties/Orange">Orange</a></li>
                <li><a href="/Florida/Counties/Osceola">Osceola</a></li>
                <li><a href="/Florida/Counties/PalmBeach">Palm Beach</a></li>
                <li><a href="/Florida/Counties/Pasco">Pasco</a></li>
                <li><a href="/Florida/Counties/Pinellas">Pinellas</a></li>
                <li><a href="/Florida/Counties/Polk">Polk</a></li>
                <li><a href="/Florida/Counties/Putnam">Putnam</a></li>
                <li>Santa Rosa</li>
                <li><a href="/Florida/Counties/Sarasota">Sarasota</a></li>
                <li>Seminole</li>
                <li><a href="/Florida/Counties/SaintJohns">St. Johns</a></li>
                <li><a href="/Florida/Counties/SaintLucie">St. Lucie</a></li>
                <li><a href="/Florida/Counties/Sumter">Sumter</a></li>
                <li>Suwannee</li>
                <li>Taylor</li>
                <li><a href="/Florida/Counties/Union">Union</a></li>
                <li>Volusia</li>
                <li><a href="/Florida/Counties/Wakulla">Wakulla</a></li>
                <li>Walton</li>
                <li>Washington</li>
            </ul>
        </div>
    </div>
</body>

@section scripts
{
    <script>
        $(function () {
            localStorage.setItem('FloridalastTab', "liFloridaFAQ");
        });


    </script>
}
