@{
    Layout = "/Views/Shared/_LayoutForFlorida.cshtml";
}



<div class="col-md-8 stabile">
    <div class="pensyl">
        <h3>Florida Law Firm</h3>
    </div>
    <h4>Law Firm</h4>
    @*  <h4>Law Firm of Mark S. Solomon, 901 South Federal Highway</h4>
                <h4>Suite 300, Fort Lauderdale, FL 33316</h4>*@
    <p>
        The Law Firm of Mark S. Solomon has represented clients charged with everything from a traffic ticket, such as speeding tickets to felony charges or DUI (driving under the influence).<br />
        If you've received a traffic ticket in the State of Florida  and want to fight it in court, the office of Mark S. Solomon, is committed to providing clients throughout the State with the best legal representation possible.  Mark S. Solomon's law firm is experienced and aggressive, and will work tirelessly to get you the best result in your traffic ticket.<br />
        After hiring our office, you can trust that our firm will work collectively to represent you from the very beginning of your case until its resolution in the legal system.  Our law office is located in Fort Lauderdale, but we cover the entire State of Florida. Whether you were referred by a former client, another attorney, or as a result of an internet search, you can be sure that you have found the right law firm to represent you.
                We have handled numerous cases involving DUI, traffic tickets, and speeding tickets for clients located throughout the State of Florida and every case received aggressive legal representation to successfully fight their traffic offenses<br />
        Our Florida firm,  is the Law Firm you should want on your side while contesting your traffic tickets, commercial drivers tickets, red light citations, suspended drivers license, speeding tickets, toll violation, or DUI charges.
                        <br />
        Call our traffic defense lawyers to schedule your appointment today. In many instances we can give you a FREE CONSULTATION over the phone and we accept all types of major credit cards.
                        <br />
        Arrested? Freedom at Stake? We handle all misdemeanor, felony and violation of parole/probation cases. Drug trafficking? Accused or charged with a crime? Call 1-877-VIOLATION.
                        <br />
        Member of the Florida Bar since 1979. Dedicated to protecting your rights and freedom.
                        <br />
        The hiring of a Lawyer is an important decision that should not be based solely upon advertisements.
    </p>
</div>

<div class="col-md-12 text-center law-firm">
    <h3>AGGRESSIVE TRAFFIC TICKET DEFENSE</h3>
    <h4>Florida Traffic Ticket Attorneys</h4>
</div>
<div class="col-md-4 orange">
    <ul>
        <li><a href="/Florida/Counties/Alachua">Alachua</a></li>
        <li><a href="/Florida/Counties/Baker">Baker</a></li>
        <li><a href="/Florida/Counties/Bay">Bay</a></li>
        <li><a href="/Florida/Counties/Bradford">Bradford</a></li>
        <li><a href="/Florida/Counties/Brevard">Brevard</a></li>
        <li><a href="/Florida/Counties/Broward">Broward</a></li>
        <li>Calhoun</li>
        @* <li><a href="#">Calhoun</a></li>*@
        <li><a href="/Florida/Counties/Charlotte">Charlotte</a></li>
        <li><a href="/Florida/Counties/Citrus">Citrus</a></li>
        <li><a href="/Florida/Counties/Clay">Clay</a></li>
        <li><a href="/Florida/Counties/Collier">Collier</a></li>
        <li><a href="/Florida/Counties/Columbia">Columbia</a></li>
        <li><a href="/Florida/Counties/Desoto">Desoto</a></li>
        <li><a href="/Florida/Counties/Dixie">Dixie</a></li>
        <li><a href="/Florida/Counties/Duval">Duval</a></li>
        <li><a href="/Florida/Counties/Escambia">Escambia</a></li>
        <li><a href="/Florida/Counties/Flagler">Flagler</a></li>
        <li><a href="/Florida/Counties/Franklin">Franklin</a></li>
        <li><a href="/Florida/Counties/Gadsden">Gadsden</a></li>
        <li><a href="/Florida/Counties/Gilchrist">Gilchrist</a></li>
        <li><a href="/Florida/Counties/Glades">Glades</a></li>
        <li><a href="/Florida/Counties/Gulf">Gulf</a></li>
        <li><a href="/Florida/Counties/Hamilton">Hamilton</a></li>
    </ul>
</div>
<div class="col-md-4 orange">
    <ul>
        <li><a href="/Florida/Counties/Hardee">Hardee</a></li>
        <li><a href="/Florida/Counties/Hendry">Hendry</a></li>
        <li><a href="/Florida/Counties/Hernando">Hernando</a></li>
        <li><a href="/Florida/Counties/Highlands">Highlands</a></li>
        <li><a href="/Florida/Counties/Hillsborough">Hillsborough</a></li>
        <li><a href="/Florida/Counties/Holmes">Holmes</a></li>
        <li><a href="/Florida/Counties/IndianRiver">Indian River</a></li>
        <li><a href="/Florida/Counties/Jackson">Jackson</a></li>
        <li><a href="/Florida/Counties/Jefferson">Jefferson</a></li>
        <li><a href="/Florida/Counties/Lafayette">Lafayette</a></li>
        <li><a href="/Florida/Counties/Lake">Lake</a></li>
        <li><a href="/Florida/Counties/Lee">Lee</a></li>
        <li>Leon</li>
        <li><a href="/Florida/Counties/Levy">Levy</a></li>
        <li>Liberty</li>
        <li>Madison</li>
        <li><a href="/Florida/Counties/Manatee">Manatee</a></li>
        <li><a href="/Florida/Counties/Marion">Marion</a></li>
        <li><a href="/Florida/Counties/Martin">Martin</a></li>
        <li><a href="/Florida/Counties/MiamiDad">Miami-Dade</a></li>
        <li><a href="/Florida/Counties/Monroe">Monroe</a></li>
        <li><a href="/Florida/Counties/Nassua">Nassau</a></li>
        <li>Okaloosa</li>
    </ul>
</div>
<div class="col-md-4 orange">
    <ul>
        <li><a href="/Florida/Counties/Okeechobee">Okeechobee</a></li>
        <li><a href="/Florida/Counties/Orange">Orange</a></li>
        <li><a href="/Florida/Counties/Osceola">Osceola</a></li>
        <li><a href="/Florida/Counties/PalmBeach">Palm Beach</a></li>
        <li><a href="/Florida/Counties/Pasco">Pasco</a></li>
        <li><a href="/Florida/Counties/Pinellas">Pinellas</a></li>
        <li><a href="/Florida/Counties/Polk">Polk</a></li>
        <li><a href="/Florida/Counties/Putnam">Putnam</a></li>
        <li>Santa Rosa</li>
        <li><a href="/Florida/Counties/Sarasota">Sarasota</a></li>
        <li>Seminole</li>
        <li><a href="/Florida/Counties/SaintJohns">St. Johns</a></li>
        <li><a href="/Florida/Counties/SaintLucie">St. Lucie</a></li>
        <li><a href="/Florida/Counties/Sumter">Sumter</a></li>
        <li>Suwannee</li>
        <li>Taylor</li>
        <li><a href="/Florida/Counties/Union">Union</a></li>
        <li>Volusia</li>
        <li><a href="/Florida/Counties/Wakulla">Wakulla</a></li>
        <li>Walton</li>
        <li>Washington</li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center Viola">
            <h3>Violation</h3>
        </div>
        <div class="col-md-6 hiddn-h text-center">
            <div class="moving">
                <a href="/Florida/Moving_Violation">
                    <img class="img-responsive" src="/img/moving.jpg"></a>
                <h1>MOVING VIOLATIONS</h1>
            </div>
        </div>

        <div class="col-md-6 hiddn-h text-center">
            <div class="moving">
                <a href="/Florida/Criminal_Violation">
                    <img class="img-responsive" src="/img/crime.jpg"></a>
                <h1>CRIMINAL VIOLATIONs</h1>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <div class="row">
         <div class="col-md-12 text-center Viola">
             <h3>Violation</h3>
         </div>
       <div class="col-md-6 hiddn-h text-center">
       <div class="moving">
      <a href=""><img class="img-responsive" src="/img/moving.jpg"></a>
      <h1>MOVING VIOLATIONS</h1>
      </div>
    </div>
      
        <div class="col-md-6 hiddn-h text-center">
       <div class="moving">
      <a href=""><img class="img-responsive" src="/img/crime.jpg"></a>
      <h1>CRIMINAL VIOLATIONs</h1>
      </div>
    </div>
    </div>
</div>*@

@section scripts
{
    <script>
        $(function () {
            localStorage.setItem('FloridalastTab', "liFloridaIndex");
        });

    </script>
}