@{
    ViewBag.Title = "Moving_Violation";
    Layout = "/Views/Shared/_LayoutForFloridaMovingViolation.cshtml";
}

<div class="col-md-8 stabile">
    <div id="myTabContent" class="tab-content left-side">
        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
            <div class="pensyl">
                <h3>SPEEDING TICKETS</h3>
            </div>
            <p>
                Speeding Tickets-In Florida payment of a speeding ticket is the same as a guilty plea. When you pay a Florida 
               speeding ticket points will be assessed to your Florida drivers license. The speed zone and the amount of miles 
               you are accused of traveling in excess, defines the fine and amount of points hich will be assessed. If you 
               receive a Florida traffic ticket for speeding 15 miles per hour or less over the lawful or posted speed and opt
                to pay the speeding ticket, a fine and 3 points on your driving record will be assessed. The points for a 3 point
                Florida speeding ticket conviction will remain on our driver license for a period of three years and the record
                of the conviction will remain on your license orever. If you receive a Florida traffic ticket for speeding 16 
               miles per hour or more over the lawful or posted speed and opt to pay the speeding ticket, a fine and 4 points on 
               the your driving record will be assessed. The points for a 4 point Florida speeding ticket conviction will remain
                on your driver license for a period of three years and the record of the conviction will remain on your license
                forever.
            </p>
            <p>
                Finally, if you receive a speeding ticket 30 miles per hour or more over the lawful or posted speed, it carries a fine,
                4 points on your driving record, possibility of a significant license suspension and a MANDATORY court appearance in front of a Judge.
            </p>
            <p>
                As a result of a speeding ticket conviction and points on your license there may be substantial insurance increases and other ramifications. 
               Therefore, as a rule of thumb, if you receive a a Florida speeding ticket you should hire an attorney to put forth a defense to dismiss the ticket 
               or eliminate the points.
            </p>
            <p>Fight that Florida speeding ticket by contacting 1-877VIOLATION. The call is free the consultation is free.</p>
            <p>Types of Speed Measurement Devices-Simply put if you receive a Florida speeding ticket chances are the speed measurement device used would be one of the following:</p>
            <ul>
                <li>Radar</li>
                <li>Pace</li>
                <li>Laser</li>
                <li>Helicoper/Airplane</li>
                <li>Visual Estimation</li>
            </ul>
            <p>Regardless of the speed measurement device used, there a defenses that can and will be argued to defend against and to eliminate the possibility of a speeding ticket conviction.</p>
        </div>



        <!-- ------------------------------------for careless driving------------------------------------------- -->
        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
            <div class="pensyl">
                <h3>CARELESS DRIVING</h3>
            </div>
            <p>
                Careless Driving-(Also known as "Aggressive" driving). Florida Statute 316.1925 defines careless driving as:
            </p>
            <p>
                Any person operating a vehicle upon the streets or highways within the state shall drive the same in a careful
                and prudent manner, having regard for the width, grade, curves, corners, traffic, and all other attendant circumstances,
                so as not to endanger the life, limb, or property of any person. Failure to drive in such manner shall constitute careless
                driving and a violation of this section.
            </p>
            <p>
                A careless driving traffic ticket may be issued for various reasons. One may be because the Police Officer/Trooper 
               may believe you were speeding but he/she does not have a speed measurement device to pinpoint the actual speed. 
               A careless driving ticket maybe issued for a rear end collision. A careless driving ticket may be issued for 
               unsafe or improperly changing lanes. A careless driving ticket may be issued for following too closely. A careless
                driving ticket may be issued for failing to yield the right of way. A careless driving ticket may be issued for
                improper passing. A careless driving ticket may be issued for a violation of any traffic control device. Hence,
                careless driving has been called Florida's catch-all exception and is very commonly used by Police 
               Officers/Troopers.
            </p>
            <div class="Footertext">
                <h5>
                    <center>Fight that Florida careless driving ticket by contacting 1-877-VIOLATION.<br /> The call is free the consultation is free.</center>
                </h5>
            </div>
        </div>

        <!-- ------------------------------------Violation of Traffic Control Device------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile3" aria-labelledby="profile-tab2">
            <div class="pensyl">
                <h3>VIOLATION OF TRAFFIC CONTROL DEVICE</h3>
            </div>
            <p>
                A ticket issued for violation of a traffic control device under Section 316.074 and can be issued for 
                 failing to obey a speed limit sign, no u turn sign, traffic light, stop sign, lane markings, HOV sign 
                 and various other signs and markings. A violation of a traffic control device carries 3 points.
            </p>
            <p>
                As a result of a violation of a traffic control device conviction you will receive 3 points on your license 
                 and there may be substantial insurance increases and other ramifications. Therefore, as a rule of thumb, 
                 if you receive a Florida ticket for a violation of a traffic control device you should consult with or hire
                  an attorney to put forth a defense to dismiss the ticket or eliminate the points.
            </p>
            <div class="Footertext">
                <h5>
                    <center>Fight that Florida traffic control device ticket by contacting 1-877-VIOLATION.<br /> The call is free the consultation is free.</center>
                </h5>
            </div>
        </div>

        <!-- ------------------------------------ Running a Red Light------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile4" aria-labelledby="profile-tab3">
            <div class="pensyl">
                <h3>RUNNING A RED LIGHT</h3>
            </div>
            <p>
                If you plead guilty or are convicted of a red light violation you will receive 4 points on your driving record. 
            Additionally, the fines for a red light conviction have recently increased substantially.
            </p>
            <p>
                Finally , if you receive two red light convictions within a 12 month period the Florida Department of Highway Safety 
                 and Motor Vehicles will require you to complete a 4 hour traffic school class. There are various ways to avoid a conviction 
                 and points for a red light ticket. Therefore as a rule of thumb, if you received a Florida red light ticket you should consult
                  with or hire an attorney to put forth a defense to dismiss the ticket or eliminate the points.
            </p>
            <div class="Footertext">
                <h5>
                    <center>Fight that Florida red light ticket by contacting 1-877-VIOLATION.<br /> The call is free the consultation is free.</center>
                </h5>
            </div>
        </div>

        <!-- ------------------------------------ Violation of Right of Way------------------------------------------ -->



        <div role="tabpanel" class="tab-pane fade" id="profile5" aria-labelledby="profile-tab4">
            <div class="pensyl">
                <h3>Violation of Right of Way</h3>
            </div>
            <p>
                Violation of right of way is controlled by the use or non use of traffic signals/signs. Vehicles facing a green 
            circular signal may proceed with caution straight or turn right or left unless a sign at that location prohibits 
            such a turn. Vehicles facing a green arrow signal, may cautiously enter the intersection only to make the movement 
            indicated by the arrow, except that a driver may make a U-turn to proceed in the opposite direction unless such 
            movement is prohibited by a posted traffic control device or traffic sign. Such traffic MUST yield the right of way
             to pedestrians lawfully within an adjacent crosswalk and to other traffic/vehicles lawfully using the intersection.
            </p>
            <p>
                At locations where vehicles are permitted to turn on red signals, the driver MUST yield the right of way to pedestrians and 
                 other traffic/vehicles lawfully proceeding as directed by the signal.
            </p>
            <p>
                As a result of a violation of right of way conviction without an accident you will receive 3 points on your driving record, for
                  a violation of right of way conviction, with an accident you will receive 4 points on your driving record and 
                 there may be substantial insurance increases and other ramifications. Therefore, as a rule of thumb, if you 
                 receive a Florida traffic ticket for a violation of right of way, you should hire an attorney to put forth a
                  defense to dismiss the ticket or eliminate the points.
            </p>
            <div class="Footertext">
                <h5>
                    <center>Fight that Florida right of way ticket by contacting 1-877-VIOLATION.<br />
            The call is free the consultation is free.</center>
                </h5>
            </div>
        </div>


        <!-- ------------------------------------ Improper Change of Lane------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile6" aria-labelledby="profile-tab5">
            <div class="pensyl">
                <h3>Improper Change of Lane</h3>
            </div>
            <p>
                Improper change of lane is a common ticket issued by Police Officers and Troopers in the State of Florida. Improper Change of Lane 
                 offenses are governed by Statute 316.085.
            </p>
            <p>Statute 316.085 is titled limitations on overtaking, passing, changing lanes or changing driving course. </p>
            <p><b>The Statute reads as follows:</b></p>
            <ul>
                <li>No vehicle shall be driven to the left side of the center of the roadway in overtaking and passing another vehicle proceeding in the 
                     same direction unless authorized by the provisions of this chapter and unless such left side is clearly visible and is free of oncoming
                      traffic for a sufficient distance ahead to permit such overtaking and passing to be completely made without interfering with the operation
                      of any vehicle approaching from the opposite direction of any vehicle overtaken. In every event the overtaking vehicle must return to an
                      authorized lane of travel as soon as practicable and, in the event the passing movement involves the use of a lane authorized for vehicles
                      approaching from the opposite direction, before coming within 200 feet of any approaching vehicle.</li>
                <li>No vehicle shall be driven from a direct course in any lane on any highway until the driver has determined that the vehicle is not being 
                     approached or passed by any other vehicle in the lane or on the side to which the driver desires to move and that the move can be completely 
                     made with safety and without interfering with the safe operation of any vehicle approaching from the same direction.</li>
            </ul>
            <p>
                The facts of each occurrence vary. For example, current case law requires that an improper change of lane MUST have affected other traffic. Therefore, 
                 if it is late at night and there are no vehicles within close proximity and a driver fails to signal a change of lane, it will be difficult for the
                  Police Officer/Trooper to prove beyond a reasonable doubt that the driver violated the Statute.
            </p>
            <p>
                As a result of a conviction for a change of lane conviction you will receive 3 points on your license and there may be substantial insurance increases and 
                 other ramifications. Therefore, as a rule of thumb, if you receive a Florida ticket for improper change of lane, you should consult with or hire an attorney 
                 to put forth a defense to dismiss the ticket or eliminate the points.
            </p>
            <div class="Footertext">
                <h5>
                    <center>Fight that Florida improper change of lane ticket by contacting 1-877-VIOLATION.<br /> The call is free the consultation is free.</center>
                </h5>
            </div>
        </div>


        <!-- ------------------------------------ Florida's Move Over Law------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile7" aria-labelledby="profile-tab6">
            <div class="pensyl">
                <h3>Florida's Move Over Law</h3>
            </div>
            <p>
                Florida Move Over Law-Florida Move over law was designed and enacted to protect Florida police, fire and rescue and other emergency workers when 
                 they are on roads and highways. As you approach emergency vehicles you are required by law to move out of the lane closest to the emergency 
                 vehicle and slow down. The law was created because there are a lot of accidents and injuries on the side of Florida highways and roads.
            </p>
            <p>In addition to moving over, you must also slow down. The law states that you must slow down 20 MPH less than the posted speed limit.</p>
            <p>If you don't move over and slow down you can be issued a traffic violation which carries a monetary fine of $120 or more and 3 points on your drivers license. </p>
            <p>
                As a result of a Florida move over law ticket conviction and points on your license there may be substantial insurance increases and other ramifications. Therefore, as
                   a rule of thumb, if you receive a ticket for a violation of the Florida move over law you should hire an attorney to put forth a defense to dismiss the ticket or eliminate the points.
            </p>
            <div class="Footertext">
                <h5>
                    <center>Fight that Florida move over law ticket by contacting 1-877-VIOLATION.<br /> The call is free the consultation is free.</center>
                </h5>
            </div>
        </div>


        <!-- ------------------------------------ Spectator to Street Racing------------------------------------------ -->

        <div role="tabpanel" class="tab-pane fade" id="profile8" aria-labelledby="profile-tab7">
            <div class="pensyl">
                <h3>Spectator to Street Racing</h3>
            </div>
            <p>
                Spectator to Street Racing-A person can be issued a traffic violation for being a spectator to street racing. Florida Spectator to Street Racing Statute 316-191(3) states, "a person may not 
                 be a spectator at any drag race , and that a person who violates this statute commits a moving violation pursuant to Florida Statute 318." A drag race is defined as two or more vehicles
                  from a point side by side at accelerating speeds in a competitive attempt to outdistance each other, or the operation of one or more motor vehicles over a common selected course, from 
                 the same point to the same point, for the purpose of comparing the relative speeds or power of acceleration of such motor vehicle or motor vehicles within a certain distance or time limit.
            </p>
            <p>Law enforcement agencies have strictly enforced the Spectator to Street Racing Statute and have recently engaged in the practice of conducting sting operations.</p>
            <p>
                If you are convicted of a violation of the Spectator to Street Racing Statute you will receive 3 points on your drivers license, a maximum fine of $500 and the possibility of Court 
                 ordered traffic school. Therefore, as a rule of thumb, if you receive a Florida traffic violation for spectator to street racing you should hire an attorney to put forth a defense 
                 to dismiss the ticket or eliminate the points.
            </p>
            <div class="Footertext">
                <h5>
                    <center>Fight that Florida Spectator to Street Racing ticket by contacting 1-877VIOLATION.<br /> The call is free the consultation is free.</center>
                </h5>
            </div>
        </div>


        <!-- ------------------------------------ Improper Passing------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile9" aria-labelledby="profile-tab8">
            <div class="pensyl">
                <h3>Improper Passing</h3>
            </div>
            <p>
                Improper Passing-Improper passing violations are strictly enforced in Florida. Statistics have shown the Florida law enforcement officers write about 50,000 traffic tickets for improper
                  passing on an annual basis. Improper passing is governed by Florida statute 316.083 and is referred to as overtaking and passing a vehicle.
            </p>
            <p><b>The language of the statute is as follows: </b></p>
            <ul>
                <li>The driver of a vehicle overtaking another vehicle proceeding in the same direction shall give an appropriate. Signal as provided for in Statute 316.156, shall pass to the left 
                     thereof at a safe distance , shall not again drive to the right side of the roadway until safely clear of the overtaken vehicle. The driver of a vehicle overtaking a bicycle or
                      other non motorized vehicle must pass the bicycle or other non motorized vehicle at a safe distance of not less than 3 feet between the vehicle and the bicycle or other non motorized vehicle.</li>
                <li>Except when overtaking and passing on the right is permitted, the driver of an overtaken vehicle shall give way to the right in favor of the overtaking vehicle, on audible signal or upon the visible 
                     blinking of the head lamps of the overtaking vehicle if such overtaking is being attempted at night time, and shall not increase the speed of his or her vehicle until completely passed by the overtaking vehicle. </li>
            </ul>
            <p>
                If plead guilty or are convicted of an improper passing violation there is a maximum fine of $500, 4 points on your drivers license if there is an accident, 3 points on your drivers license if there is no accident and possible 
                 Court ordered traffic school. Additionally, there may be substantial insurance increases and other ramifications. There are various ways to avoid a conviction and points for an improper passing violation. Therefore, as a rule of 
                 thumb, if you receive a Florida traffic ticket for improper passing, you should hire an attorney to put forth a defense to dismiss the ticket or eliminate the points.
            </p>
            <div class="Footertext">
                <h5>
                    <center>Fight that Florida improper passing ticket by contacting 1-877-VIOLATION.<br />
            The call is free the consultation is free.</center>
                </h5>
            </div>
        </div>

        <!-- ------------------------------------ Toll Violations------------------------------------------ -->


        <div role="tabpanel" class="tab-pane fade" id="profile10" aria-labelledby="profile-tab9">
            <div class="pensyl">
                <h3>Toll Violations</h3>
            </div>
            <p><b>Toll violations may mean one of the following:</b></p>
            <ul>
                <li>There is inaccurate license plate information on the SunPass account;</li>
                <li>The transponder is mounted incorrectly, or not mounted, which results in the 
                        transponder functioning intermittently which will result in toll violations;</li>
                <li>The batteries contained in the transponder need to be replaced; or 4. A blatant violation
                         of passing a toll without a transponder and without paying.</li>
            </ul>
            <p>
                Florida toll violations are governed by Florida Statute 316.1001 which requires payment of prescribed tolls for the usage of the roads 
                    and tolls facilities. Failure to comply with Statute 316.1001 may result in the assessment of a civil penalty, three points on the drivers 
                    license, assessment of court costs and suspension of vehicle registration and/or suspension of drivers license.
            </p>
            <p>The Florida Department of Transportation has the authority to issue a Uniform Traffic Citation/Violation for each unpaid toll violation.</p>
            <p>
                Upon receipt of a Florida toll violation a motorist has 75 days to plead not guilty and request a Court hearing. If the Judge or Hearing
                     Officer makes a determination of guilt, e.g. A finding that the offense has been committed, a monetary penalty not to exceed $500, and 3
                     points will be assessed on the offenders drivers license. A Judge or Hearing Officer can also make a determination that no toll violation
                     has occurred there will be no costs or penalties imposed.
            </p>
            <p>
                There are various ways to avoid a conviction and points for a Florida toll violation ticket. Therefore, as a rule of thumb, if you receive a 
                    Florida toll violation ticket you should consult or hire an attorney to put forth a defense to dismiss the ticket so as to avoid points and 
                    fines.
            </p>
            <div class="Footertext">
                <h5>
                    <center>Fight that Florida toll violation citation/ticket by contacting 1-877-VIOLATION.<br /> The call is free the consultation is free.</center>
                </h5>
            </div>
        </div>


    </div>
</div>
