<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-NewJersyTrafficTicket-20160704120007.mdf;Initial Catalog=aspnet-NewJersyTrafficTicket-20160704120007;Integrated Security=True" providerName="System.Data.SqlClient" />
   <add name="dd_NJTrafficTicketsEntities" connectionString="metadata=res://*/NjEntity.csdl|res://*/NjEntity.ssdl|res://*/NjEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NJTrafficTickets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--for NewJersey-->
   <!--<add name="dd_NJTrafficTicketsEntities" connectionString="metadata=res://*/NjEntity.csdl|res://*/NjEntity.ssdl|res://*/NjEntity.msl;provider=System.Data.SqlClient;provider connection string= &quot;DATA SOURCE=.\MSSQLSERVER2012;UID=newjerseytrafficdb;PWD=Ayacucho2016;DATABASE=NJTrafficTickets;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   <!--for booston-->
    <!--<add name="dd_NJTrafficTicketsEntities" connectionString="metadata=res://*/NjEntity.csdl|res://*/NjEntity.ssdl|res://*/NjEntity.msl;provider=System.Data.SqlClient;provider connection string= &quot;DATA SOURCE=.\MSSQLSERVER2012;UID=testDB_user;PWD=!Fy3xm43;DATABASE=NJTrafficTickets_test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <caching>
      <outputCache enableOutputCache="false"/>
    </caching>
   
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2">
    <assemblies>
      <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </assemblies>
      </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="On">
      <error statusCode="404" redirect="~/NewJersey/Error" />
    </customErrors>
  </system.web>
  <system.webServer>
    <!--<staticContent>
      <clientCache cacheControlMaxAge ="15.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>-->

    <staticContent>
      <clientCache cacheControlMaxAge ="15.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <!--Code for the Redirection-->
    <rewrite>
      <rules>
        <rule name="HtmlRewrite">
          <match url="(.*)\.asp" />
          <action type="Rewrite" url="{R:1}" />
        </rule>
        <!--<rule name="HtmlRewrite2">
          <match url="(.*)\.html" />
          <action type="Rewrite" url="{R:1}" />
        </rule>-->
        <rule name="HtmlRewrite3">
          <match url="(.*)\.php" />
          <action type="Rewrite" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <!--<rewrite>
  <rules>
    <rule name="HtmlRewrite">
      <match url="(.*)(\.\w+)$" />
      <action type="Rewrite" url="{R:1}" />
    </rule>
  </rules>
</rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>