@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 st">
            <p>
                If you are looking for a lawyer anywhere in the state,<br />
                send us  your request<br />
                and we will get back to you.
            </p>

        </div>
    </div>
</div>
